.poster {

}

.poster--image {
  max-width: 100%;
}

.poster--title {
  font-size: 1.3em;
}

.poster--link {
  font-size: 1.1em;

  margin-top: 10px;
  display: inline-block;
}

.poster--description {

}
