html {
    height: 100%;
}
html, body {
    min-height: 100%;
}
body {
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
}

/* -----------------
Typeface
----------------- */
h1 {
    font-family: Helvetica Neue, Arial;
    font-size: 36px;
}
h2 {
    font-family: Helvetica Neue, Arial;
    font-size: 46px;
    margin: 7px 0px 40px 0px;
}
h3 {
    font-family: oswaldbook;
    font-size: 22px;
    line-height: 28px;
    margin-top: 15px;
}
h4 {
    font-weight: bold;
    font-size: 18px;
}
h5 {
    font-weight: bold;
}
small {
    font-size: 11px;
}
.large {
    font-size: 17px;
    line-height: 22px;
}
a {
    text-decoration: none;
}
ul {
    // Phone
    @media screen and (max-width: @screen-xs-max) {
        padding-left: 18px;
    }
}

/* -----------------
UI Elements
----------------- */
button {
    color: #fff;
    
    &:focus {
        outline: 0 !important;
    }
    &:active {
        .no-boxshadow !important;
    }
    &.btn-inverse {
        background: #fff !important;
    }
}


/* -----------------
Miscellaneous
----------------- */
// Apply a natural box layout model to all elements (http://www.paulirish.com/2012/box-sizing-border-box-ftw)
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}