// (TODO: Consider moving styles somewhere else)

/* -----------------
Top Level
----------------- */
.app-container {
  padding: 30px 0px 75px 0px;
}
body.is-not-raised {
  .app-container {
    padding: 60px 0px;
  }
}
    // Cancel body sliding up/down on page change
    @media screen and (max-width: @screen-sm-max) { // Tablet
        .app-container, body.is-not-raised .app-container {
            padding: 16px 0px 0px 0px;
        }
    }

.page-container {
    margin-top: 20px;
    &.is-hidden {
        display: none; // Hidden on page load, faded in via JS
    }
}

#bg-transition {
	display: none;
	position: absolute;
	z-index: 0;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}


/* -----------------
Common Styles
----------------- */
.theme-border {
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: #666;
}

.btn-icon {
    padding: 4px;
    i {
        float: left;
    }
    span {
        float: left;
        margin: 2px 6px 0px 4px;
    }
}

.secondary-caption {
    color: #999;
    font-size: 12px;
}


/* -----------------
Misc
----------------- */
span.sprite {
    display: block;
}
i.sprite {
    display: inline-block;
}