/* -----------------
General Mixins
----------------- */
.bgopacity(@colourHex, @opacity) {
  background-color: hsla(hue(@colourHex), saturation(@colourHex), lightness(@colourHex), @opacity);
}

.opacity(@opacity) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  filter: ~"alpha(opacity=@{opperc})";
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
}

.boxshadow(@posX, @posY, @blur, @spread, @colour) {
    -moz-box-shadow:    @posX @posY @blur @spread @colour;
    -webkit-box-shadow: @posX @posY @blur @spread @colour;
    box-shadow:         @posX @posY @blur @spread @colour;
}

.no-boxshadow {
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
}

.gradient(@colour1, @colour2) {
    background-image: linear-gradient(to right, @colour1, @colour2, @colour1);
}