/* -----------------
Colours
----------------- */
@yellow:            #FFFF99;
@yellow-dark:       darken(@yellow, 40%);
@red:               #DD686D;
@red-dark:          darken(@red, 15%);
@green:             #00CC99;
@green-dark:        darken(@green, 15%);
@purple:            #A165C1;
@teal:              #1EC1C1;
@gold:              #DCBE5D;
@blue:              #36A7C9;

@row-alt:           #F5F5F5;