/* -----------------
Foreground Colour Schemes
----------------- */
&.theme-red {
    .theme-border {
        border-left-color: @red;
    }
    a {
        color: @red;
    }
    .btn {
        background: @red;
        border-color: @red;
    }
}

&.theme-green {
    .theme-border {
        border-left-color: @green;
    }
    a {
        color: @green;
    }
    .btn {
        background: @green;
        border-color: @green;
    }
}
