/* -----------------
Foreground Colour Schemes
----------------- */
.theme-red {
    .theme-border {
        border-left-color: @red;
    }
    a {
        color: @red;
    }
    .btn {
        background: @red;
        border-color: @red;
        color: #fff;

        &.btn-inverse {
            color: @red;
        }

        &.is-active {
            background: @red !important;
        }
    }
    .tabbed-content {
        .tabbed-content-tabs {
            li.active {
                border-bottom-color: @red;
            }
        }
    }
    .category-column-box.active {
        border-left-color: @red;
    }
}

.theme-green {
    .theme-border {
        border-left-color: @green;
    }
    a {
        color: @green;
    }
    .btn {
        background: @green;
        border-color: @green;
        color: #fff;

        &.btn-inverse {
            color: @green;
        }

        &.is-active {
            background: @green !important;
        }
    }
    .tabbed-content {
        .tabbed-content-tabs {
            li.active {
                border-bottom-color: @green;
            }
        }
    }
}

.theme-blue {
    .theme-border {
        border-left-color: @blue;
    }
    a {
        color: @blue;
    }
    .btn {
        background: @blue;
        border-color: @blue;
        color: #fff;

        &.btn-inverse {
            color: @blue;
        }

        &.is-active {
            background: @blue !important;
        }
    }
    .tabbed-content {
        .tabbed-content-tabs {
            li.active {
                border-bottom-color: @blue;
            }
        }
    }
    .category-column-box.active {
        border-left-color: @blue;
    }
}