$skill-frameworks-colour: -4px -4px 219px 90px;
$skill-serverside: -4px -102px 181px 90px;
$skill-serverside-colour: -4px -200px 181px 90px;
$skill-frameworks: -4px -298px 219px 90px;
$skill-greenfield-colour: -4px -396px 112px 100px;
$skill-greenfield: -4px -504px 112px 100px;
$skill-fundamentals: -4px -612px 178px 100px;
$skill-performance: -4px -720px 112px 100px;
$skill-responsive-colour: -4px -828px 143px 100px;
$skill-responsive: -4px -936px 143px 100px;
$skill-fundamentals-colour: -4px -1044px 178px 100px;
$skill-performance-colour: -4px -1152px 112px 100px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite($sprite) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.icon {
  background-image: url('../images/index/spritesheets/spritesheet.png');
}

