/* -----------------
Global Structure
----------------- */
html,
body {
  min-height: 100%;
  height: 100%;
}
body {
  background: url('../images/bg/blue.jpg') 0px 0px no-repeat fixed;
  padding: 60px 0px;
  overflow-y: scroll;
}
body.slideup {
  padding: 40px 0px;
}
body.slideup header {
  padding-bottom: 10px;
}
#bg-transition {
  display: none;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.teal {
  background: url('../images/bg/teal.jpg') 0px 0px no-repeat fixed;
}
.green {
  background: url('../images/bg/green.jpg') 0px 0px no-repeat fixed;
}
.purple {
  background: url('../images/bg/purple.jpg') 0px 0px no-repeat fixed;
}
.gold {
  background: url('../images/bg/gold.jpg') 0px 0px no-repeat fixed;
}
.blue {
  background: url('../images/bg/blue.jpg') 0px 0px no-repeat fixed;
}
.grey {
  background: url('../images/bg/grey.jpg') 0px 0px no-repeat fixed;
}
.denim {
  background: url('../images/bg/denimblue.jpg') 0px 0px no-repeat fixed;
}
footer .navbar {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0px;
}
footer .navbar .navbar-nav li {
  margin-right: 20px;
}
footer .navbar .navbar-nav li a {
  color: #FFFFFF;
  padding-left: 0px;
}
footer .navbar .navbar-nav li a:hover {
  color: #cccccc;
}
footer .navbar .navbar-nav li span {
  color: #FFFFFF;
  margin-top: 15px;
  display: block;
}
footer .navbar .navbar-nav.pull-right li {
  margin-right: 0px;
  margin-left: 20px;
}
footer .navbar .navbar-nav.pull-right li a {
  padding-right: 0px;
  padding-left: 15px;
}
footer .navbar .col-md-6 {
  padding: 0px;
}
/* -----------------
Colours
----------------- */
/* -----------------
Global Elements
----------------- */
.box {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  width: 100%;
  float: left;
}
.box a:hover {
  text-decoration: none;
}
a.info-popup {
  border-bottom: 1px dotted #428bca;
}
a.info-popup:hover {
  color: #3071a9;
  text-decoration: none;
}
/* -----------------
Font Definitions
----------------- */
@font-face {
  font-family: 'PTSarif';
  src: url('../fonts/PTSarif-Bold.ttf');
}
/* -----------------
Global Typeface
----------------- */
h1 {
  font-size: 36px;
}
h2 {
  font-size: 46px;
  margin: 7px 0px 40px 0px;
}
h3 {
  font-family: Verdana;
}
/* -----------------
Header
----------------- */
header {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  width: 100%;
  float: left;
  background-color: rgba(255, 255, 255, 0.3);
}
header a:hover {
  text-decoration: none;
}
header h1 {
  color: #FBD98C;
  text-shadow: 1px 1px #000;
  font-size: 60px;
  margin: 0px 0px 5px 0px;
  padding: 0px;
  float: left;
}
header h1 span {
  color: #fff;
  text-shadow: 2px 2px #999;
  font-size: 36px;
}
header p.lead {
  color: #fff;
  font-size: 21px;
  margin: 5px 0px 5px 0px;
  clear: both;
}
header p.lead small {
  font-size: 15px;
}
/* -----------------
Child Page Template
----------------- */
.subnav {
  width: 100%;
  padding: 40px;
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 6px 6px 20px 0px #666666;
  -webkit-box-shadow: 6px 6px 20px 0px #666666;
  box-shadow: 6px 6px 20px 0px #666666;
  padding: 10px 40px;
  margin-bottom: 20px;
}
.subnav button.back-home {
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  color: #1ec1c1;
}
.subnav button.back-home:hover {
  background: #1ec1c1;
  color: #FFFFFF;
  border: 1px solid #D0D0D0;
}
article {
  width: 100%;
  padding: 40px;
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 6px 6px 20px 0px #666666;
  -webkit-box-shadow: 6px 6px 20px 0px #666666;
  box-shadow: 6px 6px 20px 0px #666666;
}
article h2 {
  float: left;
}
article .heading-link {
  margin: 33px 0px 0px 20px;
  float: left;
}
article h3 {
  font-size: 22px;
  border-bottom: 1px solid #D0D0D0;
  padding-bottom: 3px;
}
article .nav-tabs {
  width: 790px;
  margin-bottom: 40px;
}
article .tab-pane .panel-heading span {
  font-size: 12px;
  font-weight: normal;
  margin-left: 6px;
}
article .tab-pane .panel {
  padding: 0px;
  margin-bottom: 15px;
}
.page-canvas {
  width: 100%;
  padding: 40px;
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 6px 6px 20px 0px #666666;
  -webkit-box-shadow: 6px 6px 20px 0px #666666;
  box-shadow: 6px 6px 20px 0px #666666;
}
/* -----------------
Carousel
----------------- */
.carousel {
  -moz-box-shadow: 2px 2px 10px 0px #c0c0c0;
  -webkit-box-shadow: 2px 2px 10px 0px #c0c0c0;
  box-shadow: 2px 2px 10px 0px #c0c0c0;
}
.carousel .carousel-inner {
  width: 100%;
  border: 1px solid #C0C0C0;
}
.carousel .carousel-control span {
  margin-top: 0px;
  color: #FFFFFF;
}
.carousel .carousel-control.left {
  margin-left: 15px;
}
.carousel .carousel-control.left span {
  margin-left: -40px;
}
.carousel .carousel-control.right {
  margin-right: 15px;
}
.carousel .carousel-control.right span {
  margin-right: -40px;
}
.carousel .annotation {
  display: none;
}
.carousel-indicators {
  list-style: none;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  width: 100%;
  float: left;
  clear: both;
  position: relative;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
.carousel-indicators li {
  float: left;
  width: 50px !important;
  height: 8px !important;
  background: #C0C0C0;
  margin: 0px 0px 0px 5px !important;
  border-radius: 0px;
  cursor: pointer;
}
.carousel-indicators li:first-child {
  margin-left: 0px !important;
}
.carousel-indicators li.active {
  background: #1ec1c1;
}
/* -----------------
Mixins
----------------- */
/* -----------------
Miscellaneous
----------------- */
/* Apply a natural box layout model to all elements (http://www.paulirish.com/2012/box-sizing-border-box-ftw/) */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#page-home {
  display: none;
  margin-top: 60px;
  /* -----------------
	Box Element
	----------------- */
}
#page-home .row {
  margin-top: 28px;
}
#page-home .box {
  cursor: pointer;
  background-color: #ffffff;
  background-repeat: no-repeat;
  -moz-box-shadow: 2px 2px 4px 0px #777777;
  -webkit-box-shadow: 2px 2px 4px 0px #777777;
  box-shadow: 2px 2px 4px 0px #777777;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
  /* -----------------
		Colour Box: Blue
		----------------- */
  /* -----------------
		Colour Box: Red
		----------------- */
  /* -----------------
		Colour Box: Green
		----------------- */
  /* -----------------
		Colour Box: Teal
		----------------- */
  /* -----------------
		Colour Box: Gold
		----------------- */
  /* -----------------
		Colour Box: Purple
		----------------- */
  /* -----------------
		Skills/Expertise Box
		----------------- */
  /* -----------------
		CV Box
		----------------- */
  /* -----------------
		Portfolio Box
		----------------- */
  /* -----------------
		Current Situation Box
		----------------- */
  /* -----------------
		Learning Box
		----------------- */
  /* -----------------
		Workflow Box
		----------------- */
  /* -----------------
		About Box
		----------------- */
  /* -----------------
		Contact Box
		----------------- */
}
#page-home .box h3 {
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  margin: 0px 0px 10px 0px;
}
#page-home .box p {
  display: none;
}
#page-home .box .icons {
  display: none;
  background-repeat: no-repeat;
  background-position: 0px 100%;
}
#page-home .box .btn {
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
#page-home .box.hover-animate {
  background-color: #fff !important;
  margin-top: -5px;
  margin-bottom: 5px;
}
#page-home .box.hover h3 {
  font-size: 20px;
  line-height: 1.1;
  width: auto !important;
}
#page-home .box.hover .icons,
#page-home .box.hover p {
  display: block;
}
#page-home .box .box-blue {
  background-color: #36a7c9;
}
#page-home .box .box-blue.hover-animate {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #36a7c9;
  border-bottom: 0px;
}
#page-home .box .box-blue.hover h3 {
  color: #36a7c9;
}
#page-home .box .box-blue.hover .btn {
  color: #fff;
  background: #36a7c9;
}
#page-home .box .box-blue .btn {
  color: #36a7c9;
  background: #fff;
  border: 1px solid #36a7c9;
}
#page-home .box .box-red {
  background-color: #dd686d;
}
#page-home .box .box-red .btn {
  color: #dd686d;
  background: #fff;
  border: 1px solid #dd686d;
}
#page-home .box .box-red.hover-animate {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #dd686d;
  border-bottom: 0px;
}
#page-home .box .box-red.hover h3 {
  color: #dd686d;
}
#page-home .box .box-red.hover .btn {
  color: #fff;
  background: #dd686d;
  border: 1px solid #dd686d;
}
#page-home .box .box-green {
  background-color: #00cc99;
}
#page-home .box .box-green .btn {
  color: #00cc99;
  background: #fff;
  border: 1px solid #00cc99;
}
#page-home .box .box-green.hover-animate {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #00cc99;
  border-bottom: 0px;
}
#page-home .box .box-green.hover h3 {
  color: #00cc99;
}
#page-home .box .box-green.hover .btn {
  color: #fff;
  background: #00cc99;
}
#page-home .box .box-teal {
  background-color: #1ec1c1;
}
#page-home .box .box-teal.hover-animate {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #1ec1c1;
  border-bottom: 0px;
}
#page-home .box .box-teal.hover h3 {
  color: #1ec1c1;
}
#page-home .box .box-teal .btn {
  color: #1ec1c1;
  background: #fff;
  border: 1px solid #1ec1c1;
}
#page-home .box .box-gold {
  background-color: #dcbe5d;
}
#page-home .box .box-gold .btn {
  color: #dcbe5d;
  background: #fff;
  border: 1px solid #dcbe5d;
}
#page-home .box .box-gold.hover-animate {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #dcbe5d;
  border-bottom: 0px;
}
#page-home .box .box-gold.hover h3 {
  color: #dcbe5d;
}
#page-home .box .box-gold.hover .btn {
  color: #fff;
  background: #dcbe5d;
}
#page-home .box .box-purple {
  background-color: #a165c1;
}
#page-home .box .box-purple .btn {
  color: #a165c1;
  background: #fff;
  border: 1px solid #a165c1;
}
#page-home .box .box-purple.hover-animate {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #a165c1;
  border-bottom: 0px;
}
#page-home .box .box-purple.hover h3 {
  color: #a165c1;
}
#page-home .box .box-purple.hover .btn {
  color: #fff;
  background: #a165c1;
}
#page-home .box.skills {
  background-color: #00cc99;
  background-image: url('../images/home/skills.png');
  background-position: 130% -40px;
  margin-top: -20px;
  height: 184px;
}
#page-home .box.skills .btn {
  color: #00cc99;
  background: #fff;
  border: 1px solid #00cc99;
}
#page-home .box.skills.hover-animate {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #00cc99;
  border-bottom: 0px;
}
#page-home .box.skills.hover h3 {
  color: #00cc99;
}
#page-home .box.skills.hover .btn {
  color: #fff;
  background: #00cc99;
}
#page-home .box.skills.hover-animate {
  margin-top: -30px;
}
#page-home .box.skills .icons {
  width: 216px;
  height: 63px;
  margin: 15px 0px 15px 5px;
  background-image: url('../images/home/skills-icons.png');
}
#page-home .box.skills .btn {
  margin-top: 27px;
}
#page-home .box.skills.hover .btn {
  margin-top: 0px;
}
#page-home .box.cv {
  background-color: #dd686d;
  background-image: url('../images/home/cv.png');
  background-position: 20% -30px;
  margin-top: -30px;
  height: 191px;
}
#page-home .box.cv .btn {
  color: #dd686d;
  background: #fff;
  border: 1px solid #dd686d;
}
#page-home .box.cv.hover-animate {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #dd686d;
  border-bottom: 0px;
}
#page-home .box.cv.hover h3 {
  color: #dd686d;
}
#page-home .box.cv.hover .btn {
  color: #fff;
  background: #dd686d;
  border: 1px solid #dd686d;
}
#page-home .box.cv .btn {
  margin-top: 73px;
}
#page-home .box.cv.hover-animate {
  margin-top: -40px;
}
#page-home .box.cv.hover .btn {
  margin-top: 0px;
}
#page-home .box.portfolio {
  background-color: #dd686d;
  background-image: url('../images/home/portfolio.png');
  background-position: 350% 8%;
  margin-top: -10px;
  height: 192px;
}
#page-home .box.portfolio .btn {
  color: #dd686d;
  background: #fff;
  border: 1px solid #dd686d;
}
#page-home .box.portfolio.hover-animate {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #dd686d;
  border-bottom: 0px;
}
#page-home .box.portfolio.hover h3 {
  color: #dd686d;
}
#page-home .box.portfolio.hover .btn {
  color: #fff;
  background: #dd686d;
  border: 1px solid #dd686d;
}
#page-home .box.portfolio .btn {
  margin-top: 73px;
}
#page-home .box.portfolio.hover-animate {
  margin-top: -20px;
  margin-bottom: 10px;
}
#page-home .box.portfolio.hover .icons {
  display: block;
}
#page-home .box.portfolio.hover .btn {
  margin-top: 0px;
}
#page-home .box.portfolio .icons {
  display: none;
  width: 213px;
  height: 76px;
  margin: 15px 0px 10px 10px;
  background-image: url('../images/home/clients-icons.png');
}
#page-home .box.situation {
  background-color: #dcbe5d;
  background-image: url('../images/home/situation.png');
  background-position: 170px -25px;
  height: 171px;
}
#page-home .box.situation .btn {
  color: #dcbe5d;
  background: #fff;
  border: 1px solid #dcbe5d;
}
#page-home .box.situation.hover-animate {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #dcbe5d;
  border-bottom: 0px;
}
#page-home .box.situation.hover h3 {
  color: #dcbe5d;
}
#page-home .box.situation.hover .btn {
  color: #fff;
  background: #dcbe5d;
}
#page-home .box.situation .btn {
  margin-top: 53px;
}
#page-home .box.situation.hover .btn {
  margin-top: 0px;
}
#page-home .box.situation.hover-animate {
  margin-top: -10px;
}
#page-home .box.learning {
  background-color: #00cc99;
  background-image: url('../images/home/learning.png');
  background-position: -380% 0px;
  margin-top: -20px;
  height: 254px;
}
#page-home .box.learning .btn {
  color: #00cc99;
  background: #fff;
  border: 1px solid #00cc99;
}
#page-home .box.learning.hover-animate {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #00cc99;
  border-bottom: 0px;
}
#page-home .box.learning.hover h3 {
  color: #00cc99;
}
#page-home .box.learning.hover .btn {
  color: #fff;
  background: #00cc99;
}
#page-home .box.learning .icons {
  width: 123px;
  height: 63px;
  margin: 5px 0px 20px 0px;
  background-image: url('../images/home/learning-icons.png');
}
#page-home .box.learning .btn {
  margin-top: 135px;
}
#page-home .box.learning.hover-animate {
  margin-top: -30px;
}
#page-home .box.learning.hover .btn {
  margin-top: 0px;
}
#page-home .box.workflow {
  background-color: #a165c1;
  background-image: url('../images/home/workflow.png');
  background-position: -250% -30px;
  height: 179px;
}
#page-home .box.workflow .btn {
  color: #a165c1;
  background: #fff;
  border: 1px solid #a165c1;
}
#page-home .box.workflow.hover-animate {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #a165c1;
  border-bottom: 0px;
}
#page-home .box.workflow.hover h3 {
  color: #a165c1;
}
#page-home .box.workflow.hover .btn {
  color: #fff;
  background: #a165c1;
}
#page-home .box.workflow .icons {
  width: 313px;
  height: 58px;
  margin: 15px 0px 15px 10px;
  background-image: url('../images/home/workflow-icons.png');
}
#page-home .box.workflow .btn {
  margin-top: 20px;
}
#page-home .box.workflow.hover .btn {
  margin-top: 0px;
}
#page-home .box.workflow.hover-animate {
  margin-top: -10px;
}
#page-home .box.about {
  background-color: #36a7c9;
  height: 151px;
  background-image: url('../images/home/about.png');
  background-position: 120px 0px;
}
#page-home .box.about.hover-animate {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #36a7c9;
  border-bottom: 0px;
}
#page-home .box.about.hover h3 {
  color: #36a7c9;
}
#page-home .box.about.hover .btn {
  color: #fff;
  background: #36a7c9;
}
#page-home .box.about .btn {
  color: #36a7c9;
  background: #fff;
  border: 1px solid #36a7c9;
}
#page-home .box.about .btn {
  margin-top: 33px;
}
#page-home .box.about.hover .btn {
  margin-top: 0px;
}
#page-home .box.about.hover-animate {
  margin-top: -10px;
}
#page-home .box.contact {
  background-color: #36a7c9;
  background-image: url('../images/home/contact.png');
  background-position: 150px -50px;
  margin-top: -10px;
  height: 151px;
}
#page-home .box.contact.hover-animate {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #36a7c9;
  border-bottom: 0px;
}
#page-home .box.contact.hover h3 {
  color: #36a7c9;
}
#page-home .box.contact.hover .btn {
  color: #fff;
  background: #36a7c9;
}
#page-home .box.contact .btn {
  color: #36a7c9;
  background: #fff;
  border: 1px solid #36a7c9;
}
#page-home .box.contact .btn {
  margin-top: 33px;
}
#page-home .box.contact.hover-animate {
  margin-top: -20px;
}
#page-home .box.contact.hover .btn {
  margin-top: 0px;
}
/* -----------------
My CV
----------------- */
#page-cv {
  display: none;
}
#page-cv article {
  border-left: 4px solid #dd686d;
  background-image: url('../images/icons/cv-large.png');
  background-position: 97% 2%;
  background-repeat: no-repeat;
}
#page-cv article h3 {
  margin-top: 30px;
}
#page-cv article a {
  color: #dd686d;
}
#page-cv article section {
  margin-top: 50px;
}
#page-cv article section section {
  margin-top: 30px;
}
#page-cv article section section .row {
  margin-top: 20px;
}
#page-cv article section h3 + section {
  margin-top: 0px;
}
#page-cv article section.basic {
  margin-top: 0px;
}
#page-cv article section.basic .row {
  margin-bottom: 5px;
}
#page-cv .subnav {
  border-left: 4px solid #dd686d;
}
/* -----------------
My Portfolio
----------------- */
#page-portfolio {
  display: none;
}
#page-portfolio article {
  border-left: 4px solid #dd686d;
  background-image: url('../images/icons/portfolio-large.png');
  background-position: 97% 25px;
  background-repeat: no-repeat;
}
#page-portfolio article a {
  color: #dd686d;
}
#page-portfolio .subnav {
  border-left: 4px solid #dd686d;
}
