/* -----------------
Global Structure
----------------- */
html,
body {
  min-height: 100%;
  height: 100%;
}
body {
  background: url('../images/bg/pattern.jpg') 0px 0px no-repeat fixed;
  padding: 100px 0px;
  overflow-y: scroll;
}
body.slideup {
  padding: 40px 0px;
}
body.slideup #header {
  padding-bottom: 10px;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0px;
}
.navbar .navbar-nav li a {
  color: #FFFFFF;
}
.navbar .navbar-nav li a:hover {
  color: #cccccc;
}
.navbar .navbar-nav li a del {
  color: #bfbfbf;
}
/* -----------------
Colours
----------------- */
/* -----------------
Global Elements
----------------- */
.box {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  width: 100%;
  float: left;
}
.box a:hover {
  text-decoration: none;
}
a.info-popup {
  border-bottom: 1px dotted #428bca;
}
a.info-popup:hover {
  color: #3071a9;
  text-decoration: none;
}
/* -----------------
Font Definitions
----------------- */
@font-face {
  font-family: 'PTSarif';
  src: url('../fonts/PTSarif-Bold.ttf');
}
/* -----------------
Global Typeface
----------------- */
h1 {
  font-family: 'Times New Roman';
  font-size: 36px;
  color: #FFFFFF;
}
h2 {
  font-size: 46px;
  margin: 7px 0px 40px 0px;
}
h3 {
  font-family: 'Times New Roman';
}
/* -----------------
Header
----------------- */
#header {
  min-height: 156px;
}
#header .title h1 {
  font-size: 60px;
  text-shadow: 2px 2px #000000;
  margin: 0px;
  padding: 0px;
  float: left;
}
#header .title p {
  font-size: 15px;
  clear: both;
}
#header .title p.lead {
  font-size: 21px;
  margin: 5px 0px 5px 0px;
}
#header .intro {
  display: none;
}
#header .intro .box {
  border: 0px;
  cursor: inherit;
}
#header .intro h3 {
  margin: 0px 0px 10px 0px;
}
#header .intro p + p {
  margin-bottom: 0px;
}
/* -----------------
Child Page Template
----------------- */
article {
  width: 100%;
  padding: 40px;
  margin-bottom: 100px;
  background: #FFFFFF;
}
article nav.header-links {
  margin-bottom: 20px;
}
article h3 {
  font-size: 27px;
  border-bottom: 1px solid #D0D0D0;
  padding-bottom: 3px;
}
/* -----------------
Mixins
----------------- */
/* -----------------
Miscellaneous
----------------- */
/* Apply a natural box layout model to all elements (http://www.paulirish.com/2012/box-sizing-border-box-ftw/) */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#page-home {
  /* -----------------
	Box Element
	----------------- */
}
#page-home .row {
  margin-top: 28px;
}
#page-home h3 {
  font-size: 24px;
  margin: 0px 0px 10px 0px;
}
#page-home .box {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 97% 9%;
  /* -----------------
		Skills/Expertise Box
		----------------- */
  /* -----------------
		CV Box
		----------------- */
  /* -----------------
		Portfolio Box
		----------------- */
  /* -----------------
		Achievements Box
		----------------- */
  /* -----------------
		Learning Box
		----------------- */
  /* -----------------
		Workflow Box
		----------------- */
  /* -----------------
		About Box
		----------------- */
  /* -----------------
		Contact Box
		----------------- */
}
#page-home .box.hover {
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: -5px;
}
#page-home .box.skills {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #00cc99;
  background-image: url('../images/icons/skills.png');
  margin-top: -20px;
}
#page-home .box.skills.hover {
  border-bottom-width: 10px;
}
#page-home .box.skills.hover {
  margin-top: -25px;
}
#page-home .box.cv {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #dd686d;
  background-image: url('../images/icons/cv.png');
  background-position: 95% 8%;
  margin-top: -30px;
}
#page-home .box.cv.hover {
  border-bottom-width: 10px;
}
#page-home .box.cv.hover {
  margin-top: -35px;
}
#page-home .box.portfolio {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #dd686d;
  background-image: url('../images/icons/portfolio.png');
  background-position: 95% 8%;
}
#page-home .box.portfolio.hover {
  border-bottom-width: 10px;
}
#page-home .box.achievements {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #dd686d;
  background-image: url('../images/icons/achievements.png');
}
#page-home .box.achievements.hover {
  border-bottom-width: 10px;
}
#page-home .box.learning {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #00cc99;
  background-image: url('../images/icons/learning.png');
  background-position: 93% 8%;
  margin-top: -20px;
}
#page-home .box.learning.hover {
  border-bottom-width: 10px;
}
#page-home .box.learning.hover {
  margin-top: -25px;
}
#page-home .box.workflow {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #00cc99;
  background-image: url('../images/icons/workflow.png');
}
#page-home .box.workflow.hover {
  border-bottom-width: 10px;
}
#page-home .box.about {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #ffff99;
  background-image: url('../images/icons/about.png');
  background-position: 96% 8%;
}
#page-home .box.about.hover {
  border-bottom-width: 10px;
}
#page-home .box.contact {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #ffff99;
  background-image: url('../images/icons/contact.png');
  background-position: 95% 8%;
  margin-top: -20px;
}
#page-home .box.contact.hover {
  border-bottom-width: 10px;
}
#page-home .box.contact.hover {
  margin-top: -25px;
}
#page-cv {
  /* -----------------
CV Article
----------------- */
}
#page-cv article {
  border-left: 4px solid #dd686d;
  background: #ffffff url('../images/icons/cv-large.png') 97% 2% no-repeat;
}
#page-cv article h2 {
  width: 760px;
}
#page-cv article h3 {
  margin-top: 30px;
}
#page-cv article section {
  margin-bottom: 40px;
}
#page-cv article section section .row {
  margin-top: 20px;
}
