/* -----------------
Global Structure
----------------- */
html, body {
	min-height: 100%;
	height: 100%;
}
body {
	.bg('blue');
	padding: 60px 0px;
	overflow-y: scroll;
	&.slideup {
		padding: 40px 0px;
		header {
			padding-bottom: 10px;
		}
	}
}
#bg-transition {
	display: none;
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.bg(@pattern) {
	background: url('../images/bg/@{pattern}.jpg') 0px 0px no-repeat fixed;
}
.teal {
	.bg('teal');
}
.green {
	.bg('green');
}
.purple {
	.bg('purple');
}
.gold {
	.bg('gold');
}
.blue {
	.bg('blue');
}
.grey {
	.bg('grey');
}
.denim {
	.bg('denimblue');
}

footer {
	.navbar {
		.bgopacity(#000000, 30%);
		border: 0px;
		.navbar-nav {
			li {
				margin-right: 20px;
				a {
					color: #FFFFFF;
					padding-left: 0px;
					&:hover {
						color: darken(#FFFFFF, 20%);
					}
				}
				span {
					color: #FFFFFF;
					margin-top: 15px;
					display: block;
				}
			}
			&.pull-right {
				li {
					margin-right: 0px;
					margin-left: 20px;
					a {
						padding-right: 0px;
						padding-left: 15px;
					}
				}
			}
		}
		.col-md-6 {
			padding: 0px;
		}
	}
}


/* -----------------
Colours
----------------- */
@yellow: 				#FFFF99;
@yellow-dark:		darken(@yellow, 40%);
@red: 					#DD686D;
@red-dark:			darken(@red, 15%);
@green: 				#00CC99;
// #22DDC1
@green-dark:		darken(@green, 15%);
@purple: 				#A165C1;
@teal:					#1EC1C1;
@gold:					#DCBE5D;
@blue:					#36A7C9;


/* -----------------
Global Elements
----------------- */
.box {
	.bgopacity(#FFFFFF, 70%);
	padding: 15px;
	width: 100%;
	float: left;
	a:hover {
		text-decoration: none;
	}
}
.box-border-bottom(@colour) {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: @colour;
}
.box-border-top(@colour) {
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: @colour;
}
a.info-popup {
	border-bottom: 1px dotted #428bca;
	&:hover {
		color: darken(#428BCA, 10%);
		text-decoration: none;
	}
}


/* -----------------
Font Definitions
----------------- */
@font-face {
  font-family: 'PTSarif';
  src: url('../fonts/PTSarif-Bold.ttf');
}


/* -----------------
Global Typeface
----------------- */
h1 {
	font-size: 36px;
}
h2 {
	font-size: 46px;
	margin: 7px 0px 40px 0px;
}
h3 {
	font-family: Verdana;
}


/* -----------------
Header
----------------- */
header {
	margin-bottom: 50px;
	.box;
	.bgopacity(#ffffff, 30%);
	h1 {
		// color: #fbeccb;
		color: #666;
		// text-shadow: 1px 1px #000;
		font-size: 60px;
		margin: 0px 0px 5px 0px;
		padding: 0px;
		float: left;
		span {
			color: #fff;
			text-shadow: 2px 2px #999;
			font-size: 36px;
		}
	}
	p.lead {
		color: #fff;
		// text-shadow: 1px 1px #666;
		font-size: 21px;
		margin: 5px 0px 5px 0px;
		clear: both;
		small {
			font-size: 15px;
		}
	}
}


/* -----------------
Child Page Template
----------------- */
.subnav {
	.page-canvas;
	padding: 10px 40px;
	margin-bottom: 20px;
	button {
		&.back-home {
			background: #FFFFFF;
			border: 1px solid #E3E3E3;
			color: @teal;
			&:hover {
				background: @teal;
				color: #FFFFFF;
				border: 1px solid #D0D0D0;
			}
		}
	}
}
article {
	.page-canvas;
	h2 {
		float: left;
	}
	.heading-link {
		margin: 33px 0px 0px 20px;
		float: left;
	}
	h3 {
		font-size: 22px;
		border-bottom: 1px solid #D0D0D0;
		padding-bottom: 3px;
	}

	.nav-tabs {
		width: 790px;
		margin-bottom: 40px;
	}
	.tab-pane {
		.panel-heading {
			span {
				font-size: 12px;
				font-weight: normal;
				margin-left: 6px;
			}
		}
		.panel {
			padding: 0px;
			margin-bottom: 15px;
		}
	}
}
.page-canvas {
	width: 100%;
	padding: 40px;
	margin-bottom: 100px;
	.bgopacity(#FFFFFF, 90%);
	.boxshadow(6px, 6px, 20px, 0px, #666666);
}


/* -----------------
Carousel
----------------- */
.carousel {
	.carousel-inner {
		width: 100%;
		border: 1px solid #C0C0C0;
	}
	.boxshadow(2px, 2px, 10px, 0px, #C0C0C0);
	.carousel-control {
		span {
			margin-top: 0px;
			color: #FFFFFF;
		}
		&.left {
			margin-left: 15px;
			span {
				margin-left: -40px;
			}
		}
		&.right {
			margin-right: 15px;
			span {
				margin-right: -40px;
			}
		}
	}
	.annotation {
		display: none;
	}
}
.carousel-indicators {
	list-style: none;
	margin: 0px 0px 20px 0px;
	padding: 0px;
	width: 100%;
	float: left;
	clear: both;
	position: relative;
	top: 0px;
	left: 0px;
	bottom: 0px;
	li {
		float: left;
		width: 50px !important;
		height: 8px !important;
		background: #C0C0C0;
		margin: 0px 0px 0px 5px !important;
		border-radius: 0px;
		cursor: pointer;
		&:first-child {
			margin-left: 0px !important;
		}
		&.active {
			background: @teal;
		}
	}
}



/* -----------------
Mixins
----------------- */
.opacity(@opacity) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  filter: ~"alpha(opacity=@{opperc})";
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
}
.bgopacity(@colourHex, @opacity) {
  background-color: hsla(hue(@colourHex), saturation(@colourHex), lightness(@colourHex), @opacity);
}
.bgicon(@icon, @position) {
	background-image: url('../images/icons/@{icon}.png');
	background-position: @position;
	background-repeat: no-repeat;
}
.boxshadow(@posX, @posY, @blur, @spread, @colour) {
  -moz-box-shadow:    @posX @posY @blur @spread @colour;
  -webkit-box-shadow: @posX @posY @blur @spread @colour;
  box-shadow:         @posX @posY @blur @spread @colour;
}


/* -----------------
Miscellaneous
----------------- */
/* Apply a natural box layout model to all elements (http://www.paulirish.com/2012/box-sizing-border-box-ftw/) */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}