/* -----------------
Global Structure
----------------- */
html, body {
	min-height: 100%;
	height: 100%;
}
body {
	background: url('../images/bg/pattern.jpg') 0px 0px no-repeat fixed;
	padding: 100px 0px;
	overflow-y: scroll;
	&.slideup {
		padding: 40px 0px;
		#header {
			padding-bottom: 10px;
		}
	}
}

.navbar {
	.bgopacity(#000000, 30%);
	border: 0px;
	.navbar-nav {
		li a {
			color: #FFFFFF;
			&:hover {
				color: darken(#FFFFFF, 20%);
			}
			del {
				color: darken(#FFFFFF, 25%);
			}
		}
	}
}


/* -----------------
Colours
----------------- */
@yellow: #FFFF99;
@red: #DD686D;
@green: #00CC99;
@purple: #A165C1;


/* -----------------
Global Elements
----------------- */
.box {
	.bgopacity(#FFFFFF, 70%);
	// border-radius: 3px;
	padding: 15px;
	width: 100%;
	float: left;
	a:hover {
		text-decoration: none;
	}
}
.box-border(@colour) {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: @colour;
	&.hover {
		border-bottom-width: 10px;
	}
}
a.info-popup {
	border-bottom: 1px dotted #428bca;
	&:hover {
		color: darken(#428BCA, 10%);
		text-decoration: none;
	}
}


/* -----------------
Font Definitions
----------------- */
@font-face {
  font-family: 'PTSarif';
  src: url('../fonts/PTSarif-Bold.ttf');
}


/* -----------------
Global Typeface
----------------- */
h1 {
	font-family: 'Times New Roman';
	font-size: 36px;
	color: #FFFFFF;
}
h2 {
	font-size: 46px;
	margin: 7px 0px 40px 0px;
}
h3 {
	font-family: 'Times New Roman';
}


/* -----------------
Header
----------------- */
#header {
	min-height: 156px;
	.title {
		h1 {
			font-size: 60px;
			text-shadow: 2px 2px #000000;
			margin: 0px;
			padding: 0px;
			float: left;
		}
		p {
			font-size: 15px;
			clear: both;
			&.lead {
				font-size: 21px;
				margin: 5px 0px 5px 0px;
			}
		}
	}
	.intro {
		display: none;
		.box {
			border: 0px;
			cursor: inherit;
		}
		h3 {
			margin: 0px 0px 10px 0px;
		}
		p + p {
			margin-bottom: 0px;
		}
	}
}


/* -----------------
Child Page Template
----------------- */
article {
	width: 100%;
	padding: 40px;
	margin-bottom: 100px;
	background: #FFFFFF;
	nav.header-links {
		margin-bottom: 20px;
	}
	h3 {
		font-size: 27px;
		border-bottom: 1px solid #D0D0D0;
		padding-bottom: 3px;
	}
}

/* -----------------
Mixins
----------------- */
.opacity(@opacity) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  filter: ~"alpha(opacity=@{opperc})";
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
}
.bgopacity(@colourHex, @opacity) {
  background-color: hsla(hue(@colourHex), saturation(@colourHex), lightness(@colourHex), @opacity);
}


/* -----------------
Miscellaneous
----------------- */
/* Apply a natural box layout model to all elements (http://www.paulirish.com/2012/box-sizing-border-box-ftw/) */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}