/* -----------------
Title Box
----------------- */
.title {
	.box {
		border: 0px;
	}
}

/* -----------------
Introduction Box
----------------- */
.intro {
	.box {
		border: 0px;
	}
	p + p {
		margin-bottom: 0px;
	}
}

/* -----------------
Skills/Expertise Box
----------------- */
.skills {
	margin-top: -20px;
}

/* -----------------
CV Box
----------------- */
.cv {
	margin-top: -20px;
}

/* -----------------
Portfolio Box
----------------- */
.portfolio {
	
}

/* -----------------
Achievements Box
----------------- */
.achievements {
	
}

/* -----------------
Learning Box
----------------- */
.learning {
	margin-top: -20px;
}

/* -----------------
Workflow Box
----------------- */
.workflow {
	
}

/* -----------------
About Box
----------------- */
.about {
	
}

/* -----------------
Contact Box
----------------- */
.contact {
	margin-top: -20px;
}