.l-article {

    article {

        border-left-width: 4px;
        border-left-style: solid;
        border-left-color: #666;

        & > section {
            margin-bottom: 50px;
            section {
                margin-bottom: 30px;
            }
        }

    }

    .l-article-table {
        .row {
            margin-bottom: 6px;
        }
    }

    .l-article-row-space {
        .row {
            margin-bottom: 16px;
        }
    }

}