.l-home {

    margin-top: 60px;
    display: none;
    
    .row {
        margin-top: 28px;
    }

}

/* -----------------
Tablet (boxes vertically stacked)
----------------- */
@media screen and (max-width: @screen-sm-max) {
    .l-home {
        margin-top: 20px;
        .row {
            margin-top: 0px;
        }
    }
}