/* -----------------
Content Canvas
----------------- */
.content-canvas {
    padding: 40px;
    background: #fff;
    .boxshadow(6px, 6px, 20px, 0px, #666666);

    width: 100%;
    float: left;

    &.is-off-stage {
        .opacity(0);
    }

    @media screen and (max-width: @screen-xs-max) { // Phone
        padding: 16px;
    }
}


/* -----------------
Tabled Bullets
----------------- */
.tabled-bullets {
    ul, li {
        margin: 0px;
        padding: 0px;
    }
}


/* -----------------
Formatted Table
----------------- */
.formatted-table {
    background: #fff;
    border: 1px solid #c0c0c0;
    margin: 20px 0px;

    &.formatted-table-fullwidth {
        width: 100%;
    }

    td {
        padding: 10px;
    }
    thead {
        background: #efefef;

        td {
            font-weight: bold;
        }
    }
}


/* -----------------
Radio Buttons
----------------- */
.radio-buttons {
    margin: 20px 0px 15px 0px;

    .radio-buttons-item {
        margin-bottom: 6px;

        input[type=radio] {
            margin-right: 10px;
            margin-top: 2px;
            float: left;
        }
        label {
            margin-top: 0px;
        }

        &.is-disabled {
            label {
                color: #d0d0d0;
            }
        }
    }
}


/* -----------------
Checkboxes
----------------- */
.checkboxes {
    margin: 20px 0px 15px 1px;

    .checkboxes-item {
        margin-bottom: 10px;
        min-height: 20px;

        i {
            float: left;
            margin-bottom: 6px;
            margin-right: 10px;
        }

        &.is-off {
            span {
                color: #d0d0d0;
                text-decoration: line-through;
            }
            i {
                margin-right: 13px;
            }
        }
    }
}


/* -----------------
Info Box
----------------- */
.info-box {
    padding: 10px;
    margin: 0px 0px 20px 20px;
    max-width: 270px;
    float: right;

    &.info-box-left {
        float: left;
        margin: 0px 20px 20px 0px;
    }

    .boxshadow(3px, 3px, 10px, 0px, #efefef);
    border: 1px solid #dfdfdf;

    .image {
        margin: 0px auto !important;
    }
    .link {
        clear: both;
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    .caption {
        font-size: 11px;
        margin: 10px 0px 0px 0px;

        &.caption-centre {
            text-align: center;
        }
    }

    // Phone
    @media screen and (max-width: @screen-xs-max) {
        width: 100%;
        max-width: 100%;
        margin-left: 0px;
        p, a {
            text-align: center;
        }
    }
}

/* -----------------
Side by Side Content
----------------- */
.side-by-side-content {

    &.side-by-side-content-text-left {
        .side-by-side-content-column {
            text-align: left;
        }
    }

    .side-by-side-content-column {
        text-align: center;
        padding: 10px 15px;

        &:first-child {
            border-right: 1px solid #efefef;
        }

        h3, h4, h5 {
            &:first-child {
                margin-top: 10px;
            }
        }

        .image {
            margin: 5px auto 20px auto;
        }
        .media img {
            margin: 8px 20px 0px 0px;
        }

        ul {
            text-align: left;
            padding-left: 25px;

            &.left {
                float: left;
            }
            &.right {
                float: right;
            }
        }

    }
}


/* -----------------
Image Column (left of text)
----------------- */
.media img, .media .image {
    margin: 0px;
    margin-right: 20px !important;
}


/* -----------------
Models
----------------- */
.modal {
    .close .label {
        color: #000;
        float: left;
        margin: 2px 6px 0px 0px;
        padding: 0px;
    }
}