/* -----------------
Content Canvas
----------------- */
.content-canvas {
    padding: 40px;
    background: #fff;
    .boxshadow(6px, 6px, 20px, 0px, #666666);

    width: 100%;
    float: left;

    &.is-off-stage {
        .opacity(0);
    }

    @media screen and (max-width: @screen-xs-max) { // Phone
        padding: 16px;
    }
}


/* -----------------
Tabled Bullets
----------------- */
.tabled-bullets {
    ul, li {
        margin: 0px;
        padding: 0px;
    }
}


/* -----------------
Formatted Table
----------------- */
.formatted-table {
    background: #fff;
    border: 1px solid #c0c0c0;
    margin: 20px 0px;

    &.formatted-table-fullwidth {
        width: 100%;
    }

    td {
        padding: 10px;
    }
    thead {
        background: #efefef;

        td {
            font-weight: bold;
        }
    }
}


/* -----------------
Tabbed Content
----------------- */
.tabbed-content {

    .tabbed-content-tabs {
        margin-bottom: 25px;
        border-bottom: 1px solid #c0c0c0;
        clear: both;
        width: 75%;

        li {
            a {
                margin-right: 0px;
            }
            small {
                font-size: 11px;
            }
        }
        li:hover {
            border-bottom: 2px solid #c0c0c0;
            a {
                background: none;
                border-color: #fff;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .active {
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-bottom-color: #000;
            &:hover {
                a {
                    border-color: #ddd;
                }
            }
        }

        .subnav-mobile {
            display: none;
        }


        .tab-icon {
            a, a:hover {
                background-position: 8px 8px !important;
                background-repeat: no-repeat !important;
            }
            &.tab-icon-contract > a {
                background-image: url('../images/cv/icons/contract.png');
                padding-left: 48px;
            }
            &.tab-icon-permanent > a {
                background-image: url('../images/cv/icons/permanent.png');
                padding-left: 52px;
            }
        }
        @media screen and (max-width: @screen-xs-max) { // Phone
            li a {
                // padding-left: 50px;
            }
        }

        @media screen and (max-width: @screen-xs-max) { // Phone
            border: 1px solid #ddd;
            .nav-tabs {
                border-bottom: 0px;
            }
            li {
                clear: both;
                width: 100%;
                border: 0px;
                &:hover {
                    border-bottom: 0px;
                }
                a {
                    border: 0px;
                    border-left-width: 3px;
                    border-left-style: solid;
                    border-left-color: #fff;
                    border-radius: 0px;
                    background: none;
                }
                &.active {
                    border-bottom: 0px;
                    a, a:hover {
                        border-width: 0px;
                        border-left-width: 3px;
                    }
                    a {
                        font-weight: bold;
                    }
                    .subnav-mobile {
                        background: #F7F7F7;
                        list-style: none;
                        display: block;
                        a {
                            padding: 10px 20px;
                            display: inline-block;
                            border-left: 0px;
                            font-weight: normal;
                        }
                        li {
                            border-top: 1px solid #efefef;
                            &:first-child {
                                border-top: 0px;
                            }
                        }
                        li.active a {
                            color: #555;
                        }
                    }
                    &.tab-icon .subnav-mobile a {
                        padding-left: 45px !important;
                    }
                }
            }
        }
    }

    .tabbed-content-body {
        display: none;

        &.is-active {
            display: block;
        }
    }

    // Phone
    @media screen and (max-width: @screen-xs-max) {
        .tabbed-content-tabs {
            width: 100%;

            li .sub-label {
                display: none;
            }
        }
    }
}


/* -----------------
Radio Buttons
----------------- */
.radio-buttons {
    margin: 20px 0px 15px 0px;

    .radio-buttons-item {
        margin-bottom: 6px;

        input[type=radio] {
            margin-right: 10px;
            margin-top: 2px;
            float: left;
        }
        label {
            margin-top: 0px;
        }

        &.is-disabled {
            label {
                color: #d0d0d0;
            }
        }
    }
}

/* -----------------
Checkboxes
----------------- */
.checkboxes {
    margin: 20px 0px 15px 1px;

    .checkboxes-item {
        background-image: url('../images/employment/checkbox-off.png');
        background-position: 0px 0px;
        background-repeat: no-repeat;
        padding-left: 30px;
        margin-bottom: 10px;
        min-height: 20px;

        &.is-checked {
            background-image: url('../images/employment/checkbox-on.png');
            font-weight: bold;
        }

        &.is-disabled {
            color: #d0d0d0;
            text-decoration: line-through;
        }
    }
}


/* -----------------
Info Box
----------------- */
.info-box {
    padding: 10px;
    margin: 0px 0px 20px 20px;
    max-width: 270px;
    float: right;

    &.info-box-left {
        float: left;
        margin: 0px 20px 20px 0px;
    }

    .boxshadow(3px, 3px, 10px, 0px, #efefef);
    border: 1px solid #dfdfdf;

    img {
        margin: 0px auto;
        display: block;
    }
    .link {
        clear: both;
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    .caption {
        font-size: 11px;
        margin: 10px 0px 0px 0px;

        &.caption-centre {
            text-align: center;
        }
    }

    // Phone
    @media screen and (max-width: @screen-xs-max) {
        width: 100%;
        max-width: 100%;
        margin-left: 0px;
        p, a {
            text-align: center;
        }
    }
}

/* -----------------
Side by Side Content
----------------- */
.side-by-side-content {

    &.side-by-side-content-text-left {
        .side-by-side-content-column {
            text-align: left;
        }
    }

    .side-by-side-content-column {
        text-align: center;
        padding: 10px 15px;

        &:first-child {
            border-right: 1px solid #efefef;
        }

        h3, h4, h5 {
            &:first-child {
                margin-top: 10px;
            }
        }

        img {
            display: inline-block;
            margin: 5px 0px 20px 0px;
        }
        .media img {
            margin: 8px 20px 0px 0px;
        }

        ul {
            text-align: left;
            padding-left: 25px;

            &.left {
                float: left;
            }
            &.right {
                float: right;
            }
        }

    }
}


/* -----------------
Image Column (left of text)
----------------- */
.media img {
    margin: 0px;
    margin-right: 20px !important;
}


/* -----------------
Models
----------------- */
.modal {
    .close .label {
        color: #000;
        float: left;
        margin: 2px 6px 0px 0px;
        padding: 0px;
    }
}

/* -----------------
Heading Adjacent Element
----------------- */
.heading-description-image {
    // float: left;
    // width: 100%;

    // img {
    //     float: right;
    //     margin: 0px 0px 15px 15px;
    // }

    .description {
        
    }

    h1, h2, h3, h4 {
        margin-top: 0px;
    }


    // h1, h2, h3, h4 {
    //     float: left;
    //     margin-right: 12px;
    // }
    // h3 + a {
    //     float: left;
    //     margin-top: 23px;
    // }
}