.browser-notice {
    width: 600px;
    margin: 0px auto;
    padding: 15px;
    background: #fff;
    border-left: 3px solid @red;

    h3 {
        margin-top: 0px;
    }
    p {
        margin: 15px 0px 0px 0px;
    }
}