/* -----------------
Carousel
----------------- */
.owl-carousel {
    width: 100%;
    margin: 20px auto 0px auto;

    .owl-item {
        border: 1px solid #efefef;
        text-align: center;

        img {
            max-width: 100%;
        }
    }

    .owl-wrapper-outer {
        overflow: visible;
    }

    .owl-controls {
        position: absolute;
        top: -31px;
        width: 100%;
        text-align: center;
    }

    .owl-pagination {
        display: inline-block;
        margin: 0px auto;

        .owl-page {
            width: 50px;
            height: 8px;
            float: left;
            background: #C0C0C0;
            margin-left: 5px;

            &:first-child {
                margin-left: 15px;
            }

            &.active {
                background: @red;
            }

            @media screen and (max-width: @screen-sm-max) { // Tablet
                width: 25px;
            }

            @media screen and (max-width: @screen-xs-max) { // Phone
                width: 10px;
            }
        }
    }

}

.owl-carousel-navigation {
    position: absolute;
    margin-top: -30px;
    width: 100%;

    .next {
        float: right;
        margin-right: 34px;
    }

    a {
        position: relative;
        z-index: 9;
    }
}

.tab-pane .owl-carousel {
    margin-top: 50px;
}