/* -----------------
Carousel
----------------- */
.owl-carousel {
    width: 80%;
    margin: 20px auto 0px auto;

    .owl-item {
        border: 1px solid #efefef;

        img {
            width: 100%;
        }
    }

    .owl-wrapper-outer {
        overflow: visible;
    }

    .owl-controls {
        position: absolute;
        top: -25px;
        width: 100%;
        height: 100%;
    }
    .owl-buttons {

        .owl-prev, .owl-next {
            height: 100%;
            width: 90px;
            position: absolute;
            top: 25px;
            
            background: #fff;
            opacity: 0.8;

            // filter: blur(5px);
            // -webkit-filter: blur(5px);
        }

        // (TODO: Frosted glass effect)
        .owl-prev::before, .owl-next::before {
            // content: '';
            // position: absolute;
            // z-index: -1;
            // height: 100%;
            // top: 0; right: 0; left: 0;
            // filter: blur(5px);
            // -webkit-filter: blur(5px);
        }

        .owl-prev {
            left: -90px;
        }
        .owl-next {
            right: -90px;
        }
    }

    .owl-pagination {
        display: inline-block;
        margin: 0px auto;

        .owl-page {
            width: 50px;
            height: 8px;
            float: left;
            background: #C0C0C0;
            margin-left: 5px;

            &:first-child {
                margin-left: 0px;
            }

            &.active {
                background: @red;
            }
        }
    }

}