.checkbox-button-group {

    margin: 15px 0;
    float: left;
    width: 100%;

    .checkbox-button:first-child {
        margin-left: 0;
    }

}

.checkbox-button {
    color: #999 !important; // Override themes
    padding: 15px;
    margin-left: 20px;
    border: 2px solid #efefef;
}

.checkbox-button:hover {
    background: #efefef;
    border: 2px solid #ddd;
    color: #666 !important;
    text-decoration: none;
}

.checkbox-button.is-active {
    color: @red !important;
    font-weight: bold;
    border: 2px solid #ccc;
}