/* -----------------
Icons
----------------- */
.decor-skills {
    .decor('skills', 95% 30px);
}
.decor-cv {
    .decor('cv', 97% 2%);
}
.decor-portfolio {
    .decor('portfolio', 96% 30px);
}
.decor-codesamples {
    .decor('codesamples', 96% 30px);
}
.decor-recruitment {
    .decor('recruitment', 96% 30px);
}
.decor-feedback {
    .decor('feedback', 96% 30px);
}
.decor-about {
    .decor('aboutme', 96% 30px);
}

.decor(@decor, @position) {
    background-image: url('../images/decor/decor-@{decor}.png');
    background-position: @position;
    background-repeat: no-repeat;
}
.decor(@decor) {
    background-image: url('../images/decor/decor-@{decor}.png');
}

// Phone
@media screen and (max-width: @screen-xs-max) and (orientation: portrait) {
  .content-canvas {
    background-image: none;
  }
}