header {
    .title {
        padding: 15px;
        .bgopacity(#ffffff, 10%);
        clear: both;

        .myname {
            color: #fff;
            text-shadow: 2px 2px #777;
            font-size: 60px;
            margin: 0px 14px 5px 0px;
            padding: 0px;
            float: left;
        }
        .jobtitle {
            color: #666;
            text-shadow: none;
            font-size: 32px;
            display: inline-block;
            margin-top: 34px;
        }

        .strapline {
            color: #fff;
            font-family: Helvetica Neue, Arial;
            font-size: 20px;
            font-weight: 200;
            margin: 18px 0px 5px 4px;
            clear: both;
        }

    }

    .back-home {
        display: none;
        margin-top: 8px;

        color: #fff !important;
        border-width: 1px;
        border-style: solid;

        &:hover, &:focus {
            color: #fff;
        }

        &.is-hidden {
            .opacity(0);
        }
    }

    .mobile-menu-button {
        height: 20px;
        display: none;

        a {
            position: absolute;
            right: 15px;
            height: 22px;
            z-index: 9;
            text-decoration: none;

            &:before {
                float: right;
                width: 22px;
                height: 3px;
                background: #fff;
                box-shadow: 0px 4px transparent, 0px 8px #fff, 0px 12px transparent, 0px 16px #fff;
                content: '';
            }

            span {
                color: #fff;
                font-size: 20px;
                padding-right: 10px;
            }
        }
    }

    .myname-mobile {
        display: none;
    }
}

.home header .mobile-menu-button {
    display: none;
}

// Tablet
@media screen and (max-width: @screen-sm-max) {
    header {
        .title .myname {
            font-size: 52px;
        }
        .title .jobtitle {
            font-size: 24px;
            margin-top: 30px;
        }
        .title .strapline {
            font-size: 16px;
        }
    }
}

// Phone
@media screen and (max-width: @screen-xs-max) {
    header {
        .title {
            display: none;
            .myname {
                font-size: 40px;
                margin: 0px 0px 0px 0px;
            }
            .jobtitle {
                line-height: 26px;
            }
            .strapline {
                font-size: 16px;
                margin-top: 0px;
            }
        }
        .mobile-menu-button {
            display: block;
        }
        .myname-mobile {
            color: #fff;
            text-shadow: 2px 2px #777;
            font-size: 24px;
            line-height: 16px;

            float: left;
            margin: 0px;
            padding: 0px;
            display: block;
        }
    }
    .home {
        header .title {
            display: block;
        }
        header .myname-mobile {
            display: none;
        }
    }
}