.icon-grid {
    width: 100%;

    .icon-grid-row {
        width: 100%;
        float: left;

        @media screen and (min-width: 500px) and (max-width: @screen-sm-max) { // Phone Landscape/Tablet
            // width: 25%;
        }
    }

    .icon-grid-row .icon-grid-item:first-child {
        margin-left: 0;
    }

    .icon-grid-item {
        background: #efefef;
        margin: 1px;
        padding: 10px;
        width: 108px;
        height: 95px;
        float: left;
        cursor: pointer;
        text-align: center;

        .title {
            clear: both;
            display: block;
            font-size: 11px;
            @media screen and (min-width: @screen-md-max) { // Large desktop
                // font-size: 14px;
            }
            @media screen and (min-width: @screen-md-min) and (max-width: @screen-lg-min) { // Medium desktop
                // font-size: 12px;
            }
        }
        .icon {
            margin: 8px auto 0px auto;
        }

        &:hover {
            background: #dfdfdf;
            @media screen and (max-width: @screen-sm-max) { // Tablet/Phone
                background: #00CC99;
                .title {
                    color: #fff;
                }
            }
        }
        @media screen and (min-width: @screen-sm-max) { // Desktop
            &.is-active {
                background: #00CC99;
                .title {
                    color: #fff;
                }
            }
        }
    }

    .icon-row-label {
        margin: 15px 0 5px 0;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }


    &.icon-grid-single-row {
        .icon-grid-item {
            float: left;
            height: auto;
            width: auto;
        }
    }
}