.modal {

    .modal-header {
        h2, h3 {
            margin: 0px;
            padding: 0px;
        }
    }
    .modal-body {
        h2, h3 {
            margin-top: 0px;
            padding-top: 0px;
        }
    }

    &.modal-no-header {
        .modal-header {
            position: absolute;
            right: 0%;
            border-bottom: 0px;
            z-index: 9;
        }
        .modal-body {
            margin-top: 10px;
        }
    }
}

.standby-modal-content {
    display: none;
}


/* -----------------
Technology Modal
----------------- */
@media screen and (max-width: @screen-sm-max) { // Tablet/Phone
    .tech-modal-header {
        hr {
            display: none;
        }
        .info-box {
            background: #fff;
        }
        .description {
            margin-bottom: 0px;
            margin-top: 5px;
        }
    }
}

@media screen and (min-width: 500px) and (max-width: @screen-sm-max) { // Phone Landscape/Tablet
    .tech-modal-header {
        .info-box {
            width: auto;
            margin-top: 30px;
            margin-right: -60px;
            margin-left: 20px;
        }
    }
}

@media screen and (max-width: 499px) { // Phone Portrait
    .tech-modal-header {
        .info-box {
            width: 100% !important;
            margin-top: 10px;
            margin-right: 0px;
        }
    }
}