.monopoly-card {
    margin: 10px 0px;
    background: #efefef;
    .boxshadow(2px, 2px, 4px, 0px, #c0c0c0);
    text-align: center;
    padding: 0px 15px;
    float: left;
    width: 100%;

    .title {
        font-weight: bold;
        padding-top: 20px;
    }
    .description {
        font-size: 13px;
    }
    .icon {
        margin: 0px auto 10px auto;
    }
}