.body-heading {

    h2 {
        float: left;
    }

    .body-heading-links {
        margin-left: 35px;
        margin-top: 22px;
        float: left;

        a {
            display: inline-block;
            float: left;

            span {
                float: right;
                margin-top: 5px;
            }
            &:hover span {
                text-decoration: underline;
            }
            &.icon i {
                min-height: 30px;
                padding: 5px 0px 0px 40px;
            }
        }

        @media screen and (max-width: @screen-sm-max) { // Tablet
            a.download-file {
                display: none;
            }
        }
    }

}