.polaroid {
    width: 100%;
    min-height: 80px;

    padding: 10px;
    border: 1px solid #ddd;
    .boxshadow(3px, 3px, 10px, 0px, #c0c0c0);
    background: #fff;

    &:hover {
        .boxshadow(3px, 3px, 10px, 0px, #666);
        border: 1px solid #ccc;
    }

    &.is-filtered-out {
        .opacity(0.2);
        .boxshadow(0px, 0px, 0px, 0px, #fff);
        border: 1px solid #c0c0c0;
    }

    .sticky {
        text-align: right;
        color: #666;
        font-size: 11px;
        margin: 0px;

        background: #FBEDCC;
        .boxshadow(2px, 2px, 3px, 0px, #c0c0c0);

        position: absolute;
        z-index: 9;
        padding: 10px;
        right: 5px;
        top: -10px;
    }
}