/* -----------------
Hyperlinks
----------------- */
a.info-popup {
    border-bottom: 1px dotted #428bca;
    &:hover {
        color: darken(#428BCA, 10%);
        text-decoration: none;
    }
}

/* -----------------
Popup
----------------- */
