.carousel-presentation {

    .icon-grid {
        width: 382px;
        margin: 0px auto;
        display: block;

        .icon-grid-item {
            margin-bottom: 0px;
        }
    }

    .owl-carousel {
        margin-top: 0px;
    }

    .item {
        padding: 20px;
    }

    .title {
        margin: 10px 0px 20px 0px;
        text-align: center;
        border-bottom: 1px solid #efefef;
        padding-bottom: 15px;
    }

    .secondary {
        color: #c0c0c0;
    }

    p {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-top: 15px;
    }

    .sticky {
        padding: 8px 12px;
        border: 1px solid #efefef;
        border-left: 3px solid #00CC99;
        background: #f7f7f7;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .info-box {
        margin: 0px auto;
        width: 275px;
        float: none;

        .caption {
            font-size: 13px;
            line-height: 18px;
            text-align: center;
        }
    }

}