.presentation {

    .icon-grid {
        width: 382px;
        margin: 0px auto;
        display: block;

        .icon-grid-item {
            margin-bottom: 0px;
        }
    }

    .owl-carousel {
        margin-top: 0px;
    }

    .item {
        padding: 20px;
    }

    .title {
        margin: 0px 0px 20px 0px;
        text-align: center;
        border-bottom: 1px solid #efefef;
        padding-bottom: 15px;
    }

    .secondary {
        color: #c0c0c0;
    }

    .sticky {
        padding: 8px 12px;
        border: 1px solid #efefef;
        border-left: 3px solid @red;
        // border: 1px solid #ddd;
        // .boxshadow(2px, 2px, 2px, 0px, #ddd);
        font-size: 18px;
        line-height: 26px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .info-box {
        max-width: none;
    }

}