.person-box {
    .info-box;
    .info-box-left;
    width: 220px;

    .person-photo {
        float: left;
    }

    .person-name {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .person-jobtitle {

    }
}


.company-heading {
    width: 375px;
    margin: 0px auto;
    
    .company-logo {
        float: left;
    }
}