.scattered-boxes {

    .box {

        padding: 15px;
        width: 100%;
        cursor: pointer;
        float: left;
        .bgopacity(#FFFFFF, 100%);
        .boxshadow(2px, 2px, 4px, 0px, #777);
        .box-border-bottom(#fff);
        background-repeat: no-repeat;

        .title {
            color: #fff;
            font-size: 30px;
            font-weight: normal;
            font-family: Arial;
            line-height: 40px;
            margin: 0px 0px 10px 0px;
        }
        .description, .icons {
            display: none;
        }
        .btn {
            .opacity(0.8);
            background: #fff;
            border-width: 1px;
            border-style: solid;

            position: absolute;
            bottom: 20px;
        }
        a:hover {
            text-decoration: none;
        }

        &.is-animating {
            background-color: #fff !important;
            margin-top: -5px;
            margin-bottom: 5px;
            border-bottom: 0px;
        }
        &.is-active {
            .title {
                font-size: 20px;
                line-height: 1.1;
                width: auto;
            }
            .btn {
                color: #fff !important;
            }
            .icons, p.description {
                display: block;
            }
        }


        /* -----------------
        Box 1 - Row 1, Col 1
        ----------------- */
        &.box-1 {
            margin-top: -20px;
            height: 184px;
            &.is-animating {
                margin-top: -30px;
            }
        }

        /* -----------------
        Box 2 - Row 1, Col 2
        ----------------- */
        &.box-2 {
            margin-top: -30px;
            height: 191px;
            &.is-animating {
                margin-top: -40px;
            }
        }

        /* -----------------
        Box 3 - Row 1, Col 3
        ----------------- */
        &.box-3 {
            margin-top: -10px;
            height: 192px;
            &.is-animating {
                margin-top: -20px;
                margin-bottom: 10px;
            }
        }

        /* -----------------
        Box 4 - Row 1, Col 4
        ----------------- */
        &.box-4 {
            height: 171px;
            &.is-animating {
                margin-top: -10px;
            }
        }

        /* -----------------
        Box 5 - Row 2, Col 1
        ----------------- */
        &.box-5 {
            margin-top: 0px;
            margin-left: 15px;
            height: 254px;
            &.is-animating {
                margin-top: -10px;
            }
        }

        /* -----------------
        Box 6 - Row 2, Col 2
        ----------------- */
        &.box-6 {
            height: 179px;
            margin-left: 15px;
            margin-top: 10px;
            &.is-animating {
                margin-top: 0px;
            }
        }

        /* -----------------
        Box 7 - Row 2, Col 3
        ----------------- */
        &.box-7 {
            height: 151px;
            margin-left: 15px;
            margin-top: 10px;
            &.is-animating {
                margin-top: 0px;
            }
        }

        /* -----------------
        Box 8 - Row 2, Col 4
        ----------------- */
        &.box-8 {
            margin-top: 20px;
            margin-left: 15px;
            height: 151px;
            &.is-animating {
                margin-top: 10px;
            }
        }


        /* -----------------
        Box Colours
        ----------------- */
        &.box-blue {
            background-color: @blue;
            &.is-animating {
                .box-border-top(@blue);
            }
            &.is-active {
                .title {
                    color: @blue;
                }
                .btn {
                    background: @blue;
                }
            }
            .btn {
                color: @blue;
                border-color: @blue;
            }
        }

        &.box-red {
            background-color: @red;
            .btn {
                color: @red;
                border-color: @red;
            }
            &.is-animating {
                .box-border-top(@red);
            }
            &.is-active {
                .title {
                    color: @red;
                }
                .btn {
                    background: @red;
                    border-color: @red;
                }
            }
        }

        &.box-green {
            background-color: @green;
            .btn {
                color: @green;
                border-color: @green;
            }
            &.is-animating {
                .box-border-top(@green);
            }
            &.is-active {
                .title {
                    color: @green;
                }
                .btn {
                    background: @green;
                }
            }
        }

        &.box-gold {
            background-color: @gold;
            .btn {
                color: @gold;
                border-color: @gold;
            }
            &.is-animating {
                .box-border-top(@gold);
            }
            &.is-active {
                .title {
                    color: @gold;
                }
                .btn {
                    background: @gold;
                }
            }
        }

        &.box-purple {
            background-color: @purple;
            .btn {
                color: @purple;
                border-color: @purple;
            }
            &.is-animating {
                .box-border-top(@purple);
            }
            &.is-active {
                .title {
                    color: @purple;
                }
                .btn {
                    background: @purple;
                }
            }
        }


        /* -----------------
        Box Icons
        ----------------- */
        &.box-skills {
            .decor('skills');
            background-position: 130% -40px;
            .icons {
                margin-top: 15px;
                .sprite(@boxicons-skills);
            }
        }
        &.box-cv {
            .decor('cv');
            background-position: 20% -30px;
            .icons {
                margin-top: -5px;
                .sprite(@boxicons-cv);
            }
        }
        &.box-portfolio {
            .decor('portfolio');
            background-position: 350% 8%;
            .icons {
                .sprite(@boxicons-portfolio);
            }
        }
        &.box-recruitment {
            .decor('recruitment');
            background-position: 150px 0px;
        }
        &.box-about {
            .decor('aboutme');
            background-position: 100px 50px;
        }
        &.box-feedback {
            .decor('feedback');
            background-position: 120px 0px;
        }
        &.box-contact {
            .decor('contact');
            background-position: 150px -50px;
        }


    }

    /* -----------------
    Mixins
    ----------------- */
    .box-border-bottom(@colour) {
        border-bottom-width: 5px;
        border-bottom-style: solid;
        border-bottom-color: @colour;
    }
    .box-border-top(@colour) {
        border-top-width: 5px;
        border-top-style: solid;
        border-top-color: @colour;
    }

}

/* -----------------
Small Desktop
----------------- */
@media screen and (max-width: @screen-md-max) {
    .scattered-boxes {
        .box {
            .title {
                font-size: 26px;
                line-height: 32px;
            }
            .icons {
                width: 100%;
                height: auto;
            }

            &.box-cv {
                background-position: 35% -30px;
                .description {
                    display: none !important;
                }
                .icons {
                    margin-top: 15px;
                }
                .btn {
                    margin-left: -4px;
                }
            }
            &.box-portfolio {
                background-position: -200% 8%;
                .icons {
                    margin-top: 17px;
                }
            }
            &.box-workflow {
                background-position: 30px -30px;
                .icons {
                    margin-top: 18px;
                }
            }
            &.box-employment {
                background-position: 100px -25px;
            }
            &.box-learning {
                background-position: 25px 0px;
            }
            &.box-about {
                background-position: 80px 0px;
            }
            &.box-contact {
                background-position: 95px -50px;
            }
        }
    }
}

/* -----------------
Tablet (Boxes vertically stacked)
----------------- */
@media screen and (max-width: @screen-sm-max) {
    .scattered-boxes {
        .box {
            margin: 0px 0px 10px 0px!important;
            height: 80px !important;
            background: #fff !important;
            .bgopacity(#ffffff, 40%) !important;
            background-position: 100% 0px !important;
            border-top-width: 0px !important;
            border-left: 4px solid #fff;
            border-bottom: 0px;

            .title {
                float: left;
                margin: 8px 20px 0px 0px;
                font-size: 34px;
                color: #555 !important;
            }
            .description {
                display: none !important;
            }
            .btn {
                float: left;
                position: relative;
                top: 8px;
                color: #fff !important;
            }
            .icons {
                display: none !important;
            }

            &.is-active {
                .title {
                    font-size: 34px;
                }
            }

            &.box.box-green {
                .scattered-boxes .box.box-green.is-active;
                border-left: 4px solid @green;
            }
            &.box.box-red {
                .scattered-boxes .box.box-red.is-active;
                .scattered-boxes .box.box-red.is-animating;
                border-left: 4px solid @red;
            }
            &.box.box-gold {
                .scattered-boxes .box.box-gold.is-active;
                .scattered-boxes .box.box-gold.is-animating;
                border-left: 4px solid @gold;
            }
            &.box.box-blue {
                .scattered-boxes .box.box-blue.is-active;
                .scattered-boxes .box.box-blue.is-animating;
                border-left: 4px solid @blue;
            }
            &.box.box-purple {
                .scattered-boxes .box.box-purple.is-active;
                .scattered-boxes .box.box-purple.is-animating;
                border-left: 4px solid @purple;
            }
            
            &.box-skills {
                background-position: 97% -135px !important;
            }
            &.box-cv {
                background-position: 115% -110px !important;
            }
            &.box-portfolio {
                background-position: 100% -30px !important;
            }
            &.box-employment {
                background-position: 110% -10px !important;
            }
            &.box-learning {
                .scattered-boxes .box.box-purple.is-active !important;
                border-left: 4px solid @purple !important;
                background-position: 105% -50px !important;
                .title {
                    color: #555 !important;
                }
                .btn {
                    .scattered-boxes .box.box-purple .btn;
                }
            }
            &.box-workflow {
                background-position: 100% -70px !important;
            }
            &.box-about {
                background-position: 100% -20px !important;
            }
            &.box-contact {
                background-position: 100% -70px !important;
            }
        }
    }
}

/* -----------------
Phone
----------------- */
@media screen and (max-width: @screen-xs-max) {
    .scattered-boxes .box {
        height: auto !important;

        .title, &.is-active .title {
            font-size: 24px;
            line-height: 30px;
            width: 40%;
            float: left;
            margin-right: 0px;
            margin-top: 2px;
        }
        .btn {
            float: right;
            top: 0px;
        }
    }
}
@media screen and (max-width: @screen-xs-max) and (orientation: portrait) {
    .scattered-boxes .box {
        .title, &.is-active .title {
            font-size: 22px;
            line-height: 26px;
        }
        .btn {
            // font-size: 13px;
        }
    }
}