.subnav {

    .subnav-item {
        margin: 0px 0px 10px 0px;
        width: 100%;
        background: #f5f5f5;
        cursor: pointer;

        &:hover {
            background: #dfdfdf;
            &.active {
                background: #f5f5f5;
            }
        }

        &.active {
            .theme-border;
            h3 {
                text-decoration: none;
            }
            a {
                background: none;
                border: 0px;
            }
        }

        h3, h4 {
            line-height: 130%;
            margin: 0px;
        }
        p {
            margin: 0px;
        }
        a {
            font-weight: bold;
            color: inherit;
            padding: 10px;
            margin: 0px !important;
            background: none !important;
            border: 0px !important;
        }
        small {
            font-weight: normal;
        }

        &.subnav-item-separated {
            margin-top: 20px;
        }

        ul, ul > li {
            margin: 0px;
            padding: 0px;
            list-style: none;
        }
        ul > li {
            padding: 5px 0px 10px 10px;
        }
        ul > li > a {
            font-weight: normal;
            text-decoration: none;
        }
        ul > li.active > a {
            font-weight: bold;
        }
    }

    ul {
        border-bottom: 0px;
    }

    @media screen and (max-width: @screen-sm-max) { // Tablet + Phone
        margin-bottom: 15px;
    }

}