<div class="layout-offcanvaspanel--inner">

  <h2><span class="js-projectname"></span> <a href="#" target="_blank" class="js-projecturl"></a></h2>
  <ul class="tabs tabs-primary">
    <li class="is-active"><a href="#/tab/desktop">Desktop</a></li>
    <li><a href="#/tab/tablet">Tablet</a></li>
    <li><a href="#/tab/phone">Phone</a></li>
  </ul>

  <div class="js-offcanvaspanel-loadedcontent">

    <div id="tab-desktop" class="tabs--content is-active">
      <div class="tabs-primary--contentmeta">
        <button class="button js-gallery-desktop-previous">&laquo; Previous</button>
        <span class="pagination"><span class="js-gallery-desktop-currentslide">1</span> / <span class="js-gallery-desktop-screenshotcount"></span></span>
        <button class="button js-gallery-desktop-next">Next &raquo;</button>
      </div>
      <div class="gallery js-gallery js-gallery-desktop"></div>
    </div>

    <div id="tab-tablet" class="tabs--content is-active">
      <div class="tabs-primary--contentmeta">
        <button class="button js-gallery-tablet-previous">&laquo; Previous</button>
        <span class="pagination"><span class="js-gallery-tablet-currentslide">1</span> / <span class="js-gallery-tablet-screenshotcount"></span></span>
        <button class="button js-gallery-tablet-next">Next &raquo;</button>
      </div>
      <div class="gallery js-gallery js-gallery-tablet"></div>
    </div>

    <div id="tab-phone" class="tabs--content is-active">
      <div class="tabs-primary--contentmeta">
        <button class="button js-gallery-phone-previous">&laquo; Previous</button>
        <span class="pagination"><span class="js-gallery-phone-currentslide">1</span> / <span class="js-gallery-phone-screenshotcount"></span></span>
        <button class="button js-gallery-phone-next">Next &raquo;</button>
      </div>
      <div class="gallery js-gallery js-gallery-phone"></div>
    </div>
  </div>

</div>