{{#projects}}

<div class="project">

  <span class="project--logo">{{#if company}}<img src="images/logos/company-{{urlFriendly company}}.jpg"/>{{/if}}</span>

  <span class="project--details">
    <h2 class="project--name">{{name}}</h2>
    <span class="project--date"></span>
    <a class="project--link" href="http://{{url}}" target="_blank">{{url}}</a>
    <p class="project--summary">{{description}}</p>
    <p>Responsibility: {{responsibility}}</p>
    <p>Technology: {{tech}}</p>
    <button class="project--opengallery button js-open-offcanvaspanel">Open Screenshot Gallery</button>
  </span>

  <span class="project--screenshots">
    <span class="imageinviewloader js-imageinviewloader">
      <span class="imageinviewloader--loading loadingicon">Loading...</span>
      <span class="imageinviewloader--content">
        <img data-src="images/portfolio/{{urlFriendly name}}/thumbnails/1.jpg" height="120" class="js-open-offcanvaspanel"/>
        <img data-src="images/portfolio/{{urlFriendly name}}/thumbnails/2.jpg" height="120" class="js-open-offcanvaspanel"/>
        <img data-src="images/portfolio/{{urlFriendly name}}/thumbnails/3.jpg" height="120" class="js-open-offcanvaspanel"/>
      </span>
    </span>
  </span>


  <div class="project--galleryimages js-offcanvaspanel-content" data-name="{{name}}" data-url="{{url}}">
    <div class="js-gallery-desktop" data-galleryid="desktop" data-screenshots="{{screenshots.desktop}}">
      <ul>
        {{#loop screenshots.desktop}}
        <li><img src="images/portfolio/{{urlFriendly ../name}}/{{.}}.jpg"/></li>
        {{/loop}}
      </ul>
    </div>
    <div class="js-gallery-tablet" data-galleryid="tablet" data-screenshots="{{screenshots.tablet}}">
      <ul>
        {{#loop screenshots.tablet}}
        <li><img src="images/portfolio/{{urlFriendly ../name}}/tablet/{{.}}.jpg"/></li>
        {{/loop}}
      </ul>
    </div>
    <div class="js-gallery-phone" data-galleryid="phone" data-screenshots="{{screenshots.phone}}">
      <ul>
        {{#loop screenshots.phone}}
        <li><img src="images/portfolio/{{urlFriendly ../name}}/phone/{{.}}.jpg"/></li>
        {{/loop}}
      </ul>
    </div>
  </div>

</div>

{{/projects}}