.project {
  @include span(full);

  margin-bottom: 30px;
  padding-bottom: 30px;

  border-bottom: 1px solid #efefef;
}

.project--logo {
  @include span(2);
  min-height: 1px; // Ensure column integrity when contents empty.
}

.project--details {
  @include span(4);
}

.project--screenshots {
  @include span(5 last);
}
.project--screenshots > img {
  @include span(4 of 12);
  cursor: pointer;
}
.project--screenshots > img:last-child {
  @include last;
}
.project--screenshots:hover > img {
  opacity: 0.9;
}


.project--name {
  padding: 0;
  margin: 0;
  background: none;

  margin-bottom: 12px;
}

.project--link {
  margin: 0 0 8px 0;
  display: inline-block;
}

.project--summary,
.project--opengallery {
  clear: both;
  display: inline-block;
}

.project--opengallery {
  margin-top: 16px;
}


.project--galleryimages {
  display: none;
}
