.button-special {
  color: #fff;
  background: linear-gradient(to bottom, #999 0%, #666 100%);
}

.button-special:hover {
  color: #fff;
  background: linear-gradient(to bottom, #ADADAD 0%, #7A7A7A 100%);
}
