.button {
  font-family: Arial;
  font-size: 14px;
  letter-spacing: 0px;
  text-align: center;

  padding: 6px 10px;

  // background: -webkit-linear-gradient(top, #3DC526 0%, #2B8C1B 100%);
  background: -webkit-linear-gradient(top, #FAFAFA 0%, #DEDEDE 100%);
  box-shadow: 0px 0px 1px 0px #666;
  border: 0;
  border-radius: 4px;
}
