.button-special {
  color: #fff;
  font-size: 1.2em;
  background: linear-gradient(to bottom, #999 0%, #666 100%);

  padding: 16px 24px;
}

.button-special:hover {
  color: #fff;
  background: linear-gradient(to bottom, #ADADAD 0%, #7A7A7A 100%);
}
