.button {
  color: #777;
  font-family: Arial;
  font-size: 1.1em;
  letter-spacing: 0px;
  text-align: center;

  padding: 6px 14px;
  display: inline-block;

  background: linear-gradient(to bottom, #FAFAFA 0%, #DEDEDE 100%);
  box-shadow: 0px 0px 1px 0px #666;
  border: 0;
  border-radius: 4px;
  outline: none;
}

.button:hover {
  color: #666;
  background: linear-gradient(to bottom, #fff 0%, #f1f1f1 100%);
}

.button + .button {
  margin-left: 10px;
}

.button-special {
  padding: 16px 24px;
}
