<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul class="nav navbar-nav">
          <li>
            <a class="email-address js-shared-modal js-track" data-modal="contact" href="#" data-track-category="Contact Modal Open" data-track-label="Footer Email Address">
              inbox@chrismendes.co.uk
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6">
        <p class="copyright">&copy; Chris Mendes 2015. All rights reserved.</p>
      </div>
    </div>
  </div>
</nav>