<!--
Header
-->
<div class="row">
  <div class="col-md-6">
    <h1 class="myname-mobile"><a href="#" class="js-track" data-track-category="Site Navigation" data-track-label="Logo - Home (Mobile)">Chris Mendes</a></h1>
  </div>
  <div class="col-md-6">
    <div class="mobile-menu-button">
      <a class="js-open-mobile-menu js-track" href="#" data-track-category="Mobile Menu Open/Close" data-track-label="Open"><span>MENU</span></a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="title">

      <h1 class="myname">Chris Mendes</h1>
      <span class="jobtitle">Contract Front-end Developer/Engineer</span>
      <p class="strapline">8 years commercial experience building applications for the web.</p>

    </div>

    <nav class="menu js-menu">
      <a class="home js-track" href="#" data-track-category="Site Navigation" data-track-label="Header Menu - Home">
        <i class="sprite sprite-home"></i>
        <span>Home</span>
      </a>
      <ul class="sitemap">
        <li class="js-menu-skills"><a href="#skills" class="js-track" data-track-category="Site Navigation" data-track-label="Header Menu - Skills/Expertise">Skills/Expertise</a></li>
        <li class="js-menu-cv"><a href="#cv" class="js-track" data-track-category="Site Navigation" data-track-label="Header Menu - My CV">CV</a></li>
        <li class="js-menu-portfolio"><a href="#portfolio" class="js-track" data-track-category="Site Navigation" data-track-label="Header Menu - My Portfolio">Portfolio</a></li>
        <li class="js-menu-feedback"><a href="#feedback" class="js-track" data-track-category="Site Navigation" data-track-label="Header Menu - Job Feedback">Job Feedback</a></li>
        <li class="js-menu-about"><a href="#about" class="js-track" data-track-category="Site Navigation" data-track-label="Header Menu - About Me">About Me</a></li>
        <li class="js-menu-recruitment"><a href="#recruitment" class="js-track" data-track-category="Site Navigation" data-track-label="Header Menu - Recruitment">Recruitment</a></li>
        <li class="js-menu-contact">
          <a href="#" class="js-shared-modal js-track" data-modal="contact" data-track-category="Contact Modal Open" data-track-label="Header Menu - Get in Touch/Contact">
            <span class="hidden-sm">Get In Touch</span>
            <span class="visible-sm hidden-md">Contact</span>
          </a>
        </li>
      </ul>
    </nav>
    
  </div>
</div>