<!--
Header
-->
<div class="row">
  <div class="col-md-6">
    <h1 class="myname-mobile">Chris Mendes</h1>
  </div>
  <div class="col-md-6">
    <div class="mobile-menu-button">
      <a class="js-open-mobile-menu" href="#"><span>MENU</span></a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="title">

      <h1 class="myname">Chris Mendes</h1>
      <span class="jobtitle">Contract Front-end Web Developer</span>
      <p class="strapline">8 years commercial experience. Hard working, pragmatic, and passionate.</p>

    </div>

    <nav class="menu js-menu">
      <a class="home" href="#">
        <img class="icon" src="images/icons/home.png" width="17" height="17" alt="Home"/>
        <span>Home</span>
      </a>
      <ul class="sitemap">
        <li class="js-menu-skills"><a href="#skills">Skills/Expertise</a></li>
        <li class="js-menu-cv"><a href="#cv">CV</a></li>
        <li class="js-menu-portfolio"><a href="#portfolio">Portfolio</a></li>
        <li class="js-menu-feedback"><a href="#feedback">Job Feedback</a></li>
        <!-- <li class="js-menu-about"><a href="#about">About Me</a></li> -->
        <li class="js-menu-recruitment"><a href="#recruitment">Recruitment</a></li>
        <li class="js-menu-contact">
          <a href="#">
            <span class="hidden-sm">Get In Touch</span>
            <span class="visible-sm hidden-md">Contact</span>
          </a>
        </li>
      </ul>
    </nav>
    
  </div>
</div>