<nav class="mobile-menu-container js-menu-mobile">
  <a class="close-mobile-menu js-close-mobile-menu" href="#">CLOSE X</a>
  <ul class="landscape-col-left">
    <li class="blue js-menu-home"><a href="#">Home</a></li>
    <li class="red js-menu-skills"><a href="#skills">Skills &amp; Expertise</a></li>
    <li class="red js-menu-cv"><a href="#cv">My CV</a></li>
    <li class="red js-menu-portfolio"><a href="#portfolio">My Portfolio</a></li>
  </ul>
  <ul class="landscape-col-right">
    <li class="green js-menu-feedback"><a href="#feedback">Job Feedback</a></li>
    <li class="green js-menu-recruitment"><a href="#recruitment">Recruitment</a></li>
    <li class="green js-menu-about"><a href="#about">About Me</a></li>
    <li class="blue js-menu-contact"><a href="#" class="js-shared-modal" data-modal="contact">Get In Touch</a></li>
  </ul>
</nav>