<nav class="mobile-menu-container js-menu-mobile">
  <a class="close-mobile-menu js-close-mobile-menu" href="#">CLOSE X</a>
  <ul class="landscape-col-left">
    <li class="blue js-menu-home">
      <a href="#">
        <span class="icon"><span class="sprite sprite-mobile-menu-home"></span></span>
        <span class="link-label">Home</span>
      </a>
    </li>
    <li class="red js-menu-skills">
      <a href="#skills">
        <span class="icon"><span class="sprite sprite-mobile-menu-skills"></span></span>
        <span class="link-label">Skills &amp; Expertise</span>
      </a>
    </li>
    <li class="red js-menu-cv">
      <a href="#cv">
        <span class="icon"><span class="sprite sprite-mobile-menu-cv"></span></span>
        <span class="link-label">My CV</span>
      </a>
    </li>
    <li class="red js-menu-portfolio">
      <a href="#portfolio">
        <span class="icon"><span class="sprite sprite-mobile-menu-portfolio"></span></span>
        <span class="link-label">My Portfolio</span>
      </a>
    </li>
  </ul>
  <ul class="landscape-col-right">
    <li class="green js-menu-feedback">
      <a href="#feedback">
        <span class="icon"><span class="sprite sprite-mobile-menu-feedback"></span></span>
        <span class="link-label">Job Feedback</span>
      </a>
    </li>
    <li class="green js-menu-recruitment">
      <a href="#recruitment">
        <span class="icon"><span class="sprite sprite-mobile-menu-recruitment"></span></span>
        <span class="link-label">Recruitment</span>
      </a>
    </li>
    <li class="green js-menu-about">
      <a href="#about">
        <span class="icon"><span class="sprite sprite-mobile-menu-about"></span></span>
        <span class="link-label">About Me</span>
      </a>
    </li>
    <li class="blue js-menu-contact">
      <a href="#" class="js-shared-modal" data-modal="contact">
        <span class="icon"><span class="sprite sprite-mobile-menu-contact"></span></span>
        <span class="link-label">Get In Touch</span>
      </a>
    </li>
  </ul>
</nav>