<div id="page-modal" class="modal fade js-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span class="label">Close</span><span aria-hidden="true">&times;</span>
        </button>
        <div class="js-modal-header">
          
        </div>
      </div>
      <div class="js-modal-body modal-body">

      </div>
    </div>
  </div>
</div>