<!--
Contact Modal
-->
<div class="js-modal-content-contact hide" data-modal-large="false">
  <div class="js-modal-content-header">
    <h3>Get In Touch</h3>
  </div>
  <div class="js-modal-content-body">
    <div class="row">
      <div class="col-xs-12">
        <!-- <p>Thank you for your interest, but please note that I am <strong>not</strong> looking for a new contract at this time.</p> -->
        <p>Please feel free to email me about a contractor vacancy outlining the role, required skills, daily rate, and the location.</p>
        <p>I'll be happy to reply by email or phone should the role suit what I am looking for.</p>
      </div>
    </div>
    <div class="row">
      <div class="side-by-side-content">
        <div class="side-by-side-content-column col-md-6">
          <p><strong>Email Address</strong></p>
          <a href="mailto:inbox@chrismendes.co.uk" class="btn js-track" data-track-category="Contact Modal" data-track-label="Email Address">
            inbox@chrismendes.co.uk
          </a>
        </div>
        <div class="side-by-side-content-column col-md-6">
          <p><strong>LinkedIn Profile</strong></p>
          <a href="http://uk.linkedin.com/in/chrismendes" target="_blank" class="btn js-track" data-track-category="Contact Modal" data-track-label="LinkedIn Link">
            uk.linkedin.com/in/chrismendes
          </a>
        </div>
      </div>
    </div>
    <!-- Hide the below when not available for work -->
    <div class="row">
      <div class="col-md-12">
        <br/><p>I will <strong>not</strong> be considering permanent positions so please limit emails to <u>contract roles only</u>.</p>
        <p>See the <a href="#recruitment" class="js-close-modal js-track" data-track-category="Contact Modal" data-track-label="See recruitment page for details">Recruitment</a> page for details.</p>
      </div>
    </div>
  </div>
</div>