<!--
Contact Modal
-->
<div class="js-modal-content-contact hide" data-modal-large="false">
  <div class="js-modal-content-header">
    <h3>Get In Touch</h3>
  </div>
  <div class="js-modal-content-body">
    <div class="row">
      <div class="side-by-side-content">
        <div class="side-by-side-content-column col-md-6">
          <p><strong>Email Address</strong></p>
          <a href="mailto:inbox@chrismendes.co.uk" class="btn">inbox@chrismendes.co.uk</a>
        </div>
        <div class="side-by-side-content-column col-md-6">
          <p><strong>LinkedIn Profile</strong></p>
          <a href="http://uk.linkedin.com/in/chrismendes" target="_blank" class="btn">uk.linkedin.com/in/chrismendes</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <br/><p>Regarding contract vacancies, please provided the following information:</p>
        <ul>
          <li>Skills Required</li>
          <li>Daily Rate</li>
          <li>Location</li>
        </ul>
        <p>I will not be considering permanent positions so please limit emails to <u>contract roles only</u>.</p>
        <p>See <a href="#recruitment" class="js-close-modal">Recruitment</a> page for more details.</p>
      </div>
    </div>
  </div>
</div>