<!--
Template - About Me
-->
<div class="page-container is-hidden js-fadein">

  <div class="row">
    <div class="col-md-12">
      <article class="content-canvas theme-border decor-about">
        <h2>About Me</h2>
        
        <div class="presentation">
          <div class="row">
            <div class="col-md-12">

              <!--
              <div class="owl-carousel-navigation">
                <a class="previous js-carousel-previous" href="#">< Previous Slide</a>
                <a class="next js-carousel-next" href="#">Next Slide ></a>
              </div>
              -->
              <div class="icon-grid icon-grid-single-row">
                <div class="icon-grid-column">

                  <div class="icon-grid-item js-slide-link is-active" data-slide="0">
                    <img src="images/icons/topic-intro.png"/>
                  </div>
                  <div class="icon-grid-item js-slide-link" data-slide="1">
                    <img src="images/icons/topic-career.png"/>
                  </div>
                  <div class="icon-grid-item js-slide-link" data-slide="2">
                    <img src="images/icons/topic-sport.png"/>
                  </div>
                  <div class="icon-grid-item js-slide-link" data-slide="3">
                    <img src="images/icons/topic-interests.png"/>
                  </div>
                  <div class="icon-grid-item js-slide-link" data-slide="4">
                    <img src="images/icons/topic-misc.png"/>
                  </div>
                  <div class="icon-grid-item js-slide-link" data-slide="5">
                    <img src="images/icons/topic-intro.png"/>
                  </div>

                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="owl-carousel js-carousel">

                <!--
                Intro
                -->
                <div class="item">
                  <h3 class="title">Introduction</h3>
                  <div class="row">
                    <div class="col-md-5">
                      <img src="images/photos/self.jpg" class="img-thumbnail"/>
                    </div>
                    <div class="col-md-7">
                      <p class="sticky">My name is Chris. <span class="secondary">(You knew that already!)</span></p>
                      <p class="sticky">I grew up and currently live in Croydon, south London - a 20 minute train journey from central London.</p>
                      <p class="sticky">Those who know me would describe me as a friendly, approachable, and honest person.</p>
                      <!-- <p class="sticky">In the workplace they would say that I'm a calm, composed, and pragmatic person.</p> -->
                    </div>
                  </div>
                </div>

                <div class="item active">
                  <h3 class="title">Career Ambition</h3>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="info-box">
                        <img class="image" src="images/photos/developer-bear.jpg"/>
                        <p class="caption">Always looking to learn new technologies from home</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="info-box">
                        <img class="image" src="images/photos/developer-bear.jpg"/>
                        <p class="caption">Always looking to learn new technologies from home</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="info-box">
                        <img class="image" src="images/photos/developer-bear.jpg"/>
                        <p class="caption">Always looking to learn new technologies from home</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <h3 class="title">Sport</h3>
                </div>
                <div class="item">
                  <h3 class="title">General Interests</h3>
                </div>
                <div class="item">
                  <h3 class="title">Random Facts</h3>
                </div>
                <div class="item">
                  <h3 class="title">Army Reserve</h3>
                </div>
              </div>
            </div>

          </div>
        </div>

      </article>
    </div>
  </div>

</div>