<!--
Template - About Me
-->
<div class="page-container is-hidden js-fadein">

  <div class="row">
    <div class="col-md-12">
      <article class="content-canvas theme-border decor-about">
        <h2>About Me</h2>
        
        <div class="carousel-presentation">
          <div class="row">
            <div class="col-md-3 col-sm-2 hidden-xs">
              <a class="nav nav-previous js-carousel-previous" href="#">< Previous<span class="visible-md-inline visible-lg-inline"> Slide</span></a>
            </div>
            <div class="col-md-6 col-sm-8 col-xs-12">

              <div class="icon-grid icon-grid-single-row">
                <div class="icon-grid-column">
                  <div class="row-mobile">
                    <!-- Intro -->
                    <div class="icon-grid-item js-slide-link is-active" data-slide="0">
                      <span class="sprite sprite-topic-intro"></span>
                    </div>
                    <!-- Career Ambition -->
                    <div class="icon-grid-item js-slide-link" data-slide="1">
                      <span class="sprite sprite-topic-career"></span>
                    </div>
                    <!-- General Interests -->
                    <div class="icon-grid-item js-slide-link" data-slide="2">
                      <span class="sprite sprite-topic-interests"></span>
                    </div>
                  </div>
                  <div class="row-mobile">
                    <!-- Sport -->
                    <div class="icon-grid-item js-slide-link" data-slide="3">
                      <span class="sprite sprite-topic-sport"></span>
                    </div>
                    <!-- Random Facts -->
                    <div class="icon-grid-item js-slide-link" data-slide="4">
                      <span class="sprite sprite-topic-misc"></span>
                    </div>
                    <!-- TA -->
                    <div class="icon-grid-item js-slide-link" data-slide="5">
                      <span class="sprite sprite-topic-end"></span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-3 col-sm-2 hidden-xs">
              <a class="nav nav-next js-carousel-next" href="#">Next<span class="visible-md-inline visible-lg-inline"> Slide</span> ></a>
            </div>
          </div>
          <div class="row visible-xs">
            <div class="col-xs-5 col-xs-offset-1">
              <a class="nav nav-previous js-carousel-previous" href="#">< Prev Slide</span></a>
            </div>
            <div class="col-xs-5">
              <a class="nav nav-next js-carousel-next" href="#">Next Slide</span> ></a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="owl-carousel js-carousel js-carousel-track" data-track-category="About Me" data-track-label="Carousel Slide - #">

                <!--
                Intro
                -->
                <div class="item slide-intro js-carousel-item" data-track-label="Introduction">
                  <h3 class="title">Introduction</h3>
                  <div class="row">
                    <div class="col-md-4">
                      <img src="images/photos/self.jpg" class="img-thumbnail"/>
                    </div>
                    <div class="col-md-8">
                      <p class="sticky">My name is Chris. <span class="secondary">(You knew that already!)</span></p>
                      <p class="sticky">I grew up and currently live in Croydon, south London - a 20 minute train journey from central London.</p>
                      <p class="sticky">Those who know me would describe me as a friendly, very approachable, and an honest person.</p>
                    </div>
                  </div>
                </div>

                <!--
                Career Ambition
                -->
                <div class="item slide-career js-carousel-item" data-track-label="Career Ambition">
                  <h3 class="title">Career Ambition</h3>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="sticky">I'm an ambitious person who's aiming for an extensive career becoming as skilled and experienced as possible.</p>
                    </div>
                    <div class="col-md-6">
                      <p class="sticky">Later in life I'd like to move on and focus exclusively on my own business enterprise.</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 col-sm-4">
                      <h4>Learning New Tech</h4>
                      <div class="info-box">
                        <img class="image" src="images/photos/career-bear.jpg"/>
                        <p class="caption">Always exploring new web technologies at home.</p>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <h4>Switch to Contracting</h4>
                      <div class="info-box">
                        <img class="image" src="images/photos/career-buildings.jpg"/>
                        <p class="caption">Recently switched from permanent to contractor to broaden my horizons.</p>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <h4>My Own Product</h4>
                      <div class="info-box">
                        <img class="image" src="images/photos/career-appstore.jpg"/>
                        <p class="caption">Working in the background on my own phone app.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <!--
                General Interests
                -->
                <div class="item slide-interests l-spaced-rows js-carousel-item" data-track-label="General Interests">
                  <h3 class="title">General Interests</h3>
                  <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12 col-md-offset-1 content-column">
                      <div class="info-box info-box-xsmall">
                        <h4>Music</h4>
                        <img class="image" src="images/photos/interest-music.jpg"/>
                        <p class="caption">Pop and pop rock in particular.</p>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 content-column">
                      <div class="info-box info-box-xsmall">
                        <h4>History</h4>
                        <img class="image" src="images/photos/interest-history.jpg"/>
                        <p class="caption">Interested in the Roman and British empires.</p>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 content-column">
                      <div class="info-box info-box-xsmall">
                        <h4>Business</h4>
                        <img class="image" src="images/photos/interest-business.jpg"/>
                        <p class="caption">Company start-up, marketing, selling.</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12 col-md-offset-2 content-column">
                      <div class="info-box info-box-xsmall info-box-left">
                        <h4>TV Box Sets</h4>
                        <img class="image" src="images/photos/interest-tv.jpg"/>
                        <p class="caption">Character driven dramas like Breaking Bad.</p>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 content-column">
                      <div class="info-box info-box-xsmall info-box-left">
                        <h4>Cooking</h4>
                        <img class="image" src="images/photos/interest-cooking.jpg"/>
                        <p class="caption">Complete beginner but I'm learning!</p>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 content-column">
                      <div class="info-box info-box-xsmall info-box-left">
                        <h4>Cat Selfies</h4>
                        <img class="image" src="images/photos/interest-catselfie.jpg"/>
                        <p class="caption">This is what I came up with for the last box.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <!--
                Sport
                -->
                <div class="item slide-sport js-carousel-item" data-track-label="Sport">
                  <h3 class="title">Sport</h3>

                  <div class="side-by-side-content">
                    <div class="row">
                      <div class="side-by-side-content-column col-md-6">
                        <h4>Football</h4>
                        <p class="sticky">As a midfielder I'm a quick runner, have a good first touch and good vision on the pitch! <span class="secondary">(in my opinion :p)</span></p>
                        <div class="info-box info-box-small info-box-left">
                          <img class="image" src="images/photos/sport-football-1.jpg"/>
                          <p class="caption">Have played competitive football since the age of 10.</p>
                        </div>
                        <div class="info-box info-box-small info-box-right">
                          <img class="image" src="images/photos/sport-football-2.jpg"/>
                          <p class="caption">Still play Sunday league football today.</p>
                        </div>
                      </div>
                      <div class="side-by-side-content-column col-md-6">
                        <h4>Table Tennis</h4>
                        <p class="sticky">Was very good at hitting the ball... seriously, I was good at fast top-spin attacking shots that wern't expected!</p>
                        <div class="info-box info-box-small info-box-left">
                          <img class="image" src="images/photos/sport-tabletennis-1.jpg"/>
                          <p class="caption">Played competitively during teenage years between 13-17.</p>
                        </div>
                        <div class="info-box info-box-small info-box-right">
                          <img class="image" src="images/photos/sport-tabletennis-2.jpg"/>
                          <p class="caption">Used to play in the Sutton &amp; District League, singles and doubles.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--
                Random Facts
                -->
                <div class="item slide-random js-carousel-item" data-track-label="Random Facts">
                  <h3 class="title">Random Facts</h3>
                  <div class="row">
                    <div class="fact">
                      <div class="col-md-2 col-md-offset-1 col-xs-4 column-image">
                        <img class="img-thumbnail" src="images/photos/random-films.jpg"/>
                      </div>
                      <div class="col-md-3 col-xs-8 column-text">
                        <p class="question sticky">Favourite Films</p>
                        <p class="answer">The Prestige, Memento, Shutter Island</p>
                      </div>
                    </div>
                    <div class="fact">
                      <div class="col-md-3 col-xs-8 column-text">
                        <p class="question sticky">How I Relax</p>
                        <p class="answer">Computer games, Listen to music, Sleep :p</p>
                      </div>
                      <div class="col-md-2 col-xs-4 column-image">
                        <img class="img-thumbnail" src="images/photos/random-games.jpg"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="fact">
                      <div class="col-md-2 col-xs-4 column-image">
                        <img class="img-thumbnail" src="images/photos/random-people.jpg"/>
                      </div>
                      <div class="col-md-3 col-xs-8 column-text">
                        <p class="question sticky">People I Admire</p>
                        <p class="answer">Christopher Hitchens, Gordon Ramsay, Derren Brown</p>
                      </div>
                    </div>
                    <div class="fact">
                      <div class="col-md-3 col-md-offset-2 col-xs-8 column-text">
                        <p class="question sticky">Favourite Food</p>
                        <p class="answer">Italian</p>
                      </div>
                      <div class="col-md-2 col-xs-4 column-image">
                        <img class="img-thumbnail" src="images/photos/random-food.jpg"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="fact">
                      <div class="col-md-2 col-md-offset-1 col-xs-4 column-image">
                        <img class="img-thumbnail" src="images/photos/random-career.jpg"/>
                      </div>
                      <div class="col-md-3 col-xs-8 column-text">
                        <p class="question sticky">Fantasy Career</p>
                        <p class="answer">Premier League Footballer</p>
                      </div>
                    </div>
                    <div class="fact">
                      <div class="col-md-3 col-xs-8 column-text">
                        <p class="question sticky">Favourite School Subject</p>
                        <p class="answer">PE and Drama. Geography was absolutely pointless.</p>
                      </div>
                      <div class="col-md-2 col-xs-4 column-image">
                        <img class="img-thumbnail" src="images/photos/random-school.jpg"/>
                      </div>
                    </div>
                  </div>
                </div>

                <!--
                Thanks
                -->
                <div class="item slide-thanks js-carousel-item" data-track-label="That's it!">
                  <h3 class="title">That's it!</h3>
                  <p class="sticky">Thanks for browsing through this very short "about me" presentation.</p>
                  <p>And thanks to Merlin for making the process of putting this together take twice as long as it needed to.</p>
                  <div class="photos">
                    <img src="images/photos/merlin2.jpg" class="img-thumbnail" width="333" height="250" alt="Merlin"/>
                    <img src="images/photos/merlin1.jpg" class="img-thumbnail" width="187" height="250" alt="Merlin"/>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </article>
    </div>
  </div>

</div>