<!--
Template - Code Samples
-->
<div class="page-container is-hidden js-fadein">

  <div class="row">
    <div class="col-md-12">
      <article class="content-canvas theme-border decor-portfolio">
        <h2>Code Samples</h2>
          
        <section class="l-content-rows">

          <div class="row">
            <div class="col-md-10 col-sm-9">
              <p class="large">Below are a handful of projects that I have published to my GitHub account for code review purposes.</p>
            </div>
          </div>

          <!--
          AngularJS Dream Team
          -->
          <div class="row">

            <div class="codesample">

              <div class="codesample--logo">
                <span class="sprite sprite-tech-angularjs"></span>
              </div>
              <div class="codesample--description">

                <h3>Football Dream Team</h3>
                <p>Pick your Premier League football dream team amongst an array of players and submit to the database to compare with teams submitted by other users.</p>
                <p>This project built completely from scratch was a major part of my AngularJS learning process and I was keen to implement both framework fundamentals as well as established best practices.</p>

                <p class="codesample--description--tech">
                  <span class="label">AngularJS</span>
                  <span class="label">jQuery</span>
                  <span class="label">Firebase</span>
                  <span class="label">Sass</span>
                  <span class="label">SMACSS</span>
                  <span class="label">Susy</span>
                </p>

              </div>
              <div class="codesample--actions">

                <a class="btn btn-blue btn-icon js-track" href="#" target="_blank">
                  <i class="sprite sprite-repository-button"></i>
                  <span>Go to app ></span>
                </a>
                <a class="btn btn-red btn-icon js-track" href="#" target="_blank">
                  <i class="sprite sprite-repository-button"></i>
                  <span>Review code ></span>
                </a>

              </div>
              <div class="codesample--screenshot">
                <img src="images/projects/sample-dreamteam/thumb.jpg" width="220" height="157" alt="Sample AngularJS App"/>
              </div>

            </div>

          </div>

          <!--
          Shopping Basket
          -->
          <div class="row">

            <div class="codesample">

              <div class="codesample--logo">
                <span class="sprite sprite-tech-javascript"></span>
              </div>
              <div class="codesample--description">

                <h3>Shopping Basket</h3>
                <p>A previous code test for an interview, the task was to implement the required shopping basket functionality and match a PSD design without the use of any framework or grid system.</p>
                <p>My solution consisted of an MVC pattern with vanilla JavaScript, jQuery for DOM manipulation, and Handlebars for templating.</p>

                <p class="codesample--description--tech">
                  <span class="label">JavaScript</span>
                  <span class="label">jQuery</span>
                  <span class="label">Handlebars</span>
                  <span class="label">Responsive Web Dev</span>
                  <span class="label">SMACSS</span>
                </p>

              </div>
              <div class="codesample--actions">

                <a class="btn btn-blue btn-icon js-track" href="#" target="_blank">
                  <i class="sprite sprite-repository-button"></i>
                  <span>Go to app ></span>
                </a>
                <a class="btn btn-red btn-icon js-track" href="#" target="_blank">
                  <i class="sprite sprite-repository-button"></i>
                  <span>Review code ></span>
                </a>

              </div>
              <div class="codesample--screenshot">
                <img src="images/projects/sample-basket/thumb.jpg" width="220" height="157" alt="Sample AngularJS App"/>
              </div>

            </div>

          </div>

          <!--
          My Website
          -->
          <div class="row">

            <div class="codesample">

              <div class="codesample--logo">
                <span class="sprite sprite-tech-css"></span>
              </div>
              <div class="codesample--description">

                <h3>My Website</h3>
                <p>Fully responsive portfolio site built predominantly with Backbone.js and Twitter Bootstrap.</p>
                <p><a href="http://chrismendes.london">chrismendes.london</a></p>

                <p class="codesample--description--tech">
                  <span class="label">Backbone.js</span>
                  <span class="label">jQuery</span>
                  <span class="label">Underscore</span>
                  <span class="label">Responsive Web Dev</span>
                  <span class="label">SMACSS</span>
                </p>

              </div>
              <div class="codesample--actions">

                <a class="btn btn-red btn-icon js-track" href="#" target="_blank">
                  <i class="sprite sprite-repository-button"></i>
                  <span>Review code ></span>
                </a>

              </div>
              <div class="codesample--screenshot">
                <img src="images/projects/sample-mysite/thumb.jpg" width="220" height="157" alt="Sample AngularJS App"/>
              </div>

            </div>

          </div>

        </section>

      </article>
    </div>
  </div>

</div>