<!--
Template - My CV
-->
<div class="page-container is-hidden js-fadein">

  <div class="l-cv theme-red">
    <div class="row">
      <div class="col-md-12">
        <article class="content-canvas theme-border decor-cv">
          <div class="row">
            <div class="col-md-12">
              <div class="body-heading">
                <h2>My CV</h2>
                <div class="body-heading-links">
                  <a href="/docs/CV-Chris_Mendes.pdf" class="icon download-file js-track" target="_blank" data-track-category="My CV" data-track-label="CV PDF Download">
                    <i class="sprite sprite-download-pdf"></i>
                    <span>Download</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          
          <!--
          Basic information
          -->
          <section class="l-cv-table">
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <div class="row">
                  <div class="col-sm-2 column-heading">
                    <span><strong>Residence</strong>:</span>
                  </div>
                  <div class="col-sm-4">
                    <span>Croydon, South London</span>
                  </div>
                  <div class="col-sm-2 column-heading">
                    <span><strong>Email</strong>:</span>
                  </div>
                  <div class="col-sm-4">
                    <span><a href="#" class="js-shared-modal js-track" data-modal="contact" data-track-category="Contact Modal Open" data-track-label="CV Email Address">
                      inbox@chrismendes.co.uk
                    </a></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2 column-heading">
                    <span><strong>Nationality</strong>:</span>
                  </div>
                  <div class="col-sm-4">
                    <span>British</span>
                  </div>
                  <div class="col-sm-5 column-heading">
                    <span>Considering <u>contract roles</u> only.</span>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
          <!--
          Introduction
          -->
          <section>
            <h3>Introduction</h3>
            <p>
              I'm an experienced Web Developer, primarily with front-end development, with eight years commercial experience working on a wide range of projects.
              <br class="visible-xs-block"/><br class="visible-xs-block"/>
              With a natural flair for problem-solving I am a very determined, resourceful, and professional individual driven to create commercially successful products to high technical standards.
            </p>
          </section>
          
          <!--
          Skill set
          -->
          <section>
            <h3>Technical Skill Set</h3>
            <p>See <a href="#skills" class="js-track" data-track-category="My CV" data-track-label="See Skills/Expertise for details">Skills &amp; Expertise</a> for more details.</p><br/>
            <div class="row">
              <div class="col-md-6">
                <h4>Key Skills</h4>
                <ul>
                  <li>HTML5, CSS3, Sass, LESS, Foundation, Twitter Bootstrap</li>
                  <li>JavaScript, jQuery, Backbone.js, Underscore, Require.js</li>
                  <li>PHP, MySQL, Laravel, CodeIgniter</li>
                  <li>Git, Grunt, Bower</li>
                </ul>
              </div>
              <div class="col-md-6">
                <h4>Key Knowledge</h4>
                <ul>
                  <li>Building web applications from scratch</li>
                  <li>Object-oriented, modular, scalable code</li>
                  <li>Responsive web development</li>
                  <li>Web performance and optimisation</li>
                </ul>
              </div>
            </div>
          </section>
          
          <!--
          Employment
          -->
          <section>
            <h3>Employment</h3>

            <div class="tabbed-content">

              <div class="tabbed-content-tabs">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="active tab-icon">
                    <a href="#contract" role="tab" class="js-track" data-toggle="tab" data-track-category="My CV" data-track-label="Tab - Contract">
                      <i class="icon sprite sprite-device-laptop"></i>
                      <span>Contract <small class="sub-label">(2014 - Present)</small></span>
                    </a>
                    <ul class="subnav-mobile">
                      <li class="active"><a href="#akqa" role="tab" data-toggle="tab">AKQA <span class="secondary-caption">(December - February)</span></a></li>
                      <li><a href="#capablue" role="tab" data-toggle="tab">Capablue <span class="secondary-caption">(May - October)</span></a></li>
                    </ul>
                  </li>
                  <li class="tab-icon">
                    <a href="#permanent" role="tab" class="js-track" data-toggle="tab" data-track-category="My CV" data-track-label="Tab - Permanent">
                      <i class="icon sprite sprite-device-desktop"></i>
                      <span>Permanent <small class="sub-label">(2005 - 2014)</small></span>
                    </a>
                    <ul class="subnav-mobile">
                      <li class="active"><a href="#dnx" class="js-track" role="tab" data-toggle="tab" data-track-category="My CV" data-track-label="Tab - Permanent - DNX">
                        DNX Marketing
                      <span class="secondary-caption">2012 - 2014</span></a></li>
                      <li><a href="#fingo" class="js-track" role="tab" data-toggle="tab" data-track-category="My CV" data-track-label="Tab - Permanent - Fingo">
                        Fingo Marketing
                      <span class="secondary-caption">2010 - 2012</span></a></li>
                      <li><a href="#musictalents" class="js-track" role="tab" data-toggle="tab" data-track-category="My CV" data-track-label="Tab - Permanent - Music Talents">
                        Music Talents
                      <span class="secondary-caption">2006 - 2008</span></a></li>
                      <li><a href="#soundsmusical" class="js-track" role="tab" data-toggle="tab" data-track-category="My CV" data-track-label="Tab - Permanent - Soundsmusical">
                        Sounds Musical
                      <span class="secondary-caption">2005 - 2006</span></a></li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="tab-content">
                
                <div class="tab-pane active" id="contract">
                  <div class="row">
                    <div class="col-md-3 hidden-xs">
                      <div class="category-column category-column-whitebg">
                        <ul class="nav nav-tabs" role="tablist">
                          <li class="category-column-box active">
                            <a href="#akqa" role="tab" data-toggle="tab">AKQA <small>December - February</small></a>
                          </li>
                          <li class="category-column-box">
                            <a href="#capablue" role="tab" data-toggle="tab">Capablue <small>May - October</small></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-9 col-xs-12">

                      <div class="tab-content">
                        <!--
                        Job - AKQA
                        -->
                        <div class="tab-pane active" id="akqa">
                          <div class="info-box">
                            <a href="http://www.akqa.com" target="_blank" class="js-track" data-track-category="My CV" data-track-label="Tab - Contract - AKQA">
                              <span class="image sprite sprite-company-akqa"></span>
                            </a>
                            <a class="link" href="http://www.akqa.com" target="_blank">www.akqa.com</a>
                            <p class="caption">Worldwide digital agency. Clients include Nike, Microsoft, Volkswagen, Heineken, Barclays, Barclaycard, Mini, Audi, and many more.</p>
                          </div>
                          <p><strong>Job Title</strong>: Contract Front-end Developer</p>
                          <p><strong>Date</strong>: December 2014 - February 2015</p>
                          <p><strong>Overview</strong></p>
                          <p>AKQA, one of the world's largest and most successful digital agencies, are delivering a new website for one of their UK clients - Barclaycard - to launch a new product later in the year.</p>
                          <p>I have been hired as part of a two man development team to build the front-end of the new site. Together we are working within a wider team of AKQA creative designers, UX designers, copywriters, QA testers, project manager and technical delivery manager.</p>
                          <p>Further details about the project will be given when permitted.</p>
                          <p><strong>Key Skills/Expertise Utilised</strong></p>
                          <ul>
                            <li>HTML5, CSS3, LESS, Twitter Bootstrap</li>
                            <li>JavaScript, jQuery</li>
                            <li>Responsive Development</li>
                          </ul>
                        </div>

                        <!--
                        Job - Capablue
                        -->
                        <div class="tab-pane" id="capablue">
                          <div class="info-box">
                            <a href="http://www.capablue.com" target="_blank" class="js-track" data-track-category="My CV" data-track-label="Tab - Contract - Capablue">
                              <span class="image sprite sprite-company-capablue"></span>
                            </a>
                            <a class="link" href="http://www.capablue.com" target="_blank">www.capablue.com</a>
                            <p class="caption">Broadcast media company. "A leading provider of Smart Solutions for Connected Broadcasters and Operators - Backed by Arqiva."</p>
                          </div>
                          <p><strong>Job Title</strong>: Contract Front-end Developer</p>
                          <p><strong>Date</strong>: May 2014 - October 2014</p>
                          <p><strong>Overview</strong></p>
                          <p>At this highly innovative company - owned by <a href="http://www.arqiva.com" target="_blank">Arqiva</a>, a leading communications infrastructure company - I was drafted in to develop a white-label product for a new multi-channel live TV streaming web application accessible on desktops, tablets, and mobile devices (similar concept to BBC iPlayer).</p>
                          <p>The end product of this project can be seen on the <a href="#portfolio">Portfolio</a> page under the entry entitled "Capablue TV Everywhere".</p>
                          <p>After the success of this project, I was subsequently asked to build from scratch a completely new version of Capablue's own company website. Working with a freelance Designer, a Junior Developer, QA Testers, Project Manager, and Marketing Manager, I led the development and together we successfully delivered the new website.</p>
                          <p>The new site can be seen at <a href="http://www.capablue.com" target="_blank">www.capablue.com</a> and a technical description is available on the <a href="#portfolio">Portfolio</a> page.</p>
                          <p><strong>Key Skills/Expertise Utilised</strong></p>
                          <ul>
                            <li>HTML5, CSS3, Sass, Foundation</li>
                            <li>Backbone.js, jQuery, Require.js</li>
                            <li>Responsive Development, Web Optimisation</li>
                          </ul>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="permanent">
                  <div class="row">
                    <div class="col-md-3 hidden-xs">
                      <div class="category-column category-column-whitebg">
                        <ul class="nav nav-tabs" role="tablist">
                          <li class="category-column-box active">
                            <a href="#dnx" class="js-track" role="tab" data-toggle="tab" data-track-category="My CV" data-track-label="Tab - Permanent - DNX">
                              DNX Marketing <small>2012 - 2014</small>
                            </a>
                          </li>
                          <li class="category-column-box">
                            <a href="#fingo" class="js-track" role="tab" data-toggle="tab" data-track-category="My CV" data-track-label="Tab - Permanent - Fingo">
                              Fingo Marketing <small>2010 - 2012</small>
                            </a>
                          </li>
                          <li class="category-column-box">
                            <a href="#musictalents" class="js-track" role="tab" data-toggle="tab" data-track-category="My CV" data-track-label="Tab - Permanent - Music Talents">
                              Music Talents <small>2006 - 2008</small>
                            </a>
                          </li>
                          <li class="category-column-box">
                            <a href="#soundsmusical" class="js-track" role="tab" data-toggle="tab" data-track-category="My CV" data-track-label="Tab - Permanent - Soundsmusical">
                              Sounds Musical <small>2005 - 2006</small>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-9">

                      <div class="tab-content">
                        <!--
                        Job - DNX Marketing
                        -->
                        <div class="tab-pane active" id="dnx">
                          <div class="info-box">
                            <a href="http://www.dnxmarketing.com" target="_blank">
                              <span class="image sprite sprite-company-dnx"></span>
                            </a>
                            <a class="link" href="http://www.dnxmarketing.com" target="_blank">www.dnxmarketing.com</a>
                            <p class="caption">Award winning B2B marketing agency. Some of their clients include Cisco, Autodesk, Vodafone, MasterCard, and Sky.</p>
                            <p class="caption">Recently merged with <a href="http://ogilvy.co.uk/news/ogilvyone-acquires-dnx-create-uks-largest-dedicated-b2b-agency" target="_blank">Ogilvy &amp; Mather</a>.</p>
                          </div>
                          <p><strong>Job Title</strong>: Web Developer</p>
                          <p><strong>Date</strong>: March 2012 - May 2014</p>
                          <p><strong>Overview</strong></p>
                          <p>Working at this multi award winning agency (B2B Agency of the Year 2012 &amp; 2013) - since acquired by <a href="http://ogilvy.co.uk/agencies/ogilvy-one" target="_blank">OgilvyOne</a> and now known as OgilvyOne dnx - my job was to collaborate with project teams that consist of account managers, designers, copywriters, and project managers, and build the agreed creative solution within the set time-frame and budget.</p>
                          <p>This predominantly involved building responsive websites with varying and wide-ranging client-side and server-side requirements, but also although less often, HTML emails, animated banners, and games.</p>
                          <p><strong>Responsibilities</strong></p>
                          <ul>
                            <li>Coding the responsive front-end of new websites with HTML5, CSS3, JavaScript/JQuery, and the Twitter Bootstrap framework</li>
                            <li>Coding the back-end of new websites with PHP, MySQL, using the CodeIgniter MVC framework</li>
                            <li>Ensuring that Git repositories are kept up to date, well documented, and that branches are managed responsibly</li>
                            <li>Testing new websites to ensure presentation and functional correctness in all browsers and on all devices required</li>
                            <li>Meeting with account managers and project managers to be briefed on new projects, and liaising with designers and other developers to propose, discuss, and agree on the envisaged end product and its technical makeup</li>
                            <li>Supporting other developers with technical input and general guidance</li>
                            <li>Running team meetings once every week, submitting meeting agendas, facilitating discussion and agreement, recording and sharing minutes, pursuing action</li>
                          </ul>
                        </div>

                        <!--
                        Job - Fingo Marketing
                        -->
                        <div class="tab-pane" id="fingo">
                          <div class="info-box">
                            <a href="http://www.fingo.co.uk" target="_blank">
                              <span class="image sprite sprite-company-fingo"></span>
                            </a>
                            <a class="link" href="http://www.fingo.co.uk" target="_blank">www.fingo.co.uk</a>
                            <p class="caption">Marketing agency producing mostly company sites for small and medium sized businesses.</p>
                          </div>
                          <p><strong>Job Title</strong>: Web Developer</p>
                          <p><strong>Date</strong>: March 2010 - March 2012</p>
                          <p><strong>Overview</strong></p>
                          <p>My role at this marketing agency primarily was to build new websites based on the visual designs produced by the creative team. As the leading developer I worked to one extent or another on the majority of all projects collaborating closely with the company directors, web designers, and the project manager from kick-off to completion.</p>
                          <p><strong>Responsibilities</strong></p>
                          <ul>
                            <li>Creating fresh new websites ranging from static brochure sites, to CMS driven sites and more bespoke sites</li>
                            <li>Providing technical input to support project requirements gathering and internal processes</li>
                            <li>Liaising with clients in relation to ongoing maintenance for previously developed websites</li>
                          </ul>
                        </div>

                        <!--
                        Job - Music Talents
                        -->
                        <div class="tab-pane" id="musictalents">
                          <div class="info-box">
                            <p class="heading">Music Talents</p>
                            <p class="caption">A small music school based in Enfield, north London that also has an ecommerce operation selling musical instruments online.</p>
                          </div>
                          <p><strong>Job Title</strong>: Web Developer</p>
                          <p><strong>Date</strong>: September 2006 - June 2008</p>
                          <p><strong>Overview</strong></p>
                          <p>I was responsible for developing, maintaining, and advancing the company's efforts to sell its products on the Internet via its various ecommerce websites. This involved working with a range of technologies such as HTML, CSS, ASP, PHP, MySQL, MS SQL, and WordPress.</p>
                          <p><strong>Responsibilities</strong></p>
                          <ul>
                            <li>Expanding main ecommerce website developing new functionality and implementing change as described by the business manager and company director</li>
                            <li>Supporting development towards new websites selling the company products</li>
                          </ul>
                        </div>

                        <!--
                        Job - Soundsmusical.com
                        -->
                        <div class="tab-pane" id="soundsmusical">
                          <div class="info-box">
                            <span class="image sprite sprite-company-soundsmusical"></span>
                            <p class="caption">Before ultimately going into administration, this company was a very ambitious and rapidly growing online retailer that sold top brand musical instruments such as Yamaha, Casio, and Roland.</p>
                          </div>
                          <p><strong>Job Title</strong>: Junior Web Developer</p>
                          <p><strong>Date</strong>: February 2005 - September 2006</p>
                          <p><strong>Overview</strong></p>
                          <p>Within the IT department of this ecommerce company, my job was to conduct wide-ranging maintenance and testing on the company's ecommerce website.</p>
                          <p><strong>Responsibilities</strong></p>
                          <ul>
                            <li>Implementing front-end additions/amends for the main ecommerce website (HTML, CSS, ASP)</li>
                            <li>Working through reported issues/errors/bugs with the site - fix, test and confirm as resolved</li>
                            <li>Routine testing and documenting of discovered issues/errors/bugs</li><li>Expanding main ecommerce website developing new functionality and implementing change as described by the business manager and company director</li>
                            <li>Supporting development towards new websites selling the company products</li>
                          </ul>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>
          
          
          <!--
          Education
          -->
          <section>
            <h3>Education</h3>
            <!--
            Education: King's College London
            -->
            <div class="side-by-side-content">
              <div class="row">
                <!--
                Education: London Metropolitan University
                -->
                <div class="side-by-side-content-column col-md-6">
                  <p>
                    <strong>BSc (Hons) Computer Visualisation &amp; Games (2:1)</strong><br/>
                    <small>(2004 - 2008)</small>
                  </p>
                  <a href="http://www.londonmet.ac.uk" target="_blank">
                    <span class="image sprite sprite-education-londonmet"></span>
                  </a>
                  <div class="row">
                    <div class="col-sm-6 col-xs-12">
                      <ul>
                        <li>Basics of Computer Science</li>
                        <li>Object-Oriented Programming</li>
                        <li>Data Structures &amp; Algorithms</li>
                        <li>Database Systems</li>
                        <li>Developing for the Web</li>
                      </ul>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                      <ul>
                        <li>Software User Experience Design</li>
                        <li>2D Computer Graphics</li>
                        <li>3D Animation</li>
                        <li>Game Applications</li>
                        <li>Multiplayer Game Development</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!--
                Education: King's College London
                -->
                <div class="side-by-side-content-column col-md-6">
                  <p>
                    <strong>Postgraduate Diploma (PgD) Advanced Software Engineering</strong><br/>
                    <small>(2008 - 2010)</small>
                  </p>
                  <a href="http://www.kcl.ac.uk" target="_blank">
                    <span class="image sprite sprite-education-kingscollege"></span>
                  </a>
                  <div class="row">
                    <div class="col-sm-6 col-xs-12">
                      <ul>
                        <li>Software Engineering for the Internet</li>
                        <li>Software Architecture &amp; Design</li>
                        <li>The Internet Infrastructure</li>
                        <li>Software Measurement &amp; Testing</li>
                      </ul>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                      <ul>
                        <li>Distributed Computing</li>
                        <li>Access Control Strategy</li>
                        <li>Artificial Intelligence</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </section>
          
          <!--
          Interests/Achievements
          -->
          <section>
            <h3>Interests and Achievements</h3>
            <ul>
              <li>Enjoyed a career as a reservist in the Territorial Army for six years (now Army Reserve), joining the infantry and later the Royal Corps of Signals</li>
              <li>Attained the rank of Lance Corporal and became an army Physical Training Instructor responsible for the fitness of forty reservists</li>
              <li>Qualified as a FA Level 1 Football Coach as a result of a course with the Surrey FA</li>
              <li>Currently running a 5-a-side football team every Wednesday for the benefit of several players</li>
              <li>Also working on the development of my own product, in the form of a mobile app, that I will eventually form a business around when ready</li>
            </ul>
          </section>
        </article>
      </div>
    </div>
  </div>

</div>