<!--
Template - Job Feedback
-->
<div class="page-container is-hidden js-fadein">

  <div class="row">
    <div class="col-md-12">

      <article class="content-canvas theme-border">

        <h2>Job Feedback</h2>
        <p class="large">The following recommendations were originally written and published on <a href="http://uk.linkedin.com/in/chrismendes" target="_blank">my LinkedIn page</a> where they still are and where they can be verified.</p>
        <p><em>Note: While the individuals below are senior members within their respective environment, they are <strong>not</strong> responsible for company recruitment and have no interest in responding to any such enquiries.</em></p>

        <section class="l-content-rows">

          <div class="row">
            <div class="col-md-12">
              <div class="company-heading media">
                <a class="company-logo" href="http://www.capablue.com" target="_blank">
                  <img src="images/recommendations/capablue.jpg"/>
                </a>
                <div class="media-body">
                  <h3>Capablue</h3>
                  <p>
                    Contract Front-end Developer<br/>
                    <span class="secondary-caption">May 2014 - October 2014</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--
          Capablue - Pete
          -->
          <div class="row">
            <div class="col-md-12">
              <div class="person-box">
                <div class="media">
                  <img class="person-photo" src="images/recommendations/people/pete-thompson.jpg" width="60" height="60" alt="Pete Thompson"/>
                  <div class="media-body">
                    <p class="person-name">Pete Thompson</p>
                    <p class="person-jobtitle">Solutions Architect at Capablue</p>
                  </div>
                </div>
              </div>
              <p class="secondary-caption">14th October 2014</p>
              <p>"I worked with Chris for a period of four months on the implementation of a live video streaming application and the Capablue corporate website. The projects required a comprehensive understanding of modern JavaScript development and responsive web design.</p>
              <p>Chris was the principal developer on both projects and demonstrated that he can work independently and be trusted to deliver consistently high-quality work. He also demonstrated his ability to manage the work of others and mentor more junior members of the team.</p>
              <p>Chris is an excellent frontend developer with an astonishing attention to detail who frequently goes above and beyond what is required. He is a pleasure to work with, and I would not hesitate to recommend him."</p>
            </div>
          </div>

          <!--
          Capablue - Andy
          -->
          <div class="row">
            <div class="col-md-12">
              <div class="person-box">
                <div class="media">
                  <img class="person-photo" src="images/recommendations/people/andy-roberts.jpg" width="60" height="60" alt="Andy Roberts"/>
                  <div class="media-body">
                    <p class="person-name">Andy Roberts</p>
                    <p class="person-jobtitle">Project Manager at Capablue</p>
                  </div>
                </div>
              </div>
              <p class="secondary-caption">14th July 2014</p>
              <p>"I managed Chris for 2 months on an Agile project to create a TV Everywhere video player. Chris worked tirelessly to deliver this to a tight deadline using his strong java script knowledge and experience in creating adaptive websites.</p>
              <p>He was a key team player over this period and significantly contributed to making the project a success. I have no hesitation in recommending him."</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="company-heading media">
                <a class="company-logo" href="http://www.dnxmarketing.com" target="_blank">
                  <img src="images/recommendations/dnx.jpg"/>
                </a>
                <div class="media-body">
                  <h3>DNX Marketing</h3>
                  <p>
                    Web Developer<br/>
                    <span class="secondary-caption">March 2012 - May 2014</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--
          DNX - Laurence
          -->
          <div class="row">
            <div class="col-md-12">
              <div class="person-box">
                <div class="media">
                  <img class="person-photo" src="images/recommendations/people/laurence-jones.jpg" width="60" height="60" alt="Laurence Jones"/>
                  <div class="media-body">
                    <p class="person-name">Laurence Jones</p>
                    <p class="person-jobtitle">Project Manager at DNX</p>
                  </div>
                </div>
              </div>
              <p class="secondary-caption">16th June 2014</p>
              <p>"I worked with Chris at DNX for a six month period. I found Chris to be a dedicated and committed programmer. He is not just interested in the job at hand.</p>
              <p>Chris has a genuine interest in examining frameworks, processes and industry innovations that can positively contribute to project work. Chris is a natural lead programmer - he brings a high level of digital insight to the scoping and planning process and is conscientious enough to give up his own time to troubleshoot project bugs and guarantee delivery when necessary.</p>
              <p>In summary, Chris is a highly capable and insightful developer and I have no hesitation in highly recommending him."</p>
            </div>
          </div>
          <!--
          DNX - Cathy
          -->
          <div class="row">
            <div class="col-md-12">
              <div class="person-box">
                <div class="media">
                  <img class="person-photo" src="images/recommendations/people/cathy-bishop.jpg" width="60" height="60" alt="Cathy Bishop"/>
                  <div class="media-body">
                    <p class="person-name">Cathy Bishop</p>
                    <p class="person-jobtitle">Account Director at DNX</p>
                  </div>
                </div>
              </div>
              <p class="secondary-caption">13th June 2014</p>
              <p>"I worked with Chris on a number of projects at DNX and found him a real pleasure to work with. He patiently explained the more technical dev issues, produced great work and was always happy to go the extra mile.</p>
              <p>Snap him up, he's worth his weight in gold!"</p>
            </div>
          </div>
          <!--
          DNX - Tom
          -->
          <div class="row">
            <div class="col-md-12">
              <div class="person-box">
                <div class="media">
                  <img class="person-photo" src="images/recommendations/people/tom-hartnett.jpg" width="60" height="60" alt="Tom Hartnett"/>
                  <div class="media-body">
                    <p class="person-name">Tom Hartnett</p>
                    <p class="person-jobtitle">Web Developer at DNX</p>
                  </div>
                </div>
              </div>
              <p class="secondary-caption">10th June 2014</p>
              <p>"Chris is a technically skilled web developer working comfortably in both the back and front end disciplines. He's eager to explore the use of new technologies but has a superb grounding in the essentials."</p>
            </div>
          </div>
          <!--
          DNX - Dominic
          -->
          <div class="row">
            <div class="col-md-12">
              <div class="person-box">
                <div class="media">
                  <img class="person-photo" src="images/recommendations/people/dominic-young.jpg" width="60" height="60" alt="Dominic Young"/>
                  <div class="media-body">
                    <p class="person-name">Dominic Young</p>
                    <p class="person-jobtitle">Senior Account Manager at DNX</p>
                  </div>
                </div>
              </div>
              <p class="secondary-caption">11th June 2014</p>
              <p>"I have worked with Chris on various projects whilst he was at DNX. He is an established web developer that knows his stuff! He is always keen to get stuck in and offers valuable input."</p>
            </div>
          </div>
          <!--
          DNX - Kelly
          -->
          <div class="row">
            <div class="col-md-12">
              <div class="person-box">
                <div class="media">
                  <img class="person-photo" src="images/recommendations/people/kelly-hughes.jpg" width="60" height="60" alt="Kelly Hughes"/>
                  <div class="media-body">
                    <p class="person-name">Kelly Hughes</p>
                    <p class="person-jobtitle">Account Manager at DNX</p>
                  </div>
                </div>
              </div>
              <p class="secondary-caption">14th July 2014</p>
              <p>"Chris worked on many of my projects which all varied in nature and complexity. He has a good understanding of front and back end development and is confident to make technical recommendations to improve a project.</p>
              <p>Always thorough and with good attention to detail, Chris always delivered work on time and to an excellent standard. He'd be an asset to any team."</p>
            </div>
          </div>

        </section>

      </article>

    </div>

  </div>

</div>