<!--
Template - Home Page
-->
<div class="l-home page-container is-hidden js-fadein">

  <div class="scattered-boxes">
    <div class="row">
      <!--
      Skills & Expertise
      -->
      <div class="col-md-3">
        <div class="box box-1 box-green box-skills js-track" data-href="skills" data-bg="gold" data-track-category="Site Navigation" data-track-label="Home Box - Skills/Expertise">
          <h3 class="title">Skills &amp; Expertise</h3>
          <span class="icons"></span>
          <button type="button" class="btn disabled">Examine skill set ></button>
        </div>
      </div>
      <!--
      My CV
      -->
      <div class="col-md-2">
        <div class="box box-2 box-red box-cv js-track" data-href="cv" data-bg="green" data-track-category="Site Navigation" data-track-label="Home Box - My CV">
          <h3 class="title">My CV</h3>
          <p class="description">Work, education, <span class="visible-lg-inline">achievements, </span>etc.</p>
          <span class="icons"></span>
          <button type="button" class="btn disabled">Review CV ></button>
        </div>
      </div>
      <!--
      My Portfolio
      -->
      <div class="col-md-3">
        <div class="box box-3 box-red box-portfolio js-track" data-href="portfolio" data-bg="gold" data-track-category="Site Navigation" data-track-label="Home Box - My Portfolio">
          <h3 class="title">My Portfolio</h3>
          <span class="icons"></span>
          <button type="button" class="btn disabled">Inspect portfolio ></button>
        </div>
      </div>
      <!--
      Job Feedback
      -->
      <div class="col-md-4">
        <div class="box box-4 box-gold box-feedback js-track" data-href="feedback" data-bg="teal" data-track-category="Site Navigation" data-track-label="Home Box - Job Feedback">
          <h3 class="title">Job Feedback</h3>
          <p class="description">Written recommendations that I have received from the people that I have worked with.</p>
          <button type="button" class="btn disabled">Read feedback ></button>
        </div>
      </div>
    </div>
    <div class="row">
      <!--
      About Me
      -->
      <div class="col-md-2">
        <div class="box box-5 box-green box-about js-track" data-href="about" data-bg="teal" data-track-category="Site Navigation" data-track-label="Home Box - About Me">
          <h3 class="title">About Me</h3>
          <p class="description">A short presentation.</p>
          <p class="description">Interests, hobbies, sport activities, etc.</p>
          <span class="icons"></span>
          <button type="button" class="btn disabled">Learn more ></button>
        </div>
      </div>
      <!--
      Recruitment
      -->
      <div class="col-md-4">
        <div class="box box-6 box-purple box-recruitment js-track" data-href="recruitment" data-bg="teal" data-track-category="Site Navigation" data-track-label="Home Box - Recruitment">
          <h3 class="title">Recruitment</h3>
          <p class="description">Basic details such as my daily rate, location, interested roles, etc.</p>
          <button type="button" class="btn disabled">
            <span class="hidden-xs hidden-sm">Click for details ></span>
            <span class="visible-xs-block visible-sm-block">Tap for details ></span>
          </button>
        </div>
      </div>
      <!--
      Contact
      -->
      <div class="col-md-3">
        <div class="box box-8 box-blue box-contact js-track js-shared-modal" data-modal="contact" data-track-category="Contact Modal Open" data-track-label="Home Box - Get in Touch">
          <h3 class="title">Get In Touch</h3>
          <p class="description">Please get in touch regarding a contract vacancy.</p>
          <button type="button" class="btn disabled">Contact me ></button>
        </div>
      </div>
    
    </div>
  </div>

</div>