<!--
Template - My Portfolio
-->
<div class="page-container is-hidden js-fadein">

  <div class="row">
    <div class="col-md-12">
      <article class="content-canvas theme-border decor-portfolio">
        <div class="body-heading">
          <h2>My Portfolio</h2>
          <div class="body-heading-links">
            <a href="/pdf/Chris_Mendes_Portfolio.pdf" class="icon pdf download-file">Download</a>
          </div>
        </div>
        
        <div class="tabbed-content">
          
          <!--
          Tab Links
          -->
          <div class="tabbed-content-tabs">
            <ul class="nav nav-tabs" role="tablist">
              <% _.each(categories, function(cat, id) { %>
              <li<% if(id === 'highlights') { %> class="active"<% } %>><a href="#<%= id %>" role="tab" data-toggle="tab"><%= cat.name %></a></li>
              <% }); %>
            </ul>
          </div>
          
          <!--
          Tabs
          -->
          <div class="tab-content">
          <% _.each(categories, function(cat, id) { %>
            <div class="tab-pane<% if(id === 'highlights') { %> active<% } %>" id="<%= id %>">
              <% if(id === 'highlights') { %>

              <!--
              Project Highlights
              -->
              <section class="l-grid-content">
                <div class="row project-row">
                <% _.each(cat.projects, function(project, i) { %>
                  <% if(i && (i % 4 === 0)) {  %></div><div class="row project-row"><% } %>
                  <div class="col-md-3 col-sm-6 project-column">

                    <div class="project-list-item polaroid js-modal-show js-modal-id" data-modal="<%= project.id %>">
                      <img class="screenshot" src="images/projects/<%= project.id %>/thumb.jpg" width="220" height="128" alt="<%= project.name %>"/>
                      <h3 class="project-name"><%= project.name %></h3>
                      <span class="link secondary-caption"><%= project.url %></span>
                      <button type="button" class="btn more-details">Details &raquo;</button>
                    </div>

                  </div>
                <% }); %>
              </section>

              <% } else { %>

              <!--
              Other Categories
              -->
              <section class="l-content-rows">
                <% _.each(cat.projects, function(project, i) { %>
                <div class="row project-list-item js-modal-id<% if(project.screenshots === 0) { %> is-not-clickable js-noclick<% } %>" data-modal="<%= project.id %>">

                  <!--
                  Client Logo
                  -->
                  <% if(cat.clientLogos) { %>
                  <div class="col-md-2 col-xs-12">
                    <% if(project.clientId !== null) { %>
                    <div class="client-logo">
                      <span class="sprite sprite-company-<%= project.clientId %>"></span>
                    </div>
                    <% } %>
                  </div>
                  <% } %>

                  <!--
                  Basic Details / Screenshot
                  -->
                  <div class="col-md-7 col-xs-12">
                    <div class="screenshot-thumb js-modal-show">
                      <span class="click-icon sprite sprite-click-screenshot"></span>
                      <span class="click-icon-hover sprite sprite-click-screenshot-hover"></span>
                      <img src="images/projects/<%= project.id %>/thumb.jpg" width="220" height="128" alt="<%= project.name %>"/>
                    </div>
                    <div class="project-summary">
                      <h3 class="project-name"><%= project.name %></h3>
                      <span class="date"><%= project.date %></span>
                      <p class="link">
                        <a href="http://<%= project.url %>" target="_blank">
                          <%= project.url %>
                        </a>
                      </p>
                    </div>
                    <p class="description">
                      <%= project.description %>
                    </p>
                    <% if(project.codeSampleURL !== null) { %>
                    <a class="btn btn-icon" href="<%= project.codeSampleURL %>" target="_blank">
                      <i class="sprite sprite-repository-button"></i>
                      <span>Review code ></span>
                    </a>
                    <% } %>
                  </div>

                  <!--
                  Technology / Responsibility
                  -->
                  <div class="col-md-3 col-xs-12">
                    <p class="note-heading">Technology:</p>
                    <ul class="project-technology">
                      <% _.each(project.skills, function(skill) { %>
                      <li><%= skill %></li>
                      <% }); %>
                    </ul>
                    <p>
                      <span class="note-heading">Responsibility:</span><br/>
                      <%= project.responsibility %>
                    </p>
                  </div>

                </div>
                <% }); %>
              </section>
              <% } %>
            </div>
            <% }); %>
          </div>

          </div>
        </div>

        <!--
        Project Modals
        -->
        <div class="standby-modal-content">
          <% _.each(_.flatten(_.pluck(categories, 'projects')), function(project, i) { %>
          <div class="modal-content js-modal-content-<%= project.id %>">

            <!--
            Header
            -->
            <div class="js-modal-content-header">
              <div class="project-modal-header">
                <h3><%= project.name %></h3>
                <span class="link"><a href="http://<%= project.url %>" target="_blank"><%= project.url %></a></span>
                <div class="js-project-details">
                  <p class="description"><%= project.description %> <span class="date"><%= project.date %></span></p>
                  <p class="technology"><strong>Technology</strong>:&nbsp;
                  <% _.each(project.skills, function(skill, index) { %>
                    <% if(index > 0) { %>, <% } %><%= skill %>
                  <% }); %>
                  </p>
                  <p class="responsibility"><strong>Responsibility</strong>: <%= project.responsibility %></p>
                </div>
              </div>
            </div>

            <!--
            Body
            -->
            <div class="js-modal-content-body">
              <div class="project-modal-body">
                <!--
                Screenshot Carousel(s)
                -->
                <div class="tabbed-content">
                  <% if(project.screenshots.desktop > 0 && (project.screenshots.tablet > 0 || project.screenshots.phone > 0)) { %>
                  <div class="tabbed-content-tabs tabbed-content-tabs-centred">
                    <ul class="nav nav-tabs js-carousel-tabs">
                      <% if(project.screenshots.desktop > 0) { %>
                      <li class="active tab-icon tab-icon-desktop">
                        <a href="#screenshots-desktop" class="js-tablink">
                          <i class="icon sprite sprite-device-desktop"></i>
                          <span>Desktop</span>
                        </a>
                      </li>
                      <% } %>
                      <% if(project.screenshots.tablet > 0) { %>
                      <li class="tab-icon tab-icon-tablet">
                        <a href="#screenshots-tablet" class="js-tablink">
                          <i class="icon sprite sprite-device-tablet"></i>
                          <span>Tablet</span>
                        </a>
                      </li>
                      <% } %>
                      <% if(project.screenshots.phone > 0) { %>
                      <li class="tab-icon tab-icon-phone">
                        <a href="#screenshots-phone" class="js-tablink">
                          <i class="icon sprite sprite-device-phone"></i>
                          <span>Phone</span>
                        </a>
                      </li>
                      <% } %>
                    </ul>
                  </div>
                  <% } %>
                  <div class="tab-content">
                    <% _.each(project.screenshots, function(quantity, type) { %>
                    <div class="tab-pane js-tab<% if(type === "desktop") { %> active<% } %>" id="screenshots-<%= type %>">
                      <% if(project.screenshots[type] > 1) { %>
                      <div class="owl-carousel-navigation">
                        <a class="previous js-carousel-previous" href="#">< Previous Slide</a>
                        <a class="next js-carousel-next" href="#">Next Slide ></a>
                      </div>
                      <div class="owl-carousel js-carousel">
                        <% for(var i = 0; i < project.screenshots[type]; i++) { %>
                        <div class="item">
                          <% if(type === "desktop") { %>
                          <img class="lazyOwl" data-src="images/projects/<%= project.id %>/<%= i+1 %>.jpg"/>
                          <% } else { %>
                          <img class="lazyOwl" data-src="images/projects/<%= project.id %>/<%= type %>/<%= i+1 %>.jpg"/>
                          <% } %>
                        </div>
                        <% } %>
                      </div>
                      <% } else if(project.screenshots[type] > 0) { %>
                      <div class="single-screenshot">
                        <% if(type === "desktop") { %>
                        <img src="images/projects/<%= project.id %>/<%= 1 %>.jpg"/>
                        <% } else { %>
                        <img src="images/projects/<%= project.id %>/<%= type %>/<%= 1 %>.jpg"/>
                        <% } %>
                      </div>
                      <% } %>
                    </div>
                    <% }); %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>

      </article>
    </div>
  </div>

</div>