<!--
Template - Recommendations
-->
<div class="page-container js-fadein">

  <div class="row">
    <div class="col-md-12">

      <article class="content-canvas theme-border">

        <h2>Recommendations</h2>
        <p>The following feedback was originally written and published on <a href="http://uk.linkedin.com/in/chrismendes" target="_blank">my LinkedIn page</a> where it remains present and where it can be verified (requires login to access recommendations).</p>
        <p><em>Please note that while the individuals below are senior members within their respective production environment, they are <strong>not</strong> responsible for company recruitment.</em></p>

        <section class="l-content-rows">

          <div class="row">
            <div class="col-md-12">
              <!-- <img src="images/recommendations/capablue.jpg" width="150" height="87"/> -->
              <h3>Capablue</h3>
              <p>Contract Front-end Developer</p>
              <p>May 2014 - October 2014</p>
            </div>
          </div>

          <div class="side-by-side-content side-by-side-content-text-left">
            <div class="row">
              <!--
              Capablue - Pete
              -->
              <div class="side-by-side-content-column col-md-6">
                <div class="media">
                  <img class="pull-left" src="images/recommendations/people/pete-thompson.jpg" width="60" height="60" alt="Pete Thompson"/>
                  <div class="media-body">
                    <h4>Pete Thompson - Senior Developer</h4>
                    <p>"I worked with Chris for a period of four months on the implementation of a live video streaming application and the Capablue corporate website. The projects required a comprehensive understanding of modern JavaScript development and responsive web design.</p>
                    <p>Chris was the principal developer on both projects and demonstrated that he can work independently and be trusted to deliver consistently high-quality work. He also demonstrated his ability to manage the work of others and mentor more junior members of the team.</p>
                    <p>Chris is an excellent frontend developer with an astonishing attention to detail who frequently goes above and beyond what is required. He is a pleasure to work, and I would not hesitate to recommend him."</p>
                  </div>
                </div>
              </div>
              <!--
              Capablue - Andy
              -->
              <div class="side-by-side-content-column col-md-6">
                <div class="media">
                  <img class="pull-left" src="images/recommendations/people/andy-roberts.jpg" width="60" height="60" alt="Andy Roberts"/>
                  <div class="media-body">
                    <h4>Andy Roberts - Project Manager</h4>
                    <p>"I managed Chris for 2 months on an Agile project to create a TV Everywhere video player. Chris worked tirelessly to deliver this to a tight deadline using his strong java script knowledge and experience in creating adaptive websites.</p>
                    <p>He was a key team player over this period and significantly contributed to making the project a success. I have no hesitation in recommending him."</p>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <!-- <img src="images/recommendations/capablue.jpg" width="150" height="87"/> -->
              <h3>DNX Marketing</h3>
              <p>Web Developer</p>
              <p>March 2012 - May 2014</p>
            </div>
          </div>

          <!--
          DNX - Laurence
          -->
          <div class="row">
            <div class="col-md-12">
              <div class="media">
                <img class="pull-left" src="images/recommendations/people/laurence-jones.jpg" width="60" height="60" alt="Laurence Jones"/>
                <div class="media-body">
                  <h4>Laurence Jones - Project Manager</h4>
                  <p>"I worked with Chris at dnx for a six month period. I found Chris to be a dedicated and committed programmer. He is not just interested in the job at hand.</p>
                  <p>Chris has a genuine interest in examining frameworks, processes and industry innovations that can positively contribute to project work. Chris is a natural lead programmer - he brings a high level of digital insight to the scoping and planning process and is conscientious enough to give up his own time to troubleshoot project bugs and guarantee delivery when necessary.</p>
                  <p>In summary, Chris is a highly capable and insightful developer and I have no hesitation in highly recommending him."</p>
                </div>
              </div>
            </div>
          </div>
          <!--
          DNX - Cathy
          -->
          <div class="row">
            <div class="col-md-12">
              <div class="media">
                <img class="pull-left" src="images/recommendations/people/cathy-bishop.jpg" width="60" height="60" alt="Cathy Bishop"/>
                <div class="media-body">
                  <h4>Cathy Bishop - Account Director</h4>
                  <p>"I worked with Chris on a number of projects at dnx and found him a real pleasure to work with. He patiently explained the more technical dev issues, produced great work and was always happy to go the extra mile.</p>
                  <p>Snap him up, he's worth his weight in gold!"</p>
                </div>
              </div>
            </div>
          </div>
          <!--
          DNX - Tom
          -->
          <div class="row">
            <div class="col-md-12">
              <div class="media">
                <img class="pull-left" src="images/recommendations/people/tom-hartnett.jpg" width="60" height="60" alt="Tom Hartnett"/>
                <div class="media-body">
                  <h4>Tom Hartnett - Web Developer</h4>
                  <p>"Chris is a technically skilled web developer working comfortably in both the back and front end disciplines. He's eager to explore the use of new technologies but has a superb grounding in the essentials."</p>
                </div>
              </div>
            </div>
          </div>
          <!--
          DNX - Dominic
          -->
          <div class="row">
            <div class="col-md-12">
              <div class="media">
                <img class="pull-left" src="images/recommendations/people/dominic-young.jpg" width="60" height="60" alt="Dominic Young"/>
                <div class="media-body">
                  <h4>Dominic Young - Senior Account Manager</h4>
                  <p>"I have worked with Chris on various projects whilst he was at dnx. He is an established web developer that knows his stuff! He is always keen to get stuck in and offers valuable input."</p>
                </div>
              </div>
            </div>
          </div>
          <!--
          DNX - Kelly
          -->
          <div class="row">
            <div class="col-md-12">
              <div class="media">
                <img class="pull-left" src="images/recommendations/people/kelly-hughes.jpg" width="60" height="60" alt="Kelly Hughes"/>
                <div class="media-body">
                  <h4>Kelly Hughes - Account Manager</h4>
                  <p>"Chris worked on many of my projects which all varied in nature and complexity. He has a good understanding of front and back end development and is confident to make technical recommendations to improve a project.</p>
                  <p>Always thorough and with good attention to detail, Chris always delivered work on time and to an excellent standard. He'd be an asset to any team."</p>
                </div>
              </div>
            </div>
          </div>

        </section>

      </article>

    </div>

  </div>

</div>