<!--
Template - Employment
-->
<div class="page-container is-hidden js-fadein">

  <div class="row">
    <div class="col-md-12">
      <article class="content-canvas theme-border decor-recruitment">
        <h2>Recruitment</h2>

        <div class="row">
          <div class="col-md-6">

            <h3>Current Availability</h3>
            <!--
            Radio buttons
            -->
            <div class="checkboxes">
              <div class="checkboxes-item is-on">
                <i class="sprite sprite-checkbox-on"></i>
                <span>Unavailable. I am <em>not</em> seeking a new contract at this time.</span>
              </div>
              <div class="checkboxes-item is-off">
                <i class="sprite sprite-checkbox-off"></i>
                <span>Available. I am currently active in the job market looking for a new contract.</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <!--
            Contract Criteria
            -->
            <h3>Contract Criteria</h3>
            <table class="formatted-table formatted-table-fullwidth">
              <thead>
                <td>Daily Rate</td>
                <td>Preferred Length</td>
                <td>Location</td>
                <td class="hidden-xs">Travel</td>
              </thead>
              <tbody>
                <td>&pound;425 p/d</td>
                <td>1-6 months</td>
                <td>London, Surrey</td>
                <td class="hidden-xs">Car, Train</td>
              </tbody>
            </table>
            <p><strong>Interested Roles</strong>: Front-end Developer, UI Developer, Full Stack Developer</p>
            <p class="secondary-caption">Not interested in permanent roles - contract only.</p>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <!--
            Current/Last Contract
            -->
            <hr/>
            <h3>Current Contract</h3>
            <p>4th May 2015 - Present</p><br/>
            <div class="info-box info-box-left">
              <a href="http://www.surfdome.com" target="_blank">
                  <span class="image sprite sprite-company-surfdome"></span>
              </a>
              <a class="link" href="http://www.surfdome.com" target="_blank">www.surfdome.com</a>
              <p class="caption caption-centre">Wembley, London</p>
            </div>
            <h4>Summary</h4>
            <p>Contract Senior Front-end Developer</p>
            <p>Recruited to assist in the formation and execution of the technical management team's plan to advance the front-end technology behind the Surfdome.com ecommerce website.</p>
          </div>
        </div>

      </article>
    </div>
  </div>

</div>