<!--
Template - Employment
-->
<div class="page-container is-hidden js-fadein">

  <div class="row">
    <div class="col-md-12">
      <article class="content-canvas theme-border decor-recruitment">
        <h2>Recruitment</h2>

        <div class="row">
          <div class="col-md-6">

            <h3>Current Availability</h3>
            <!--
            Radio buttons
            -->
            <div class="checkboxes">
              <div class="checkboxes-item is-off">
                <i class="sprite sprite-checkbox-off"></i>
                <span>No. I am <strong>not</strong> seeking a new contract at this time.</span>
              </div>
              <div class="checkboxes-item is-on">
                <i class="sprite sprite-checkbox-on"></i>
                <span>Yes. I am currently active in the job market looking for a new contract.</span>
              </div>
            </div>
            <p><strong>Available to Start</strong>: Whenever required.</p>
          </div>
          <div class="col-md-6">
            <!--
            Contract Criteria
            -->
            <h3>Contract Criteria</h3>
            <table class="formatted-table formatted-table-fullwidth">
              <thead>
                <td>Daily Rate</td>
                <td>Preferred Length</td>
                <td>Location</td>
                <td class="hidden-xs">Travel</td>
              </thead>
              <tbody>
                <td>&pound;400 p/d</td>
                <td>2-6 months</td>
                <td>London, Surrey</td>
                <td class="hidden-xs">Car, Train</td>
              </tbody>
            </table>
            <p><strong>Interested Roles</strong>: Front-end Developer, UI Developer, Full Stack Developer</p>
            <p class="secondary-caption">Not interested in permanent roles - contract only.</p>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <!--
            Current/Last Contrat
            -->
            <hr/>
            <h3>Last Contract</h3>
            <p>15th May - 10th October 2014 &nbsp;<span class="secondary-caption">3 month contract extended</span></p><br/>
            <div class="info-box info-box-left">
              <a href="http://www.capablue.com" target="_blank">
                  <span class="image sprite sprite-company-capablue"></span>
              </a>
              <a class="link" href="http://www.capablue.com" target="_blank">www.capablue.com</a>
              <p class="caption caption-centre">London, Waterloo</p>
            </div>
            <h4>Summary</h4>
            <p>Role: Front-end Developer</p>
            <p>Technologies: HTML5, CSS3, Sass, Foundation, JavaScript, jQuery, Backbone.js, Require.js, JSON, PHP</p>
            <p>See <a href="/#cv" class="js-track" data-track-category="Recruitment" data-track-label="See CV for more details">CV</a> for more details.</p>
            <p>Drafted in to develop a white-label product for a new multi-channel live TV streaming web application accessible on desktops, tablets, and mobile devices (similar concept to BBC iPlayer).</p>
            <p>Subsequently I was asked to build from scratch a new version of the Capablue company website. The new site can be seen at www.capablue.com.</p>
          </div>
        </div>

      </article>
    </div>
  </div>

</div>