<!--
Template - Skills & Expertise
-->
<div class="page-container js-fadein">

  <div class="row">
    <div class="tabbed-content">

      <div class="content-canvas is-off-stage js-animated-entrace theme-border icon-skills">
        <h2>Skills &amp; Expertise</h2>

          <!--
          Tabs
          -->
          <div class="tabbed-content-tabs">
            <ul class="nav nav-tabs" role="tablist">
              <li class="active"><a href="#services" role="tab" data-toggle="tab">Basic Services</a></li>
              <li><a href="#skills" role="tab" data-toggle="tab">Technical Skills</a></li>
              <li><a href="#workflow" role="tab" data-toggle="tab">Developer Toolkit</a></li>
              <li><a href="#learning" role="tab" data-toggle="tab">Currently Learning</a></li>
            </ul>
          </div>

          <div class="tab-content">
          
            <!--
            Basic Services
            -->
            <div class="tab-pane active" id="services">
              <div class="row">
                <div class="col-md-9">
                  <p class="large">My skill set and expertise evolve around creating web applications from scratch and to a high standard.</p>
                  <p>Although primarilly a <strong>Front-end Developer</strong>, my experience has also involved significant back-end development too.</p>
                </div>
              </div>
              <div class="side-by-side-content">
                <div class="row">
                  <div class="side-by-side-content-column col-md-5 col-md-offset-1">
                    <h3>Basic Services</h3>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="monopoly-card">
                            <p class="title">Design to Build</p>
                            <p class="description">Transforming a PSD into HTML, CSS, and JavaScript.</p>
                            <img src="images/skills/service-build.png" width="123" height="75" alt="Design to build"/>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="monopoly-card">
                            <p class="title">Responsive Development</p>
                            <p class="description">Delivering the most optimal solution for every device.</p>
                            <img src="images/skills/service-responsive.png" width="106" height="75" alt="Responsive Development"/>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="monopoly-card">
                            <p class="title">Server-Side Development</p>
                            <p class="description">Implementing back-end functional and data requirements.</p>
                            <img src="images/skills/service-backend.png" width="107" height="75" alt="Server-side Development"/>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="side-by-side-content-column col-md-5">
                    <h3>Technical Priorities</h3>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="monopoly-card">
                          <p class="title">Best Practice Code</p>
                          <p class="description">Contributing object-oriented, modular, and scalable code.</p>
                          <img src="images/skills/technical-standards.png" width="123" height="75" alt="Best practice code"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="monopoly-card">
                          <p class="title">Modern Techniques</p>
                          <p class="description">Keeping aware of and learning new industry innovations.</p>
                          <img src="images/skills/technical-innovation.png" width="123" height="75" alt="Modern techniques"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="monopoly-card">
                          <p class="title">Web Performance</p>
                          <p class="description">Providing a build process for fast download times.</p>
                          <img src="images/skills/technical-performance.png" width="123" height="75" alt="Web performance"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--
            Technical Skills
            -->
            <div class="tab-pane" id="skills">

              <div class="col-md-3">
                <div class="category-column category-column-whitebg">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="category-column-box active"><a href="#skills-frontend" role="tab" data-toggle="tab">Front-end Development</a></li>
                    <li class="category-column-box"><a href="#skills-backend" role="tab" data-toggle="tab">Back-end Development</a></li>
                    <li class="category-column-box"><a href="#skills-testing" role="tab" data-toggle="tab">Testing</a></li>
                    <li class="category-column-box"><a href="#skills-workflow" role="tab" data-toggle="tab">Workflow</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-md-9">

                <div class="tab-content">

                  <!--
                  Body - Front-end development
                  -->
                  <div class="tab-pane active" id="skills-frontend">
                    <h3>Front-end Development</h3>

                    <div class="l-content-rows">
                      <!--
                      HTML
                      -->
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/skills/html.jpg" width="71" height="100" alt="HTML5"/>
                        </div>
                        <div class="col-md-10">
                          <h4>HTML5 / 4</h4>
                          <p>
                            First encountered HTML at an early age, worked with it throughout career.
                            Strict on keeping the markup void of implied styling in favour of maximum semantic meaning.
                          </p>
                          <p>Familiar with HTML5 - new elements, new input types, HTML5 video, etc.</p>
                        </div>
                      </div>
                      <!--
                      CSS
                      -->
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/skills/css.jpg" width="71" height="100" alt="CSS3"/>
                        </div>
                        <div class="col-md-10">
                          <h4>CSS3 / 2</h4>
                          <p>
                            Prefer to use the SMACSS model where possible for good modularity and scalability.
                            Experienced at troubleshooting cross-browser presentation issues.
                          </p>
                          <p>Proficient with media queries and CSS3 animation.</p>
                        </div>
                      </div>
                      <!--
                      Sass / LESS
                      -->
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/skills/sass-less.jpg" width="75" height="100" alt="Sass / LESS"/>
                        </div>
                        <div class="col-md-10">
                          <h4>Sass / LESS</h4>
                          <p>Equally capable with both, have used both commercially. Happy with nested styles and inheritance, writing variables, mixins, and functions.</p>
                        </div>
                      </div>
                      <!--
                      JavaScript
                      -->
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/skills/js.jpg" width="71" height="100" alt="JavaScript"/>
                        </div>
                        <div class="col-md-10">
                          <h4>JavaScript</h4>
                          <p>Compentent object-oriented JavaScript developer - functions, objects, classes, prototype, etc.</p>
                          <p>
                            Familiar with a range of JS libraries and frameworks such as Backbone.js, jQuery, Require.js, and Underscore.js.
                            See 'Front-end development' for more details.
                          </p>
                        </div>
                      </div>
                      <!--
                      jQuery
                      -->
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/skills/jquery.jpg" width="90" height="100" alt="jQuery"/>
                        </div>
                        <div class="col-md-10">
                          <h4>jQuery</h4>
                          <p>Long-standing famliarity. Used to one extent or another on virtually every project.</p>
                          <p>Have also experimented with jQuery UI on past projects.</p>
                        </div>
                      </div>
                      <!--
                      Backbone.js
                      -->
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/skills/backbone.jpg" width="100" height="100" alt="Backbone.js"/>
                        </div>
                        <div class="col-md-10">
                          <h4>Backbone.js</h4>
                          <p>Excellent understanding and familiarity with the framework - views, models, collections, routers, etc.</p>
                          <p>
                            Proficient with extending Backbone classes to suit the need of a given project.
                            Good awareness of best practices such as structure and organisation, view management, and garbage collection.
                          </p>
                        </div>
                      </div>
                      <!--
                      Require.js
                      -->
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/skills/requirejs.jpg" width="89" height="100" alt="Require.js"/>
                        </div>
                        <div class="col-md-10">
                          <h4>Require.js</h4>
                          <p>Good project experience of using library for modular and optmial architecture.</p>
                          <p>Familiar with the r.js optimiser, and AMD substitute almond.js, for building require.js apps for production environments.</p>
                        </div>
                      </div>
                      <!--
                      Foundation / Twitter Bootstrap
                      -->
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/skills/foundation-bootstrap.jpg" width="70" height="100" alt="Foundation / Bootstrap"/>
                        </div>
                        <div class="col-md-10">
                          <h4>Foundation / Twitter Bootstrap</h4>
                          <p>Adept with the grid scaffolding systems of both frameworks to bring about a responsive front-end.</p>
                          <p>Also experienced with the various CSS/JS components provided, such as the carousel, accordion, tabs, etc, as well as Foundation's interchange function for responsive images.</p>
                        </div>
                      </div>
                      <!--
                      Other JavaScript Libraries
                      -->
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/skills/js.jpg" width="71" height="100" alt="JavaScript"/>
                        </div>
                        <div class="col-md-10">
                          <h4>Other JavaScript Libraries</h4>
                          <p>Have often searched for, experimented with, and deployed a range of small popular JS libraries.</p>
                          <p>A few recent examples: Chosen.js, Moment.js, Chart.js, Progress.js, Owl Carousel, and JWPlayer.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--
                  Body - Back-end development
                  -->
                  <div class="tab-pane" id="skills-backend">
                    <h3>Back-end Development</h3>
                    <div class="l-content-rows">
                      
                      <!--
                      PHP
                      -->
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/skills/php.jpg" width="85" height="100" alt="PHP"/>
                        </div>
                        <div class="col-md-10">
                          <h4>PHP</h4>
                          <p>
                            Have often been responsible for the full stack of a website with server-side requirements.
                            Good grasp of Classes, Functions, Scope, Error Handling, etc. See 'Back-end development' for more details.
                          </p>
                        </div>
                      </div>
                      <!--
                      MySQL
                      -->
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/skills/mysql.jpg" width="85" height="100" alt="MySQL"/>
                        </div>
                        <div class="col-md-10">
                          <h4>MySQL</h4>
                          <p>
                            Predominantly used MySQL as database solution for PHP projects. Good level of SQL knowledge.
                            Comfortable managing databases via command line or tools such as Sequel Pro/MySQL Workbench.
                          </p>
                        </div>
                      </div>
                      <!--
                      Laravel
                      -->
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/skills/laravel.jpg" width="70" height="100" alt="Laravel"/>
                        </div>
                        <div class="col-md-10">
                          <h4>Laravel</h4>
                          <p>Good grasp of framework essentials. Competent with writing routes, creating RESTful controllers, views, models, databases, and working with the PHP artisan command line tool.</p>
                          <p>Have also written unit tests with the in-built PHPUnit library.</p>
                        </div>
                      </div>
                      <!--
                      CodeIgniter
                      -->
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/skills/codeigniter.jpg" width="70" height="100" alt="CodeIgniter"/>
                        </div>
                        <div class="col-md-10">
                          <h4>CodeIgniter</h4>
                          <p>Strong commercial experience as CodeIgniter was a standard where I worked for over two years.</p>
                          <p>Knowledgeable of views, controllers, models, routes, database integration, custom configuration, extending base classes, language translation, etc.</p>
                        </div>
                      </div>
                      <!--
                      WordPress
                      -->
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/skills/wordpress.jpg" width="70" height="100" alt="WordPress"/>
                        </div>
                        <div class="col-md-10">
                          <h4>WordPress</h4>
                          <p>Although I've not worked with this CMS recently, I've always been very capable of creating WordPress sites as and when required.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--
                  Body - Testing
                  -->
                  <div class="tab-pane" id="skills-testing">
                    <h3>Testing</h3>
                  </div>

                  <!--
                  Workflow
                  -->
                  <div class="tab-pane" id="skills-workflow">
                    <h3>Workflow</h3>
                    <div class="l-content-rows">
                      <!--
                      Git Version Control
                      -->
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/skills/git.jpg" width="70" height="100" alt="Git"/>
                        </div>
                        <div class="col-md-10">
                          <h4>Git Version Control</h4>
                          <p>Predominant source control system for the last three years, previously using SVN. Worked with GitHub and BitBucket repositories.</p>
                          <p>Familiar with Gitflow model, feature branches, pull requests, hotfixing, etc.</p>
                        </div>
                      </div>
                      <!--
                      Grunt
                      -->
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/skills/grunt.jpg" width="70" height="100" alt="Grunt"/>
                        </div>
                        <div class="col-md-10">
                          <h4>Grunt</h4>
                          <p>I use Grunt to automate a range of tasks such as JavaScript linting, compiling Sass/LESS styles, generating spritesheets, browser auto-reloading, etc.</p>
                          <p>Have recently worked hard to form a complex build process that I now use for all future projects.</p>
                        </div>
                      </div>
                      <!--
                      JIRA / Confluence
                      -->
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/skills/jira-confluence.jpg" width="70" height="100" alt="JIRA / Confluence"/>
                        </div>
                        <div class="col-md-10">
                          <strike>
                          <h4>JIRA / Confluence</h4>
                          <p>Know my way around JIRA for Agile development purposes, and Confluence for project documentation purposes.</p>
                          </strike>
                        </div>
                      </div>
                      <!--
                      Adobe Suite
                      -->
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/skills/adobe-suite.jpg" width="70" height="100" alt="Adobe Suite"/>
                        </div>
                        <div class="col-md-10">
                          <h4>Adobe Suite</h4>
                          <p>Comfortable using Photoshop as a web developer, i.e. navigating around a designer's PSD file, exporting images, obtaining typeface information, etc.</p>
                          <p>Use Fireworks for basic imaging. Have experience with Flash and ActionScript 2.0.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  

                </div>

              </div>
            </div>

            <!--
            Development Workflow
            -->
            <div class="tab-pane" id="workflow">

              <div class="l-spaced-rows">
                <div class="row">
                  <div class="col-md-9">
                    <p class="large">For the benefit of Development Managers and other Developers, below are some of the tools and applications that I am familiar with and use project-to-project where possible:</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">

                    <div class="icon-grid">
                      <div class="icon-grid-column">
                        <div class="icon-grid-item js-select" data-tab="grunt">
                          <span class="title">Grunt</span>
                          <img class="icon" src="images/workflow/grunt.png" width="33" height="45" alt="Grunt"/>
                        </div>
                        <div class="icon-grid-item js-select" data-tab="bower">
                          <span class="title">Bower/NPM</span>
                          <img class="icon" src="images/workflow/bower.png" width="49" height="44" alt="Bower"/>
                        </div>
                        <div class="icon-grid-item js-select" data-tab="yeoman">
                          <span class="title">Yeoman</span>
                          <img class="icon" src="images/workflow/yeoman.png" width="39" height="43" alt="Yeoman"/>
                        </div>
                        <div class="icon-grid-item js-select" data-tab="charles">
                          <span class="title">Charles</span>
                          <img class="icon" src="images/workflow/charles.png" width="44" height="45" alt="Charles"/>
                        </div>
                      </div>
                      <div class="icon-grid-column">
                        <div class="icon-grid-item js-select" data-tab="devtools">
                          <span class="title">DevTools</span>
                          <img class="icon" src="images/workflow/chrome.png" width="43" height="44" alt="Chrome DevTools"/>
                        </div>
                        <div class="icon-grid-item js-select" data-tab="sublime">
                          <span class="title">Sublime Text</span>
                          <img class="icon" src="images/workflow/sublime.png" width="50" height="45" alt="Sublime Text"/>
                        </div>
                        <div class="icon-grid-item js-select" data-tab="commandline">
                          <span class="title">Command Line</span>
                          <img class="icon" src="images/workflow/terminal.png" width="50" height="44" alt="Command Line"/>
                        </div>
                        <div class="icon-grid-item js-select" data-tab="yslow">
                          <span class="title">YSlow</span>
                          <img class="icon" src="images/workflow/yslow.png" width="66" height="40" alt="YSlow"/>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-6">
                    <div class="tab-content">
                      <!--
                      Grunt
                      -->
                      <div class="tab-pane js-tab active" id="select">
                        <h3>Select an icon</h3>
                      </div>
                      <div class="tab-pane js-tab" id="grunt">
                        <div class="heading-description-image">
                          <div class="info-box">
                            <a href="http://gruntjs.com" target="_blank">
                              <img src="images/workflow/grunt-large.png" width="74" height="100" alt="Grunt"/>
                            </a>
                            <a class="link" href="http://gruntjs.com" target="_blank">www.gruntjs.com</a>
                          </div>
                          <h3>Grunt</h3>
                          <p class="description large">Automation tool that aids development, testing, and optimisation.</p>
                        </div>
                        <hr/>
                        <p>I use Grunt for JavaScript linting, compiling Sass/LESS, generating spritesheets, browser auto-reloading, and for other development admin.</p>
                        <p>But also for building and optimising an app fit for a production environment, involving code concatenation and minification for example.</p>
                        <p>A few of my favourite Grunt plugins are:</p>
                        <ul>
                          <li><a href="https://github.com/shakyShane/grunt-browser-sync" target="_blank">grunt-browser-sync</a> - Watches code and injects changes into the browser on each target device at once, and keeping them all in sync when navigating</li>
                          <li><a href="https://github.com/cbas/grunt-rev" target="_blank">grunt-rev</a> - Appends to asset filenames a unique content-based hash for anti-caching purposes</li>
                          <li><a href="https://github.com/Ensighten/grunt-spritesmith" target="_blank">grunt-spritesmith</a> - Generates sprite sheets and CSS based on specified image files</li>
                        </ul>
                      </div>
                      <!--
                      Chrome DevTools
                      -->
                      <div class="tab-pane js-tab" id="devtools">
                        <div class="heading-description-image">
                          <div class="info-box">
                            <a href="https://developer.chrome.com/devtools" target="_blank">
                              <img src="images/workflow/chrome-large.png" width="100" height="99" alt="Chrome DevTools"/>
                            </a>
                            <a class="link" href="https://developer.chrome.com/devtools" target="_blank">developer.chrome.com/devtools</a>
                          </div>
                          <h3>Chrome DevTools</h3>
                          <p class="description large">Web debugging toolkit.</p>
                        </div>
                        <hr/>
                        <p>Lorem ipsum.</p>
                      </div>
                      <!--
                      Bower
                      -->
                      <div class="tab-pane js-tab" id="bower">
                        <div class="heading-description-image">
                          <div class="info-box">
                            <a href="http://bower.io" target="_blank">
                              <img src="images/workflow/bower-large.png" width="113" height="100" alt="Bower"/>
                            </a>
                            <a class="link" href="http://bower.io" target="_blank">bower.io</a>
                          </div>
                          <h3>Bower / NPM</h3>
                          <p class="description large">Package managers that enable easy management of library and framework dependencies.</p>
                        </div>
                        <hr/>
                        <p>Having used Bower for a couple of years now within development teams, it is a must for keeping developers on the same page.</p>
                        <p>I use the Node Package Manager (NPM) for similar purposes, but predominantly with respect to development dependencies such as Grunt plugins.</p>
                      </div>
                      <!--
                      Sublime Text
                      -->
                      <div class="tab-pane js-tab" id="sublime">
                        <div class="heading-description-image">
                          <div class="info-box">
                            <a href="http://www.sublimetext.com" target="_blank">
                              <img src="images/workflow/sublime-large.png" width="116" height="100" alt="Sublime Text"/>
                            </a>
                            <a class="link" href="http://www.sublimetext.com" target="_blank">www.sublimetext.com</a>
                          </div>
                          <h3>Sublime Text</h3>
                          <p class="description large">Lorem ipsum.</p>
                        </div>
                        <hr/>
                        <p>Lorem ipsum.</p>
                      </div>
                      <!--
                      Yeoman
                      -->
                      <div class="tab-pane js-tab" id="yeoman">
                        <div class="heading-description-image">
                          <div class="info-box">
                            <a href="http://yeoman.io" target="_blank">
                              <img src="images/workflow/yeoman-large.png" width="60" height="100" alt="Yeoman"/>
                            </a>
                            <a class="link" href="http://yeoman.io" target="_blank">yeoman.io</a>
                          </div>
                          <h3>Yeoman</h3>
                          <p class="description large">Modern tool for generating boilerplate code to kick-start a new project.</p>
                        </div>
                        <hr/>
                        <p>More often than not I won't use Yeoman to actually provide boilerplate code for a new project, but instead as an insight towards the latest code structures and trends that others have established.</p>
                        <p>I have however used Yeoman's flagship generator in the past, 'webapp-generator', for use on simple landing pages or very small three to four page static sites.</p>
                        <p>I am also intrigued by the idea of writing my own Yeoman generators for the purpose of providing a quick route to scaffolding a new project with my own boilerplate code for my own use only.</p>
                      </div>
                      <!--
                      Command Line
                      -->
                      <div class="tab-pane js-tab" id="commandline">
                        <div class="heading-description-image">
                          <div class="info-box">
                            <img src="images/workflow/terminal-large.png" width="112" height="99" alt="Command Line"/>
                          </div>
                          <h3>Command Line</h3>
                          <p class="description large">Lorem ipsum.</p>
                        </div>
                        <hr/>
                        <p>Lorem ipsum.</p>
                      </div>
                      <!--
                      Charles
                      -->
                      <div class="tab-pane js-tab" id="charles">
                        <div class="heading-description-image">
                          <div class="info-box">
                            <a href="http://www.charlesproxy.com" target="_blank">
                              <img src="images/workflow/charles-large.png" width="102" height="100" alt="Charles"/>
                            </a>
                            <a class="link" href="http://www.charlesproxy.com" target="_blank">charlesproxy.com</a>
                          </div>
                          <h3>Charles</h3>
                          <p class="description large">Web debugging, monitoring, and proxy tool.</p>
                        </div>
                        <hr/>
                        <p>I have benefited a lot from using Charles not only as a HTTP Monitor, for which there are many tools, but also as a means to develop apps with external dependencies.</p>
                        <p>For example, using Charles' proxy functionality on a recent project, I have been able to redirect requests to an external live video stream (.m3u8 file) to a local version of this file, in order to change the contents of it for experiment and testing purposes.</p>
                        <p>Furthermore, using the throttling feature it is very easy to test the performance of a site under a limited Internet connection.</p>
                      </div>
                      <!--
                      YSlow
                      -->
                      <div class="tab-pane js-tab" id="yslow">
                        <div class="heading-description-image">
                          <div class="info-box">
                            <a href="https://developer.yahoo.com/yslow" target="_blank">
                              <img src="images/workflow/yslow-large.png" width="132" height="80" alt="YSlow"/>
                            </a>
                            <a class="link" href="#" target="_blank">developer.yahoo.com/yslow</a>
                          </div>
                          <h3>YSlow</h3>
                          <p class="description large">Analysis tool for measuring the level of optimisation.</p>
                        </div>
                        <hr/>
                        <p>Relevant to one of my key interests, web performance, I very often rely on YSlow as a standard to judge whether or not basic principles for good web performance has been implemented or not.</p>
                        <p>This helps in providing a checklist for developing my own sites, but also a means to assess others.</p>
                        <p>In addition, I often call upon other tools to help enhance web performance such as Google <a href="https://developers.google.com/speed/pagespeed/insights" target="_blank">PageSpeed Insights</a> and <a href="http://www.webpagetest.org" target="_blank">webpagetest.org</a>.</p>
                      </div>
                      <!--
                      Git
                      -->
                      <div class="tab-pane js-tab" id="git">
                        <div class="heading-description-image">
                          <div class="info-box">
                            <a href="http://git-scm.com" target="_blank">
                              <img src="images/workflow/git-large.png" width="100" height="100" alt="Git"/>
                            </a>
                            <a class="link" href="http://git-scm.com" target="_blank">git-scm.com</a>
                          </div>
                          <h3>Git Source Control</h3>
                          <p class="description large">Lorem ipsum.</p>
                        </div>
                        <hr/>
                        <p>Lorem ipsum.</p>
                      </div>
                      <!--
                      BitBucket
                      -->
                      <div class="tab-pane js-tab" id="bitbucket">
                        <div class="heading-description-image">
                          <div class="info-box">
                            <a href="https://bitbucket.org" target="_blank">
                              <img src="images/workflow/bitbucket-large.png" width="175" height="44" alt="BitBucket"/>
                            </a>
                            <a class="link" href="https://bitbucket.org" target="_blank">bitbucket.org</a>
                          </div>
                          <h3>BitBucket</h3>
                          <p class="description large">Lorem ipsum.</p>
                        </div>
                        <hr/>
                        <p>Lorem ipsum.</p>
                      </div>
                      <!--
                      Gitflow
                      -->
                      <div class="tab-pane js-tab" id="gitflow">
                        <div class="heading-description-image">
                          <div class="info-box">
                            <a href="http://nvie.com/posts/a-successful-git-branching-model" target="_blank">
                              <img src="images/workflow/git-large.png" width="100" height="100" alt="Git"/>
                            </a>
                            <a class="link" href="http://nvie.com/posts/a-successful-git-branching-model" target="_blank">nvie.com</a>
                          </div>
                          <h3>Gitflow</h3>
                          <p class="description large">Lorem ipsum.</p>
                        </div>
                        <hr/>
                        <p>Lorem ipsum.</p>
                      </div>
                      <!--
                      Confluence
                      -->
                      <div class="tab-pane js-tab" id="confluence">
                        <div class="heading-description-image">
                          <div class="info-box">
                            <a href="https://www.atlassian.com/software/confluenc" target="_blank">
                              <img src="images/workflow/confluence-large.png" width="175" height="40" alt="Confluence"/>
                            </a>
                            <a class="link" href="https://www.atlassian.com/software/confluenc" target="_blank">atlassian.com/software/confluence</a>
                          </div>
                          <h3>Confluence</h3>
                          <p class="description large">Lorem ipsum.</p>
                        </div>
                        <hr/>
                        <p>Lorem ipsum.</p>
                      </div>
                      <!--
                      GitHub
                      -->
                      <div class="tab-pane js-tab" id="github">
                        <div class="heading-description-image">
                          <div class="info-box">
                            <a href="https://github.com" target="_blank">
                              <img src="images/workflow/github-large.png" width="117" height="100" alt="GitHub"/>
                            </a>
                            <a class="link" href="https://github.com" target="_blank">github.com</a>
                          </div>
                          <h3>GitHub</h3>
                          <p class="description large">Lorem ipsum.</p>
                        </div>
                        <hr/>
                        <p>Lorem ipsum.</p>
                      </div>
                      <!--
                      JIRA
                      -->
                      <div class="tab-pane js-tab" id="jira">
                        <div class="heading-description-image">
                          <div class="info-box">
                            <a href="https://www.atlassian.com/software/jira" target="_blank">
                              <img src="images/workflow/jira-large.png" width="175" height="68" alt="JIRA"/>
                            </a>
                            <a class="link" href="https://www.atlassian.com/software/jira" target="_blank">atlassian.com/software/jira</a>
                          </div>
                          <h3>JIRA</h3>
                          <p class="description large">Lorem ipsum.</p>
                        </div>
                        <hr/>
                        <p>Lorem ipsum.</p>
                      </div>
                      <!--
                      VirtualBox
                      -->
                      <div class="tab-pane js-tab" id="virtualbox">
                        <div class="heading-description-image">
                          <div class="info-box">
                            <a href="https://www.virtualbox.org" target="_blank">
                              <img src="images/workflow/virtualbox-large.png" width="93" height="100" alt="VirtualBox"/>
                            </a>
                            <a class="link" href="https://www.virtualbox.org" target="_blank">virtualbox.org</a>
                          </div>
                          <h3>VirtualBox</h3>
                          <p class="description large">Lorem ipsum.</p>
                        </div>
                        <hr/>
                        <p>Lorem ipsum.</p>
                      </div>
                      <!--
                      BrowserStack
                      -->
                      <div class="tab-pane js-tab" id="browserstack">
                        <div class="heading-description-image">
                          <div class="info-box">
                            <a href="http://www.browserstack.com" target="_blank">
                              <img src="images/workflow/browserstack-large.png" width="99" height="100" alt="BrowserStack"/>
                            </a>
                            <a class="link" href="http://www.browserstack.com" target="_blank">browserstack.com</a>
                          </div>
                          <h3>BrowserStack</h3>
                          <p class="description large">Lorem ipsum.</p>
                        </div>
                        <hr/>
                        <p>Lorem ipsum.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">

                    <div class="icon-grid">
                      <div class="icon-grid-column">
                        <div class="icon-grid-item js-select" data-tab="git">
                          <span class="title">Git</span>
                          <img class="icon" src="images/workflow/git.png" width="44" height="45" alt="Git"/>
                        </div>
                        <div class="icon-grid-item js-select" data-tab="gitflow">
                          <span class="title">Gitflow</span>
                          <img class="icon" src="images/workflow/git.png" width="44" height="45" alt="Git"/>
                        </div>
                        <div class="icon-grid-item js-select" data-tab="github">
                          <span class="title">GitHub</span>
                          <img class="icon" src="images/workflow/github.png" width="52" height="45" alt="GitHub"/>
                        </div>
                        <div class="icon-grid-item js-select" data-tab="virtualbox">
                          <span class="title">VirtualBox</span>
                          <img class="icon" src="images/workflow/virtualbox.png" width="38" height="45" alt="VirtualBox"/>
                        </div>
                      </div>
                      <div class="icon-grid-column">
                        <div class="icon-grid-item js-select" data-tab="bitbucket">
                          <span class="title">BitBucket</span>
                          <img class="icon" src="images/workflow/bitbucket.png" width="40" height="45" alt="BitBucket"/>
                        </div>
                        <div class="icon-grid-item js-select" data-tab="confluence">
                          <span class="title">Confluence</span>
                          <img class="icon" src="images/workflow/confluence.png" width="51" height="45" alt="Confluence"/>
                        </div>
                        <div class="icon-grid-item js-select" data-tab="jira">
                          <span class="title">JIRA</span>
                          <img class="icon" src="images/workflow/jira.png" width="33" height="45" alt="JIRA"/>
                        </div>

                        <div class="icon-grid-item js-select" data-tab="browserstack">
                          <span class="title">BrowserStack</span>
                          <img class="icon" src="images/workflow/browserstack.png" width="45" height="45" alt="BrowserStack"/>
                        </div>
                      </div>
                    </div>
                  
                  </div>
                </div>

              </div>

            </div>

            <!--
            Currently Learning
            -->
            <div class="tab-pane" id="learning">

              <div class="l-spaced-rows">
                <div class="row">
                  <div class="col-md-12">
                    <p class="large">As a passionate and determined web developer, I always have two or three major learning objectives that I work towards in my spare time. Currently they are:</p>
                  </div>
                </div>
                <div class="side-by-side-content row">
                  <div class="side-by-side-content-column col-md-6">
                    <img src="images/learning/angularjs.png" width="250" height="64" alt="AngularJS"/>
                    <p class="text-left">
                      Currently the JavaScript MVC framework that I am experienced with is <em>Backbone.js</em>. The reason for this is because Backbone
                      was the first JS framework that I encountered and I really liked the instant MVC structure that it enforces.
                    </p>
                    <p class="text-left">
                      However, AngularJS for a while now seems to have taken the lead at least in terms of popularity. But more importantly, the general wisdom
                      seems to be that choosing a particular framework over another depends on the project at hand - rather than the result of any direct comparisons.
                    </p>
                    <p class="text-left">
                      I would therefore like to further extend my resourcefulness and flexibility by adding AngularJS to my arsenal.
                    </p>
                    <p class="text-left">
                      It is my intention in the very near future, as a learning exercise, to create a separate branch of this website built with AngularJS
                      rather than Backbone.js.
                    </p>
                  </div>
                  <div class="side-by-side-content-column col-md-6">
                    <img src="images/learning/phonegap.png" width="199" height="64" alt="PhoneGap"/>
                    <p class="text-left">
                      As part of my overall objective of becoming a <em>complete</em> developer, or as close to this as it is possible at any one point in time,
                      I would like to possess a mobile app development capability.
                    </p>
                    <p class="text-left">
                      I think that it's obvious to say that a developer who can offer mobile apps, rather than just responsive websites, can instantly become double
                      the asset that they were previously for any given company.
                    </p>
                    <p class="text-left">
                      Furthermore, for the last several months I have been working on a concept, as well as UI wireframes and technical architecture, for an ambitious mobile app that
                      I intend to build and sell as a product of a new business.
                    </p>
                    <p class="text-left">
                      I have chosen PhoneGap as the platform that will box the project as a mobile app, and with the learning materials that I have acquired I will soon
                      begin work on an early prototype.
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h3>Also on the radar:</h3>
                    <div class="l-content-rows">
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/learning/coffeescript.png" width="160" height="27" alt="CoffeeScript"/>
                        </div>
                        <div class="col-md-10">
                          <p>
                            Having experimented with writing CoffeeScript, I really appreciate the stripped back, simplified, and quick-to-read JavaScript that CoffeeScript brings about.
                            As a learning exercise I'm keen to re-write this website using CoffeeScript and keep it on a separate branch.
                          </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/learning/nodejs.png" width="160" height="43" alt="Node.js"/>
                        </div>
                        <div class="col-md-10">
                          <p>
                            Node.js is obviously a bit of a revolution in the JavaScript world with respect to more efficient server-side processing. Given its growing popularity and
                            adoption in various industries, I intend to be able to provide a Node.js service in the future.
                          </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          <img src="images/learning/mongodb.png" width="160" height="46" alt="MongoDB"/>
                        </div>
                        <div class="col-md-10">
                          <p>
                            A very popular alternative database solution, MongoDB seems to have propelled the NoSQL movement forwards somewhat. As someone who has always met these
                            requirements previously with PHP &amp; MySQL, I would like to adapt and add a NoSQL string to my bow.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>



          </div>

      </div>
    </div>

  </div>

</div>