<!--
Template - Skills & Expertise
-->
<div class="page-container is-hidden js-fadein">

  <div class="row">
    <div class="col-md-12">

      <div class="tabbed-content">

        <div class="content-canvas theme-border decor-skills">
          <h2>Skills &amp; Expertise</h2>

            <!--
            Tabs
            -->
            <div class="tabbed-content-tabs">
              <ul class="nav nav-tabs" role="tablist">
                <li class="_active"><a href="#overview" class="js-track" role="tab" data-toggle="tab" data-track-category="Skills/Expertise" data-track-label="Tab - Overview">
                  Overview
                </a></li>
                <li>
                  <a href="#skills" class="js-track" role="tab" data-toggle="tab" data-track-category="Skills/Expertise" data-track-label="Tab - Technical Skills">
                    Technology Checklist
                  </a>
                  <ul class="subnav-mobile">
                    <li class="active"><a href="#skills-libraries" class="js-track" role="tab" data-toggle="tab" data-track-category="Skills/Expertise - Technical Skills" data-track-label="Tab - Front-end">
                      Front-end Development
                    </a></li>
                    <li><a href="#skills-backend" class="js-track" role="tab" data-toggle="tab" data-track-category="Skills/Expertise - Technical Skills" data-track-label="Tab - Back-end">
                      Back-end Development
                    </a></li>
                    <!-- <li><a href="#skills-testing" class="js-track" role="tab" data-toggle="tab" data-track-category="Skills/Expertise - Technical Skills" data-track-label="Tab - Testing">
                      Testing</a>
                    </li> -->
                    <li><a href="#skills-workflow" class="js-track" role="tab" data-toggle="tab" data-track-category="Skills/Expertise - Technical Skills" data-track-label="Tab - Workflow">
                      Workflow
                    </a></li>
                  </ul>
                </li>
                <li class="active"><a href="#workflow" class="js-track" role="tab" data-toggle="tab" data-track-category="Skills/Expertise" data-track-label="Tab - Development Knowledge">
                  Development Knowledge
                </a></li>
                <li><a href="#learning" class="js-track" role="tab" data-toggle="tab" data-track-category="Skills/Expertise" data-track-label="Tab - Currently Learning">
                  Currently Learning
                </a></li>
              </ul>
            </div>

            <div class="tab-content">
            
              <!--
              Basic Services
              -->
              <div class="tab-pane _active" id="overview">
                <div class="side-by-side-content">
                  <div class="row">
                    <div class="side-by-side-content-column col-md-5 col-md-offset-1">
                      <h3>Basic Services</h3>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="monopoly-card">
                              <p class="title">Design to Build</p>
                              <p class="description">Transforming a PSD into HTML, CSS, and JavaScript.</p>
                              <span class="icon sprite sprite-service-build"></span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="monopoly-card">
                              <p class="title">Responsive Development</p>
                              <p class="description">Delivering the most optimal solution for every device.</p>
                              <span class="icon sprite sprite-service-responsive"></span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="monopoly-card">
                              <p class="title">Server-Side Development</p>
                              <p class="description">Implementing back-end functional and data requirements.</p>
                              <span class="icon sprite sprite-service-backend"></span>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="side-by-side-content-column col-md-5">
                      <h3>Technical Priorities</h3>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="monopoly-card">
                            <p class="title">Best Practice Code</p>
                            <p class="description">Contributing object-oriented, modular, and scalable code.</p>
                            <span class="icon sprite sprite-service-standards"></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="monopoly-card">
                            <p class="title">Modern Techniques</p>
                            <p class="description">Keeping aware of and learning new industry innovations.</p>
                            <span class="icon sprite sprite-service-innovation"></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="monopoly-card">
                            <p class="title">Web Performance</p>
                            <p class="description">Providing a build process for fast download times.</p>
                            <span class="icon sprite sprite-service-performance"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--
              Technical Skills
              -->
              <div class="tab-pane" id="skills">

                <div class="col-md-3 hidden-xs">
                  <div class="subnav">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="subnav-item active"><a href="#skills-basics" class="js-track" role="tab" data-toggle="tab" data-track-category="Skills/Expertise - The Basics" data-track-label="Tab - The Basics">
                        The Basics
                      </a></li>
                      <li class="subnav-item"><a href="#skills-libraries" class="js-track" role="tab" data-toggle="tab" data-track-category="Skills/Expertise - Technical Skills" data-track-label="Tab - Front-end">
                        Libraries &amp; Frameworks
                      </a></li>
                      <li class="subnav-item"><a href="#skills-workflow" class="js-track" role="tab" data-toggle="tab" data-track-category="Skills/Expertise - Technical Skills" data-track-label="Tab - Workflow">
                        Developer Workflow
                      </a></li>
                      <li class="subnav-item"><a href="#skills-testing" class="js-track" role="tab" data-toggle="tab" data-track-category="Skills/Expertise - Technical Skills" data-track-label="Tab - Testing">
                        Testing
                      </a></li>
                      <li class="subnav-item"><a href="#skills-backend" class="js-track" role="tab" data-toggle="tab" data-track-category="Skills/Expertise - Technical Skills" data-track-label="Tab - Back-end">
                        Back-end Development
                      </a></li>
                      <li class="subnav-item subnav-item-separated"><a href="#skills-summary" class="js-track" role="tab" data-toggle="tab" data-track-category="Skills/Expertise - Technical Skills" data-track-label="Tab - Summary">
                        Summary
                      </a></li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-9 col-xs-12">

                  <div class="tab-content">

                    <!--
                    Body - The Basics
                    -->
                    <div class="tab-pane tech-list-item active" id="skills-basics">
                      <h3>The Basics</h3>

                      <div class="l-content-rows">
                        <!--
                        HTML
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-html"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>HTML5</h4>
                            <p>
                              First encountered HTML at an early age, worked with it throughout career.
                              Strict on keeping the markup void of implied styling in favour of maximum semantic meaning.
                            </p>
                            <p>Familiar with HTML5 - new elements, new input types, HTML5 video for example.</p>
                          </div>
                        </div>
                        <!--
                        CSS
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-css"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>CSS3</h4>
                            <p>
                              Prefer to use the SMACSS model where possible for good modularity and scalability.
                              Experienced at troubleshooting cross-browser presentation issues.
                            </p>
                            <p>Proficient with media queries and CSS3 animation.</p>
                          </div>
                        </div>
                        <!--
                        Sass / LESS
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-sass-less"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>Sass / LESS</h4>
                            <p>Equally capable with both, have used both commercially. Happy with nested styles and inheritance, writing variables, mixins, functions, etc.</p>
                          </div>
                        </div>
                        <!--
                        JavaScript
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-javascript"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>JavaScript</h4>
                            <p>Compentent object-oriented JavaScript developer - functions, objects, classes, prototype, etc.</p>
                            <p>Have experience with a wide range of projects with different levels of JavaScript involvement, from web pages requiring mere form validation to large complex webapps driven 90% by JavaScript.</p>
                          </div>
                        </div>

                      </div>
                    </div>

                    <!--
                    Body - Libraries / Frameworks
                    -->
                    <div class="tab-pane tech-list-item" id="skills-libraries">
                      <h3>Libraries &amp; Frameworks</h3>
                      <p><em>(TODO: To be re-ordered. Modernizr/Underscore to be added.)</em></p>

                      <div class="l-content-rows">

                        <!--
                        Foundation / Twitter Bootstrap
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-foundation-bootstrap"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>Foundation / Twitter Bootstrap</h4>
                            <p>Adept with the grid scaffolding systems of both frameworks to bring about a responsive front-end.</p>
                            <p>Also experienced with the various CSS/JS components provided, such as Bootstrap's carousel, accordion, tabs, etc, as well as Foundation's interchange function for responsive images.</p>
                          </div>
                        </div>
                        <!--
                        Handlebars
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-css"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>Handlebars</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                        </div>
                        <!--
                        jQuery
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-jquery"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>jQuery</h4>
                            <p>Long-standing famliarity. Used to one extent or another on virtually every project.</p>
                            <p>Have also experimented with jQuery UI on past projects.</p>
                          </div>
                        </div>
                        <!--
                        Backbone.js
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-backbone"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>Backbone.js</h4>
                            <p>Excellent understanding and familiarity with the framework - views, models, collections, routers, etc.</p>
                            <p>
                              Proficient with extending Backbone classes to suit the need of a given project.
                              Good awareness of best practices such as structure and organisation, view management, and garbage collection.
                            </p>
                          </div>
                        </div>
                        <!--
                        Require.js
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-requirejs"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>Require.js</h4>
                            <p>Good project experience of using library for modular and optmial architecture.</p>
                            <p>Familiar with the r.js optimiser, and AMD substitute almond.js, for building require.js apps for production environments.</p>
                          </div>
                        </div>
                        <!--
                        Other JavaScript Libraries
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-javascript"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>Other JavaScript Libraries</h4>
                            <p>Have often searched for, experimented with, and deployed a range of small popular JS libraries.</p>
                            <p>A few recent examples: Chosen.js, Moment.js, Chart.js, Progress.js, Owl Carousel, and JWPlayer.</p>
                          </div>
                        </div>


                      </div>
                    </div>

                    <!--
                    Body - Back-end development
                    -->
                    <div class="tab-pane tech-list-item" id="skills-backend">
                      <h3>Back-end Development</h3>
                      <div class="l-content-rows">
                        
                        <!--
                        PHP
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-php"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>PHP</h4>
                            <p>Have often been responsible for the full stack of a website with server-side requirements.</p>
                            <p>Good grasp of Classes, Functions, Scope, Error Handling, etc, as well as working within a PHP framework.</p>
                          </div>
                        </div>
                        <!--
                        MySQL
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-mysql"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>MySQL</h4>
                            <p>Predominantly used MySQL as the database solution for PHP projects. Good level of SQL knowledge.</p>
                            <p>Comfortable managing databases via command line or tools such as Sequel Pro/MySQL Workbench.</p>
                          </div>
                        </div>
                        <!--
                        Laravel
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-laravel"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>Laravel</h4>
                            <p>Good grasp of framework essentials. Competent with writing routes, creating RESTful controllers, views, models, databases, and working with the PHP artisan command line tool.</p>
                            <p>Have also written unit tests with the in-built PHPUnit library.</p>
                          </div>
                        </div>
                        <!--
                        CodeIgniter
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-codeigniter"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>CodeIgniter</h4>
                            <p>Strong commercial experience as CodeIgniter was a standard where I worked for over two years.</p>
                            <p>Knowledgeable of views, controllers, models, routes, database integration, custom configuration, extending base classes, language translation, etc.</p>
                          </div>
                        </div>
                        <!--
                        WordPress
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-wordpress"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>WordPress</h4>
                            <p>Although I've not worked with this CMS recently, I've always been capable of creating WordPress sites as and when required and could again after a quick refresh.</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--
                    Body - Testing
                    -->
                    <div class="tab-pane tech-list-item" id="skills-testing">
                      <h3>Testing</h3>

                      <div class="l-content-rows">
                        <!--
                        Jasmine
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-jasmine"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>Jasmine</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                        </div>
                        <!--
                        Sinon.JS
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-sinonjs"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>Sinon.JS</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                        </div>
                        <!--
                        Mocha
                        -->
                        <!-- <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-javascript"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>Mocha</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                        </div> -->
                        <!--
                        Chai
                        -->
                        <!-- <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-javascript"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>Chai</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                        </div> -->
                        <!--
                        PhantomJS
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-phantomjs"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>PhantomJS</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--
                    Workflow
                    -->
                    <div class="tab-pane tech-list-item" id="skills-workflow">
                      <h3>Workflow</h3>
                      <p><em>(TODO: Add Bower/NPM/Yeoman)</em></p>

                      <div class="l-content-rows">
                        <!--
                        Git Version Control
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-git"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>Git Version Control</h4>
                            <p>My predominant source control system for the last three years, previously using SVN. Good knowledge of working with Git via command line.</p>
                            <p>Familiar with Gitflow model - feature branches, release branches, pull requests, hotfixing, etc.</p>
                          </div>
                        </div>
                        <!--
                        Grunt
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-grunt"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>Grunt</h4>
                            <p>I use Grunt to automate a range of tasks such as JavaScript linting, compiling Sass/LESS styles, generating spritesheets, browser auto-reloading, etc.</p>
                            <p>Have recently produced a comprehensive build process for Backbone.js/Require.js apps that compiles to a highly optimised state that I now use for all future projects.</p>
                          </div>
                        </div>
                        <!--
                        JIRA / Confluence
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-jira-confluence"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>JIRA / Confluence</h4>
                            <p>Know my way around JIRA for Agile development purposes, and Confluence for project documentation purposes.</p>
                            <p>I'm a keen contributor to Confluence on a given project for the benefit of future developers and other stakeholders.</p>
                          </div>
                        </div>
                        <!--
                        Adobe Suite
                        -->
                        <div class="row">
                          <div class="col-md-2">
                            <span class="sprite sprite-tech-adobe"></span>
                          </div>
                          <div class="col-md-10">
                            <h4>Adobe Suite</h4>
                            <p>Comfortable using Photoshop as a web developer, i.e. navigating around a designer's PSD file, separating and exporting images, obtaining typeface information, etc.</p>
                            <p>Use Fireworks for basic imaging. Have experience with Flash and ActionScript 2.0.</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--
                    Body - Summary
                    -->
                    <div class="tab-pane tech-list-item" id="skills-summary">
                      <h3>Summary</h3><br/>

                      <p><em>Front-end Development:</em></p>
                      <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>Sass, LESS</li>
                        <li>JavaScript</li>
                        <li>Twitter Bootstrap, Foundation</li>
                        <li>Handlebars</li>
                        <li>Backbone.js</li>
                        <li>Require.js</li>
                        <li>jQuery</li>
                        <li>Underscore.js</li>
                      </ul>
                      <p><em>Testing:</em></p>
                      <ul>
                        <li>Jasmine</li>
                        <li>Sinon.JS</li>
                        <li>Mocha</li>
                        <li>Chai</li>
                        <li>PhantomJS</li>
                      </ul>
                      <p><em>Developer Workflow:</em></p>
                      <ul>
                        <li>Git</li>
                        <li>Grunt</li>
                        <li>JIRA, Confluence</li>
                        <li>Adobe Photoshop, Fireworks, Flash</li>
                      </ul>
                      <p><em>Back-end Development:</em></p>
                      <ul>
                        <li>PHP</li>
                        <li>MySQL</li>
                        <li>Laravel</li>
                        <li>CodeIgniter</li>
                        <li>WordPress</li>
                      </ul>

                    </div>
                    

                  </div>

                </div>
              </div>

              <!--
              Development Knowledge
              -->
              <div class="tab-pane active" id="workflow">

                <div class="l-spaced-rows">
                  <div class="row">
                    <div class="col-md-9">

                      <p class="large">A sample array of topics that I am well aquainted with in the interest of modern front-end web development.</p>
                      <!-- <p>Filters:</p> -->
                      <!-- <div class="checkbox-button-group">
                        <a href="#" class="checkbox-button is-active js-track" data-toggle="tab" data-track-category="Skills/Expertise - The Basics" data-track-label="Tab - The Basics">
                          HTML/CSS
                        </a>
                        <a href="#" class="checkbox-button js-track" data-toggle="tab" data-track-category="Skills/Expertise - The Basics" data-track-label="Tab - The Basics">
                          JavaScript
                        </a>
                        <a href="#" class="checkbox-button js-track" data-toggle="tab" data-track-category="Skills/Expertise - The Basics" data-track-label="Tab - The Basics">
                          Media
                        </a>
                        <a href="#" class="checkbox-button js-track" data-toggle="tab" data-track-category="Skills/Expertise - The Basics" data-track-label="Tab - The Basics">
                          Workflow
                        </a>
                        <a href="#" class="checkbox-button js-track" data-toggle="tab" data-track-category="Skills/Expertise - The Basics" data-track-label="Tab - The Basics">
                          Performance
                        </a>
                        <a href="#" class="checkbox-button js-track" data-toggle="tab" data-track-category="Skills/Expertise - The Basics" data-track-label="Tab - The Basics">
                          Testing
                        </a>
                        <a href="#" class="checkbox-button js-track" data-toggle="tab" data-track-category="Skills/Expertise - The Basics" data-track-label="Tab - The Basics">
                          Integration
                        </a>
                      </div> -->

                    </div>
                  </div>

                  <div class="row">

                    <!-- 
                    Tabs Left
                    -->
                    <div class="col-md-4">

                    <!-- (TODO: Restore JS behavior and tracking) -->
                    <!-- data-tab="grunt" data-track-category="Skills/Expertise - Developer Tools" data-track-label="Icon - Grunt" -->

                      <div class="icon-grid">
                        <div class="icon-grid-row">
                          <p class="icon-row-label">HTML/CSS</p>
                          <div class="icon-grid-item js-icon-select js-track">
                            <span class="title">Responsive Dev</span>
                            <span class="icon sprite sprite-topic-rwd-icon"></span>
                          </div>
                          <div class="icon-grid-item js-icon-select js-track">
                            <span class="title">Browser Support</span>
                            <span class="icon sprite sprite-topic-browsers-icon"></span>
                          </div>
                          <div class="icon-grid-item js-icon-select js-track">
                            <span class="title">SMACSS</span>
                            <span class="icon sprite sprite-topic-smacss-icon"></span>
                          </div>
                        </div>
                        <div class="icon-grid-row">
                          <p class="icon-row-label">JavaScript</p>
                          <div class="icon-grid-item js-icon-select js-track">
                            <span class="title">Object-oriented</span>
                            <span class="icon sprite sprite-topic-javascript-icon"></span>
                          </div>
                          <div class="icon-grid-item js-icon-select js-track">
                            <span class="title">Advanced JS</span>
                            <span class="icon sprite sprite-topic-javascript-icon"></span>
                          </div>
                          <div class="icon-grid-item js-icon-select js-track">
                            <span class="title">Design Patterns</span>
                            <span class="icon sprite sprite-topic-patterns-icon"></span>
                          </div>
                        </div>
                        <div class="icon-grid-row">
                          <p class="icon-row-label">Workflow</p>
                          <div class="icon-grid-item js-icon-select js-track">
                            <span class="title">Git Repositories</span>
                            <span class="icon sprite sprite-tech-git-icon"></span>
                          </div>
                          <div class="icon-grid-item js-icon-select js-track">
                            <span class="title">Modern Workflow</span>
                            <span class="icon sprite sprite-topic-workflow-icon"></span>
                          </div>
                          <div class="icon-grid-item js-icon-select js-track">
                            <span class="title">DevTools</span>
                            <span class="icon sprite sprite-tech-chrome-icon"></span>
                          </div>
                        </div>
                      </div>

                    </div>

                    <!-- 
                    Tabs Right
                    -->
                    <div class="col-md-4 col-md-push-4">

                      <div class="icon-grid">
                        <div class="icon-grid-row">
                          <p class="icon-row-label">Performance</p>
                          <div class="icon-grid-item js-icon-select js-track">
                            <span class="title">Basic</span>
                            <span class="icon sprite sprite-topic-performance-icon"></span>
                          </div>
                          <div class="icon-grid-item js-icon-select js-track">
                            <span class="title">Advanced</span>
                            <span class="icon sprite sprite-topic-performance-icon"></span>
                          </div>
                          <div class="icon-grid-item js-icon-select js-track">
                            <span class="title">Speed Analysis</span>
                            <span class="icon sprite sprite-topic-speedtest-icon"></span>
                          </div>
                        </div>
                        <div class="icon-grid-row">
                          <p class="icon-row-label">Testing</p>
                          <div class="icon-grid-item js-icon-select js-track">
                            <span class="title">Unit Testing</span>
                            <span class="icon sprite sprite-topic-unittesting-icon"></span>
                          </div>
                          <div class="icon-grid-item js-icon-select js-track">
                            <span class="title">Manual</span>
                            <span class="icon sprite sprite-topic-testingmanual-icon"></span>
                          </div>
                          <div class="icon-grid-item js-icon-select js-track">
                            <span class="title">Automated</span>
                            <span class="icon sprite sprite-topic-testingauto-icon"></span>
                          </div>
                        </div>
                        <div class="icon-grid-row">
                          <p class="icon-row-label">Integration</p>
                          <div class="icon-grid-item js-icon-select js-track">
                            <span class="title">Search Engines</span>
                            <span class="icon sprite sprite-topic-search-icon"></span>
                          </div>
                          <div class="icon-grid-item js-icon-select js-track">
                            <span class="title">Social Networks</span>
                            <span class="icon sprite sprite-topic-socialnetworks-icon"></span>
                          </div>
                          <div class="icon-grid-item js-icon-select js-track">
                            <span class="title">CMS Systems</span>
                            <span class="icon sprite sprite-tech-confluence-icon"></span>
                          </div>
                        </div>
                      </div>
                    
                    </div>

                    <!--
                    Body Content
                    -->
                    <div class="col-md-4 col-md-pull-4 hidden-sm hidden-xs js-middle-content-column">
                      <div class="tab-content">
                        <div class="tab-pane js-topic-tab _active" id="select">
                          <h3>Select an icon</h3>
                        </div>

                        <!--
                        Responsive Development
                        -->
                        <div class="tab-pane js-topic-tab active" id="responsive">
                          <div class="js-modal-content-grunt">
                            <div class="js-modal-content-header">
                              <div class="tech-modal-header">
                                <div class="info-box">
                                  <span class="image sprite sprite-topic-rwd-large"></span>
                                </div>
                                <h3>Responsive Development</h3>
                              </div>
                            </div>
                            <div class="js-modal-content-body">
                              <div class="tech-modal-body">
                                <!-- <p>I have  -->
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    
                  </div>

                </div>

              </div>

              <!--
              Currently Learning
              -->
              <div class="tab-pane" id="learning">

                <div class="l-spaced-rows">
                  <div class="row">
                    <div class="col-md-10 col-sm-9">
                      <p class="large">As a passionate and determined web developer, I always have two or three major learning objectives that I work towards in my spare time. Currently they are:</p>
                    </div>
                  </div>
                  <div class="side-by-side-content row">
                    <div class="side-by-side-content-column col-md-6">
                      <span class="image sprite sprite-tech-angularjs-large"></span>
                      <p class="text-left">
                        Currently I am well versed with <em>Backbone.js</em>, but I would like to further extend my resourcefulness and flexibility by
                        adding the increasingly popular AngularJS framework to my arsenal.
                      </p>
                      <p class="text-left">
                        It is my intention in the very near future, as a learning exercise, to create a separate branch of this website built with AngularJS
                        (rather than Backbone as it is currently).
                      </p>
                    </div>
                    <div class="side-by-side-content-column col-md-6">
                      <span class="image sprite sprite-tech-phonegap-large"></span>
                      <p class="text-left">
                        For the last several months I have been working on a concept for a mobile app that I intend to build and sell as the main product of a new business.
                      </p>
                      <p class="text-left">
                        I have chosen PhoneGap as the platform that will box the project as a mobile app.
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h3>Also on the radar:</h3>
                      <div class="l-content-rows">
                        <div class="row tech-list-item">
                          <div class="col-lg-2 col-md-3">
                            <span class="image sprite sprite-tech-nodejs-large"></span>
                          </div>
                          <div class="col-lg-10 col-md-9">
                            <h4 class="hidden-lg hidden-md">Flexbox</h4>
                            <p>
                              Flexbox. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                          </div>
                        </div>
                        <div class="row tech-list-item">
                          <div class="col-lg-2 col-md-3">
                            <span class="sprite sprite-tech-nodejs-large"></span>
                          </div>
                          <div class="col-lg-10 col-md-9">
                            <h4 class="hidden-lg hidden-md">React.js</h4>
                            <p>
                              React.js. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                          </div>
                        </div>
                        <div class="row tech-list-item">
                          <div class="col-lg-2 col-md-3">
                            <span class="sprite sprite-tech-nodejs-large"></span>
                          </div>
                          <div class="col-lg-10 col-md-9">
                            <h4 class="hidden-lg hidden-md">ECMA6</h4>
                            <p>
                              ECMA6. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

        </div>
      </div>
    </div>

  </div>

</div>