.billboardpostertext {
  padding: 25px 40px;
}

.billboardpostertext--headline {
  font-size: 2.2em;
  line-height: 1.6em;
}

.billboardpostertext > ul {
  margin: 25px 0 0 0;
  padding: 0;
  list-style: none;
}

.billboardpostertext > ul > li {
  padding: 7px 10px;
}

.billboardpostertext > ul > li:nth-child(odd) {
  background: #666;
  background: rgba(255, 255, 255, 0.7);
}
