.billboardpostertext {
  padding: 25px 30px;
  color: #fff;
}

.billboardpostertext--headline {
  font-size: 2.1em;
  line-height: 1.6em;
  text-shadow: 1px 1px #000;
}

.billboardpostertext > ul {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}

.billboardpostertext > ul > li {
  padding: 7px 10px;
}

.billboardpostertext > ul > li:nth-child(odd) {
  background: #666;
  background: rgba(255, 255, 255, 0.2);
}
