.billboardpostertext {
  padding: 25px 40px;
}

.billboardpostertext--headline {
  font-size: 2.2em;
  line-height: 1.6em;

  margin-bottom: 10px;
  display: inline-block;

  @media(max-width: 1400px) {
    margin-bottom: 0;
  }

  @media(max-width: 1000px) {
    font-size: 2em;
  }
}

.billboardpostertext > ul {
  margin: 25px 0 0 0;
  padding: 0;
  list-style: none;
}

.billboardpostertext > ul > li {
  padding: 10px 12px;

  @media(max-width: 1400px) {
    padding: 7px 10px;
  }

  @media(max-width: 1000px) {
    &:nth-child(4) {
      display: none;
    }
  }
  @media(max-width: 700px) {
    &:nth-child(3) {
      display: none;
    }
  }
}

.billboardpostertext > ul > li:nth-child(odd) {
  background: #666;
  background: rgba(255, 255, 255, 0.7);
}

.billboardposterimage {
  float: left;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
}


// ---
// Billboard Images
// ---
.billboardposterimage-home {
  background-image: url('../images/billboardposter/billboard-home.jpg');
}

.billboardposterimage-skillsexpertise {
  background-image: url('../images/billboardposter/billboard-skillsexpertise.jpg');
}

.billboardposterimage-cv {
  background-image: url('../images/billboardposter/billboard-cv.jpg');
}

.billboardposterimage-portfolio {
  background-image: url('../images/billboardposter/billboard-portfolio.jpg');
}

.billboardposterimage-testimonials {
  background-image: url('../images/billboardposter/billboard-testimonials.jpg');
}

.billboardposterimage-codesamples {
  background-image: url('../images/billboardposter/billboard-codesamples.jpg');
}

.billboardposterimage-availability {
  background-image: url('../images/billboardposter/billboard-availability.jpg');
}
