.tabs-secondary {
  display: none;

  @media (min-width: 500px) {
    display: block;
  }    
}


.tabs-secondary > li > a {
  @extend h3;
  color: #555;

  margin: 0;
  padding: 10px 15px;
  background: #f5f5f5;
}

.tabs-secondary > li > a:hover {
  background: #dfdfdf;
}

.tabs-secondary > li {
  margin-bottom: 10px;
}

.tabs-secondary > li.is-active {
  border-left: 2px solid #d0d0d0;
}

.tabs-secondary > li > a > span {
  display: inline;
  margin-left: 3px;
  
  @media (min-width: 500px) {
    width: 100%;
    display: inline-block;
  }

  @media (min-width: 700px) {
    width: auto;
    display: inline;
  }
}
