.tabs {
  float: left;
  width: 100%;
}
.tabs,
.tabs > li > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabs > li {
  margin-bottom: 0;
}

.tabs > li > a {
  display: block;
}

.tabs > li > a > span {
  font-size: 0.8em;
  font-weight: normal;
}

.tabs--content {
  display: none;
}
  .tabs--content.is-active {
    display: block;
  }
