// (TODO: Change to Desktop-First.)

.tabs-primary,
.tabs-primary > li > ul {
  float: left;
  width: 100%;
}

.tabs-primary {
  border: 1px solid #c0c0c0;

  margin-bottom: 25px;
}

.tabs-primary li a {
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  float: left;
}

.tabs-primary > li.is-active > a {
  border-left: 3px solid #000;
  background: #f9f8f9;
}

.tabs-primary > li.tabs-primary--reservedspace {
  float: right;
}

.tabs-primary--contentmeta {
  float: right;
  margin-top: -65px;
}



@media (min-width: 700px) {
  .tabs-primary {
    border: 0;
    border-bottom: 1px solid #dfdfdf;
  }

  .tabs-primary > li {
    float: left;
  }
  .tabs-primary > li > a {
    border: 1px solid transparent;
  }

  .tabs-primary > li.is-active > a {
    color: #666;

    border: 1px solid #dfdfdf;
    border-bottom: 2px solid #dfdfdf;
    background: none;
  }
}


// ---
// Nested Nav
// ---
.tabs-primary > li > ul {
  padding-left: 20px;
  background: #f7f7f7;

  @media (min-width: 700px) {
    display: none;
  }
}

.tabs-primary > li > ul > li {
  float: left;
  width: 100%;
  border-bottom: 1px solid #efefef;
}
.tabs-primary > li > ul > li:first-child {
  border-top: 1px solid #efefef;
}
