.keyvaluepairs {
  width: 100%;
  margin-bottom: 15px;
  float: left;
}

.keyvaluepairs--key,
.keyvaluepairs--value {
  display: inline-block;
  float: left;
  margin-bottom: 10px;
}

.keyvaluepairs--key {
  font-weight: bold;

  width: 25%;
  margin-right: 10%;
}

.keyvaluepairs--value {
  width: 65%;
}

@media (min-width: 550px) {
  .keyvaluepairs--key {
    width: 15%;
    margin-right: 5%;
  }
  .keyvaluepairs--value {
    width: 30%;
  }
}
