<div class="l-spaced-rows">
  <div class="row">
    <div class="col-md-9">

      <p class="large">A sample array of topics that I am well aquainted with in the interest of modern front-end web development.</p>
      <!-- <p>Filters:</p> -->
      <!-- <div class="checkbox-button-group">
        <a href="#" class="checkbox-button is-active js-track" data-toggle="tab" data-track-category="Skills/Expertise - The Basics" data-track-label="Tab - The Basics">
          HTML/CSS
        </a>
        <a href="#" class="checkbox-button js-track" data-toggle="tab" data-track-category="Skills/Expertise - The Basics" data-track-label="Tab - The Basics">
          JavaScript
        </a>
        <a href="#" class="checkbox-button js-track" data-toggle="tab" data-track-category="Skills/Expertise - The Basics" data-track-label="Tab - The Basics">
          Media
        </a>
        <a href="#" class="checkbox-button js-track" data-toggle="tab" data-track-category="Skills/Expertise - The Basics" data-track-label="Tab - The Basics">
          Workflow
        </a>
        <a href="#" class="checkbox-button js-track" data-toggle="tab" data-track-category="Skills/Expertise - The Basics" data-track-label="Tab - The Basics">
          Performance
        </a>
        <a href="#" class="checkbox-button js-track" data-toggle="tab" data-track-category="Skills/Expertise - The Basics" data-track-label="Tab - The Basics">
          Testing
        </a>
        <a href="#" class="checkbox-button js-track" data-toggle="tab" data-track-category="Skills/Expertise - The Basics" data-track-label="Tab - The Basics">
          Integration
        </a>
      </div> -->

    </div>
  </div>

  <div class="row">

    <!-- 
    Tabs Left
    -->
    <div class="col-md-4">

    <!-- (TODO: Restore JS behavior and tracking) -->
    <!-- data-tab="grunt" data-track-category="Skills/Expertise - Developer Tools" data-track-label="Icon - Grunt" -->

      <div class="icon-grid">
        <div class="icon-grid-row">
          <p class="icon-row-label">HTML/CSS</p>
          <div class="icon-grid-item js-icon-select js-track">
            <span class="title">Responsive Dev</span>
            <span class="icon sprite sprite-topic-rwd-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track">
            <span class="title">Browser Support</span>
            <span class="icon sprite sprite-topic-browsers-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track">
            <span class="title">SMACSS</span>
            <span class="icon sprite sprite-topic-smacss-icon"></span>
          </div>
        </div>
        <div class="icon-grid-row">
          <p class="icon-row-label">JavaScript</p>
          <div class="icon-grid-item js-icon-select js-track">
            <span class="title">Object-oriented</span>
            <span class="icon sprite sprite-topic-javascript-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track">
            <span class="title">Advanced JS</span>
            <span class="icon sprite sprite-topic-javascript-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track">
            <span class="title">Design Patterns</span>
            <span class="icon sprite sprite-topic-patterns-icon"></span>
          </div>
        </div>
        <div class="icon-grid-row">
          <p class="icon-row-label">Workflow</p>
          <div class="icon-grid-item js-icon-select js-track">
            <span class="title">Git Repositories</span>
            <span class="icon sprite sprite-tech-git-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track">
            <span class="title">Modern Workflow</span>
            <span class="icon sprite sprite-topic-workflow-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track">
            <span class="title">DevTools</span>
            <span class="icon sprite sprite-tech-chrome-icon"></span>
          </div>
        </div>
      </div>

    </div>

    <!-- 
    Tabs Right
    -->
    <div class="col-md-4 col-md-push-4">

      <div class="icon-grid">
        <div class="icon-grid-row">
          <p class="icon-row-label">Performance</p>
          <div class="icon-grid-item js-icon-select js-track">
            <span class="title">Basic</span>
            <span class="icon sprite sprite-topic-performance-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track">
            <span class="title">Advanced</span>
            <span class="icon sprite sprite-topic-performance-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track">
            <span class="title">Speed Analysis</span>
            <span class="icon sprite sprite-topic-speedtest-icon"></span>
          </div>
        </div>
        <div class="icon-grid-row">
          <p class="icon-row-label">Testing</p>
          <div class="icon-grid-item js-icon-select js-track">
            <span class="title">Unit Testing</span>
            <span class="icon sprite sprite-topic-unittesting-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track">
            <span class="title">Manual</span>
            <span class="icon sprite sprite-topic-testingmanual-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track">
            <span class="title">Automated</span>
            <span class="icon sprite sprite-topic-testingauto-icon"></span>
          </div>
        </div>
        <div class="icon-grid-row">
          <p class="icon-row-label">Integration</p>
          <div class="icon-grid-item js-icon-select js-track">
            <span class="title">Search Engines</span>
            <span class="icon sprite sprite-topic-search-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track">
            <span class="title">Social Networks</span>
            <span class="icon sprite sprite-topic-socialnetworks-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track">
            <span class="title">CMS Systems</span>
            <span class="icon sprite sprite-tech-confluence-icon"></span>
          </div>
        </div>
      </div>
    
    </div>

    <!--
    Body Content
    -->
    <div class="col-md-4 col-md-pull-4 hidden-sm hidden-xs js-middle-content-column">
      <div class="tab-content">
        <div class="tab-pane js-topic-tab _active" id="select">
          <h3>Select an icon</h3>
        </div>

        <!--
        Responsive Development
        -->
        <div class="tab-pane js-topic-tab active" id="responsive">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-topic-rwd-large"></span>
                </div>
                <h3>Responsive Development</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">
                <!-- <p>I have  -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
  </div>

</div>