<div class="l-spaced-rows">
  <div class="row">
    <div class="col-md-9">
      <p class="large">A sample array of topics that I am well aquainted with in the interest of modern front-end web development.</p>
    </div>
  </div>

  <div class="row">

    <!-- 
    Tabs Left
    -->
    <div class="col-md-4">

      <div class="icon-grid">
        <div class="icon-grid-row">
          <p class="icon-row-label">HTML/CSS</p>
          <div class="icon-grid-item js-icon-select js-track" data-tab="responsive" data-track-category="Skills/Expertise - Developer Knowledge" data-track-label="Icon - Responsive Dev">
            <span class="title">Responsive Dev</span>
            <span class="icon sprite sprite-topic-rwd-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track" data-tab="browsers" data-track-category="Skills/Expertise - Developer Knowledge" data-track-label="Icon - Browser Support">
            <span class="title">Browser Support</span>
            <span class="icon sprite sprite-topic-browsers-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track" data-tab="smacss" data-track-category="Skills/Expertise - Developer Knowledge" data-track-label="Icon - SMACSS">
            <span class="title">SMACSS</span>
            <span class="icon sprite sprite-topic-smacss-icon"></span>
          </div>
        </div>
        <div class="icon-grid-row">
          <p class="icon-row-label">JavaScript</p>
          <div class="icon-grid-item js-icon-select js-track" data-tab="object-oriented" data-track-category="Skills/Expertise - Developer Knowledge" data-track-label="Icon - Object-oriented JS">
            <span class="title">Object-oriented</span>
            <span class="icon sprite sprite-topic-javascript-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track" data-tab="design-patterns" data-track-category="Skills/Expertise - Developer Knowledge" data-track-label="Icon - Design Patterns">
            <span class="title">Design Patterns</span>
            <span class="icon sprite sprite-topic-patterns-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track" data-tab="advanced-js" data-track-category="Skills/Expertise - Developer Knowledge" data-track-label="Icon - Advanced JS">
            <span class="title">Script Loaders</span>
            <span class="icon sprite sprite-topic-scriptloaders-icon"></span>
          </div>
        </div>
        <div class="icon-grid-row">
          <p class="icon-row-label">Workflow</p>
          <div class="icon-grid-item js-icon-select js-track" data-tab="git-repos" data-track-category="Skills/Expertise - Developer Knowledge" data-track-label="Icon - Git Repositories">
            <span class="title">Git Repositories</span>
            <span class="icon sprite sprite-topic-git-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track" data-tab="modern-workflow" data-track-category="Skills/Expertise - Developer Knowledge" data-track-label="Icon - Modern Workflow">
            <span class="title">Modern Workflow</span>
            <span class="icon sprite sprite-topic-workflow-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track" data-tab="devtools" data-track-category="Skills/Expertise - Developer Knowledge" data-track-label="Icon - DevTools">
            <span class="title">DevTools</span>
            <span class="icon sprite sprite-topic-devtools-icon"></span>
          </div>
        </div>
      </div>

    </div>

    <!-- 
    Tabs Right
    -->
    <div class="col-md-4 col-md-push-4">

      <div class="icon-grid">
        <div class="icon-grid-row">
          <p class="icon-row-label">Performance</p>
          <div class="icon-grid-item js-icon-select js-track" data-tab="performance-basic" data-track-category="Skills/Expertise - Developer Knowledge" data-track-label="Icon - Performance (Basic)">
            <span class="title">Basic</span>
            <span class="icon sprite sprite-topic-performance-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track" data-tab="performance-advance" data-track-category="Skills/Expertise - Developer Knowledge" data-track-label="Icon - Performance (Advance)">
            <span class="title">Advanced</span>
            <span class="icon sprite sprite-topic-performance-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track" data-tab="speed-analysis" data-track-category="Skills/Expertise - Developer Knowledge" data-track-label="Icon - Speed Analysis">
            <span class="title">Speed Analysis</span>
            <span class="icon sprite sprite-topic-speedtest-icon"></span>
          </div>
        </div>
        <div class="icon-grid-row">
          <p class="icon-row-label">Testing</p>
          <div class="icon-grid-item js-icon-select js-track" data-tab="unit-testing" data-track-category="Skills/Expertise - Developer Knowledge" data-track-label="Icon - Unit Testing">
            <span class="title">Unit Testing</span>
            <span class="icon sprite sprite-topic-unittesting-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track" data-tab="testing-manual" data-track-category="Skills/Expertise - Developer Knowledge" data-track-label="Icon - Testing (Manual)">
            <span class="title">UI Testing</span>
            <span class="icon sprite sprite-topic-testingmanual-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track" data-tab="testing-auto" data-track-category="Skills/Expertise - Developer Knowledge" data-track-label="Icon - Testing (Automated)">
            <span class="title">E2E Testing</span>
            <span class="icon sprite sprite-topic-testingauto-icon"></span>
          </div>
        </div>
        <div class="icon-grid-row">
          <p class="icon-row-label">Miscellaneous</p>
          <div class="icon-grid-item js-icon-select js-track" data-tab="cms-systems" data-track-category="Skills/Expertise - Developer Knowledge" data-track-label="Icon - JIRA/Confluence">
            <span class="title">JIRA/Confluence</span>
            <span class="icon sprite sprite-tech-confluence-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track" data-tab="search-engines" data-track-category="Skills/Expertise - Developer Knowledge" data-track-label="Icon - Search Engines">
            <span class="title">Search Engines</span>
            <span class="icon sprite sprite-topic-search-icon"></span>
          </div>
          <div class="icon-grid-item js-icon-select js-track" data-tab="social-networks" data-track-category="Skills/Expertise - Developer Knowledge" data-track-label="Icon - Social Networks">
            <span class="title">Social Networks</span>
            <span class="icon sprite sprite-topic-socialnetworks-icon"></span>
          </div>
        </div>
      </div>
    
    </div>

    <!--
    Body Content
    -->
    <div class="col-md-4 col-md-pull-4 hidden-sm hidden-xs js-middle-content-column">
      <div class="tab-content">
        <div class="tab-pane js-topic-tab active" id="select">
          <h3>Select an icon</h3>
        </div>

        <!--
        HTML/CSS - Responsive Development
        -->
        <div class="tab-pane js-topic-tab" id="responsive">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-topic-rwd-large"></span>
                </div>
                <h3>Responsive Development</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">
                <p>With a dozen responsive sites under my belt I am very well versed in the issues surrounding responsive web design.</p>
                <p>Using off-the-shelf grid systems such as Twitter Bootstrap and Foundation, or my new favourite Susy, I can implement x-column grids as required.</p>
                <p>I also have experience with solutions such as lazy loading, off canvas menus, and responsive images.</p>
                <p>And I'm an advocate for <strong>mobile first</strong> design/development when project circumstances allow it.</p>
              </div>
            </div>
          </div>
        </div>

        <!--
        HTML/CSS - Browser Support
        -->
        <div class="tab-pane js-topic-tab" id="browsers">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-topic-browsers-large"></span>
                </div>
                <h3>Browser Support</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">
                <p>Having often been required to accommodate browsers as old as IE7, I have acquired a very good understanding of what's generally supported and what's not.</p>
                <p>I prefer to adopt a <strong>progressive enhancement</strong> approach to CSS so as to guarentee basic presentational correctness in all browsers from the lowest upwards.</p>
                <p>Enhanced presentation can then be delivered to modern browsers with the proper CSS overrides alone, or in conjunction with the JS library Modernizr for <strong>feature detection</strong> purposes that I am also proficient with.</p>
              </div>
            </div>
          </div>
        </div>

        <!--
        HTML/CSS - SMACSS
        -->
        <div class="tab-pane js-topic-tab" id="smacss">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-topic-smacss-large"></span>
                </div>
                <h3>SMACSS</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">
                <p><a href="https://smacss.com" target="_blank">https://smacss.com</a></p>
                <p>Scalable and Modular Architecture for CSS is an excellent design pattern for CSS authored by Jonathan Snook (ex-Yahoo Front-end Engineer).</p>
                <p>Having read his book and followed his online course, and having applied SMACSS commercially since, I adopt this approach to CSS in every greenfield project that I am assigned to.</p>
                <p>CSS written within the SMACSS pattern is clean, efficient, easily reusable, and easy to maintain between present and future developers.</p>
              </div>
            </div>
          </div>
        </div>


        <!--
        JavaScript - Object-Oriented
        -->
        <div class="tab-pane js-topic-tab" id="object-oriented">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-topic-javascript-large"></span>
                </div>
                <h3>Object-Oriented JavaScript</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">
                <p>First studied object-oriented programming as an undergraduate at University working with Java, learning the concepts of inheritance, encapsulation, polymorphism, method overloading/overriding, etc.</p>
                <p>This vital learning process early on has enabled me ever since to understand newly encountered OOP implementations very quickly.</p>
                <p>While JavaScript of course features a different kind of inheritance, namely prototypal, nevertheless I've always preferred when appropriate to code in this natural declarative way.</p>
              </div>
            </div>
          </div>
        </div>

        <!--
        JavaScript - Design Patterns
        -->
        <div class="tab-pane js-topic-tab" id="design-patterns">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-topic-patterns-large"></span>
                </div>
                <h3>Design Patterns</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">
                <p>A huge interest of mine, my current grasp of this subject matter means that my JavaScript code is always based on an explicitly deliberated organisational structure and often formal design pattern, such as the revealing module pattern.</p>
                <p>Understanding the MVC pattern and its MV* variations also means that abiding by the <strong>separation of concerns</strong> principle when working with JavaScript frameworks is a mere formality.</p>
                <p>In the future I intend this to be specialist subject of mine, acquiring a comprehensive insight on the full range of known application architecture and class instantiation design patterns.</p>
              </div>
            </div>
          </div>
        </div>

        <!--
        JavaScript - Script Loaders
        -->
        <div class="tab-pane js-topic-tab" id="advanced-js">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-topic-scriptloaders-large"></span>
                </div>
                <h3>Script Loaders</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">
                <p>Although not always necessary, and sometimes an "overkill" solution in some circumstances, I realise the benefits a script loader can bring to a project related to either code organisation or performance for example.</p>
                <p>Familiar and experienced with <strong>Require.js</strong>, I've recently been experimenting with non-AMD alternatives such as LabJS and Head.js.</p>
              </div>
            </div>
          </div>
        </div>


        <!--
        Workflow - Git Repositories
        -->
        <div class="tab-pane js-topic-tab" id="git-repos">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-topic-git-large"></span>
                </div>
                <h3>Git Repositories</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">
                <p>Have used Git as my predominant source control system for the past few years.</p>
                <p>I am familiar with commonly adopted best practices such as the <strong>Gitflow</strong> team workflow pattern - feature branches, release branches, hotfixes, etc. - and the need for <strong>pull requests</strong> and good communication in teams.</p>
                <p>Preferring to use the command line over tools such as SourceTree, I am familiar with a wide range of Git commands.</p>
              </div>
            </div>
          </div>
        </div>

        <!--
        Workflow - Modern Workflow
        -->
        <div class="tab-pane js-topic-tab" id="modern-workflow">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-topic-workflow-large"></span>
                </div>
                <h3>Modern Workflow</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">
                <p>A keen interest of mine, I always leave the door open to discover new tools and techniques to further assist and automate developer workflow.</p>
                <p>Often deployed via the task runner <strong>Grunt</strong>, solutions range from auto-reloading the browser (LiveReload, BrowserSync), automatically generating spritesheets as required, and building the entire app into an optimised production-ready state.</p>
                <p>Also a big fan of the Emmet toolkit, as well as other various plugins for my favourite code editor Sublime Text!</p>
              </div>
            </div>
          </div>
        </div>

        <!--
        Workflow - DevTools
        -->
        <div class="tab-pane js-topic-tab" id="devtools">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-topic-devtools-large"></span>
                </div>
                <h3>Chrome DevTools</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">
                <p>An essential part of any developer's toolkit, I've made it my goal to know about most of what DevTools provides rather than just the minimum.</p>
                <p>Ranging from the DOM/styles inspector and the console, to the sources tab for debugging JavaScript, and the network, timeline, and profiles tabs for analysing performance.</p>
              </div>
            </div>
          </div>
        </div>

        <!--
        Performance - Basic
        -->
        <div class="tab-pane js-topic-tab" id="performance-basic">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-topic-performance-large"></span>
                </div>
                <h3>Performance - Basic</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">
                <p>Like any responsible developer I have a good understanding of the basic measures that should be taken to minimise overhead that require minimal effort only, specifically for example:</p>
                <ul>
                  <li>Minifying CSS and JavaScript</li>
                  <li>Contatenating files to reduce HTTP requests</li>
                  <li>Loading scripts asynchronously to prevent blocking</li>
                  <li>Using spritesheets to reduce requests for images</li>
                  <li>Compressing assets with Gzip on the server</li>
                  <li>...etc.</li>
                </ul>
                <p>I use my task runner of choice Grunt to automate tasks like the above and others.</p>
              </div>
            </div>
          </div>
        </div>

        <!--
        Performance - Advanced
        -->
        <div class="tab-pane js-topic-tab" id="performance-advance">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-topic-performance-large"></span>
                </div>
                <h3>Performance - Advanced</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">
                <p>Here I am referring to two aspects of web performance: cutting-edge modern solutions to bring down page load speeds beyond what basic measures can achieve, and comprehensive background information as to how browsers and web servers work in this area.</p>
                <p>This is an ongoing learning process for me and I intend it to be a specialist subject of expertise in the near future.</p>
                <p>Currently I am experimenting with how to implement <strong>critical path</strong> solutions and caching assets with LocalStorage, while also learning about the browser's inherent <strong>TCP slow start</strong> procedure when requesting/receiving data packets.</p>
              </div>
            </div>
          </div>
        </div>

        <!--
        Performance - Speed Analysis
        -->
        <div class="tab-pane js-topic-tab" id="speed-analysis">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-topic-speedtest-large"></span>
                </div>
                <h3>Page Speed Analysis</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">
                <p>I am familiar with a range of tools that help developers assess the performance of web applications.</p>
                <p>Examples include:</p>
                <ul>
                  <li>Google PageSpeed Insights</li>
                  <li>Webpagetest.org</li>
                  <li>Chrome DevTools</li>
                  <li>YSlow</li>
                </ul>
                <p>Web performance requirements often vary between projects, in terms of effort priority, but at a minimum I'll often refer to YSlow to check that basic developer measures have been implemented and Google PageSpeed Insights to advise on mobile performance.</p>
              </div>
            </div>
          </div>
        </div>

        <!--
        Testing - Unit Testing
        -->
        <div class="tab-pane js-topic-tab" id="unit-testing">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-topic-unittesting-large"></span>
                </div>
                <h3>Unit Testing</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">
                <p>Sound awareness and knowledge of unit testing theory, how to write testable JavaScript, what to test, how to test, and how the running of unit tests can be integrated into build and deployment processes.</p>
                <p>With respect to JavaScript I currently resort to <strong>Jasmine</strong> as my test framework of choice. I also have experience with PHPUnit for testing PHP applications.</p>
                <p>In the very near future I'll be adding to my unit testing skillset with the likes of Mocha, Sinon.js, and Karma.</p>
              </div>
            </div>
          </div>
        </div>

        <!--
        Testing - Manual
        -->
        <div class="tab-pane js-topic-tab" id="testing-manual">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-topic-testingmanual-large"></span>
                </div>
                <h3>UI Testing</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">
                <p>In order to ensure that HTML and CSS renders as expected across a range of browsers, I'm familiar with a number of tools that help with this objective.</p>
                <p>Examples include:</p>
                <ul>
                  <li>VirtualBox - to run virtual machines with instances of other operating systems and browser versions.</li>
                  <li>BrowserStack - an online service that provides virtual machines to nearly every OS and browser under the sun.</li>
                  <li>Chrome DevTools - to view the application within a particular viewport for a given phone or tablet device.</li>
                  <li>BrowserSync - a tool that keeps multiple browsers/devices exactly in sync throughout a user's navigation of the app.</li>
              </div>
            </div>
          </div>
        </div>

        <!--
        Testing - End-to-End
        -->
        <div class="tab-pane js-topic-tab" id="testing-auto">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-topic-testingauto-large"></span>
                </div>
                <h3>End-to-End Testing</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">
                <p>This item is the exception on this board.</p>
                <p>At present I am not yet familiar with the available tools to automate end-to-end testing.</p>
                <p>I have however identified the following learning objectives which I will be addressing very soon:</p>
                <ul>
                  <li>Protractor - for testing AngularJS applications</li>
                  <li>Web Selenium or PhantomJS - for testing all other applications</li>
                </ul>
                <p>Briefly on a previous project I experimented with Casper.js, but this effort was abandoned after realising it wasn't suitable given the Flash implementation of the central component.</p>
              </div>
            </div>
          </div>
        </div>


        <!--
        Integration - Search Engines
        -->
        <div class="tab-pane js-topic-tab" id="search-engines">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-topic-search-large"></span>
                </div>
                <h3>Search Engine Friendly Development</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">

              </div>
            </div>
          </div>
        </div>

        <!--
        Integration - Social Networks
        -->
        <div class="tab-pane js-topic-tab" id="social-networks">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-topic-socialnetworks-large"></span>
                </div>
                <h3>Social Networks</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">

              </div>
            </div>
          </div>
        </div>

        <!--
        Integration - JIRA/Confluence
        -->
        <div class="tab-pane js-topic-tab" id="cms-systems">
          <div class="js-modal-content-grunt">
            <div class="js-modal-content-header">
              <div class="tech-modal-header">
                <div class="info-box">
                  <span class="image sprite sprite-tech-jira-large"></span>
                </div>
                <h3>JIRA &amp; Confluence</h3>
              </div>
            </div>
            <div class="js-modal-content-body">
              <div class="tech-modal-body">
                <p>Know my way around JIRA for Agile development purposes, and Confluence for project documentation purposes.</p>
                <p>I'm a keen contributor to Confluence on a given project for the benefit of future developers and other stakeholders.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
  </div>

</div>