<div class="l-spaced-rows">
  <div class="row">
    <div class="col-md-10 col-sm-9">
      <p class="large">As a passionate and determined web developer, I always have two or three major learning objectives that I work towards in my spare time. Currently they are:</p>
    </div>
  </div>
  <div class="side-by-side-content row">
    <div class="side-by-side-content-column col-md-6">
      <span class="image sprite sprite-tech-angularjs-large"></span>
      <p class="text-left">
        Currently I am well versed with <em>Backbone.js</em>, but I would like to further extend my resourcefulness and flexibility by
        adding the increasingly popular AngularJS framework to my arsenal.
      </p>
      <p class="text-left">
        It is my intention in the very near future, as a learning exercise, to create a separate branch of this website built with AngularJS
        (rather than Backbone as it is currently).
      </p>
    </div>
    <div class="side-by-side-content-column col-md-6">
      <span class="image sprite sprite-tech-phonegap-large"></span>
      <p class="text-left">
        For the last several months I have been working on a concept for a mobile app that I intend to build and sell as the main product of a new business.
      </p>
      <p class="text-left">
        I have chosen PhoneGap as the platform that will box the project as a mobile app.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Also on the radar:</h3>
      <div class="l-content-rows">
        <div class="row tech-list-item">
          <div class="col-lg-2 col-md-3">
            <span class="image sprite sprite-tech-nodejs-large"></span>
          </div>
          <div class="col-lg-10 col-md-9">
            <h4 class="hidden-lg hidden-md">Flexbox</h4>
            <p>
              Flexbox. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
        <div class="row tech-list-item">
          <div class="col-lg-2 col-md-3">
            <span class="sprite sprite-tech-nodejs-large"></span>
          </div>
          <div class="col-lg-10 col-md-9">
            <h4 class="hidden-lg hidden-md">React.js</h4>
            <p>
              React.js. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
        <div class="row tech-list-item">
          <div class="col-lg-2 col-md-3">
            <span class="sprite sprite-tech-nodejs-large"></span>
          </div>
          <div class="col-lg-10 col-md-9">
            <h4 class="hidden-lg hidden-md">ECMA6</h4>
            <p>
              ECMA6. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>