<div class="l-spaced-rows">
  <div class="row">
    <div class="col-md-10 col-sm-9">
      <p class="large">As a passionate and determined web developer, I always have two or three major learning objectives that I work towards in my spare time. Currently they are...</p>
    </div>
  </div>
  <div class="side-by-side-content row">
    <div class="side-by-side-content-column col-md-6">
      <span class="image sprite sprite-tech-phonegap-large"></span>
      <p class="text-left">
        For the last several months I have been working on a concept for a mobile app that I intend to build and sell as the main product of a new business when ready.
      </p>
      <p class="text-left">
        I have chosen PhoneGap (more specifically Ionic which utilises PhoneGap and AngularJS together) as the main platform.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Also on the radar:</h3>
      <div class="l-content-rows">
        <div class="row tech-list-item">
          <div class="col-lg-2 col-md-3">
            <span class="image sprite sprite-tech-nodejs-large"></span>
          </div>
          <div class="col-lg-10 col-md-9">
            <h4 class="hidden-lg hidden-md">Flexbox</h4>
            <p><strong>Node.js</strong> - In order to maintain a solid grasp on full stack development, building the front-end as well as the back-end including the database, I intend to be able to provide a Node.js service in the future which will likely also include Express and MongoDB.</p>
          </div>
        </div>
        <div class="row tech-list-item">
          <div class="col-lg-2 col-md-3">
            <span class="sprite sprite-tech-nodejs-large"></span>
          </div>
          <div class="col-lg-10 col-md-9">
            <h4 class="hidden-lg hidden-md">React.js</h4>
            <p><strong>React.js</strong> - This project offers an interesting twist as to our approach as front-end developers to building application views and components. I'm attracted to the motivating opinion behind it and look forward to experimenting with React.js soon.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>