<div class="side-by-side-content">
  <div class="row">
    <div class="side-by-side-content-column col-md-5 col-md-offset-1">
      <h3>Basic Services</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="monopoly-card">
              <p class="title">Design to Build</p>
              <p class="description">Transforming a PSD into HTML, CSS, and JavaScript.</p>
              <span class="icon sprite sprite-service-build"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="monopoly-card">
              <p class="title">Responsive Development</p>
              <p class="description">Delivering the most optimal solution for every device.</p>
              <span class="icon sprite sprite-service-responsive"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="monopoly-card">
              <p class="title">Server-Side Development</p>
              <p class="description">Implementing back-end functional and data requirements.</p>
              <span class="icon sprite sprite-service-backend"></span>
            </div>
          </div>
        </div>
    </div>
    <div class="side-by-side-content-column col-md-5">
      <h3>Technical Priorities</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="monopoly-card">
            <p class="title">Best Practice Code</p>
            <p class="description">Contributing object-oriented, modular, and scalable code.</p>
            <span class="icon sprite sprite-service-standards"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="monopoly-card">
            <p class="title">Modern Techniques</p>
            <p class="description">Keeping aware of and learning new industry innovations.</p>
            <span class="icon sprite sprite-service-innovation"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="monopoly-card">
            <p class="title">Web Performance</p>
            <p class="description">Providing a build process for fast download times.</p>
            <span class="icon sprite sprite-service-performance"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>