/* -----------------
Shared CSS
----------------- */
.theme-border {
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: #666;
}

.content-canvas {
    padding: 40px;
    background: #fff;
    .boxshadow(6px, 6px, 20px, 0px, #666666);
}