article {

    .page-canvas;

    /* -----------------
    Typeface
    ----------------- */
    h2 {
        float: left;
    }
    h3 {
        font-size: 22px;
        border-bottom: 1px solid #D0D0D0;
        padding-bottom: 3px;
    }

    .heading-link {
        float: left;
        margin: 33px 0px 0px 20px;
    }

    /* -----------------
    Tab Navigation
    ----------------- */
    .nav-tabs {
        width: 790px;
        margin-bottom: 40px;
    }
    .tab-pane {
        .panel-heading {
            span {
                font-size: 12px;
                font-weight: normal;
                margin-left: 6px;
            }
        }
        .panel {
            padding: 0px;
            margin-bottom: 15px;
        }
    }
} 
.page-canvas {
    width: 100%;
    padding: 40px;
    margin-bottom: 100px;
    .bgopacity(#FFFFFF, 100%);
    .boxshadow(6px, 6px, 20px, 0px, #666666);
}


.subnav {
    .page-canvas;
    padding: 10px 40px;
    margin-bottom: 20px;
    button {
        &.back-home {
            background: #FFFFFF;
            border: 1px solid #E3E3E3;
            color: @teal;
            &:hover {
                background: @teal;
                color: #FFFFFF;
                border: 1px solid #D0D0D0;
            }
        }
    }
}