/* -----------------
Content Canvas
----------------- */
.content-canvas {
    padding: 40px;
    background: #fff;
    .boxshadow(6px, 6px, 20px, 0px, #666666);

    width: 100%;
    float: left;

    &.is-off-stage {
        .opacity(0);
    }
}


/* -----------------
Tabled Bullets
----------------- */
.tabled-bullets {
    ul, li {
        margin: 0px;
        padding: 0px;
    }
}


/* -----------------
Tabbed Content
----------------- */
.tabbed-content {
    .tabbed-content-body {
        display: none;
        &.is-active {
            display: block;
        }
    }
}