/* -----------------
Content Canvas
----------------- */
.content-canvas {
    padding: 40px;
    background: #fff;
    .boxshadow(6px, 6px, 20px, 0px, #666666);

    width: 100%;
    float: left;

    &.is-off-stage {
        .opacity(0);
    }
}


/* -----------------
Tabled Bullets
----------------- */
.tabled-bullets {
    ul, li {
        margin: 0px;
        padding: 0px;
    }
}


/* -----------------
Formatted Table
----------------- */
.formatted-table {
    border: 1px solid #c0c0c0;
    margin: 20px 0px 30px 0px;

    &.formatted-table-fullwidth {
        width: 100%;
    }

    td {
        padding: 10px;
    }
    thead {
        background: #efefef;

        td {
            font-weight: bold;
        }
    }
}


/* -----------------
Tabbed Content
----------------- */
.tabbed-content {

    .tabbed-content-tabs {
        margin-bottom: 25px;
        border-bottom: 1px solid #efefef;
        clear: both;

        li {
            a {
                margin-right: 0px;
            }
        }
        li:hover {
            border-bottom: 2px solid #c0c0c0;
            a {
                background: none;
                border-color: #fff;
            }
        }
        li.active {
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-bottom-color: #000;
            &:hover {
                a {
                    border-color: #ddd;
                }
            }
        }
    }

    .tabbed-content-body {
        display: none;
    }
}


/* -----------------
Radio Buttons
----------------- */
.radio-buttons {
    margin-top: 15px;
    margin-bottom: 15px;

    .radio-buttons-item {
        input[type=radio] {
            margin-right: 10px;
            margin-top: 2px;
            float: left;
        }
        label {
            margin-top: 0px;
        }

        &.is-disabled {
            label {
                color: #d0d0d0;
            }
        }
    }
}