.body-heading {

    h2 {
        float: left;
    }

    .body-heading-links {
        margin-left: 35px;
        margin-top: 22px;
        float: left;

        a {
            display: inline-block;
            float: left;
        }

        a.icon {
            min-height: 30px;
            padding: 5px 0px 0px 40px;

            &.pdf {
                background: url('../images/icons/pdf.png') no-repeat;
            }
        }
    }

}