.body-heading {

    h2 {
        float: left;
    }

    .body-heading-links {
        margin-left: 20px;
        margin-top: 33px;
        float: left;

        a {
            display: inline-block;
            float: left;
        }
    }

}