/* -----------------
Carousel
----------------- */
.carousel {
    .carousel-inner {
        width: 100%;
        border: 1px solid #C0C0C0;
    }
    .boxshadow(2px, 2px, 10px, 0px, #C0C0C0);
    .carousel-control {
        span {
            margin-top: 0px;
            color: #FFFFFF;
        }
        &.left {
            margin-left: 15px;
            span {
                margin-left: -40px;
            }
        }
        &.right {
            margin-right: 15px;
            span {
                margin-right: -40px;
            }
        }
    }
    .annotation {
        display: none;
    }
}
.carousel-indicators {
    list-style: none;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    clear: both;
    position: relative;
    top: 0px;
    left: 0px;
    bottom: 0px;
    li {
        float: left;
        width: 50px !important;
        height: 8px !important;
        background: #C0C0C0;
        margin: 0px 0px 0px 5px !important;
        border-radius: 0px;
        cursor: pointer;
        &:first-child {
            margin-left: 0px !important;
        }
        &.active {
            background: @teal;
        }
    }
}
