.category-column {

    &.is-off-stage {
        margin-left: 50px;
        .opacity(0);
    }

    .category-column-box {
        padding: 10px;
        margin: 0px 0px 10px 0px;
        
        .bgopacity(#ffffff, 60%);

        cursor: pointer;

        &:hover {
            .bgopacity(#ffffff, 80%);
        }

        &.is-active {
            .theme-border;
            background: #fff;
            h3 {
                text-decoration: none;
            }
        }

        h3 {
            line-height: 130%;
            margin: 0px;
        }
        ul, li {
            margin: 0px;
            padding: 0px;
            list-style: none;
        }
        li {
            padding: 6px 0px 0px 0px;
        }
        p {
            margin: 0px;
        }
    }

}