footer {

    .navbar {

        .bgopacity(#000000, 30%);
        border: 0px;

        .navbar-nav {

            li {
                margin-right: 20px;
                a {
                    color: #FFFFFF;
                    padding-left: 0px;
                    &:hover {
                        color: darken(#FFFFFF, 20%);
                    }
                }
                span {
                    color: #FFFFFF;
                    margin-top: 15px;
                    display: block;
                }
            }

            &.pull-right {
                li {
                    margin-right: 0px;
                    margin-left: 20px;
                    a {
                        padding-right: 0px;
                        padding-left: 15px;
                    }
                }
            }

        }
        
        .col-md-6 {
            padding: 0px;
        }
    }
}