header {
    .title {
        padding: 15px;
        .bgopacity(#ffffff, 10%);

        .myname {
            color: #fff;
            text-shadow: 2px 2px #777;
            font-size: 60px;
            margin: 0px 14px 5px 0px;
            padding: 0px;
            float: left;
        }
        .jobtitle {
            color: #666;
            text-shadow: none;
            font-size: 32px;
            display: inline-block;
            margin-top: 34px;
        }

        .strapline {
            color: #fff;
            font-family: Helvetica Neue;
            font-size: 21px;
            font-weight: 200;
            margin: 5px 0px 5px 4px;
            clear: both;
        }

    }

    .back-home {
        display: none;
        margin-top: 8px;

        color: #fff !important;
        border-width: 1px;
        border-style: solid;

        &:hover, &:focus {
            color: #fff;
        }

        &.is-hidden {
            .opacity(0);
        }
    }

    .mobile-menu-button {
        position: absolute;
        right: 25px;
        top: 10px;
        height: 32px;
        display: none;

        &:before {
            float: right;
            width: 35px;
            height: 6px;
            background: #fff;
            box-shadow: 0px 6px transparent, 0px 12px #fff, 0px 18px transparent, 0px 24px #fff;
            content: '';
        }
    }
}

// Tablet
@media screen and (max-width: @screen-sm-max) {
    header {
        .title .myname {
            font-size: 52px;
        }
        .title .jobtitle {
            font-size: 24px;
            margin-top: 30px;
        }
        .title .strapline {
            font-size: 16px;
        }
    }
}

// Phone
@media screen and (max-width: @screen-xs-max) {
    header {
        .title .strapline {
            font-size: 16px;
        }
        .mobile-menu-button {
            display: block;
        }
    }
}