header {
    min-height: 157px;

    .title {
        padding: 15px;
        margin-bottom: 20px;
        .bgopacity(#ffffff, 10%);

        h1.myname {
            color: #fff;
            text-shadow: 2px 2px #777;
            font-size: 60px;
            margin: 0px 0px 5px 0px;
            padding: 0px;
            float: left;
            span.jobtitle {
                color: #666;
                text-shadow: none;
                font-size: 32px;
            }
        }

        p.strapline {
            color: #fff;
            font-family: Helvetica Neue;
            font-size: 21px;
            font-weight: 200;
            margin: 5px 0px 5px 4px;
            clear: both;
        }

    }

    .back-home {
        display: none;
        margin-top: 8px;

        color: #fff !important;
        border-width: 1px;
        border-style: solid;

        &:hover, &:focus {
            color: #fff;
        }

        &.is-hidden {
            .opacity(0);
        }
    }
}


footer {

    .navbar {

        .bgopacity(#000000, 30%);
        border: 0px;

        .navbar-nav {

            li {
                margin-right: 20px;
                a {
                    color: #FFFFFF;
                    padding-left: 0px;
                    &:hover {
                        color: darken(#FFFFFF, 20%);
                    }
                }
                span {
                    color: #FFFFFF;
                    margin-top: 15px;
                    display: block;
                }
            }

            &.pull-right {
                li {
                    margin-right: 0px;
                    margin-left: 20px;
                    a {
                        padding-right: 0px;
                        padding-left: 15px;
                    }
                }
            }

        }

        .copyright {
            color: #fff;
            font-size: 11px;

            margin-top: 20px;
            float: right;
        }
        
        .col-md-6 {
            padding: 0px;
        }
    }
}