.menu {
    margin-top: 20px;

    a {
        color: #fff !important;
        padding: 6px 10px;
        display: inline-block;
        .bgopacity(#ffffff, 20%);

        &:hover {
            text-decoration: none;
            .bgopacity(#ffffff, 10%);
        }
    }

    ul, li {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .home {
        float: left;
        height: 30px;

        .icon {
            margin: -2px 2px 0px -2px;
        }
    }

    .sitemap {
        float: right;
    }

    li {
        float: left;
        margin-left: 4px;

        &:first-child {
            margin-left: 0px;
        }
    }

    li.is-active {
        a {
            color: #efefef !important;
            .bgopacity(#ffffff, 0%);
        }
    }

}