.monopoly-card {
    margin: 10px 0px;
    background: #efefef;
    .boxshadow(2px, 2px, 4px, 0px, #c0c0c0);

    .title {
        font-weight: bold;
        padding-top: 20px;
    }
    .description {
        font-size: 13px;
    }
    img {
        margin-bottom: 10px !important;
    }
}