.project-list-item {

    .client-logo {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
    }

    .project-name {
        margin: 0px 0px 4px 0px;
        display: inline-block;
    }

    .date {
        font-size: 11px;
        margin-left: 5px;
    }

    .link {
        margin: 0px 0px 8px 0px;
    }
    
    .description {
        margin: 0px 0px 15px 0px;
    }

    .screenshots-link {
        background: @teal;
        color: #fff;
        border: 0px;
    }

    .note-heading {
        margin-bottom: 4px;
        font-weight: bold;
    }

    .screenshot-thumb {
        cursor: pointer;
        margin: 0px 15px 0px 25px;
        float: right;
        .boxshadow(2px, 2px, 6px, 0px, #c0c0c0);

        img {
            width: auto;
            height: auto;
            .opacity(0.8);
        }

        .click-icon {
            width: 220px;
            height: 128px;
            background: url('../images/portfolio/icons/click-thumb.png') 0px 0px no-repeat;
            display: block;
            position: absolute;
            z-index: 9;
        }

        &:hover {
            img {
                .opacity(1);
            }
            .click-icon {
                background-position: 0px -128px;
            }
        }
    }

    &.is-not-clickable {
        .screenshot-thumb {
            cursor: inherit;

            .click-icon {
                display: none;
            }

            img {
                .opacity(1);
            }
        }
    }

    .modal-content {
        display: none;
    }


    &.polaroid {
        cursor: pointer;

        .screenshot {
            width: 100%;
            height: 128px;
            overflow: hidden;
            .opacity(0.8);
        }

        &:hover {
            .screenshot {
                .opacity(1.0);
            }
        }

        h3.project-name {
            text-align: center;
            width: 100%;
            margin: 10px 0px 0px 0px;
        }

        a.link {
            text-align: center;
            font-size: 13px;
            
            width: 85%;
            display: block;
            margin: 3px auto 0px auto;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                text-decoration: none;
            }
        }

        button.more-details {
            background: @teal;
            color: #fff;
            border: 0px;

            margin: 6px auto 0px auto;
            display: block;
        }
    }

}

.project-modal-header {
    h3 {
        margin: 0px;
        display: inline-block;
    }
    .date {
        font-style: italic;
    }
    .link {
        margin-left: 10px;
    }

    &.project-highlight-modal-header {

        .description {
            margin-top: 6px;
        }
    }
}
.project-modal-body {
    .carousel {
        width: 80%;
        margin: 0px auto;
    }
    .carousel .item {
        border: 1px solid #efefef;
    }
    img {
        width: 100%;
    }
}