.project-list-item {

    .client-logo {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
    }

    img.screenshot-thumb {
        float: right;
        width: auto;
        height: auto;
        margin: 0px 15px 0px 25px;
        .boxshadow(2px, 2px, 6px, 0px, #c0c0c0);
    }

    h3.project-name {
        margin: 0px 0px 4px 0px;
    }

    p.link {
        margin: 0px 0px 8px 0px;
    }
    
    p.description {
        margin: 0px 0px 15px 0px;
    }

    button.screenshots-link {
        background: @teal;
        color: #fff;
        border: 0px;
    }

    .note-heading {
        margin-bottom: 4px;
        font-weight: bold;
    }


    &.polaroid {
        cursor: pointer;

        .screenshot {
            width: 100%;
            height: 128px;
            overflow: hidden;
            .opacity(0.8);
        }

        &:hover {
            .screenshot {
                .opacity(1.0);
            }
        }

        h3.project-name {
            text-align: center;
            width: 100%;
            margin: 10px 0px 0px 0px;
        }

        a.link {
            text-align: center;
            font-size: 13px;
            
            width: 85%;
            display: block;
            margin: 3px auto 0px auto;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                text-decoration: none;
            }
        }

        button.more-details {
            background: @teal;
            color: #fff;
            border: 0px;

            margin: 6px auto 0px auto;
            display: block;
        }
    }

}