/* -----------------
My CV
----------------- */
#page-cv {

	article {
		border-left: 4px solid @red;
		.bgicon('cv-large', 97% 2%);
		h3 {
			margin-top: 30px;
		}

		section {
			margin-top: 50px;
			section {
				margin-top: 30px;
				.row {
					margin-top: 20px;
				}
			}
			h3 + section {
				margin-top: 0px;
			}
			&.basic {
				margin-top: 0px;
				.row {
					margin-bottom: 5px;
				}
			}
		}
	}

	.subnav {
		border-left: 4px solid @red;
	}

}