#page-cv {

	// .opacity(0);
	// height: 0px;
	// overflow: hidden;

/* -----------------
CV Article
----------------- */
article {
	border-left: 4px solid @red;
	background: #FFFFFF url('../images/icons/cv-large.png') 97% 2% no-repeat;
	
	h2 {
		width: 760px;
	}
	h3 {
		margin-top: 30px;
	}

	section {
		margin-top: 50px;
		section {
			margin-top: 30px;
			.row {
				margin-top: 20px;
			}
		}
		h3 + section {
			margin-top: 0px;
		}
		&.basic {
			margin-top: 0px;
			.row {
				margin-bottom: 5px;
			}
		}
	}
}

}