#page-home {
	
	display: none;
	margin-top: 60px;

	.row {
		margin-top: 28px;
	}

	/* -----------------
	Box Element
	----------------- */
	.box {
		cursor: pointer;
		.bgopacity(#FFFFFF, 100%);
		background-repeat: no-repeat;
		.boxshadow(2px, 2px, 4px, 0px, #777);
		.box-border-bottom(#fff);
		h3 {
			color: #fff;
			font-size: 30px;
			line-height: 40px;
			margin: 0px 0px 10px 0px;
		}
		p {
			display: none;
		}
		.icons {
			display: none;
			background-repeat: no-repeat;
			background-position: 0px 100%;
		}
		.btn {
			.opacity(0.8);
		}
		&.hover-animate {
			background-color: #fff !important;
			margin-top: -5px;
			margin-bottom: 5px;
		}
		&.hover {
			h3 {
				font-size: 20px;
				line-height: 1.1;
				width: auto !important;
			}
			.icons, p {
				display: block;
			}
		}

		/* -----------------
		Colour Box: Blue
		----------------- */
		.box-blue {
			background-color: @blue;
			&.hover-animate {
				.box-border-top(@blue);
				border-bottom: 0px;
			}
			&.hover {
				h3 {
					color: @blue;
				}
				.btn {
					color: #fff;
					background: @blue;
				}
			}
			.btn {
				color: @blue;
				background: #fff;
				border: 1px solid @blue;
			}
		}

		/* -----------------
		Colour Box: Red
		----------------- */
		.box-red {
			background-color: @red;
			.btn {
				color: @red;
				background: #fff;
				border: 1px solid @red;
			}
			&.hover-animate {
				.box-border-top(@red);
				border-bottom: 0px;
			}
			&.hover {
				h3 {
					color: @red;
				}
				.btn {
					color: #fff;
					background: @red;
					border: 1px solid @red;
				}
			}
		}
		/* -----------------
		Colour Box: Green
		----------------- */
		.box-green {
			background-color: @green;
			.btn {
				color: @green;
				background: #fff;
				border: 1px solid @green;
			}
			&.hover-animate {
				.box-border-top(@green);
				border-bottom: 0px;
			}
			&.hover {
				h3 {
					color: @green;
				}
				.btn {
					color: #fff;
					background: @green;
				}
			}
		}
		/* -----------------
		Colour Box: Teal
		----------------- */
		.box-teal {
			background-color: @teal;
			&.hover-animate {
				.box-border-top(@teal);
				border-bottom: 0px;
			}
			&.hover {
				h3 {
					color: @teal;
				}
			}
			.btn {
				color: @teal;
				background: #fff;
				border: 1px solid @teal;
			}
		}
		/* -----------------
		Colour Box: Gold
		----------------- */
		.box-gold {
			background-color: @gold;
			.btn {
				color: @gold;
				background: #fff;
				border: 1px solid @gold;
			}
			&.hover-animate {
				.box-border-top(@gold);
				border-bottom: 0px;
			}
			&.hover {
				h3 {
					color: @gold;
				}
				.btn {
					color: #fff;
					background: @gold;
				}
			}
		}
		/* -----------------
		Colour Box: Purple
		----------------- */
		.box-purple {
			background-color: @purple;
			.btn {
				color: @purple;
				background: #fff;
				border: 1px solid @purple;
			}
			&.hover-animate {
				.box-border-top(@purple);
				border-bottom: 0px;
			}
			&.hover {
				h3 {
					color: @purple;
				}
				.btn {
					color: #fff;
					background: @purple;
				}
			}
		}

		/* -----------------
		Skills/Expertise Box
		----------------- */
		&.skills {
			.box-green;
			background-image: url('../images/home/skills.png');
			background-position: 130% -40px;
			margin-top: -20px;
			height: 184px;
			&.hover-animate {
				margin-top: -30px;
			}
			.icons {
				width: 216px;
				height: 63px;
				margin: 15px 0px 15px 5px;
				background-image: url('../images/home/skills-icons.png');
			}
			.btn {
				margin-top: 27px;
			}
			&.hover {
				.btn {
					margin-top: 0px;
				}
			}
		}

		/* -----------------
		CV Box
		----------------- */
		&.cv {
			.box-red;
			background-image: url('../images/home/cv.png');
			background-position: 20% -30px;
			margin-top: -30px;
			height: 191px;
			.btn {
				margin-top: 73px;
			}
			&.hover-animate {
				margin-top: -40px;
			}
			&.hover {
				.btn {
					margin-top: 0px;
				}
			}
		}

		/* -----------------
		Portfolio Box
		----------------- */
		&.portfolio {
			.box-red;
			background-image: url('../images/home/portfolio.png');
			background-position: 350% 8%;
			margin-top: -10px;
			height: 192px;
			.btn {
				margin-top: 73px;
			}
			&.hover-animate {
				margin-top: -20px;
				margin-bottom: 10px;
			}
			&.hover {
				.icons {
					display: block;
				}
				.btn {
					margin-top: 0px;
				}
			}
			.icons {
				display: none;
				width: 213px;
				height: 76px;
				margin: 15px 0px 10px 10px;
				background-image: url('../images/home/clients-icons.png');
			}
		}

		/* -----------------
		Current Situation Box
		----------------- */
		&.situation {
			.box-gold;
			background-image: url('../images/home/situation.png');
			background-position: 170px -25px;
			height: 171px;
			.btn {
				margin-top: 53px;
			}
			&.hover {
				.btn {
					margin-top: 0px;
				}
			}
			&.hover-animate {
				margin-top: -10px;
			}
		}

		/* -----------------
		Learning Box
		----------------- */
		&.learning {
			.box-green;
			background-image: url('../images/home/learning.png');
			background-position: -380% 0px;
			margin-top: -20px;
			height: 254px;
			.icons {
				width: 123px;
				height: 63px;
				margin: 5px 0px 20px 0px;
				background-image: url('../images/home/learning-icons.png');
			}
			.btn {
				margin-top: 135px;
			}
			&.hover-animate {
				margin-top: -30px;
			}
			&.hover {
				.btn {
					margin-top: 0px;
				}
			}
		}

		/* -----------------
		Workflow Box
		----------------- */
		&.workflow {
			.box-purple;
			background-image: url('../images/home/workflow.png');
			background-position: -250% -30px;
			height: 179px;
			.icons {
				width: 313px;
				height: 58px;
				margin: 15px 0px 15px 10px;
				background-image: url('../images/home/workflow-icons.png');
			}
			.btn {
				margin-top: 20px;
			}
			&.hover {
				.btn {
					margin-top: 0px;
				}
			}
			&.hover-animate {
				margin-top: -10px;
			}
		}

		/* -----------------
		About Box
		----------------- */
		&.about {
			.box-blue;
			height: 151px;
			background-image: url('../images/home/about.png');
			background-position: 120px 0px;
			.btn {
				margin-top: 33px;
			}
			&.hover {
				.btn {
					margin-top: 0px;
				}
			}
			&.hover-animate {
				margin-top: -10px;
			}
		}

		/* -----------------
		Contact Box
		----------------- */
		&.contact {
			.box-blue;
			background-image: url('../images/home/contact.png');
			background-position: 150px -50px;
			margin-top: -10px;
			height: 151px;
			.btn {
				margin-top: 33px;
			}
			&.hover-animate {
				margin-top: -20px;
			}
			&.hover {
				.btn {
					margin-top: 0px;
				}
			}
		}

	}

}