#page-home {
	
	display: none;

	.row {
		margin-top: 28px;
	}

	h3 {
		font-size: 20px;
		margin: 0px 0px 10px 0px;
	}

	/* -----------------
	Box Element
	----------------- */
	.box {
		cursor: pointer;
		background-repeat: no-repeat;
		background-position: 97% 9%;
		.boxshadow(2px, 2px, 4px, 0px, #777);
		&.hover {
			.bgopacity(#FFFFFF, 90%);
			margin-top: -5px;
			margin-bottom: 5px;
		}
		.icons {
			display: block;
			background-repeat: no-repeat;
			background-position: 0px 0px;
			&.active {
				background-position: 0px 100%;
			}
		}

		/* -----------------
		Skills/Expertise Box
		----------------- */
		&.skills {
			.box-border(@red);
			background-image: url('../images/icons/skills.png');
			margin-top: -20px;
			&.hover {
				margin-top: -25px;
			}
			.icons {
				width: 216px;
				height: 63px;
				margin: 15px 0px 15px 5px;
				background-image: url('../images/home/skills.png');
			}
		}

		/* -----------------
		CV Box
		----------------- */
		&.cv {
			.box-border(@red);
			background-image: url('../images/icons/cv.png');
			background-position: 95% 8%;
			margin-top: -30px;
			&.hover {
				margin-top: -35px;
			}
		}

		/* -----------------
		Portfolio Box
		----------------- */
		&.portfolio {
			.box-border(@red);
			background-image: url('../images/icons/portfolio.png');
			background-position: 95% 8%;
			margin-top: -10px;
			&.hover {
				margin-top: -15px;
			}
			.icons {
				width: 213px;
				height: 76px;
				margin: 15px 0px 10px 10px;
				background-image: url('../images/home/clients.png');
			}
		}

		/* -----------------
		Current Situation Box
		----------------- */
		&.situation {
			.box-border(@yellow);
			background-image: url('../images/icons/situation.png');
		}

		/* -----------------
		Learning Box
		----------------- */
		&.learning {
			.box-border(@green);
			background-image: url('../images/icons/learning.png');
			background-position: 93% 8%;
			margin-top: -20px;
			&.hover {
				margin-top: -25px;
			}
			.icons {
				width: 123px;
				height: 63px;
				margin: 5px 0px 15px 0px;
				background-image: url('../images/home/learning.png');
			}
		}

		/* -----------------
		Workflow Box
		----------------- */
		&.workflow {
			.box-border(@green);
			background-image: url('../images/icons/workflow.png');
			.icons {
				width: 313px;
				height: 58px;
				margin: 15px 0px 15px 10px;
				background-image: url('../images/home/workflow.png');
			}
		}

		/* -----------------
		About Box
		----------------- */
		&.about {
			.box-border(@green);
			background-image: url('../images/icons/about.png');
			background-position: 96% 8%;
		}

		/* -----------------
		Contact Box
		----------------- */
		&.contact {
			.box-border(@yellow);
			background-image: url('../images/icons/contact.png');
			background-position: 95% 8%;
			margin-top: -20px;
			&.hover {
				margin-top: -25px;
			}
		}

	}

}