/* -----------------
My Portfolio
----------------- */
#page-portfolio {

	display: none;

	article {
		border-left: 4px solid @red;
		.bgicon('portfolio-large', 97% 25px);

		a {
			color: @red;
		}
	}

	.subnav {
		border-left: 4px solid @red;
	}

}