<h2>Education</h2>

<!--
Undergradute
-->
<div class="layout-sidebysidedivided">
  <h4>BSc (Hons) Computer Visualisation & Games (2:1)</h4>

  <div class="layout-halfandhalf">
    <ul>
      <li>Basics of Computer Science</li>
      <li>Object-Oriented Programming</li>
      <li>Data Structures & Algorithms</li>
      <li>Database Systems</li>
      <li>Developing for the Web</li>
    </ul>
  </div>
  <div class="layout-halfandhalf">
    <ul>
      <li>Software User Experience Design</li>
      <li>2D Computer Graphics</li>
      <li>3D Animation</li>
      <li>Game Applications</li>
      <li>Multiplayer Game Development</li>
    </ul>
  </div>
</div>

<!--
Postgraduate
-->
<div class="layout-sidebysidedivided">
  <h4>Postgraduate Diploma (PgD) Advanced Software Engineering</h4>

  <div class="layout-halfandhalf">
    <ul>
      <li>Software Engineering for the Internet</li>
      <li>Software Architecture & Design</li>
      <li>The Internet Infrastructure</li>
      <li>Software Measurement & Testing</li>
    </ul>
  </div>
  <div class="layout-halfandhalf">
    <ul>
      <li>Distributed Computing</li>
      <li>Access Control Strategy</li>
      <li>Artificial Intelligence</li>
    </ul>
  </div>
</div>