<h2>Education</h2>

<!--
Undergradute
-->
<div class="layout-sidebyside layout-sidebyside-divider layout-centered">
  <a href="http://www.londonmet.ac.uk" target="_blank"><img src="images/cv/education-londonmet.jpg" alt="London Metropolitan University"/></a>
  <h4>BSc (Hons) Computer Visualisation & Games (2:1)</h4>

  <ul class="centredlist">
    <li>Basics of Computer Science</li>
    <li>Object-Oriented Programming</li>
    <li>Data Structures & Algorithms</li>
    <li>Database Systems</li>
    <li>Developing for the Web</li>
    <li>Software User Experience Design</li>
    <li>2D Computer Graphics</li>
    <li>3D Animation</li>
    <li>Game Applications</li>
    <li>Multiplayer Game Development</li>
  </ul>
</div>

<!--
Postgraduate
-->
<div class="layout-sidebyside layout-sidebyside-divider layout-centered">
  <a href="http://www.kcl.ac.uk" target="_blank"><img src="images/cv/education-kingscollege.jpg" alt="King's College London"/></a>
  <h4>Postgraduate Diploma (PgD) Advanced Software Engineering</h4>

  <ul class="centredlist">
    <li>Software Engineering for the Internet</li>
    <li>Software Architecture & Design</li>
    <li>The Internet Infrastructure</li>
    <li>Software Measurement & Testing</li>
    <li>Distributed Computing</li>
    <li>Access Control Strategy</li>
    <li>Artificial Intelligence</li>
  </ul>
</div>