<h2>Interests &amp; Achievements</h2>

<ul>
  <li>Enjoyed a career as a reservist in the Territorial Army for six years (now Army Reserve), joining the infantry and later the Royal Corps of Signals</li>
  <li>Attained the rank of Lance Corporal and became an army Physical Training Instructor responsible for the fitness of forty reservists</li>
  <li>Qualified as a FA Level 1 Football Coach as a result of a course with the Surrey FA</li>
  <li>Currently running a 5-a-side football team every Wednesday for the benefit of several players</li>
  <li>Also working on the development of my own product, in the form of a mobile app, that I will eventually form a business around when ready</li>
</ul>