<p>Experienced Front-end Web Developer with 9 years commercial experience.</p>

<div class="keyvaluepairs">
  <span class="keyvaluepairs--key">Residence</span>
  <span class="keyvaluepairs--value">Croydon, London</span>
  <span class="keyvaluepairs--key">Email</span>
  <span class="keyvaluepairs--value"><a href="mailto:inbox@chrismendes.co.uk">inbox@chrismendes.co.uk</a></span>
  <span class="keyvaluepairs--key">Nationality</span>
  <span class="keyvaluepairs--value">British</span>
  <span class="keyvaluepairs--key">Looking For</span>
  <span class="keyvaluepairs--value"><u>Contract / Freelance</u> roles only.</span>
</div>