<h2>Expertise</h2>

<p>See <a href="#">Skills &amp; Expertise</a> for more details.</p>

<div class="layout-sidebyside-narrow">
  <h3>Key Skills</h3>
  <ul>
    <li>HTML5, CSS3, Sass/LESS, JavaScript</li>
    <li>AngularJS, Backbone.js, Flight.js, jQuery</li>
    <li>Twitter Bootstrap, Foundation, Susy</li>
    <li>Git, Gulp, Grunt</li>
  </ul>
</div>

<div class="layout-sidebyside-narrow">
  <h3>Key Knowledge</h3>
  <ul>
    <li>Building web applications from scratch</li>
    <li>Responsive cross-device web development</li>
    <li>Object-oriented, modular, scalable code</li>
    <li>Web performance and optimisation</li>
  </ul>
</div>

<div class="layout-sidebyside-narrow">
  <h3>Specialist Subjects</h3>
  <ul>
    <li>SMACSS - Efficient and re-usable CSS</li>
    <li>Design Patterns - Architecture for JavaScript</li>
    <li>Git - Operations and best practices</li>
    <li>Chrome DevTools - Every feature inside out</li>
  </ul>
</div>