/* -----------------
Backgrounds
----------------- */
.theme-bg-teal {
    background: #4DA8AB;
    .gradient(#2899A1, #75B7B5);
}
.theme-bg-green {
    background: #6FBD91;
    .gradient(#4BAF7B, #94CCA9);
}
.theme-bg-purple {
    background: #8E7FBC;
    .gradient(#6C59A8, #A599C9);
}
.theme-bg-gold {
    background: #C5B174;
    .gradient(#B8A056, #D2C495);
}
.theme-bg-blue {
    background: #3CA8E0;
    .gradient(#0D85D1, #61C4EB);
}