.layout-billboard {
  height: 340px;
  background: linear-gradient(to bottom, #efefef 0%, #dfdfdf 100%);
  border-bottom: 4px solid #CECECE;
}

.layout-billboardcontent {
  @extend .container;

  height: 100%;
  overflow: hidden;
}

.layout-billboardleft {
  width: 59%;
  height: 100%;
  float: left;
}

.layout-billboardright {
  width: 41%;
  height: 100%;
  float: right;
}
