<div class="layout-slide">

  <div class="layout-slide--heading">

    <h2 class="large">Code Standards</h2>

  </div>

  <div class="layout-slide--bodyarticle">

    <img src="images/index/codestandards/goodcode.png"/>
    <span class="emphasis">Passionate about modular and scalable code fit for the long-term</span>
    <p>Extensive experience applying JavaScript and CSS in the real-world has provided the relevant awareness and techniques to produce code that is easily extendible, resuable, and easy to read.</p>

  </div>

  <div class="layout-slide--bodyarticle">

    <img src="images/index/codestandards/tools.png"/>
    <span class="emphasis">Enthusiast for modern workflow tools such as Gulp, Grunt, and Webpack</span>
    <p>Lorem ipsum</p>

  </div>

  <div class="layout-slide--bodyarticle">

    <img src="images/index/codestandards/samples.png"/>
    <span class="emphasis">4 GitHub projects made available for code inspection purposes</span>
    <p>Lorem ipsum</p>

  </div>

  <div class="layout-slide--footer">

    <a href="/code-samples.html" class="button button-large button-special">Inspect Sample Code &raquo;</a>

  </div>

</div>