<div class="layout-slide">

  <div class="layout-slide--heading">

    <h2 class="large">Code Standards</h2>

  </div>

  <div class="layout-slide--bodyarticle">

    <img src="images/index/codestandards/goodcode.png"/>
    <span class="emphasis">Keen on modular and scalable code fit for the long-term</span>
    <p>Experience applying JavaScript and CSS in the real-world has provided the awareness and techniques to produce code that is easily extendible, resuable, and easy to understand.</p>

  </div>

  <div class="layout-slide--bodyarticle">

    <img src="images/index/codestandards/tools.png"/>
    <span class="emphasis">Enthusiast for modern front-end development tools</span>
    <p>Proficient with a number of module loaders such as Webpack and Browserify, as well as build tools such as Gulp and Grunt. These of course allow team leaders to ensure consistency throughout their team.</p>

  </div>

  <div class="layout-slide--bodyarticle">

    <img src="images/index/codestandards/samples.png"/>
    <span class="emphasis">4 GitHub projects made available for code inspection purposes</span>
    <p>Including the code for this website, I have published the code for a few mini-applications demonstrating use of HTML, CSS, JavaScript, and AngularJS, as well as development general practice and use of workflow tools.</p>

  </div>

  <div class="layout-slide--footer">

    <a href="/code-samples.html" class="button button-large button-special">Inspect Sample Code &raquo;</a>

  </div>

</div>