<div class="layout-slide">

  <div class="layout-slide--heading">

    <h2 class="large">Project Experience</h2>
    <p class="large">
      Extensive greenfield project experience. Previous work includes microsites, corporate sites, ecommerce shops, and games.
    </p>

  </div>

  <div class="layout-slide--body">

    <div class="projectshopwindow"></div>

  </div>

  <div class="layout-slide--footer">

    <a href="/portfolio.html" class="button button-large button-special">Open Portfolio &raquo;</a>
    <a href="/cv.html" class="button button-large">Read CV &raquo;</a>

  </div>

</div>