<div class="featureboard">
  <h2 class="featureboard--heading">Technical Skills and Expertise</h2>
  <p class="featureboard--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris urna, mollis in consequat sit amet.</p>

  <div class="featureboard--canvashalf">
    <ul class="featureboard--features">
      <li class="notecard">
        <span class="notecard--image"><img src="images/index/topic-greenfield.png"/></span>
        <span class="notecard--title">Greenfield Project Development</span>
        <span class="notecard--description">Requirements gathering and recommending technology stacks, code architecture and overall strategy.</span>
      </li>
      <li class="notecard">
        <span class="notecard--image"><img src="images/index/topic-responsive.png"/></span>
        <span class="notecard--title">Responsive Web Development</span>
      </li>
      <li class="notecard">
        <span class="notecard--image"><img src="images/index/topic-performance.png"/></span>
        <span class="notecard--title">Optimisation and Web Performance</span>
      </li>
    </ul>
  </div>
  <div class="featureboard--canvashalf">
    <ul class="featureboard--features">
      <li class="notecard">
        <span class="notecard--image"><img src="images/index/topic-fundamentals.jpg"/></span>
        <span class="notecard--caption">HTML5, CSS3, JavaScript</span>
        <span class="notecard--title">Advanced Knowledge of the Fundamentals</span>
      </li>
      <li class="notecard">
        <span class="notecard--image"><img src="images/index/topic-frameworks.jpg"/></span>
        <span class="notecard--caption">AngularJS, Backbone.js, React.js</span>
        <span class="notecard--title">JavaScript Framework Proficiency</span>
      </li>
      <li class="notecard">
        <span class="notecard--image"><img src="images/index/topic-serverside.png"/></span>
        <span class="notecard--caption">Node.js, Express, MongoDB</span>
        <span class="notecard--title">Server-Side JavaScript Capability</span>
      </li>
    </ul>
  </div>
  <div class="featureboard--calltoaction">
    <a href="/skills-expertise.html" class="button button-special">Review Skills &amp; Expertise &raquo;</a>
  </div>
</div>