<div class="layout-slide">

  <div class="layout-slide--heading">

    <h2 class="large">Code Standards</h2>

  </div>

  <div class="layout-slide--body">

    <p class="large">Passionate about modular and scalable code fit for the long-term</p>
    <p>Extensive experience applying JavaScript and CSS in the real-world has provided the relevant awareness and techniques to produce code that is easily extendible, resuable, and easy to read.</p>
    <span class="sprite sprite-skillgreenfield-colour"></span>

  </div>

  <div class="layout-slide--body">

    <p class="large">Enthusiast for modern workflow tools such as Gulp, NPM, and Webpack</p>
    <p>Lorem ipsum</p>

  </div>

  <div class="layout-slide--body">

    <p class="large">4 GitHub projects made available for code inspection purposes</p>
    <p>Lorem ipsum</p>

  </div>

  <div class="layout-slide--footer">

    <a href="/code-samples.html" class="button button-large button-special">Inspect Sample Code &raquo;</a>

  </div>

</div>