<div class="layout-slide">

  <div class="layout-slide--heading">

    <h2 class="large">Past Projects</h2>
    <p class="large">
      Extensive greenfield project experience. Previous work includes microsites, corporate sites, ecommerce shops, and games.
    </p>

  </div>

  <div class="layout-slide--bodyleft">

    <div class="gallery js-gallery-container">
      <span class="gallery--deviceframe"></span>
      <button class="gallery--previous button button-icononly js-gallery-previous"><</button>
      <div class="gallery--slides js-gallery">
        <ul>
          <li><img src="images/index/pastprojects/slide-barclaycard.jpg"/></li>
          <li><img src="images/index/pastprojects/slide-cisco.jpg"/></li>
        </ul>
      </div>
      <button class="gallery--next button button-icononly js-gallery-next">></button>
    </div>

  </div>

  <div class="layout-slide--bodyright">

    <img src="images/logos/company-barclaycard.jpg"/>
    <h3>Barclaycard bPay</h3>

  </div>

  <div class="layout-slide--footer">

    <a href="/portfolio.html" class="button button-large button-special">Open Portfolio &raquo;</a>
    <a href="/cv.html" class="button button-large">Read CV &raquo;</a>

  </div>

</div>