<div class="layout-slide">

  <div class="layout-slide--heading">

    <h2 class="large">Technical Skills and Expertise</h2>
    <p class="large">
      Wide-ranging and in-depth technical knowledge. Modern tech enthusiast, e.g. AngularJS, Twitter Flight, and Webpack.
    </p>

  </div>

  <div class="layout-slide--body">

    <ul class="features">
      <li>
        <span class="features--image features--image-overlay">
          <span class="sprite sprite-expertise sprite-expertise-greenfield"></span>
          <span class="sprite sprite-expertise sprite-expertise-greenfield-colour js-reveal-element"></span>
        </span>
        <span class="features--titledescription">
          <span class="features--title emphasis">Greenfield Project Development</span>
          <span class="features--description">Requirements gathering and recommending technology stacks, code architecture and overall development strategy.</span>
        </span>
      </li>
      <li>
        <span class="features--image features--image-overlay">
          <span class="sprite sprite-expertise sprite-expertise-responsive"></span>
          <span class="sprite sprite-expertise sprite-expertise-responsive-colour js-reveal-element"></span>
        </span>
        <span class="features--titledescription">
          <span class="features--title emphasis">Responsive Web Development</span>
          <span class="features--description">Thorough grasp on the relevant techniques to bring about optimal presentation and behavior across a wide range of devices.</span>
        </span>
      </li>
      <li>
        <span class="features--image features--image-overlay">
          <span class="sprite sprite-expertise sprite-expertise-performance"></span>
          <span class="sprite sprite-expertise sprite-expertise-performance-colour js-reveal-element"></span>
        </span>
        <span class="features--titledescription">
          <span class="features--title emphasis">Optimisation and Web Performance</span>
          <span class="features--description">Excellent understanding of how browsers and servers work in relation to performance, and the action needed to ensure fast load times.</span>
        </span>
      </li>
    </ul>

  </div>

  <div class="layout-slide--body js-reveal">

    <ul class="features">
      <li>
        <span class="features--image features--image-overlay">
          <span class="sprite sprite-expertise sprite-expertise-fundamentals"></span>
          <span class="sprite sprite-expertise sprite-expertise-fundamentals-colour js-reveal-element"></span>
        </span>
        <span class="features--titledescription">
          <span class="features--caption">HTML5, CSS3, JavaScript</span>
          <span class="features--title emphasis">Advanced Fundamental Knowledge</span>
        </span>
      </li>
      <li>
        <span class="features--image features--image-overlay">
          <span class="sprite sprite-expertise sprite-expertise-frameworks"></span>
          <span class="sprite sprite-expertise sprite-expertise-frameworks-colour js-reveal-element"></span>
        </span>
        <span class="features--titledescription">
          <span class="features--caption">AngularJS, Backbone.js, Twitter Flight</span>
          <span class="features--title emphasis">JavaScript Framework Proficiency</span>
        </span>
      </li>
      <li>
        <span class="features--image features--image-overlay">
          <span class="sprite sprite-expertise sprite-expertise-tools"></span>
          <span class="sprite sprite-expertise sprite-expertise-tools-colour js-reveal-element"></span>
        </span>
        <span class="features--titledescription">
          <span class="features--caption">e.g. Grunt, Gulp, Webpack</span>
          <span class="features--title emphasis">Familiarity with Modern Tools</span>
        </span>
      </li>
    </ul>

  </div>

  <div class="layout-slide--footer">
    <a href="/skills-expertise.html" class="button button-large button-special">Review Skills &amp; Expertise &raquo;</a>
  </div>

</div>