html {
    height: 100%;
}
html, body {
    min-height: 100%;
    .bg('blue');
}
body {
    padding: 60px 0px;
    overflow-y: scroll;
    
    font-family: Arial;
    font-size: 14px;

    &.is-raised {
        padding: 40px 0px;
    }
}


/* -----------------
Typeface
----------------- */
h1 {
    font-family: Helvetica Neue;
    font-size: 36px;
}
h2 {
    font-family: Helvetica Neue;
    font-size: 46px;
    margin: 7px 0px 40px 0px;
}
h3 {
    font-family: oswaldbook;
    font-size: 22px;
}
h4 {
    font-weight: bold;
}


/* -----------------
Miscellaneous
----------------- */
/* Apply a natural box layout model to all elements (http://www.paulirish.com/2012/box-sizing-border-box-ftw/) */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}