/* -----------------
Top Level
----------------- */
#bg-transition {
	display: none;
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}


/* -----------------
Common Styles
----------------- */
.theme-border {
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: #666;
}

.content-canvas {
    padding: 40px;
    background: #fff;
    .boxshadow(6px, 6px, 20px, 0px, #666666);

    &.is-off-stage {
        .opacity(0);
    }
}
