.pushbutton {
  background: #efefef;

  width: 108px;
  height: 95px;
  padding: 10px;

  float: left;

  cursor: pointer;

  text-align: center;
}

.pushbutton:hover {
  background: #e0e0e0;
}

.pushbutton.is-active {
  background: lighten($blue, 20%);
}
.pushbutton.is-active > .pushbutton--title {
  color: #fff;
}

.pushbutton--title {
  font-size: 0.8em;

  margin-bottom: 8px;
  display: inline-block;
}


.layout-subnav-extended > .pushbutton {
  margin: 2px;
}
