.imageinviewloader--content {
  display: none;
}

.imageinviewloader.is-loaded > .imageinviewloader--loading {
  display: none;
}

.imageinviewloader.is-loaded > .imageinviewloader--content {
  display: block;
}
