.primarynav {
  margin: 0;
  padding: 0;
  list-style: none;

  text-align: center;
  width: 100%;
}

.primarynav > li {
  margin: 0;
  display: inline-block;
}

.primarynav > li > a {
  // color: #fff;
  color: #888;

  font-size: 1.3em;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;

  padding: 18px 10px;
  display: inline-block;
}

.primarynav > li > a:hover {
  color: #333;
  background: #efefef;
}


.layout-header-primary > .primarynav {
  float: right;
}
