.primarynav {
  margin: 0;
  padding: 0;
  list-style: none;

  text-align: center;
  width: 100%;
}

.primarynav > li {
  margin: 0;
  display: inline-block;
}

.primarynav > li > a {
  color: #888;

  font-size: 1.3em;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;

  padding: 18px 10px;
  display: inline-block;
}

.primarynav > li:hover {
  background: linear-gradient(to bottom, #666 0%, #999 100%);
}
.primarynav > li > a:hover {
  color: #fff;
}

.primarynav > li.is-active {
  background: #efefef;
}
.primarynav > li.is-active > a {
  color: #888;
}
