.siteheader {
  padding: 24px 0;
  text-align: center;
}

.siteheader--name {
  color: #777;
  font-size: 3.1em;
  font-family: 'BankGothic';
  letter-spacing: -3px;
  text-transform: uppercase;

  padding: 10px 0 20px 0;
  display: inline-block;
}

.siteheader--jobtitle {
  color: #999;
  font-size: 1.41em;
  font-family: Verdana, Arial, sans;

  width: 100%;
  display: inline-block;
}
