.siteheader {
  padding: 24px 0;

  color: #c0c0c0;
  text-align: center;
}
.siteheader--name {
  font-family: 'BankGothic';
  font-size: 3.1em;
  line-height: 1em;
  text-transform: uppercase;

  margin-left: 2px;
  display: inline-block;
}

.siteheader--jobtitle {
  font-size: 1.5em;
  font-family: Verdana;
// font-family: Arial;

  margin: 8px 0;
  width: 100%;
  display: inline-block;

// width: auto;
// margin-left: 12px;
}

