.layout-header {
  @extend .container;
  background: #fff;
}

.layout-navbar {
  border-top: 1px solid #efefef;
  border-bottom: 4px solid #dfdfdf;
  box-shadow: 0 4px 10px 2px #efefef;
}

.layout-page {
  @extend .container;
  padding: 60px 50px 40px 50px;

  box-shadow: 0 10px 50px -2px rgba(0, 0, 0, 0.2);

  position: relative;
  overflow-x: hidden;
}

.layout-pages-special {
  background: #f7f7f7;
  padding-left: 0;
  padding-right: 0;
}

.layout-pages-special:nth-child(odd) {
  background: #fff;
}
