.navbar {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar > li {
  float: right;

  @media (min-width: 900px) {
    margin-left: 6px;
  }
}

.navbar > li:last-child {
  float: left;
  margin-left: 0;
}

.navbar > li > a {
  color: #fff;
  font-size: 0.9em;

  padding: 6px 10px;
  display: inline-block;

  background: rgba(255, 255, 255, 0.1);
}

.navbar > li > a:hover {
  background: rgba(255, 255, 255, 0.2);
}
