<div class="layout-subnav">

<ul class="tabs tabs-secondary">
  {{#skills}}
  <li{{#if @index}} class="is-active"{{/if}}><a href="#/tab/">{{group}}</a></li>
  {{/skills}}
</ul>

</div>

<div class="layout-subnavcontent">

{{#skills}}
<div id="tabnested-technology" class="tabs--content is-active">
  {{#entries}}
  <div class="skill">
    <span class="skill--logo"><img src="images/skills-expertise/skill-{{urlFriendly name}}.jpg"/></span>
    <div class="skill--description">
      {{#summary}}
      <p>{{.}}</p>
      {{/summary}}
    </div>
  </div>
  {{/entries}}
</div>
{{/skills}}

</div>