<div class="layout-subnav-extended">

  <h2>HTML/CSS</h2>

  <span class="pushbutton">
    <span class="pushbutton--title">Response Dev</span>
    <span class="pushbutton--icon"></span>
  </span>
  <span class="pushbutton">
    <span class="pushbutton--title">Browser Support</span>
    <span class="pushbutton--icon"></span>
  </span>
  <span class="pushbutton">
    <span class="pushbutton--title">SMACSS</span>
    <span class="pushbutton--icon"></span>
  </span>


  <h2>JavaScript</h2>

  <span class="pushbutton">
    <span class="pushbutton--title">Object-Oriented</span>
    <span class="pushbutton--icon"></span>
  </span>
  <span class="pushbutton">
    <span class="pushbutton--title">Design Patterns</span>
    <span class="pushbutton--icon"></span>
  </span>
  <span class="pushbutton">
    <span class="pushbutton--title">Module Systems</span>
    <span class="pushbutton--icon"></span>
  </span>


  <h2>Workflow</h2>

  <span class="pushbutton">
    <span class="pushbutton--title">Agile Dev</span>
    <span class="pushbutton--icon"></span>
  </span>
  <span class="pushbutton">
    <span class="pushbutton--title">JIRA</span>
    <span class="pushbutton--icon"></span>
  </span>
  <span class="pushbutton">
    <span class="pushbutton--title">Confluence</span>
    <span class="pushbutton--icon"></span>
  </span>

</div>

<div class="layout-subnavcontent-extended">

  <h3>Responsive Development</h3>
  <p>With a dozen responsive sites under my belt I am very well versed in the issues surrounding responsive web design.</p>
  <p>Using off-the-shelf grid systems such as Twitter Bootstrap and Foundation, or my new favourite Susy, I can implement x-column grids as required.</p>
  <p>I also have experience with solutions such as lazy loading, off canvas menus, and responsive images.</p>
  <p>And I'm an advocate for mobile first design/development when project circumstances allow it.</p>
<!-- 
  <h3>Browser Support</h3>
  <p>Having often been required to accommodate browsers as old as IE7, I have acquired a very good understanding of what's generally supported and what's not.</p>
  <p>I prefer to adopt a <strong>progressive enhancement</strong> approach to CSS so as to guarentee basic presentational correctness in all browsers from the lowest upwards.</p>
  <p>Enhanced presentation can then be delivered to modern browsers with the proper CSS overrides alone, or in conjunction with the JS library Modernizr for feature detection purposes that I am also proficient with.</p>

  <h3>SMACSS</h3>
  <p><a href="https://smacss.com" target="_blank">https://smacss.com</a></p>
  <p>Scalable and Modular Architecture for CSS is an excellent design pattern for CSS authored by Jonathan Snook (ex-Yahoo Front-end Engineer).</p>
  <p>Having read his book and followed his online course, and having applied SMACSS commercially since, I adopt this approach to CSS in every greenfield project that I am assigned to.</p>
  <p>CSS written within the SMACSS pattern is clean, efficient, easily reusable, and easy to maintain between present and future developers.</p>

  <h3>Object-Oriented JavaScript</h3>
  <p>First studied object-oriented programming as an undergraduate at University working with Java, learning the concepts of inheritance, encapsulation, polymorphism, method overloading/overriding, etc.</p>
  <p>This vital learning process early on has enabled me ever since to understand newly encountered OOP implementations very quickly.</p>
  <p>While JavaScript of course features a different kind of inheritance, namely prototypal, nevertheless I've always preferred when appropriate to code in this natural declarative way.</p>
  <p>The official future release of ES6 will of course make a crucial impact to this area of JavaScript.</p>
-->
</div>