<h2>Web Performance &amp; Optimisation</h2>

<img class="layout-textwrap-right" src="images/skills-expertise/special/special-performance.png"/>

<p>
  In recent years I have taken a huge interest in ensuring that front-end applications are as optimised as possible.
  On many occasions I have witnessed a site enter production and only a minimum effort been afforded on load/render times, and this has no doubt had a negative impact on the site's commercial activity.
</p>

<h3>Application Layer</h3>
<p>Like-minded developers will know that to improve a front-end app's performance a balanced form of modularity is the key, and that the objective is to deliver the minimum data necessary to render the critical <em>above-the-fold</em> content as soon as possible.</p>
<p>There are a number of well documented modern optimisation techniques to achieve this - such as inlining critical CSS/JavaScript in the head of the document, and asynchronously loading component CSS/JavaScript when requested by the user - and I have had success in implementing these techniques in the wild.</p>
<p>On a more fundamental level, it is of course crucial to write performance-aware JavaScript, to lazy-load assets where appropriate, and to cache parts of the app where possible.</p>

<h3>Network Layer</h3>
<p>Beyond front-end tricks, I have keenly learnt how browsers and web servers work in relation to web performance. Here I am referring to the mechanics of HTTP and TCP with respect to browser-server communication and common issues that can arise in this area.</p>
<p>With this knowledge and a familiarity with a range of monitoring tools, I am able to effectively diagnose a given slow loading application and identify bottlenecks and other weak links to improve performance.</p>

<h3>Case Study</h3>
<p>Recently I worked with the owner of UKPianos.co.uk to significantly improve the render and overall load times of the site. Previously the site was experiencing catastrophic load times which was hurting the business (up to 40 seconds on some occasions). Once the action that I recommended was implemented, we brought the average page load time down to 2.5 seconds.</p>
<p><a href="#">Read case study: UKPianos.co.uk</a></p>

<div class="layout-sidebyside">

  <h2>JavaScript Design Patterns</h2>

  <img class="layout-textwrap" src="images/skills-expertise/special/special-patterns.png"/>
  <p>Another subject that is very important is design patterns and how they are implemented in JavaScript.</p>
  <p>This knowledge of a range of well established patterns helps hugely with writing optimal and efficient JavaScript, define complex architecture when working in a framework-less environment, and to also help better understand already-built solutions.</p>
  <p>Since studying this topic I have always had an upgraded level of confidence when designing code for large and complex requirements.</p>

</div>

<div class="layout-sidebyside">

  <h2>Chrome DevTools</h2>

  <img class="layout-textwrap-right" src="images/skills-expertise/special/special-devtools.png"/>
  <p>On the surface this might seem a strange entry, however there are many features within Chrome DevTools and I have acquired a familiarity with them all.</p>
  <p>Separate from the universally known Elements and Console tabs, I am referring to for example the Sources tab to debug JavaScript and the Network, Timeline, Profiles, and Audits tabs to measure performance.</p>
  <p>Knowing these features inside out, as well as others such as Workspaces, can greatly assist with problem solving and general workflow and it surprises me how few Developers make use of all of these features.</p>
  
</div>