<div class="layout-subnav">

<ul class="tabs tabs-secondary">
  {{#skills}}
  <li{{#unless @index}} class="is-active"{{/unless}}>
    <a href="#/tab/technology/{{urlFriendly group}}">{{group}}</a>
  </li>
  {{/skills}}
</ul>

</div>

<div class="layout-subnavcontent">

{{#skills}}
<div id="tabnested-technology-{{urlFriendly group}}" class="tabs--content{{#unless @index}} is-active{{/unless}}">
  {{#entries}}
  <div class="skill">
    <span class="skill--logo"><img src="images/skills-expertise/skill-{{urlFriendly name}}.jpg"/></span>
    <div class="skill--description">
      {{#summary}}
      <p>{{.}}</p>
      {{/summary}}
      <p><strong>Experience</strong>: {{experience}}</p>
    </div>
  </div>
  {{/entries}}
</div>
{{/skills}}

</div>