/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.sprite-checkbox-off {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px 0px;
  width: 17px;
  height: 17px;
}
.sprite-checkbox-on {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -34px;
  width: 20px;
  height: 20px;
}
.sprite-click-screenshot-hover {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -802px;
  width: 220px;
  height: 128px;
}
.sprite-click-screenshot {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -674px;
  width: 220px;
  height: 128px;
}
.sprite-device-desktop {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -79px;
  width: 33px;
  height: 25px;
}
.sprite-device-laptop {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -104px;
  width: 33px;
  height: 25px;
}
.sprite-device-phone {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -129px;
  width: 12px;
  height: 25px;
}
.sprite-device-tablet {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -154px;
  width: 21px;
  height: 25px;
}
.sprite-download-pdf {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -404px;
  width: 30px;
  height: 30px;
}
.sprite-home {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -17px;
  width: 17px;
  height: 17px;
}
.sprite-mobile-menu-about {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -229px;
  width: 24px;
  height: 25px;
}
.sprite-mobile-menu-codesamples {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -254px;
  width: 20px;
  height: 25px;
}
.sprite-mobile-menu-contact {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -279px;
  width: 21px;
  height: 25px;
}
.sprite-mobile-menu-cv {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -204px;
  width: 26px;
  height: 25px;
}
.sprite-mobile-menu-feedback {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -329px;
  width: 24px;
  height: 25px;
}
.sprite-mobile-menu-home {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -354px;
  width: 17px;
  height: 25px;
}
.sprite-mobile-menu-portfolio {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -379px;
  width: 16px;
  height: 25px;
}
.sprite-mobile-menu-recruitment {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -179px;
  width: 22px;
  height: 25px;
}
.sprite-mobile-menu-skills {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -54px;
  width: 16px;
  height: 25px;
}
.sprite-repository-button {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -304px;
  width: 29px;
  height: 25px;
}
.sprite-topic-career {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -434px;
  width: 47px;
  height: 40px;
}
.sprite-topic-end {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -474px;
  width: 40px;
  height: 40px;
}
.sprite-topic-interests {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -514px;
  width: 27px;
  height: 40px;
}
.sprite-topic-intro {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -554px;
  width: 45px;
  height: 40px;
}
.sprite-topic-misc {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -594px;
  width: 45px;
  height: 40px;
}
.sprite-topic-sport {
  background-image: url(../images/spritesheet-core.png);
  background-position: 0px -634px;
  width: 40px;
  height: 40px;
}
