/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.sprite-person-andyroberts {
  background-image: url(../images/spritesheet-general.png);
  background-position: 0px 0px;
  width: 60px;
  height: 60px;
}
.sprite-person-cathybishop {
  background-image: url(../images/spritesheet-general.png);
  background-position: 0px -360px;
  width: 60px;
  height: 60px;
}
.sprite-person-dominicyoung {
  background-image: url(../images/spritesheet-general.png);
  background-position: 0px -300px;
  width: 60px;
  height: 60px;
}
.sprite-person-kellyhughes {
  background-image: url(../images/spritesheet-general.png);
  background-position: 0px -240px;
  width: 60px;
  height: 60px;
}
.sprite-person-laurencejones {
  background-image: url(../images/spritesheet-general.png);
  background-position: 0px -180px;
  width: 60px;
  height: 60px;
}
.sprite-person-petethompson {
  background-image: url(../images/spritesheet-general.png);
  background-position: 0px -120px;
  width: 60px;
  height: 60px;
}
.sprite-person-tomhartnett {
  background-image: url(../images/spritesheet-general.png);
  background-position: 0px -60px;
  width: 60px;
  height: 60px;
}
.sprite-service-backend {
  background-image: url(../images/spritesheet-general.png);
  background-position: 0px -795px;
  width: 107px;
  height: 75px;
}
.sprite-service-build {
  background-image: url(../images/spritesheet-general.png);
  background-position: 0px -420px;
  width: 123px;
  height: 75px;
}
.sprite-service-innovation {
  background-image: url(../images/spritesheet-general.png);
  background-position: 0px -720px;
  width: 123px;
  height: 75px;
}
.sprite-service-performance {
  background-image: url(../images/spritesheet-general.png);
  background-position: 0px -645px;
  width: 123px;
  height: 75px;
}
.sprite-service-responsive {
  background-image: url(../images/spritesheet-general.png);
  background-position: 0px -570px;
  width: 106px;
  height: 75px;
}
.sprite-service-standards {
  background-image: url(../images/spritesheet-general.png);
  background-position: 0px -495px;
  width: 123px;
  height: 75px;
}
