/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.sprite-company-akqa-large {
  background-image: url(../images/spritesheet-logos.jpg);
  background-position: 0px -896px;
  width: 215px;
  height: 103px;
}
.sprite-company-akqa-small {
  background-image: url(../images/spritesheet-logos.jpg);
  background-position: 0px -91px;
  width: 80px;
  height: 38px;
}
.sprite-company-akqa {
  background-image: url(../images/spritesheet-logos.jpg);
  background-position: 0px -312px;
  width: 150px;
  height: 71px;
}
.sprite-company-autodesk {
  background-image: url(../images/spritesheet-logos.jpg);
  background-position: 0px -27px;
  width: 140px;
  height: 28px;
}
.sprite-company-capablue-large {
  background-image: url(../images/spritesheet-logos.jpg);
  background-position: 0px -1246px;
  width: 214px;
  height: 125px;
}
.sprite-company-capablue-small {
  background-image: url(../images/spritesheet-logos.jpg);
  background-position: 0px -129px;
  width: 80px;
  height: 46px;
}
.sprite-company-capablue {
  background-image: url(../images/spritesheet-logos.jpg);
  background-position: 0px -609px;
  width: 150px;
  height: 87px;
}
.sprite-company-cisco {
  background-image: url(../images/spritesheet-logos.jpg);
  background-position: 0px -383px;
  width: 140px;
  height: 73px;
}
.sprite-company-dkny {
  background-image: url(../images/spritesheet-logos.jpg);
  background-position: 0px -55px;
  width: 140px;
  height: 36px;
}
.sprite-company-dnx-small {
  background-image: url(../images/spritesheet-logos.jpg);
  background-position: 0px -529px;
  width: 80px;
  height: 80px;
}
.sprite-company-dnx {
  background-image: url(../images/spritesheet-logos.jpg);
  background-position: 0px -1121px;
  width: 125px;
  height: 125px;
}
.sprite-company-fingo {
  background-image: url(../images/spritesheet-logos.jpg);
  background-position: 0px -243px;
  width: 150px;
  height: 69px;
}
.sprite-company-sap {
  background-image: url(../images/spritesheet-logos.jpg);
  background-position: 0px -456px;
  width: 140px;
  height: 73px;
}
.sprite-company-soundsmusical {
  background-image: url(../images/spritesheet-logos.jpg);
  background-position: 0px -175px;
  width: 198px;
  height: 68px;
}
.sprite-company-successfactors {
  background-image: url(../images/spritesheet-logos.jpg);
  background-position: 0px 0px;
  width: 140px;
  height: 27px;
}
.sprite-company-virginpure {
  background-image: url(../images/spritesheet-logos.jpg);
  background-position: 0px -999px;
  width: 140px;
  height: 122px;
}
.sprite-education-kingscollege {
  background-image: url(../images/spritesheet-logos.jpg);
  background-position: 0px -696px;
  width: 123px;
  height: 100px;
}
.sprite-education-londonmet {
  background-image: url(../images/spritesheet-logos.jpg);
  background-position: 0px -796px;
  width: 156px;
  height: 100px;
}
