/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.sprite-company-autodesk {
  background-image: url(../images/spritesheets/logos.jpg);
  background-position: 0px -27px;
  width: 140px;
  height: 28px;
}
.sprite-company-capablue-large {
  background-image: url(../images/spritesheets/logos.jpg);
  background-position: 0px -909px;
  width: 214px;
  height: 125px;
}
.sprite-company-capablue-small {
  background-image: url(../images/spritesheets/logos.jpg);
  background-position: 0px -91px;
  width: 80px;
  height: 46px;
}
.sprite-company-capablue {
  background-image: url(../images/spritesheets/logos.jpg);
  background-position: 0px -500px;
  width: 150px;
  height: 87px;
}
.sprite-company-cisco {
  background-image: url(../images/spritesheets/logos.jpg);
  background-position: 0px -274px;
  width: 140px;
  height: 73px;
}
.sprite-company-dkny {
  background-image: url(../images/spritesheets/logos.jpg);
  background-position: 0px -55px;
  width: 140px;
  height: 36px;
}
.sprite-company-dnx-small {
  background-image: url(../images/spritesheets/logos.jpg);
  background-position: 0px -420px;
  width: 80px;
  height: 80px;
}
.sprite-company-dnx {
  background-image: url(../images/spritesheets/logos.jpg);
  background-position: 0px -1034px;
  width: 125px;
  height: 125px;
}
.sprite-company-fingo {
  background-image: url(../images/spritesheets/logos.jpg);
  background-position: 0px -205px;
  width: 150px;
  height: 69px;
}
.sprite-company-sap {
  background-image: url(../images/spritesheets/logos.jpg);
  background-position: 0px -347px;
  width: 140px;
  height: 73px;
}
.sprite-company-soundsmusical {
  background-image: url(../images/spritesheets/logos.jpg);
  background-position: 0px -137px;
  width: 198px;
  height: 68px;
}
.sprite-company-successfactors {
  background-image: url(../images/spritesheets/logos.jpg);
  background-position: 0px 0px;
  width: 140px;
  height: 27px;
}
.sprite-company-virginpure {
  background-image: url(../images/spritesheets/logos.jpg);
  background-position: 0px -787px;
  width: 140px;
  height: 122px;
}
.sprite-education-kingscollege {
  background-image: url(../images/spritesheets/logos.jpg);
  background-position: 0px -687px;
  width: 123px;
  height: 100px;
}
.sprite-education-londonmet {
  background-image: url(../images/spritesheets/logos.jpg);
  background-position: 0px -587px;
  width: 156px;
  height: 100px;
}
