/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.sprite-tech-adobe {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -956px;
  width: 71px;
  height: 69px;
}
.sprite-tech-angularjs-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -824px;
  width: 250px;
  height: 64px;
}
.sprite-tech-angularjs {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1348px;
  width: 85px;
  height: 89px;
}
.sprite-tech-backbone {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -4428px;
  width: 80px;
  height: 100px;
}
.sprite-tech-bitbucket-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -400px;
  width: 40px;
  height: 45px;
}
.sprite-tech-bitbucket-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -266px;
  width: 175px;
  height: 44px;
}
.sprite-tech-bootstrap {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -4228px;
  width: 100px;
  height: 100px;
}
.sprite-tech-bower-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -178px;
  width: 49px;
  height: 44px;
}
.sprite-tech-bower-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1928px;
  width: 113px;
  height: 100px;
}
.sprite-tech-browserstack-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -490px;
  width: 45px;
  height: 45px;
}
.sprite-tech-browserstack-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2128px;
  width: 99px;
  height: 100px;
}
.sprite-tech-charles-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -625px;
  width: 44px;
  height: 45px;
}
.sprite-tech-charles-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2328px;
  width: 102px;
  height: 100px;
}
.sprite-tech-codeigniter {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -4028px;
  width: 70px;
  height: 100px;
}
.sprite-tech-coffeescript-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px 0px;
  width: 130px;
  height: 21px;
}
.sprite-tech-confluence-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -535px;
  width: 51px;
  height: 45px;
}
.sprite-tech-confluence-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -95px;
  width: 175px;
  height: 40px;
}
.sprite-tech-css {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3528px;
  width: 71px;
  height: 100px;
}
.sprite-tech-foundation-bootstrap {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3428px;
  width: 70px;
  height: 100px;
}
.sprite-tech-foundation {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3328px;
  width: 100px;
  height: 100px;
}
.sprite-tech-git {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3228px;
  width: 70px;
  height: 100px;
}
.sprite-tech-github-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -670px;
  width: 52px;
  height: 45px;
}
.sprite-tech-github-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -4728px;
  width: 117px;
  height: 100px;
}
.sprite-tech-grunt-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -580px;
  width: 33px;
  height: 45px;
}
.sprite-tech-grunt-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3028px;
  width: 74px;
  height: 100px;
}
.sprite-tech-grunt {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2928px;
  width: 70px;
  height: 100px;
}
.sprite-tech-handlebars {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2728px;
  width: 100px;
  height: 100px;
}
.sprite-tech-html {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2628px;
  width: 71px;
  height: 100px;
}
.sprite-tech-jasmine-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -761px;
  width: 260px;
  height: 63px;
}
.sprite-tech-jasmine {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1095px;
  width: 85px;
  height: 81px;
}
.sprite-tech-javascript {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2528px;
  width: 71px;
  height: 100px;
}
.sprite-tech-jira-confluence {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2428px;
  width: 70px;
  height: 100px;
}
.sprite-tech-jira-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -355px;
  width: 33px;
  height: 45px;
}
.sprite-tech-jira-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -888px;
  width: 175px;
  height: 68px;
}
.sprite-tech-jquery {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2228px;
  width: 90px;
  height: 100px;
}
.sprite-tech-laravel {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2028px;
  width: 70px;
  height: 100px;
}
.sprite-tech-modernizr {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1828px;
  width: 100px;
  height: 100px;
}
.sprite-tech-mongodb-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -715px;
  width: 160px;
  height: 46px;
}
.sprite-tech-mysql {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1728px;
  width: 85px;
  height: 100px;
}
.sprite-tech-nodejs-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -58px;
  width: 140px;
  height: 37px;
}
.sprite-tech-npmbower {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1437px;
  width: 70px;
  height: 92px;
}
.sprite-tech-phantomjs {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3728px;
  width: 85px;
  height: 100px;
}
.sprite-tech-phonegap-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1262px;
  width: 270px;
  height: 86px;
}
.sprite-tech-php {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2828px;
  width: 85px;
  height: 100px;
}
.sprite-tech-phpunit {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1025px;
  width: 85px;
  height: 70px;
}
.sprite-tech-protractor-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1176px;
  width: 270px;
  height: 86px;
}
.sprite-tech-reactjs-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -21px;
  width: 126px;
  height: 37px;
}
.sprite-tech-requirejs {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3128px;
  width: 89px;
  height: 100px;
}
.sprite-tech-sass-less {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3628px;
  width: 75px;
  height: 100px;
}
.sprite-tech-sinonjs {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3928px;
  width: 85px;
  height: 100px;
}
.sprite-tech-sublime-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -310px;
  width: 50px;
  height: 45px;
}
.sprite-tech-sublime-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -4128px;
  width: 116px;
  height: 100px;
}
.sprite-tech-susy {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3828px;
  width: 100px;
  height: 100px;
}
.sprite-tech-terminal-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -222px;
  width: 50px;
  height: 44px;
}
.sprite-tech-terminal-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1529px;
  width: 112px;
  height: 99px;
}
.sprite-tech-underscore {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -4328px;
  width: 100px;
  height: 100px;
}
.sprite-tech-virtualbox-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -445px;
  width: 38px;
  height: 45px;
}
.sprite-tech-virtualbox-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -4528px;
  width: 93px;
  height: 100px;
}
.sprite-tech-wordpress {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -4628px;
  width: 70px;
  height: 100px;
}
.sprite-tech-yeoman-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -135px;
  width: 39px;
  height: 43px;
}
.sprite-tech-yeoman-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1628px;
  width: 60px;
  height: 100px;
}
