/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.sprite-tech-adobe {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1464px;
  width: 70px;
  height: 100px;
}
.sprite-tech-angularjs-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -954px;
  width: 250px;
  height: 64px;
}
.sprite-tech-backbone {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2764px;
  width: 100px;
  height: 100px;
}
.sprite-tech-bitbucket-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -755px;
  width: 40px;
  height: 45px;
}
.sprite-tech-bitbucket-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -219px;
  width: 175px;
  height: 44px;
}
.sprite-tech-bower-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -263px;
  width: 49px;
  height: 44px;
}
.sprite-tech-bower-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3164px;
  width: 113px;
  height: 100px;
}
.sprite-tech-browserstack-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -395px;
  width: 45px;
  height: 45px;
}
.sprite-tech-browserstack-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3364px;
  width: 99px;
  height: 100px;
}
.sprite-tech-charles-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -485px;
  width: 44px;
  height: 45px;
}
.sprite-tech-charles-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3864px;
  width: 102px;
  height: 100px;
}
.sprite-tech-chrome-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -307px;
  width: 43px;
  height: 44px;
}
.sprite-tech-chrome-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1265px;
  width: 100px;
  height: 99px;
}
.sprite-tech-codeigniter {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2864px;
  width: 70px;
  height: 100px;
}
.sprite-tech-coffeescript-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px 0px;
  width: 130px;
  height: 21px;
}
.sprite-tech-confluence-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -440px;
  width: 51px;
  height: 45px;
}
.sprite-tech-confluence-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -136px;
  width: 175px;
  height: 40px;
}
.sprite-tech-css {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2964px;
  width: 71px;
  height: 100px;
}
.sprite-tech-foundation-bootstrap {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3264px;
  width: 70px;
  height: 100px;
}
.sprite-tech-git-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -530px;
  width: 44px;
  height: 45px;
}
.sprite-tech-git-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1964px;
  width: 100px;
  height: 100px;
}
.sprite-tech-git {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3564px;
  width: 70px;
  height: 100px;
}
.sprite-tech-github-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -575px;
  width: 52px;
  height: 45px;
}
.sprite-tech-github-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2164px;
  width: 117px;
  height: 100px;
}
.sprite-tech-grunt-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -620px;
  width: 33px;
  height: 45px;
}
.sprite-tech-grunt-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2364px;
  width: 74px;
  height: 100px;
}
.sprite-tech-grunt {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3764px;
  width: 70px;
  height: 100px;
}
.sprite-tech-html {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1364px;
  width: 71px;
  height: 100px;
}
.sprite-tech-jasmine-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -891px;
  width: 260px;
  height: 63px;
}
.sprite-tech-javascript {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1564px;
  width: 71px;
  height: 100px;
}
.sprite-tech-jira-confluence {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1664px;
  width: 70px;
  height: 100px;
}
.sprite-tech-jira-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -665px;
  width: 33px;
  height: 45px;
}
.sprite-tech-jira-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1018px;
  width: 175px;
  height: 68px;
}
.sprite-tech-jquery {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1764px;
  width: 90px;
  height: 100px;
}
.sprite-tech-laravel {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1864px;
  width: 70px;
  height: 100px;
}
.sprite-tech-mongodb-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -845px;
  width: 160px;
  height: 46px;
}
.sprite-tech-mysql {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2064px;
  width: 85px;
  height: 100px;
}
.sprite-tech-nodejs-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -21px;
  width: 140px;
  height: 37px;
}
.sprite-tech-phonegap-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -58px;
  width: 140px;
  height: 38px;
}
.sprite-tech-php {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2264px;
  width: 85px;
  height: 100px;
}
.sprite-tech-requirejs {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2464px;
  width: 89px;
  height: 100px;
}
.sprite-tech-sass-less {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2564px;
  width: 75px;
  height: 100px;
}
.sprite-tech-sublime-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -710px;
  width: 50px;
  height: 45px;
}
.sprite-tech-sublime-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3064px;
  width: 116px;
  height: 100px;
}
.sprite-tech-terminal-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -351px;
  width: 50px;
  height: 44px;
}
.sprite-tech-terminal-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1166px;
  width: 112px;
  height: 99px;
}
.sprite-tech-virtualbox-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -800px;
  width: 38px;
  height: 45px;
}
.sprite-tech-virtualbox-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3464px;
  width: 93px;
  height: 100px;
}
.sprite-tech-wordpress {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -2664px;
  width: 70px;
  height: 100px;
}
.sprite-tech-yeoman-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -176px;
  width: 39px;
  height: 43px;
}
.sprite-tech-yeoman-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -3664px;
  width: 60px;
  height: 100px;
}
.sprite-tech-yslow-icon {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -96px;
  width: 66px;
  height: 40px;
}
.sprite-tech-yslow-large {
  background-image: url(../images/spritesheet-tech.png);
  background-position: 0px -1086px;
  width: 132px;
  height: 80px;
}
