/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.sprite-topic-browsers-icon {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -439px;
  width: 44px;
  height: 45px;
}
.sprite-topic-browsers-large {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -1464px;
  width: 99px;
  height: 100px;
}
.sprite-topic-devtools-icon {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -80px;
  width: 43px;
  height: 44px;
}
.sprite-topic-devtools-large {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -1265px;
  width: 100px;
  height: 99px;
}
.sprite-topic-git-icon {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -169px;
  width: 44px;
  height: 45px;
}
.sprite-topic-git-large {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -1864px;
  width: 100px;
  height: 100px;
}
.sprite-topic-javascript-icon {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -259px;
  width: 45px;
  height: 45px;
}
.sprite-topic-javascript-large {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -1664px;
  width: 100px;
  height: 100px;
}
.sprite-topic-patterns-icon {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -349px;
  width: 50px;
  height: 45px;
}
.sprite-topic-patterns-large {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -1364px;
  width: 112px;
  height: 100px;
}
.sprite-topic-performance-icon {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px 0px;
  width: 66px;
  height: 40px;
}
.sprite-topic-performance-large {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -709px;
  width: 132px;
  height: 80px;
}
.sprite-topic-rwd-icon {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -529px;
  width: 64px;
  height: 45px;
}
.sprite-topic-rwd-large {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -1564px;
  width: 143px;
  height: 100px;
}
.sprite-topic-scriptloaders-icon {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -619px;
  width: 39px;
  height: 45px;
}
.sprite-topic-scriptloaders-large {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -1964px;
  width: 91px;
  height: 100px;
}
.sprite-topic-search-icon {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -124px;
  width: 45px;
  height: 45px;
}
.sprite-topic-search-large {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -1166px;
  width: 99px;
  height: 99px;
}
.sprite-topic-smacss-icon {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -664px;
  width: 50px;
  height: 45px;
}
.sprite-topic-smacss-large {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -789px;
  width: 100px;
  height: 89px;
}
.sprite-topic-socialnetworks-icon {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -574px;
  width: 45px;
  height: 45px;
}
.sprite-topic-socialnetworks-large {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -1764px;
  width: 100px;
  height: 100px;
}
.sprite-topic-speedtest-icon {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -40px;
  width: 44px;
  height: 40px;
}
.sprite-topic-speedtest-large {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -2064px;
  width: 112px;
  height: 100px;
}
.sprite-topic-testingauto-icon {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -394px;
  width: 56px;
  height: 45px;
}
.sprite-topic-testingauto-large {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -878px;
  width: 120px;
  height: 96px;
}
.sprite-topic-testingmanual-icon {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -304px;
  width: 56px;
  height: 45px;
}
.sprite-topic-testingmanual-large {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -974px;
  width: 120px;
  height: 96px;
}
.sprite-topic-unittesting-icon {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -214px;
  width: 56px;
  height: 45px;
}
.sprite-topic-unittesting-large {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -1070px;
  width: 120px;
  height: 96px;
}
.sprite-topic-workflow-icon {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -484px;
  width: 35px;
  height: 45px;
}
.sprite-topic-workflow-large {
  background-image: url(../images/spritesheet-topics.png);
  background-position: 0px -2164px;
  width: 78px;
  height: 100px;
}
