.pdfdownload {
  min-height: 30px;

  display: block;
  clear: both;

  padding-left: 40px;
  padding-top: 4px;
  margin-bottom: 30px;

  background-image: url('../images/icons/download-pdf.png');
  background-repeat: no-repeat;
  background-position: top left;
}
