.features {
  margin: 0 40px;
  padding: 0;
  list-style: none;

  @media(max-width: 800px) {
    margin: 0;
  }
}

.features > li {
  @include gallery(4 of 12);
  min-height: 172px;
  padding: 15px;

  @media(max-width: 800px) {
    @include gallery(12 of 12);
    width: 100%;
    clear: both !important;
  }
}


// ---
// Feature Elements
// ---
.features--titledescription {
  @media(max-width: 800px) {
    float: right;
    width: 75%;
    margin-left: 5%;

    text-align: left;
  }

  @media(max-width: 600px) {
    float: none;
    width: auto;
    margin: 0;

    text-align: center;
  }
}

.features--title,
.features--caption,
.features--description {
  display: inline-block;
  width: 100%;
  margin: 4px 0;
}

.features--title {
  margin: 8px 0;
}

.features--caption {
  color: #999;
  font-size: 0.8em;
  text-transform: uppercase;
}

.features--description {
  color: #777;
}


.features--image {
  min-height: 100px;
  margin: 0 auto 12px auto;
  display: inline-block;

  @media(max-width: 800px) {
    float: left;
    width: 20%;
  }

  @media(max-width: 600px) {
    float: none;
    width: auto;
  }
}

.features--image-overlay {
  position: relative;
  overflow: hidden;
}
.features--image-overlay > .sprite {
  display: block;
}
.features--image-overlay > .sprite ~ .sprite {
  position: absolute;
  top: 0;
  z-index: 1;

  opacity: 0;
  transition: opacity 1s;
}

.features--image-overlay > .sprite ~ .sprite.is-revealed {
  opacity: 1;
}
