body {
  font-family: Arial;
  font-size: 0.8em;
  line-height: 18px;
}


// ---
// Typeface
// ---
h1 {
  font-family: Lato, Arial;
  margin: 0 0 30px 0;
  font-size: 2.8em;
  font-weight: normal;
  line-height: 1em;
}
h2 {

}
h3 {

}
p {
  margin-top: 0;
}

ul {
  padding-left: 25px;
}
li {
  margin-bottom: 3px;
}


// ---
// Links
// ---
a {

}
a:hover {

}


// ---
// Miscellaneous
// ---
// Apply a natural box layout model to all elements (http://www.paulirish.com/2012/box-sizing-border-box-ftw)
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// IE10 mobile viewport (ignores viewport metatag)
@-ms-viewport{
    width: device-width;
    zoom: 1.0;
}
