<footer class="sitefooter">
  <ul class="sitefooter--links">
    <li><a href="/">Home</a></li>
    <li><a href="/skills-expertise.html">Skills &amp; Expertise</a></li>
    <li><a href="/cv.html">CV</a></li>
    <li><a href="/portfolio.html">Portfolio</a></li>
    <li><a href="/code-samples.html">Code Samples</a></li>
    <li><a href="/testimonials.html">Testimonials</a></li>
    <li><a href="/availability.html">Availability</a></li>
  </ul>
  <span class="sitefooter--copyright">&copy; Chris Mendes Limited 2016. Company Number: 09305825. VAT Number: 201755047.</span>
</footer>