.l-cv {

    article {

        & > section {
            margin-bottom: 35px;
            section {
                margin-bottom: 30px;
            }
        }

    }

    .l-cv-table {
        .row {
            margin-bottom: 6px;

            @media screen and (max-width: @screen-xs-max) {
                margin-bottom: 0px;

                .column-heading {
                    margin-top: 10px;
                }
            }
        }
    }

    .l-cv-row-space {
        .row {
            margin-bottom: 16px;
        }
    }

}