.inviewloader {
  display: block;

  width: 100%;
  height: 125px;
}

.inviewloader--content {
  display: none;
}

.inviewloader.is-loaded > .inviewloader--loading {
  display: none;
}

.inviewloader.is-loaded > .inviewloader--content {
  display: block;
}
