.testimonial {

}

.testimonial--personimage {
  width: 30%;
  height: auto;
  float: left;
  margin-right: 7%;
  margin-bottom: 30px;
}

.testimonial--personname {
  width: 63%;
  float: left;
  margin-top: 0;
  margin-bottom: 14px;
}

.testimonial--personposition {
  margin-top: 0;
}
