.testimonial--persontitle {
  margin-top: 15px;
}

.testimonial--personimage {
  @include span(4 of 12);
  padding: 0 20px 20px 0;

  @media (max-width: 500px) {
    width: 50%;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 15px;
    padding: 0;
  }
}
