.headerbillboard--name {
  color: #fff;
  font-size: 3.4em;
  font-family: LatoBold, Helvetica Neue, Arial;
  line-height: 1em;
  text-align: center;
  text-shadow: 2px 2px #777;

  width: 100%;
  display: inline-block;

  @media (min-width: 530px) {
    font-size: 4.2em;
    text-align: left;

    margin-right: 15px;
    width: auto;
  }
}

.headerbillboard--jobtitle {
  color: #666;
  font-size: 1.5em;
  text-align: center;

  margin: 14px 0 0 0;
  width: 100%;
  display: inline-block;

  @media (min-width: 530px) {
    font-size: 2.2em;

    margin-bottom: 8px;
    width: auto;
  }
}

.headerbillboard--strapline {
  color: #fff;
  font-size: 1.2em;
  font-family: Helvetica Neue, Arial;
  font-weight: 200;

  margin-top: 6px;
  margin-left: 4px;
  clear: both;

  display: none;

  @media (min-width: 600px) {
    display: inline-block;
  }
}
