.layout-billboard {
  height: 340px;
  background: linear-gradient(to bottom, #efefef 0%, #dfdfdf 100%);
  border-bottom: 4px solid #CECECE;
}

.layout-billboardcontent {
  @extend .container;

  height: 100%;
  overflow: hidden;
}

.layout-billboardleft {
  width: 59%;
  height: 100%;
  float: left;
}

.layout-billboardright {
  width: 41%;
  height: 100%;
  float: right;
}


@media(max-width: 1400px) {
  .layout-billboardleft {
    width: 50%;
  }
  .layout-billboardright {
    width: 50%;
  }
}

@media(max-width: 900px) {
  .layout-billboardleft {
    width: 40%;
  }
  .layout-billboardright {
    width: 60%;
  }
}

@media(max-width: 600px) {
  .layout-billboardleft,
  .layout-billboardright {
    width: 100%;
  }
  .layout-billboardright {
    height: 300px;
  }
  .layout-billboardcontent {
    overflow: visible;
  }
}