.layout-billboard {
  height: 340px;
  background: linear-gradient(to bottom, #efefef 0%, #dfdfdf 100%);
}

.layout-billboardcontent {
  @include container;
  height: 100%;

  padding: 20px 0;
}

.layout-billboardleft {
  @include span(7);
}

.layout-billboardright {
  @include span(5 last);
  height: 100%;

  background: #666;
}
