// ---
// Side by Side Content
// ---
.layout-sidebyside {
  @include span(6);
}
.layout-sidebyside + .layout-sidebyside {
  @include span(6 last);
}

.layout-sidebyside-divider {
  border-right: 1px solid #efefef;
}
.layout-sidebyside-divider + .layout-sidebyside-divider {
  border-right: 0;
}

.layout-sidebyside-narrow {
  @include span(4);
}

.layout-sidebyside-narrow + .layout-sidebyside-narrow + .layout-sidebyside-narrow {
  @include span(4 last); 
}


// ---
// Centered Content
// ---
.layout-centered {
  text-align: center;
}
.layout-centered ul {
  text-align: left;
}


// ---
// Secondary Content
// ---
.layout-secondarycontent-topright {
  float: right;
  width: 300px;
  margin: 0 0 20px 20px;
}


// ---
// Pre-defined Grids
// ---
.layout-grid > div {
  @include gallery(6 of 12);
  margin-bottom: 40px;
}
