.layout-container {
  @include container;
}


.layout-siteheader {
  @include span(full);

  margin-bottom: 20px;
  padding: 15px;

  background: rgba(255, 255, 255, 0.1);

  @media (min-width: $breakpoint-container) {
    margin-top: 20px;
  }
}


.layout-navigation {
  @include span(full);

  margin-bottom: 20px;
  display: none;

  @media (min-width: 828px) {
    display: block;
  }
}


.layout-page {
  @include span(full);

  padding: 20px;

  background: #fff;
  box-shadow: 6px 6px 20px 0 #666666;
  border-left: 4px solid $red;

  @media (min-width: 600px) {
    padding: 40px;
  }
}


.layout-pageheader {
  margin-bottom: 30px;
}
