// ---
// Page Header
// ---
.layout-pageheader {
  width: 100%;
  float: left;

  @media (min-width: 900px) {
    width: 70%;
  }
}


// ---
// Page Navigation
// ---
.layout-subnav {
  @include span(full);

  @media (min-width: 500px) {
    @include span(3);
  }
}

.layout-subnavcontent {
  @include span(full);

  @media (min-width: 500px) {
    @include span(9 last);
  }
}


// ---
// Page Body
// ---
.layout-pagesection {
  width: 100%;
  float: left;
  margin-top: 30px;
}


.layout-sidebyside {
  @include span(full);

  @media (min-width: 600px) {
    width: 35%;

    & + .layout-sidebyside {
      margin-left: 5%;
    }
  }
}

.layout-sidebysidedivided {
  @include span(6);

  @media (min-width: 600px) {

  }
}
.layout-sidebysidedivided + .layout-sidebysidedivided {
  @include span(6 last);
  padding-left: 20px;

  border-left: 2px solid #efefef;
}
.layout-sidebysidedivided > h4 {
  text-align: center;
}
