// ---
// Side by Side Content
// ---
.layout-sidebyside {
  @include span(6);

  @media(max-width: 800px) {
    @include span(full);
  }
}
.layout-sidebyside + .layout-sidebyside {
  @include span(6 last);

  @media(max-width: 800px) {
    @include span(full);
    margin-top: 30px;
  }
}

.layout-sidebyside-divider {
  border-right: 1px solid #efefef;
}
.layout-sidebyside-divider + .layout-sidebyside-divider {
  border-right: 0;
}

.layout-sidebyside-narrow {
  @include span(4);
}

.layout-sidebyside-narrow + .layout-sidebyside-narrow + .layout-sidebyside-narrow {
  @include span(4 last); 
}
