.layout-slide {
  @include span(full);
  padding: 0 70px;
  margin-bottom: 50px;

  text-align: center;
}


.layout-slide--heading {
  margin-bottom: 50px;
}

.layout-slide--heading > * {
  margin: 0 0 10px 0;
  background: none;
}


.layout-slide--body {
  @include span(full);
  margin-bottom: 30px;
  text-align: center;
}

.layout-slide--bodyleft {
  @include span(4 of 12);
}
.layout-slide--bodyright {
  @include span(8 of 12 last);
}


.layout-slide--bodyarticle {
  @include span(full);
  margin-bottom: 40px;

  text-align: left;
}
.layout-slide--bodyarticle > .sprite,
.layout-slide--bodyarticle > img {
  float: right;
  margin: 0 0 20px 20px;
}

.layout-slide--bodyarticle:nth-child(odd) {
  text-align: right;
}
.layout-slide--bodyarticle:nth-child(odd) > .sprite,
.layout-slide--bodyarticle:nth-child(odd) > img {
  float: left;
  margin: 20px 20px 0 0;
}



.layout-slide--footer {
  @include span(full);
  margin-top: 10px;
}
