.layout-slide {
  @include span(full);
  margin-bottom: 50px;

  text-align: center;
}


.layout-slide--heading {
  margin-bottom: 50px;
}

.layout-slide--heading > * {
  margin: 0 0 10px 0;
  background: none;
}


.layout-slide--body {
  @include span(full);
  margin-bottom: 30px;
}

.layout-slide--bodyleft {
  @include span(4 of 12);
  padding: 50px 0 0 40px;
}
.layout-slide--bodyright {
  @include span(8 of 12 last);
  padding: 0 40px 40px 10px;
}


.layout-slide--footer {
  @include span(full);
  margin-top: 10px;
}
