.layout-slide {
  @include span(full);
  padding: 0 60px;
  margin-bottom: 50px;

  text-align: center;

  @media(max-width: 900px) {
    padding: 0 20px;
  }
}


// ---
// Slide Heading
// ---
.layout-slide--heading {
  margin-bottom: 50px;
}

.layout-slide--heading > * {
  margin: 0 0 10px 0;
  background: none;
}


// ---
// Slide Body
// ---
.layout-slide--body {
  @include span(full);
  margin-bottom: 30px;
  text-align: center;
}


// 2 Column Split
.layout-slide--bodyleft {
  @include span(4 of 12);
}
.layout-slide--bodyright {
  @include span(8 of 12 last);
}


// Row Split, "Zig-Zag" Image Alignment
.layout-slide--bodyarticle {
  @include span(full);
  margin-bottom: 30px;

  text-align: left;
}

.layout-slide--bodyarticle > .sprite,
.layout-slide--bodyarticle > img {
  float: right;
  margin: -60px 0 30px 30px;
}

.layout-slide--bodyarticle:nth-child(odd) {
  text-align: right;
}
.layout-slide--bodyarticle:nth-child(odd) > .sprite,
.layout-slide--bodyarticle:nth-child(odd) > img {
  float: left;
  margin: -60px 30px 30px 0;
}

.layout-slide--bodyarticle > .emphasis {
  display: inline-block;
  margin-bottom: 10px;
}


// ---
// Slide Footer
// ---
.layout-slide--footer {
  @include span(full);
  margin-top: 10px;
}
