.sitefooter {
  color: #999;
  font-size: 0.9em;
}

.sitefooter--links {
  margin: 0;
  padding: 0;
  list-style: none;

  float: left;
  line-height: 100%;
  margin-top: 8px;

  @media (max-width: 1000px) {
    @include span(6 of 12);
  }
  @media (max-width: 650px) {
    @include span(full);
  }
}

.sitefooter--links > li {
  float: left;
}
.sitefooter--links > li > a {
  padding: 6px;
  display: inline-block;

  color: #999;
}
.sitefooter--links > li:first-child > a {
  padding-left: 0;

  @media (max-width: 1000px) {
    padding-left: 6px;
  }
}
.sitefooter--links > li > a:hover {
  color: #777;
}

.sitefooter--links > .sitefooter--email {
  clear: both;
  float: left;
  width: 100%;

  padding-top: 10px;
  margin-top: 10px;

  border-top: 1px solid #efefef;
}
.sitefooter--links > .sitefooter--email > a {
  padding-left: 0;

  @media (max-width: 1000px) {
    padding-left: 6px;
  }
}

.sitefooter--copyright {
  float: right;
  margin-top: 10px;

  line-height: 200%;
  text-align: right;

  @media (max-width: 1000px) {
    @include span(6 of 12 last);
  }
  @media (max-width: 650px) {
    @include span(full);
    padding: 10px 6px 0 6px;
    margin-top: 10px;

    border-top: 1px solid #efefef;

    text-align: left;
  }
}
