<!--
Header
-->
<div class="row">
  <div class="col-md-12">
    <div class="title">
    
      <h1 class="myname">Chris Mendes<span class="jobtitle">&nbsp; Contract Web Developer</span></h1>
      <p class="strapline">7 years commercial experience covering both front-end and back-end development.</p>

    </div>

    <!-- <a href="#" class="back-home btn is-hidden">&laquo; Back to home page</a> -->
    <nav class="menu">
      <a class="home" href="#">Back to Home Page</a>
      <ul class="sitemap">
        <li><a href="#skills">Skills &amp; Expertise</a></li>
        <li><a href="#cv">My CV</a></li>
        <li class="active"><a href="#portfolio">My Portfolio</a></li>
        <li><a href="#employment">Employment Details</a></li>
        <li><a href="#learning">Learning</a></li>
        <li><a href="#workflow">Development Workflow</a></li>
        <li><a href="#about">About Me</a></li>
        <li><a href="#">Get In Touch</a></li>
      </ul>
    </nav>
    
  </div>
</div>