<!--
Header
-->
<div class="row">
  <div class="col-md-12">
    <div class="title">
    
      <h1 class="myname">Chris Mendes</h1>
      <span class="jobtitle">Contract Web Developer</span>
      <p class="strapline">7 years commercial experience covering both front-end and back-end development.</p>

    </div>

    <!-- <a href="#" class="back-home btn is-hidden">&laquo; Back to home page</a> -->
    <nav class="menu js-menu">
      <a class="home" href="#">
        <img class="icon" src="images/icons/home.png" width="17" height="17" alt="Home"/>
        <span>Home</span>
      </a>
      <ul class="sitemap">
        <li class="js-menu-skills"><a href="#skills">Skills/Expertise</a></li>
        <li class="js-menu-cv"><a href="#cv">CV</a></li>
        <li class="js-menu-portfolio"><a href="#portfolio">Portfolio</a></li>
        <li class="js-menu-workflow"><a href="#workflow"><span class="hidden-sm">Development </span>Workflow</a></li>
        <li class="js-menu-learning"><a href="#learning">Learning</a></li>
        <li class="js-menu-about"><a href="#about">About Me</a></li>
        <li class="js-menu-employment"><a href="#employment">Employment Details</a></li>
        <li class="js-menu-contact"><a href="#">
          <span class="hidden-sm">Get In Touch</span>
          <span class="visible-sm hidden-md">Contact</span>
        </a></li>
      </ul>
    </nav>
    
  </div>
</div>