<!--
Template - My CV
-->
<div class="l-cv theme-red">
    <div class="row">
        <div class="col-md-12">
            <article class="content-canvas theme-border icon-cv">
                <div class="row">
                    <div class="col-md-12">
                        <div class="body-heading">
                            <h2>My CV</h2>
                            <div class="body-heading-links">
                                <a href="/pdf/Chris_Mendes_CV.pdf" class="icon pdf">Download</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--
                Basic information
                -->
                <section class="l-cv-table">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-2">
                                    <span>RESIDENCE:</span>
                                </div>
                                <div class="col-md-4">
                                    <span>Croydon, South London</span>
                                </div>
                                <div class="col-md-2">
                                    <span>EMAIL:</span>
                                </div>
                                <div class="col-md-4">
                                    <span>inbox@chrismendes.co.uk</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <span>NATIONALITY:</span>
                                </div>
                                <div class="col-md-4">
                                    <span>British</span>
                                </div>
                                <div class="col-md-2">
                                    <span>TELEPHONE:</span>
                                </div>
                                <div class="col-md-4">
                                    <span>07712111750</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <span>AGE:</span>
                                </div>
                                <div class="col-md-4">
                                    <span>29</span>
                                </div>
                                <div class="col-md-6">
                                    <span><strong>Looking for <u>contract roles</u> only.</strong></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <!--
                Introduction
                -->
                <section>
                    <h3>Introduction</h3>
                    <p>I am an experienced web developer, of both front-end and back-end development, with eight years commercial experience of wide-ranging projects in time sensitive and high pressure environments. With a natural flair for problem-solving, I am a very determined, resourceful, and professional individual driven to create commercially viable products of the highest standards.</p>
                </section>
                
                <!--
                Skill set
                -->
                <section>
                    <h3>Technical Skill Set</h3>
                    <p>See <a href="#skills">Skills &amp; Expertise</a> for more details.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Key Skills</h4>
                            <ul>
                                <li>HTML5, CSS3, Sass, LESS, Foundation, Twitter Bootstrap</li>
                                <li>JavaScript, jQuery, Backbone.js, Underscore, Require.js</li>
                                <li>PHP, MySQL, Laravel, CodeIgniter, WordPress</li>
                                <li>Adobe Photoshop, Fireworks, Flash</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h4>Key Knowledge</h4>
                            <ul>
                                <li>Responsive Web Development</li>
                                <li>Web Performance and Optimisation</li>
                                <li>Grunt Automation</li>
                                <li>Git Version Control</li>
                            </ul>
                        </div>
                    </div>
                </section>
                
                <!--
                Employment
                -->
                <section>
                    <h3>Employment</h3>

                    <div class="tabbed-content">

                        <div class="tabbed-content-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#contract" role="tab" data-toggle="tab">Contract <small>(2014 - Present)</small></a></li>
                                <li><a href="#permanent" role="tab" data-toggle="tab">Permanent <small>(2005 - 2014)</small></a></li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            
                            <div class="tab-pane active" id="contract">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="category-column category-column-whitebg">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="category-column-box active">
                                                    <a href="#capablue" role="tab" data-toggle="tab">Capablue <small>2014 - Present</small></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-9">

                                        <div class="tab-content">
                                            <!--
                                            Job - Capablue
                                            -->
                                            <div class="tab-pane active" id="capablue">
                                                <div class="info-box">
                                                    <a href="http://www.capablue.com" target="_blank">
                                                        <img src="images/cv/logos/capablue.jpg" width="214" height="125"/>
                                                    </a>
                                                    <a class="link" href="http://www.capablue.com" target="_blank">www.capablue.com</a>
                                                    <p class="caption">Lorem ipsum</p>
                                                </div>
                                                <p><strong>Job Title</strong>: Contract Front-end Developer</p>
                                                <p><strong>Date</strong>: May 2014 - Present</p>
                                                <p><strong>Overview</strong></p>
                                                <p>At this successful and innovative company owned by Arqiva, a leading communications infrastructure company, I was drafted in to develop a prototype for a new multi-channel live TV streaming web application accessible on desktops, tablets, and mobile devices. Such products are often referred to as "TV Everywhere" solutions.</p>
                                                <p>With the above project completed, I have since been supporting the development of a new software package to be deployed on the YouView set up box. When users press “the red button” on the client's Freeview channel, an overlaying app is displayed over the broadcasted video where they can navigate around and select to play additional content. Using a newly learned industry specific front-end framework called TAL, built by the BBC and used to create the BBC iPlayer, this project has required CSS and extensive object-oriented JavaScript.</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="permanent">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="category-column category-column-whitebg">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="category-column-box active">
                                                    <a href="#dnx" role="tab" data-toggle="tab">DNX Marketing <small>2012 - 2014</small></a>
                                                </li>
                                                <li class="category-column-box">
                                                    <a href="#fingo" role="tab" data-toggle="tab">Fingo Marketing <small>2010 - 2012</small></a>
                                                </li>
                                                <li class="category-column-box">
                                                    <a href="#musictalents" role="tab" data-toggle="tab">Music Talents <small>2006 - 2008</small></a>
                                                </li>
                                                <li class="category-column-box">
                                                    <a href="#soundsmusical" role="tab" data-toggle="tab">Sounds Musical <small>2005 - 2006</small></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-9">

                                        <div class="tab-content">
                                            <!--
                                            Job - DNX Marketing
                                            -->
                                            <div class="tab-pane active" id="dnx">
                                                <div class="info-box">
                                                    <a href="http://www.dnxmarketing.com" target="_blank">
                                                        <img src="images/cv/logos/dnx.jpg" width="125" height="125"/>
                                                    </a>
                                                    <a class="link" href="http://www.dnxmarketing.com" target="_blank">www.dnxmarketing.com</a>
                                                    <p class="caption">Award winning B2B marketing agency. Some of their clients include Cisco, Autodesk, Vodafone, MasterCard, and Sky.</p>
                                                    <p class="caption">Recently merged with <a href="http://ogilvy.co.uk/news/ogilvyone-acquires-dnx-create-uks-largest-dedicated-b2b-agency" target="_blank">Ogilvy &amp; Mather</a>.</p>
                                                </div>
                                                <p><strong>Job Title</strong>: Web Developer</p>
                                                <p><strong>Date</strong>: March 2012 - May 2014</p>
                                                <p><strong>Overview</strong></p>
                                                <p>Working at this multi award winning agency (B2B Agency of the Year 2012 &amp; 2013), my job was to collaborate with project teams that consist of account managers, designers, copywriters, and project managers, and build the agreed creative solution within the set time-frame and budget.</p>
                                                <p>This predominantly involved building responsive websites with varying and wide-ranging client-side and server-side requirements, but also although less often, HTML emails, animated banners, and games.</p>
                                                <p><strong>Responsibilities</strong></p>
                                                <ul>
                                                    <li>Coding the responsive front-end of new websites with HTML5, CSS3, JavaScript/JQuery, and the Twitter Bootstrap framework</li>
                                                    <li>Coding the back-end of new websites with PHP, MySQL, using the CodeIgniter MVC framework</li>
                                                    <li>Ensuring that Git repositories are kept up to date, well documented, and that branches are managed responsibly</li>
                                                    <li>Testing new websites to ensure presentation and functional correctness in all browsers and on all devices required</li>
                                                    <li>Meeting with account managers and project managers to be briefed on new projects, and liaising with designers and other developers to propose, discuss, and agree on the envisaged end product and its technical makeup</li>
                                                    <li>Supporting other developers with technical input and general guidance</li>
                                                    <li>Running team meetings once every week, submitting meeting agendas, facilitating discussion and agreement, recording and sharing minutes, pursuing action</li>
                                                </ul>
                                            </div>

                                            <!--
                                            Job - Fingo Marketing
                                            -->
                                            <div class="tab-pane" id="fingo">
                                                <div class="info-box">
                                                    <a href="http://www.fingo.co.uk" target="_blank">
                                                        <img src="images/cv/logos/fingo.jpg" width="241" height="112"/>
                                                    </a>
                                                    <a class="link" href="http://www.fingo.co.uk" target="_blank">www.fingo.co.uk</a>
                                                    <p class="caption">Marketing agency producing mostly company sites for small and medium sized businesses.</p>
                                                </div>
                                                <p><strong>Job Title</strong>: Web Developer</p>
                                                <p><strong>Date</strong>: March 2010 - March 2012</p>
                                                <p><strong>Overview</strong></p>
                                                <p>My role at this marketing agency primarily was to build new websites based on the visual designs produced by the creative team. As the leading developer I worked to one extent or another on the majority of all projects collaborating closely with the company directors, web designers, and the project manager from kick-off to completion.</p>
                                                <p><strong>Responsibilities</strong></p>
                                                <ul>
                                                    <li>Creating fresh new websites ranging from static brochure sites, to CMS driven sites and more bespoke sites</li>
                                                    <li>Providing technical input to support project requirements gathering and internal processes</li>
                                                    <li>Liaising with clients in relation to ongoing maintenance for previously developed websites</li>
                                                </ul>
                                            </div>

                                            <!--
                                            Job - Music Talents
                                            -->
                                            <div class="tab-pane" id="musictalents">
                                                <p><strong>Job Title</strong>: Web Developer</p>
                                                <p><strong>Date</strong>: September 2006 - June 2008</p>
                                                <p><strong>Overview</strong></p>
                                                <p>I was responsible for developing, maintaining, and advancing the company's efforts to sell its products on the Internet via its various ecommerce websites. This involved working with a range of technologies such as HTML, CSS, ASP, PHP, MySQL, MS SQL, and WordPress.</p>
                                                <p><strong>Responsibilities</strong></p>
                                                <ul>
                                                    <li>Expanding main ecommerce website developing new functionality and implementing change as described by the business manager and company director</li>
                                                    <li>Supporting development towards new websites selling the company products</li>
                                                </ul>
                                            </div>

                                            <!--
                                            Job - Soundsmusical.com
                                            -->
                                            <div class="tab-pane" id="soundsmusical">
                                                <div class="info-box">
                                                    <img src="images/cv/logos/soundsmusical.jpg" width="198" height="68"/>
                                                    <p class="caption">Before going into administration, this company was an online retailer that sold top brand musical instruments such as Yamaha, Casio, and Roland.</p>
                                                </div>
                                                <p><strong>Job Title</strong>: Junior Web Developer</p>
                                                <p><strong>Date</strong>: February 2005 - September 2006</p>
                                                <p><strong>Overview</strong></p>
                                                <p>Within the IT department of this ecommerce company, my job was to conduct wide-ranging maintenance and testing on the company's ecommerce website.</p>
                                                <p><strong>Responsibilities</strong></p>
                                                <ul>
                                                    <li>Implementing front-end additions/amends for the main ecommerce website (HTML, CSS, ASP)</li>
                                                    <li>Working through reported issues/errors/bugs with the site - fix, test and confirm as resolved</li>
                                                    <li>Routine testing and documenting of discovered issues/errors/bugs</li><li>Expanding main ecommerce website developing new functionality and implementing change as described by the business manager and company director</li>
                                                    <li>Supporting development towards new websites selling the company products</li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                
                
                <!--
                Education
                -->
                <section>
                    <h3>Education</h3>
                    <!--
                    Education: King's College London
                    -->
                    <div class="side-by-side-content">
                        <div class="row">
                            <!--
                            Education: London Metropolitan University
                            -->
                            <div class="side-by-side-content-column col-md-6">
                                <p>
                                    <strong>BSc (Hons) Computer Visualisation &amp; Games (2:1)</strong><br/>
                                    <small>(2004 - 2008)</small>
                                </p>
                                <a href="http://www.londonmet.ac.uk" target="_blank"><img src="images/cv/logos/londonmet.jpg" width="156" height="100" alt="London Metropolitan University"/></a>
                                <div class="bullets">
                                    <ul class="left">
                                        <li>Basics of Computer Science</li>
                                        <li>Object-Oriented Programming</li>
                                        <li>Data Structures &amp; Algorithms</li>
                                        <li>Database Systems</li>
                                        <li>Developing for the Web</li>
                                    </ul>
                                    <ul class="right">
                                        <li>Software User Experience Design</li>
                                        <li>2D Computer Graphics</li>
                                        <li>3D Animation</li>
                                        <li>Game Applications</li>
                                    </ul>
                                </div>
                            </div>
                            <!--
                            Education: King's College London
                            -->
                            <div class="side-by-side-content-column col-md-6">
                                <p>
                                    <strong>Postgraduate Diploma (PgD) Advanced Software Engineering</strong><br/>
                                    <small>(2008 - 2010)</small>
                                </p>
                                <a href="http://www.kcl.ac.uk"><img src="images/cv/logos/kingscollege.jpg" width="123" height="100" alt="King's Collge London"/></a>
                                <div class="bullets">
                                    <ul class="left">
                                        <li>Software Engineering for the Internet</li>
                                        <li>Software Architecture &amp; Design</li>
                                        <li>The Internet Infrastructure</li>
                                        <li>Software Measurement &amp; Testing</li>
                                    </ul>
                                    <ul class="right">
                                        <li>Distributed Computing</li>
                                        <li>Access Control Strategy</li>
                                        <li>Artificial Intelligence</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                
                <!--
                Accomplishments
                -->
                <section>
                    <h3>Accomplishments</h3>
                    <ul>
                        <li>Enjoyed a career as a reservist in the Territorial Army for 6.5 years (now known as the Army Reserve)</li>
                        <li>Attained the rank of Lance Corporal and became an army Physical Training Instructor responsible for the fitness of 40 reservists</li>
                        <li>Running a 5-a-side football team every Wednesday for the weekly benefit of several players</li>
                        <li>Completed the FA's Level 1 Football Coaching course to become a Level 1 coach</li>
                        <!-- <li>Building SAP Innovation United</li> -->
                    </ul>
                </section>
            </article>
        </div>
    </div>
</div>