<!--
Template - Employment
-->
<div class="row">
  <div class="col-md-12">
    <article class="content-canvas theme-border icon-situation">
      <h2>Employment Details</h2>

      <div class="row">
        <div class="col-md-6">

          <h3>Overview</h3>
          <!--
          Radio buttons
          -->
          <div class="radio-buttons">
            <div class="radio-buttons-item is-disabled">
              <input type="radio" disabled="disabled"/>
              <label><strike>I am currently looking for a new contract.</strike></label>
            </div>
            <div class="radio-buttons-item">
              <input type="radio" checked="checked"/>
              <label>I am currently employed and not seeking a new contract at this time.</label>
            </div>
          </div>
          <p><strong>Date</strong>: 15th May - 27th September (3 months, extended to 4)</p>
          <p><strong>Role</strong>: Front-end Developer</p>
        </div>
        <div class="col-md-6">
          <!--
          Future Contract
          -->
          <h3>Future Contracts</h3>
          <table class="formatted-table formatted-table-fullwidth">
            <thead>
              <td>Daily Rate</td>
              <td>Preferred Length</td>
              <td>Location</td>
              <td>Travel</td>
            </thead>
            <tbody>
              <td>&pound;400 p/d</td>
              <td>1-3 months</td>
              <td>London, Surrey</td>
              <td>Car, Train</td>
            </tbody>
          </table>
          <p><strong>Interested Roles</strong>: Front-end Developer, Full Stack Web Developer</p>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12">
          <!--
          Current/Last Contrat
          -->
          <hr/>
          <h3>Current Contract</h3>
          <div class="info-box info-box-left">
            <a href="http://www.capablue.com" target="_blank">
                <img src="images/cv/logos/capablue.jpg" width="214" height="125"/>
            </a>
            <a class="link" href="http://www.capablue.com" target="_blank">www.capablue.com</a>
            <p class="caption">London, Waterloo</p>
          </div>
          <!-- <p><strong>Technologies</strong>: HTML/CSS, JavaScript, Backbone.js, PHP</p> -->
          <h4>Job Description</h4>
          <p>At this successful and innovative company, owned by Arqiva (a leading communications infrastructure company), I was drafted in to develop a prototype for a new multi-channel live TV streaming web application accessible on desktops, tablets, and mobile devices.</p>
          <p>Such products are often referred to as "TV Everywhere" solutions, and Capablue has a vast history of success at delivering these kind of products and many more. As a major player in the industry, some of their clients have included the BBC, Channel 4, ITV, Channel 5, UKTV, Curzon Cinemas, Chello, Marks and Spencer, BFI Player and EMI.</p>
          <p>With the above project completed, I am now working on the development of a new software package for the YouView set up box. When users press “the red button”, an overlaying app is displayed over the broadcasted video where they can navigate around and select to play additional content. Within a newly learned industry specific front-end framework, built by the BBC and used to create the BBC iPlayer, this project requires the usual front-end skills of HTML, CSS, and object-oriented JavaScript.</p>
        </div>
      </div>

    </article>
  </div>
</div>