<!--
Template - Home Page
-->
<div id="page-home" class="l-home">
    <div class="scattered-boxes">
    
    <div class="row">
      <!--
      Skills & Expertise
      -->
      <div class="col-md-3">
        <div class="box box-1 box-green box-skills" data-href="skills" data-bg="gold">
          <h3 class="title">Skills &amp; Expertise</h3>
          <span class="icons"></span>
          <button type="button" class="btn disabled">Examine skill set ></button>
        </div>
      </div>
      <!--
      My CV
      -->
      <div class="col-md-2">
        <div class="box box-2 box-red box-cv" data-href="cv" data-bg="green">
          <h3 class="title">My CV</h3>
          <p class="description">Full work history, education... everything that you'd expect in a CV!</p>
          <button type="button" class="btn disabled">Review CV ></button>
        </div>
      </div>
      <!--
      My Portfolio
      -->
      <div class="col-md-3">
        <div class="box box-3 box-red box-portfolio" data-href="portfolio" data-bg="gold">
          <h3 class="title">My Portfolio</h3>
          <span class="icons"></span>
          <button type="button" class="btn disabled">Inspect portfolio ></button>
        </div>
      </div>
      <!--
      Employment Details
      -->
      <div class="col-md-4">
        <div class="box box-4 box-gold box-employment" data-href="employment" data-bg="purple">
          <h3 class="title">Employment Details</h3>
          <p class="description">I keep this section up to date regarding my current contract and what I am looking for in relation to the next.</p>
          <button type="button" class="btn disabled">Find out more ></button>
        </div>
      </div>
    </div>
    <div class="row">
      <!--
      Learning
      -->
      <div class="col-md-2">
        <div class="box box-5 box-green box-learning">
          <h3 class="title">Learning</h3>
          <p class="description">Beyond my core skill set I am always learning new things.</p>
          <span class="icons"></span>
          <button type="button" class="btn disabled">My studies ></button>
        </div>
      </div>
      <!--
      Development Workflow
      -->
      <div class="col-md-4">
        <div class="box box-6 box-purple box-workflow">
          <h3 class="title">Development Workflow</h3>
          <span class="icons"></span>
          <button type="button" class="btn disabled">Discover my workflow ></button>
        </div>
      </div>
      <!--
      About Me
      -->
      <div class="col-md-3">
        <div class="box box-7 box-blue box-about">
          <h3 class="title">About Me</h3>
          <p class="description">Brown eyes, brown hair, and other useful information...</p>
          <button type="button" class="btn disabled">Who I am ></button>
        </div>
      </div>
      <!--
      Contact
      -->
      <div class="col-md-3">
        <div class="box box-8 box-blue box-contact" data-modal="contact">
          <h3 class="title">Get In Touch</h3>
          <p class="description">Via email or phone feel free to get in touch.</p>
          <button type="button" class="btn disabled">Contact me ></button>
        </div>
      </div>
    </div>
    
  </div>
</div>