<!--
Template - Home Page
-->
<div id="page-home">
  <div class="row">
    <!--
    Skills & Expertise
    -->
    <div class="col-md-3">
      <div class="box skills" data-href="expertise" data-theme="gold">
        <h3>Skills & Expertise</h3>
        <span class="icons"></span>
        <button type="button" class="btn btn-danger disabled">Examine skill set ></button>
      </div>
    </div>
    <!--
    My CV
    -->
    <div class="col-md-2">
      <div class="box cv" data-href="cv" data-theme="gold">
        <h3>My CV</h3>
        <p>Full work history, education... everything that you'd expect in a CV!</p>
        <button type="button" class="btn btn-danger disabled">Review CV ></button>
      </div>
    </div>
    <!--
    My Portfolio
    -->
    <div class="col-md-3">
      <div class="box portfolio" data-href="portfolio" data-theme="gold">
        <h3>My Portfolio</h3>
        <span class="icons"></span>
        <button type="button" class="btn btn-danger disabled">Inspect portfolio ></button>
      </div>
    </div>
    <!--
    Current Situation
    -->
    <div class="col-md-4">
      <div class="box situation">
        <h3>Current Situation</h3>
        <p>I keep this section up to date regarding my current contract, and what I am looking for regarding the next.</p>
        <button type="button" class="btn btn-danger disabled">Find out more ></button>
      </div>
    </div>
  </div>
  <div class="row">
    <!--
    Learning
    -->
    <div class="col-md-2">
      <div class="box learning">
        <h3>Learning</h3>
        <p>Beyond my core skill set I am always learning new things.</p>
        <span class="icons"></span>
        <button type="button" class="btn btn-danger disabled">My studies ></button>
      </div>
    </div>
    <!--
    Development Workflow
    -->
    <div class="col-md-4">
      <div class="box workflow">
        <h3>Development Workflow</h3>
        <span class="icons"></span>
        <button type="button" class="btn btn-danger disabled">Discover my workflow ></button>
      </div>
    </div>
    <!--
    About Me
    -->
    <div class="col-md-3">
      <div class="box about">
        <h3>About Me</h3>
        <p>Brown eyes, brown hair, and other useful information...</p>
        <button type="button" class="btn btn-danger disabled">Who I am ></button>
      </div>
    </div>
    <!--
    Contact
    -->
    <div class="col-md-3">
      <div class="box contact">
        <h3>Get In Touch</h3>
        <p>Via email or phone feel free to get in touch.</p>
        <button type="button" class="btn btn-danger disabled">Contact me ></button>
      </div>
    </div>
  </div>
</div>