<!--
Template - Learning
-->
<div class="row">
  <div class="col-md-12">
    <article class="content-canvas theme-border icon-learning">
      <h2>Learning</h2>
      <p class="large">Lorem ipsum.</p>
      <div class="side-by-side-content-column row">
        <div class="side-by-side-content-column col-md-6">
          <h3>Lorem Ipsum</h3>
        </div>
        <div class="side-by-side-content-column col-md-6">
          <h3>Lorem Ipsum</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Lorem Ipsum</h3>
        </div>
      </div>
    </article>
  </div>
</div>