<!--
Template - Learning
-->
<div class="row">
  <div class="col-md-12">
    <article class="content-canvas theme-border icon-learning">
      <h2>Learning</h2>
      <div class="l-spaced-rows">
        <div class="row">
          <div class="col-md-12">
            <p class="large">As a passionate and determined web developer, I always have two or three major learning objectives that I work towards in my spare time. Currently they are:</p>
          </div>
        </div>
        <div class="side-by-side-content row">
          <div class="side-by-side-content-column col-md-6">
            <img src="images/learning/angularjs.png" width="250" height="64" alt="AngularJS"/>
            <p class="text-left">
              Currently the JavaScript MVC framework that I am experienced with is <em>Backbone.js</em>. The reason for this is because Backbone
              was the first JS framework that I encountered and I really liked the instant MVC structure that it enforces.
            </p>
            <p class="text-left">
              However, AngularJS for a while now seems to have taken the lead at least in terms of popularity. But more importantly, the general wisdom
              seems to be that choosing a particular framework over another depends on the project at hand - given their vastly different architecture.
            </p>
            <p class="text-left">
              I would therefore like to further extend my resourcefulness and flexibility by adding AngularJS to my arsenal.
            </p>
            <p class="text-left">
              It is my intention in the very near future, as a learning exercise, to create a separate branch of this website which is driven by AngularJS
              rather than Backbone.js.
            </p>
          </div>
          <div class="side-by-side-content-column col-md-6">
            <img src="images/learning/phonegap.png" width="199" height="64" alt="PhoneGap"/>
            <p class="text-left">
              As part of my overall objective of becoming a <em>complete</em> developer, or as a close to this as it is possible at any one point in time,
              I would like to possess a mobile app development capability.
            </p>
            <p class="text-left">
              I think that it's obvious to say that a developer who can offer mobile apps, rather than just responsive websites, can instantly become double
              the asset that they were previously for any given company.
            </p>
            <p class="text-left">
              Furthermore, for the last several months I have been working on a concept, as well as UI wireframes and technical architecture, for an ambitious mobile app that
              I intend to build and sell as a product of a new business.
            </p>
            <p class="text-left">
              I have chosen PhoneGap as the platform that will box the project as a mobile app, and with the learning materials that I have acquired I will soon
              begin work on an early prototype.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Also on the radar:</h3>
            <div class="l-content-rows">
              <div class="row">
                <div class="col-md-2">
                  <img src="images/learning/coffeescript.png" width="160" height="27" alt="CoffeeScript"/>
                </div>
                <div class="col-md-10">
                  <p>
                    Having experimented with writing CoffeeScript, I really appreciate the stripped back, simplified, and quick-to-read JavaScript that CoffeeScript brings about.
                    As a learning exercise I'm keen to re-write this website using CoffeeScript and keep it on a separate branch.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <img src="images/learning/nodejs.png" width="160" height="43" alt="Node.js"/>
                </div>
                <div class="col-md-10">
                  <p>
                    Node.js is obviously a bit of a revolution in the JavaScript world with respect to more efficient server-side processing. Given its growing popularity and
                    adoption in various industries, I intend to be able to provide a Node.js service in the future.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <img src="images/learning/mongodb.png" width="160" height="46" alt="MongoDB"/>
                </div>
                <div class="col-md-10">
                  <p>
                    A very popular alternative database solution, MongoDB seems to have propelled the NoSQL movement forwards somewhat. As someone who has always met these
                    requirements previously with PHP &amp; MySQL, I would like to adapt and add a NoSQL string to my bow.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>