<!--
Template - My Portfolio
-->
<div class="row">
  <div class="col-md-12">
    <article class="content-canvas theme-border icon-portfolio">
      <div class="body-heading">
        <h2>My Portfolio</h2>
        <div class="body-heading-links">
          <a href="/pdf/Chris_Mendes_Portfolio.pdf" class="icon pdf">Download</a>
        </div>
      </div>
      
      <div class="tabbed-content">
        
        <!--
        Tabs
        -->
        <div class="tabbed-content-tabs">
          <ul class="nav nav-tabs" role="tablist">
            <% _.each(categories, function(cat, id) { %>
            <li<% if(id === 'highlights') { %> class="active"<% } %>><a href="#<%= id %>" role="tab" data-toggle="tab"><%= cat.name %></a></li>
            <% }); %>
          </ul>
        </div>
        
        <!--
        Tabbed Content
        -->
        <div class="tab-content">
        <% _.each(categories, function(cat, id) { %>
          <div class="tab-pane<% if(id === 'highlights') { %> active<% } %>" id="<%= id %>">
            <% if(id === 'highlights') { %>
            <!--
            Project Highlights
            -->
            <section class="l-grid-content">
              <div class="row">
              <% _.each(cat.projects, function(project, i) { %>
                <% if(i && (i % 4 === 0)) {  %></div><div class="row"><% } %>
                <div class="col-md-3">
                  <div class="project-list-item polaroid js-modal-show js-modal-id" data-modal="<%= project.id %>">
                    <img class="screenshot" src="images/portfolio/projects/<%= project.id %>/thumb.jpg" width="220" height="128" alt="<%= project.name %>"/>
                    <h3 class="project-name"><%= project.name %></h3>
                    <a class="link" href="#"><%= project.url %></a>
                    <button type="button" class="btn more-details">Details &raquo;</button>
                    <div class="modal-content js-modal-content-<%= project.id %>">
                      <div class="js-modal-content-header">
                        <div class="project-highlight-modal-header">
                          <h3><%= project.name %></h3>
                          <span class="link"><a href="http://<%= project.url %>" target="_blank"><%= project.url %></a></span>
                        </div>
                      </div>
                      <div class="js-modal-content-body">
                        <div class="project-highlight-modal-body">
                          <div id="carousel-<%= project.id %>" class="carousel slide">
                            <ol class="carousel-indicators">
                              <li data-target="#carousel-<%= project.id %>" data-slide-to="0" class="active"></li>
                              <li data-target="#carousel-<%= project.id %>" data-slide-to="1"></li>
                              <li data-target="#carousel-<%= project.id %>" data-slide-to="2"></li>
                              <li data-target="#carousel-<%= project.id %>" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner">
                              <% for(var i = 0; i < carouselSlides; i++) { %>
                              <div class="item<% if(i === 0) { %> active<% } %>">
                                <img src="images/portfolio/projects/<%= project.id %>/<%= i+1 %>.jpg"/>
                              </div>
                              <% } %>
                            </div>
                            <a class="left carousel-control" href="#carousel-<%= project.id %>" role="button" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-<%= project.id %>" role="button" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% }); %>
            </section>
            <% } else { %>
            <!--
            Other Categories
            -->
            <section class="l-content-rows">
              <% _.each(cat.projects, function(project, i) { %>
              <div class="row project-list-item js-modal-id" data-modal="<%= project.id %>">
                <% if(cat.clientLogos) { %>
                <div class="col-md-2">
                  <% if(project.clientId !== null) { %>
                  <div class="client-logo">
                    <img src="images/portfolio/logos/<%= project.clientId %>.jpg" alt=""/>
                  </div>
                  <% } %>
                </div>
                <% } %>
                <div class="col-md-7">
                  <img class="screenshot-thumb js-modal-show" src="images/portfolio/projects/<%= project.id %>/thumb.jpg" width="140" height="111" alt="<%= project.name %>"/>
                  <h3 class="project-name"><%= project.name %></h3>
                  <p class="link">
                    <a href="http://<%= project.url %>" target="_blank">
                      <%= project.url %>
                    </a>
                  </p>
                  <p class="description">
                    <%= project.description %>
                  </p>
                </div>
                <div class="col-md-3">
                  <p><%= project.date %></p>
                  <p class="note-heading">Relevant Skills:</p>
                  <ul>
                    <% _.each(project.skills, function(skill) { %>
                    <li><%= skill %></li>
                    <% }); %>
                  </ul>
                </div>
                <div class="modal-content js-modal-content-<%= project.id %>">
                  <div class="js-modal-content-header">
                    <div class="project-highlight-modal-header">
                      <h3><%= project.name %></h3>
                      <span class="link"><a href="http://<%= project.url %>" target="_blank"><%= project.url %></a></span>
                    </div>
                  </div>
                  <div class="js-modal-content-body">
                    <div class="project-highlight-modal-body">
                      <div id="carousel-<%= project.id %>" class="carousel slide">
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-<%= project.id %>" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-<%= project.id %>" data-slide-to="1"></li>
                          <li data-target="#carousel-<%= project.id %>" data-slide-to="2"></li>
                          <li data-target="#carousel-<%= project.id %>" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                          <% for(var i = 0; i < carouselSlides; i++) { %>
                          <div class="item<% if(i === 0) { %> active<% } %>">
                            <img src="images/portfolio/projects/<%= project.id %>/<%= i+1 %>.jpg"/>
                          </div>
                          <% } %>
                        </div>
                        <a class="left carousel-control" href="#carousel-<%= project.id %>" role="button" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-<%= project.id %>" role="button" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% }); %>
            </section>
            <% } %>
          </div>
          <% }); %>
        </div>

        </div>
      </div>
    </article>
  </div>
</div>