<!--
Template - My Portfolio
-->
<div class="row">
  <div class="col-md-12">
    <article class="content-canvas theme-border icon-portfolio">
      <div class="body-heading">
        <h2>My Portfolio</h2>
        <div class="body-heading-links">
          <a href="#">Download PDF Version</a>
        </div>
      </div>
      
      <div class="tabbed-content">
        
        <div class="tabbed-content-tabs">
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#highlights" role="tab" data-toggle="tab">Project Highlights</a></li>
            <li><a href="#contract" role="tab" data-toggle="tab">Contract Work</a></li>
            <li><a href="#dnx" role="tab" data-toggle="tab">DNX Marketing</a></li>
            <li><a href="#fingo" role="tab" data-toggle="tab">Fingo Marketing</a></li>
            <li><a href="#other" role="tab" data-toggle="tab">Other Projects</a></li>
          </ul>
        </div>
        
        <!--
        Project Highlights
        -->
        <div class="tab-content">
          <div class="tab-pane active" id="highlights">
            <section class="l-grid-content">
              <div class="row">
                <!--
                Capablue
                -->
                <div class="col-md-3">
                  <div class="project-list-item polaroid" data-tags="backbone dnx">
                    <p class="sticky">Jan-Mar 2014</p>
                    <img class="screenshot" src="images/portfolio/projects/success-factors/thumb.jpg" width="222" height="130" alt="Success Factors"/>
                    <h3 class="project-name">Capablue</h3>
                    <a class="link" href="#">www.capablue.com</a>
                    <button type="button" class="btn more-details">Details &raquo;</button>
                  </div>
                </div>
                <!--
                Success Factors
                -->
                <div class="col-md-3">
                  <div class="project-list-item polaroid" data-tags="backbone dnx">
                    <p class="sticky">Jan-Mar 2014</p>
                    <img class="screenshot" src="images/portfolio/projects/success-factors/thumb.jpg" width="222" height="130" alt="Success Factors"/>
                    <h3 class="project-name">Success Factors</h3>
                    <a class="link" href="#">www.startanywherewithsuccess<br/>factors.com</a>
                    <button type="button" class="btn more-details">Details &raquo;</button>
                  </div>
                </div>
                <!--
                Capablue TVe
                -->
                <div class="col-md-3">
                  <div class="project-list-item polaroid" data-tags="backbone dnx">
                    <p class="sticky">Jan-Mar 2014</p>
                    <img class="screenshot" src="images/portfolio/projects/success-factors/thumb.jpg" width="222" height="130" alt="Success Factors"/>
                    <h3 class="project-name">Capablue TV Everywhere</h3>
                    <a class="link" href="#">www.startanywherewithsuccess<br/>factors.com</a>
                    <button type="button" class="btn more-details">Details &raquo;</button>
                  </div>
                </div>
                <!--
                SAP Innovation United
                -->
                <div class="col-md-3">
                  <div class="project-list-item polaroid" data-tags="dnx phpmysql">
                    <p class="sticky">May 2012</p>
                    <img class="screenshot" src="images/portfolio/projects/autodesk-configurator/desktop.jpg"/>
                    <h3 class="project-name">SAP Innovation United</h3>
                    <a class="link" href="#">www.sapinnovationunited.com</a>
                    <button type="button" class="btn more-details">Details &raquo;</button>
                  </div>
                </div>
              </div>
              <div class="row">
                <!--
                SAP Didn't Expect That
                -->
                <div class="col-md-3">
                  <div class="project-list-item polaroid" data-tags="">
                    <p class="sticky">May 2012</p>
                    <img class="screenshot" src="images/portfolio/projects/autodesk-configurator/desktop.jpg"/>
                    <h3 class="project-name">SAP Didn't Expect That</h3>
                    <a class="link" href="#">www.sap.com/didntexpectthat</a>
                    <button type="button" class="btn more-details">Details &raquo;</button>
                  </div>
                </div>
                <!--
                Cisco Data Centre Hub
                -->
                <div class="col-md-3">
                  <div class="project-list-item polaroid" data-tags="dnx phpmysql cisco responsive">
                    <p class="sticky">May 2012</p>
                    <img class="screenshot" src="images/portfolio/projects/autodesk-configurator/desktop.jpg"/>
                    <h3 class="project-name">Cisco Data Centre Hub</h3>
                    <a class="link" href="#">servers.cisco.co.uk</a>
                    <button type="button" class="btn more-details">Details &raquo;</button>
                  </div>
                </div>
                <!--
                SAP Solutions Configurator
                -->
                <div class="col-md-3">
                  <div class="project-list-item polaroid" data-tags="">
                    <p class="sticky">May 2012</p>
                    <img class="screenshot" src="images/portfolio/projects/autodesk-configurator/desktop.jpg"/>
                    <h3 class="project-name">SAP Crystal Solutions</h3>
                    <a class="link" href="#">www.sapcrystalsolutions<br/>configurator.com</a>
                    <button type="button" class="btn more-details">Details &raquo;</button>
                  </div>
                </div>
                <!--
                Autodesk Manufacturing Genius
                -->
                <div class="col-md-3">
                  <div class="project-list-item polaroid" data-tags="dnx autodesk phpmysql">
                    <p class="sticky">May 2012</p>
                    <img class="screenshot" src="images/portfolio/projects/autodesk-configurator/desktop.jpg"/>
                    <h3 class="project-name">Autodesk Manufacturing Genius</h3>
                    <a class="link" href="#">www.autodesk-manufacturing-genius.com</a>
                    <button type="button" class="btn more-details">Details &raquo;</button>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <!--
          DNX
          -->
          <div class="tab-pane" id="dnx">
            <div class="l-content-rows">
              <!--
              Autodesk Manufacturing Genius
              -->
              <div class="row project-list-item">
                <div class="col-md-2">
                  <img class="client-logo" src="images/portfolio/logos/autodesk.jpg" width="140" height="28" alt="Autodesk"/>
                </div>
                <div class="col-md-7">
                  <img class="screenshot-thumb" src="images/portfolio/projects/autodesk-manufacturing-genius/thumb.jpg" width="140" height="111" alt="Autodesk Manufacturing Genius"/>
                  <h3 class="project-name">Autodesk Manufacturing Genius</h3>
                  <p class="link">
                    <a href="http://www.autodesk-manufacturing-genius.com" target="_blank">
                      www.autodesk-manufacturing-genius.com
                    </a>
                  </p>
                  <p class="description">
                    Microsite presenting case studies for suite of CAD products, as well as a questionnaire to help map 
                    products to user requirements. Contributed to front-end and back-end. Responsive.
                  </p>
                </div>
                <div class="col-md-3">
                  <p class="note-heading">Relevant Skills:</p>
                  <ul>
                    <li>HTML, CSS, JavaScript</li>
                    <li>Responsive development</li>
                    <li>PHP, CodeIgniter, MySQL</li>
                  </ul>
                  <p><span class="note-heading">Employer:</span> DNX Marketing</p>
                  <p><span class="note-heading">Project Date:</span> Sep 2013 - Mar 2014</p>
                </div>
              </div>
              <!--
              Cisco Data Centre Hub
              -->
              <div class="row project-list-item">
                  <div class="col-md-2">
                    <img class="client-logo" src="images/portfolio/logos/cisco.jpg" width="140" height="73" alt="Cisco"/>
                  </div>
                  <div class="col-md-7">
                    <img class="screenshot-thumb" src="images/portfolio/projects/cisco-data-centre-hub/thumb.jpg" width="140" height="115" alt="Cisco Data Centre Hub"/>
                    <h3 class="project-name">Cisco Data Centre Hub</h3>
                    <p class="link">
                      <a href="http://servers.cisco.co.uk" target="_blank">
                        servers.cisco.co.uk
                      </a>
                    </p>
                    <p class="description">
                      Informative microsite promoting Cisco server infrastructure for business. Responsible for front-end and 
                      back-end. Multi-language. Responsive.
                    </p>
                  </div>
                  <div class="col-md-3">
                    <p class="note-heading">Relevant Skills:</p>
                    <ul>
                      <li>HTML, CSS, JavaScript</li>
                      <li>Responsive development</li>
                      <li>PHP, CodeIgniter, MySQL</li>
                    </ul>
                    <p><span class="note-heading">Employer:</span> DNX Marketing</p>
                    <p><span class="note-heading">Project Date:</span> Sep 2013 - Mar 2014</p>
                  </div>
                </div>
                <!--
                Autodesk Build Today
                -->
                <div class="row project-list-item">
                  <div class="col-md-2">
                    <img class="client-logo" src="images/portfolio/logos/cisco.jpg" width="140" height="73" alt="Cisco"/>
                  </div>
                  <div class="col-md-7">
                    <img class="screenshot-thumb" src="images/portfolio/projects/cisco-data-centre-hub/thumb.jpg" width="140" height="115" alt="Cisco Data Centre Hub"/>
                    <h3 class="project-name">Autodesk Build Today</h3>
                    <p class="link">
                      <a href="http://servers.cisco.co.uk" target="_blank">
                        www.autodesk-build-today.com
                      </a>
                    </p>
                    <p class="description">
                      Informative microsite promoting Cisco server infrastructure for business. Responsible for front-end and 
                      back-end. Multi-language. Responsive.
                    </p>
                  </div>
                  <div class="col-md-3">
                    <p class="note-heading">Relevant Skills:</p>
                    <ul>
                      <li>HTML, CSS, JavaScript</li>
                      <li>Responsive development</li>
                      <li>PHP, CodeIgniter, MySQL</li>
                    </ul>
                    <p><span class="note-heading">Employer:</span> DNX Marketing</p>
                    <p><span class="note-heading">Project Date:</span> Sep 2013 - Mar 2014</p>
                  </div>
                </div>
                <!--
                SAP Analytics 50 Tips
                -->
                <div class="row project-list-item">
                  <div class="col-md-2">
                    <img class="client-logo" src="images/portfolio/logos/cisco.jpg" width="140" height="73" alt="Cisco"/>
                  </div>
                  <div class="col-md-7">
                    <img class="screenshot-thumb" src="images/portfolio/projects/cisco-data-centre-hub/thumb.jpg" width="140" height="115" alt="Cisco Data Centre Hub"/>
                    <h3 class="project-name">SAP Analytics 50 Tips</h3>
                    <p class="link">
                      <a href="http://servers.cisco.co.uk" target="_blank">
                        www.sap50analyticstips.com
                      </a>
                    </p>
                    <p class="description">
                      Informative microsite promoting Cisco server infrastructure for business. Responsible for front-end and 
                      back-end. Multi-language. Responsive.
                    </p>
                  </div>
                  <div class="col-md-3">
                    <p class="note-heading">Relevant Skills:</p>
                    <ul>
                      <li>HTML, CSS, JavaScript</li>
                      <li>Responsive development</li>
                      <li>PHP, CodeIgniter, MySQL</li>
                    </ul>
                    <p><span class="note-heading">Employer:</span> DNX Marketing</p>
                    <p><span class="note-heading">Project Date:</span> Sep 2013 - Mar 2014</p>
                  </div>
                </div>
                <!--
                Virgin Pure
                -->
                <div class="row project-list-item">
                  <div class="col-md-2">
                    <img class="client-logo" src="images/portfolio/logos/cisco.jpg" width="140" height="73" alt="Cisco"/>
                  </div>
                  <div class="col-md-7">
                    <img class="screenshot-thumb" src="images/portfolio/projects/cisco-data-centre-hub/thumb.jpg" width="140" height="115" alt="Cisco Data Centre Hub"/>
                    <h3 class="project-name">Virgin Pure</h3>
                    <p class="link">
                      <a href="http://servers.cisco.co.uk" target="_blank">
                        www.virginpure.com
                      </a>
                    </p>
                    <p class="description">
                      Informative microsite promoting Cisco server infrastructure for business. Responsible for front-end and 
                      back-end. Multi-language. Responsive.
                    </p>
                  </div>
                  <div class="col-md-3">
                    <p class="note-heading">Relevant Skills:</p>
                    <ul>
                      <li>HTML, CSS, JavaScript</li>
                      <li>Responsive development</li>
                      <li>PHP, CodeIgniter, MySQL</li>
                    </ul>
                    <p><span class="note-heading">Employer:</span> DNX Marketing</p>
                    <p><span class="note-heading">Project Date:</span> Sep 2013 - Mar 2014</p>
                  </div>
                </div>
                <!--
                DKNY Fragrances
                -->
                <div class="row project-list-item">
                  <div class="col-md-2">
                    <img class="client-logo" src="images/portfolio/logos/cisco.jpg" width="140" height="73" alt="Cisco"/>
                  </div>
                  <div class="col-md-7">
                    <img class="screenshot-thumb" src="images/portfolio/projects/cisco-data-centre-hub/thumb.jpg" width="140" height="115" alt="Cisco Data Centre Hub"/>
                    <h3 class="project-name">DKNY Fragrances</h3>
                    <p class="link">
                      <a href="http://servers.cisco.co.uk" target="_blank">
                        www.dknyfragrances.co.uk
                      </a>
                    </p>
                    <p class="description">
                      Informative microsite promoting Cisco server infrastructure for business. Responsible for front-end and 
                      back-end. Multi-language. Responsive.
                    </p>
                  </div>
                  <div class="col-md-3">
                    <p class="note-heading">Relevant Skills:</p>
                    <ul>
                      <li>HTML, CSS, JavaScript</li>
                      <li>Responsive development</li>
                      <li>PHP, CodeIgniter, MySQL</li>
                    </ul>
                    <p><span class="note-heading">Employer:</span> DNX Marketing</p>
                    <p><span class="note-heading">Project Date:</span> Sep 2013 - Mar 2014</p>
                  </div>
                </div>
                <!--
                Cisco BIG
                -->
                <div class="row project-list-item">
                  <div class="col-md-2">
                    <img class="client-logo" src="images/portfolio/logos/cisco.jpg" width="140" height="73" alt="Cisco"/>
                  </div>
                  <div class="col-md-7">
                    <img class="screenshot-thumb" src="images/portfolio/projects/cisco-data-centre-hub/thumb.jpg" width="140" height="115" alt="Cisco Data Centre Hub"/>
                    <h3 class="project-name">Cisco BIG</h3>
                    <p class="link">
                      <a href="http://servers.cisco.co.uk" target="_blank">
                        www.ciscobig.co.uk
                      </a>
                    </p>
                    <p class="description">
                      Informative microsite promoting Cisco server infrastructure for business. Responsible for front-end and 
                      back-end. Multi-language. Responsive.
                    </p>
                  </div>
                  <div class="col-md-3">
                    <p class="note-heading">Relevant Skills:</p>
                    <ul>
                      <li>HTML, CSS, JavaScript</li>
                      <li>Responsive development</li>
                      <li>PHP, CodeIgniter, MySQL</li>
                    </ul>
                    <p><span class="note-heading">Employer:</span> DNX Marketing</p>
                    <p><span class="note-heading">Project Date:</span> Sep 2013 - Mar 2014</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </article>
  </div>
</div>