<!--
Template - Employment
-->
<div class="page-container js-fadein">

  <div class="row">
    <div class="col-md-12">
      <article class="content-canvas theme-border icon-employment">
        <h2>Recruitment</h2>

        <div class="row">
          <div class="col-md-6">

            <h3>Current Situation</h3>
            <!--
            Radio buttons
            -->
            <div class="checkboxes">
              <div class="checkboxes-item is-disabled">
                <span>I am currently looking for a new contract.</span>
              </div>
              <div class="checkboxes-item is-checked">
                <span>I am <em>not</em> seeking a new contract at this time.</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <!--
            Future Contract
            -->
            <h3>Future Contracts</h3>
            <table class="formatted-table formatted-table-fullwidth">
              <thead>
                <td>Daily Rate</td>
                <td>Preferred Length</td>
                <td>Location</td>
                <td>Travel</td>
              </thead>
              <tbody>
                <td>&pound;400 p/d</td>
                <td>1-4 months</td>
                <td>London, Surrey</td>
                <td>Car, Train</td>
              </tbody>
            </table>
            <p><strong>Interested Roles</strong>: Front-end Developer, Full Stack Developer</p>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <!--
            Current/Last Contrat
            -->
            <hr/>
            <h3>Last Contract</h3>
            <p>15th May - 10th October</p><br/>
            <div class="info-box info-box-left">
              <a href="http://www.capablue.com" target="_blank">
                  <img src="images/cv/logos/capablue.jpg" width="214" height="125"/>
              </a>
              <a class="link" href="http://www.capablue.com" target="_blank">www.capablue.com</a>
              <p class="caption caption-centre">London, Waterloo</p>
            </div>
            <!-- <p><strong>Technologies</strong>: HTML/CSS, JavaScript, Backbone.js, PHP</p> -->
            <h4>Summary</h4>
            <p>At this highly innovative company - owned by Arqiva, a leading communications infrastructure company - I was drafted in to develop a white-label product for a new multi-channel live TV streaming web application accessible on desktops, tablets, and mobile devices (similar concept to BBC iPlayer).</p>
            <p>After the success of this project, I was subsequently asked to build from scratch a completely new version of Capablue's own company website. Working with a freelance Designer, a Junior Developer, QA Testers, Project Manager, and Marketing Manager, I led the development and together we successfully delivered the new website. The new site can be seen at www.capablue.com.</p>
          </div>
        </div>

      </article>
    </div>
  </div>

</div>