<!--
Template - Current Situation
-->
<div class="row">
  <div class="col-md-12">
    <article class="content-canvas theme-border icon-situation">
      <h2>Current Situation</h2>
      <!--
      Radio buttons
      -->
      <div class="radio-buttons">
        <div class="radio-buttons-item">
          <input type="radio"/>
          <label>I am currently looking for a new contract.</label>
        </div>
        <div class="radio-buttons-item">
          <input type="radio"/>
          <label>I am currently employed and not seeking a new contract at this time.</label>
        </div>
      </div>
      <!--
      Employment table
      -->
      <h3>Current Contract</h3>
      <div class="formatted-table">

      </div>
    </article>
  </div>
</div>