<!--
Template - Current Situation
-->
<div class="row">
  <div class="col-md-12">
    <article class="content-canvas theme-border icon-situation">
      <h2>Current Situation</h2>
      <!--
      Radio buttons
      -->
      <div class="radio-buttons">
        <div class="radio-buttons-item is-disabled">
          <input type="radio" disabled="disabled"/>
          <label><strike>I am currently looking for a new contract.</strike></label>
        </div>
        <div class="radio-buttons-item">
          <input type="radio" checked="checked"/>
          <label>I am currently employed and not seeking a new contract at this time.</label>
        </div>
      </div>
      <!--
      Employment table
      -->
      <h3>Current Contract</h3>
      <table class="formatted-table">
        <thead>
          <td>Employer</td>
          <td>Location</td>
          <td>Start Date</td>
          <td>End Date</td>
          <td>Technologies</td>
        </thead>
        <tbody>
          <td>Capablue</td>
          <td>Waterloo, London</td>
          <td>15th May 2014</td>
          <td>23rd August 2014</td>
          <td>HTML, CSS, JavaScript, Backbone, PHP</td>
        </tbody>
      </table>
      <h4>Job Description</h4>
      <p>Lorem ipsum</p>
    </article>
  </div>
</div>