<!--
Template - Skills & Expertise
-->
<div class="page-container js-fadein">

  <div class="row">
    <div class="tabbed-content">

      <div class="col-md-9">

        <div class="content-canvas is-off-stage js-animated-entrace theme-border icon-skills">
          <h2>Skills &amp; Expertise</h2>

            <div class="tab-content">
            
              <!--
              Body - Overview
              -->
              <div class="tab-pane _active" id="overview">
                <div class="row">
                  <div class="col-md-9">
                    <p class="large">Primarily a <strong>Front-end developer</strong> today, my skill set and expertise evolve around creating web applications from scratch and to a high standard.</p>
                    <p>My experience has also involved significant server-side development too.</p>
                  </div>
                </div>
                <div class="side-by-side-content">
                  <div class="row">
                    <div class="side-by-side-content-column col-md-6">
                      <h3>Basic Services</h3>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="monopoly-card">
                              <p class="title">Design to Build</p>
                              <p class="description">Transforming a PSD into HTML, CSS, and JavaScript.</p>
                              <img src="images/skills/service-build.png" width="123" height="75" alt="Design to build"/>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="monopoly-card">
                              <p class="title">Responsive Development</p>
                              <p class="description">Delivering the most optimal solution for every device.</p>
                              <img src="images/skills/service-responsive.png" width="123" height="75" alt="Responsive Development"/>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="monopoly-card">
                              <p class="title">Server-Side Development</p>
                              <p class="description">Implementing back-end functional and data requirements.</p>
                              <img src="images/skills/service-responsive.png" width="123" height="75" alt="Responsive Development"/>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="side-by-side-content-column col-md-6">
                      <h3>Technical Priorities</h3>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="monopoly-card">
                            <p class="title">Best Practice Code</p>
                            <p class="description">Contributing object-oriented, modular, and scalable code.</p>
                            <img src="images/skills/technical-standards.png" width="123" height="75" alt="Best practice code"/>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="monopoly-card">
                            <p class="title">Web Performance</p>
                            <p class="description">Providing a build process for fast download times.</p>
                            <img src="images/skills/technical-performance.png" width="123" height="75" alt="Web performance"/>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="monopoly-card">
                            <p class="title">Modern Techniques</p>
                            <p class="description">Keeping aware of and learning new industry innovations.</p>
                            <img src="images/skills/technical-innovation.png" width="123" height="75" alt="Modern techniques"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--
              Body - Bread & butter stuff
              -->
              <div class="tab-pane" id="basics">
                <h3>Bread &amp; butter stuff</h3>
                <div class="l-content-rows">
                  <!--
                  HTML
                  -->
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/skills/html.png" width="71" height="100" alt="HTML5"/>
                    </div>
                    <div class="col-md-10">
                      <h4>HTML5/4</h4>
                      <p>
                        First encountered HTML at an early age, worked with it throughout career.
                        Strict on keeping the markup void of implied styling in favour of maximum semantic meaning.
                      </p>
                      <p>Familiar with HTML5 - new elements, new input types, HTML5 video, etc.</p>
                    </div>
                  </div>
                  <!--
                  CSS
                  -->
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/skills/css.png" width="71" height="100" alt="CSS3"/>
                    </div>
                    <div class="col-md-10">
                      <h4>CSS3/2</h4>
                      <p>
                        Prefer to use the SMACSS model where possible for good modularity and scalability.
                        Experienced at troubleshooting cross-browser presentation issues.
                      </p>
                      <p>Proficient with media queries and CSS3 animation.</p>
                    </div>
                  </div>
                  <!--
                  JavaScript
                  -->
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/skills/js.png" width="71" height="100" alt="JavaScript"/>
                    </div>
                    <div class="col-md-10">
                      <h4>JavaScript</h4>
                      <p>Compentent object-oriented JavaScript developer - functions, objects, classes, prototype, etc.</p>
                      <p>
                        Familiar with a range of JS libraries and frameworks such as Backbone.js, jQuery, Require.js, and Underscore.js.
                        See 'Front-end development' for more details.
                      </p>
                    </div>
                  </div>
                  <!--
                  PHP
                  -->
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/skills/php.png" width="85" height="100" alt="PHP"/>
                    </div>
                    <div class="col-md-10">
                      <h4>PHP</h4>
                      <p>
                        Have often been responsible for the full stack of a website with server-side requirements.
                        Good grasp of Classes, Functions, Scope, Error Handling, etc. See 'Back-end development' for more details.
                      </p>
                    </div>
                  </div>
                  <!--
                  MySQL
                  -->
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/skills/mysql.png" width="85" height="100" alt="MySQL"/>
                    </div>
                    <div class="col-md-10">
                      <h4>MySQL</h4>
                      <p>
                        Predominantly used MySQL as database solution for PHP projects. Good level of SQL knowledge.
                        Comfortable managing databases via command line or tools such as Sequel Pro/MySQL Workbench.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <!--
              Body - Front-end development
              -->
              <div class="tab-pane" id="front-end">
                <h3>Front-end development</h3>
                <div class="l-content-rows">
                  <!--
                  Backbone.js
                  -->
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/skills/backbone.png" width="100" height="100" alt="Backbone.js"/>
                    </div>
                    <div class="col-md-10">
                      <h4>Backbone.js</h4>
                      <p>Excellent understanding and familiarity with the framework - views, models, collections, routers, etc.</p>
                      <p>
                        Proficient with extending Backbone classes to suit the need of a given project.
                        Good awareness of best practices such as structure and organisation, view management, and garbage collection.
                      </p>
                    </div>
                  </div>
                  <!--
                  Require.js
                  -->
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/skills/requirejs.png" width="89" height="100" alt="Require.js"/>
                    </div>
                    <div class="col-md-10">
                      <h4>Require.js</h4>
                      <p>Good project experience of using library for modular and optmial architecture.</p>
                      <p>Familiar with the r.js optimiser, and AMD substitute almond.js, for building require.js apps for production environments.</p>
                    </div>
                  </div>
                  <!--
                  jQuery
                  -->
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/skills/jquery.png" width="90" height="100" alt="jQuery"/>
                    </div>
                    <div class="col-md-10">
                      <h4>jQuery</h4>
                      <p>Long-standing famliarity. Used to one extent or another on virtually every project.</p>
                      <p>Have also experimented with jQuery UI on past projects.</p>
                    </div>
                  </div>
                  <!--
                  Sass / LESS
                  -->
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/skills/sass-less.png" width="75" height="100" alt="Sass / LESS"/>
                    </div>
                    <div class="col-md-10">
                      <h4>Sass / LESS</h4>
                      <p>Equally capable with both, have used both commercially. Happy with nested styles and inheritance, writing variables, mixins, and functions.</p>
                    </div>
                  </div>
                  <!--
                  Foundation / Twitter Bootstrap
                  -->
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/skills/foundation-bootstrap.png" width="70" height="100" alt="Foundation / Bootstrap"/>
                    </div>
                    <div class="col-md-10">
                      <h4>Foundation / Twitter Bootstrap</h4>
                      <p>Adept with the grid scaffolding systems of both frameworks to bring about a responsive front-end.</p>
                      <p>Also experienced with the various CSS/JS components provided, such as the carousel, accordion, tabs, etc, as well as Foundation's interchange function for responsive images.</p>
                    </div>
                  </div>
                  <!--
                  Other JavaScript Libraries
                  -->
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/skills/js.png" width="71" height="100" alt="JavaScript"/>
                    </div>
                    <div class="col-md-10">
                      <h4>Other JavaScript Libraries</h4>
                      <p>Have often searched for, experimented with, and deployed a range of small popular JS libraries.</p>
                      <p>A few recent examples: Chosen.js, Moment.js, Chart.js, Progress.js, Owl Carousel, and JWPlayer.</p>
                    </div>
                  </div>
                </div>
              </div>

              <!--
              Body - Back-end development
              -->
              <div class="tab-pane" id="back-end">
                <h3>Back-end development</h3>
                <div class="l-content-rows">
                  <!--
                  Laravel
                  -->
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/skills/laravel.png" width="70" height="100" alt="Laravel"/>
                    </div>
                    <div class="col-md-10">
                      <h4>Laravel</h4>
                      <p>Good grasp of framework essentials. Competent with writing routes, creating RESTful controllers, views, models, databases, and working with the PHP artisan command line tool.</p>
                      <p>Have also written unit tests with the in-built PHPUnit library.</p>
                    </div>
                  </div>
                  <!--
                  CodeIgniter
                  -->
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/skills/codeigniter.png" width="70" height="100" alt="CodeIgniter"/>
                    </div>
                    <div class="col-md-10">
                      <h4>CodeIgniter</h4>
                      <p>Strong commercial experience as CodeIgniter was a standard where I worked for over two years.</p>
                      <p>Knowledgeable of views, controllers, models, routes, database integration, custom configuration, extending base classes, language translation, etc.</p>
                    </div>
                  </div>
                  <!--
                  WordPress
                  -->
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/skills/wordpress.png" width="70" height="100" alt="WordPress"/>
                    </div>
                    <div class="col-md-10">
                      <h4>WordPress</h4>
                      <p>Although I've not worked with this CMS recently, I've always been very capable of creating WordPress sites as and when required.</p>
                    </div>
                  </div>
                </div>
              </div>

              <!--
              Body - Testing
              -->
              <!--
              <div class="tab-pane" id="testing">
                <h3>Testing</h3>
              </div>
              -->
              
              <!--
              Body - Miscellaneous
              -->
              <div class="tab-pane active" id="misc">
                <h3>Miscellaneous</h3>
                <div class="l-content-rows">
                  <!--
                  Git Version Control
                  -->
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/skills/js.png" width="71" height="100" alt="JavaScript"/>
                    </div>
                    <div class="col-md-10">
                      <h4>Git Version Control</h4>
                      <p>Predominant source control system for the last three years, previously using SVN. Worked with GitHub and BitBucket repositories.</p>
                      <p>Familiar with Gitflow model, feature branches, pull requests, hotfixing, etc.</p>
                    </div>
                  </div>
                  <!--
                  Grunt
                  -->
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/skills/js.png" width="71" height="100" alt="JavaScript"/>
                    </div>
                    <div class="col-md-10">
                      <h4>Grunt</h4>
                      <p>I use Grunt to automate a range of tasks such as JavaScript linting, compiling Sass/LESS styles, generating spritesheets, browser auto-reloading, etc.</p>
                      <p>Have recently worked hard to form a complex build process that I now use for all future projects.</p>
                    </div>
                  </div>
                  <!--
                  JIRA / Confluence
                  -->
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/skills/js.png" width="71" height="100" alt="JavaScript"/>
                    </div>
                    <div class="col-md-10">
                      <h4>JIRA / Confluence</h4>
                      <p>Know my way around JIRA for Agile development purposes, and Confluence for project documentation purposes.</p>
                    </div>
                  </div>
                  <!--
                  Adobe Suite
                  -->
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/skills/js.png" width="71" height="100" alt="JavaScript"/>
                    </div>
                    <div class="col-md-10">
                      <h4>Adobe Suite</h4>
                      <p>Comfortable using Photoshop as a web developer, i.e. navigating around a designer's PSD file, exporting images, obtaining typeface information, etc.</p>
                      <p>Use Fireworks for basic imaging. Have experience with Flash and ActionScript 2.0.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>

      </div>
    </div>
      
    <div class="col-md-3">
      <div class="tabbed-content-tabs">

        <div class="category-column category-column-multiline-items is-off-stage js-animated-entrace">
          <ul class="nav nav-tabs" role="tablist">
            <!--
            Nav - Overview
            -->
            <li class="category-column-box js-nav js-nav-overview active" data-body="overview">
              <h3>Overview</h3>
              <a href="#overview" class="js-tab-link"></a>
            </li>
            <!--
            Nav - Bread & butter stuff
            -->
            <li class="category-column-box js-nav js-nav-basics" data-body="basics">
              <h3>Bread &amp; butter stuff</h3>
              <a href="#basics" class="js-tab-link"></a>
              <ul>
                <li>HTML/CSS</li>
                <li>JavaScript</li>
                <li>PHP</li>
                <li>MySQL</li>
              </ul>
            </li>
            <!--
            Nav - Front-end development
            -->
            <li class="category-column-box js-nav js-nav-front" data-body="front">
              <h3>Front-end development</h3>
              <a href="#front-end" class="js-tab-link"></a>
              <ul>
                <li>Backbone.js</li>
                <li>jQuery, Require.js</li>
                <li>Sass/LESS</li>
                <li>Foundation/Twitter Bootstrap</li>
              </ul>
            </li>
            <!--
            Nav - Back-end development
            -->
            <li class="category-column-box js-nav js-nav-back" data-body="back">
              <h3>Back-end development</h3>
              <a href="#back-end" class="js-tab-link"></a>
              <ul>
                <li>Laravel</li>
                <li>CodeIgniter</li>
                <li>WordPress</li>
              </ul>
            </li>
            <!--
            Nav - Testing
            -->
            <!--
            <li class="category-column-box js-nav js-nav-testing" data-body="testing">
              <h3>Testing</h3>
              <a href="#testing" class="js-tab-link"></a>
              <ul>
                <li>QUnit</li>
                <li>Sinon.js</li>
                <li>Mocha</li>
                <li>Jasmine</li>
                <li>CucumberJS</li>
                <li>PHPUnit</li>
              </ul>
            </li>
            -->
            <!--
            Nav - Miscellaneous
            -->
            <li class="category-column-box js-nav js-nav-misc" data-body="misc">
              <h3>Miscellaneous</h3>
              <a href="#misc" class="js-tab-link"></a>
              <ul>
                <li>Git Version Control</li>
                <li>Grunt</li>
                <li>JIRA, Confluence</li>
                <li>Adobe Suite</li>
              </ul>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </div>

</div>