<!--
Template - Skills & Expertise
-->
<div class="row">
  <div class="col-md-9">
    <div class="content-canvas is-off-stage js-animated-entrace theme-border icon-skills">
      <h2>Skills &amp; Expertise</h2>
      <h3 class="js-body-title"></h3>
      <div class="l-content-rows tabbed-content">
        <!--
        Body - Overview
        -->
        <div class="tabbed-content-body is-active js-body js-body-overview">
          
        </div>
        <!--
        Body - Bread & butter stuff
        -->
        <div class="tabbed-content-body js-body js-body-basics">
          <div class="row">
            <div class="col-md-2">
              <img src="images/skills/html.png" width="71" height="100" alt="HTML5"/>
            </div>
            <div class="col-md-10">
              <h4>HTML5</h4>
              <div class="tabled-bullets"> 
                <div class="col-md-4">
                  <ul>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-alt">
            <div class="col-md-2">
              <img src="images/skills/css.png" width="71" height="100" alt="CSS3"/>
            </div>
            <div class="col-md-10">
              <h4>CSS3</h4>
              <div class="tabled-bullets">
                <div class="col-md-4">
                  <ul>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <img src="images/skills/js.png" width="71" height="100" alt="JavaScript"/>
            </div>
            <div class="col-md-10">
              <h4>JavaScript</h4>
              <div class="tabled-bullets">
                <div class="col-md-4">
                  <ul>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-alt">
            <div class="col-md-2">
              <img src="images/skills/php.png" width="100" height="52" alt="PHP"/>
            </div>
            <div class="col-md-10">
              <h4>PHP</h4>
              <div class="tabled-bullets">
                <div class="col-md-4">
                  <ul>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <img src="images/skills/mysql.png" width="100" height="52" alt="MySQL"/>
            </div>
            <div class="col-md-10">
              <h4>MySQL</h4>
              <div class="tabled-bullets">
                <div class="col-md-4">
                  <ul>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--
        Body - Front-end development
        -->
        <div class="tabbed-content-body js-body js-body-front">
          
        </div>
        <!--
        Body - Back-end development
        -->
        <div class="tabbed-content-body js-body js-body-back">
          
        </div>
        <!--
        Body - Testing
        -->
        <!--
        <div class="tabbed-content-body js-body js-body-testing">
          
        </div>
        -->
        <!--
        Body - General knowledge
        -->
        <div class="tabbed-content-body js-body js-body-knowledge">
          
        </div>
        <!--
        Body - Miscellaneous
        -->
        <div class="tabbed-content-body js-body js-body-misc">
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="category-column is-off-stage js-animated-entrace">
      <!--
      Nav - Overview
      -->
      <div class="category-column-box js-nav js-nav-overview is-active" data-body="overview">
        <h3>Overview</h3>
      </div>
      <!--
      Nav - Bread & butter stuff
      -->
      <div class="category-column-box js-nav js-nav-basics" data-body="basics" data-title="Bread &amp; butter stuff">
        <h3>Bread &amp; butter stuff</h3>
        <ul>
          <li>HTML/CSS</li>
          <li>JavaScript</li>
          <li>PHP</li>
          <li>MySQL</li>
        </ul>
      </div>
      <!--
      Nav - Front-end development
      -->
      <div class="category-column-box js-nav js-nav-front" data-body="front" data-title="Front-end development">
        <h3>Front-end development</h3>
        <ul>
          <li>Backbone</li>
          <li>jQuery/jQuery UI</li>
          <li>Sass/LESS</li>
          <li>Twitter Bootstrap/Foundation</li>
        </ul>
      </div>
      <!--
      Nav - Back-end development
      -->
      <div class="category-column-box js-nav js-nav-back" data-body="back" data-title="Back-end development">
        <h3>Back-end development</h3>
        <ul>
          <li>Laravel</li>
          <li>CodeIgniter</li>
          <li>WordPress</li>
        </ul>
      </div>
      <!--
      Nav - Testing
      -->
      <!--
      <div class="category-column-box js-nav js-nav-testing" data-body="testing" data-title="Testing">
        <h3>Testing</h3>
        <ul>
          <li>QUnit</li>
          <li>Sinon.js</li>
          <li>Mocha</li>
          <li>Jasmine</li>
          <li>CucumberJS</li>
          <li>PHPUnit</li>
        </ul>
      </div>
      -->
      <!--
      Nav - General knowledge
      -->
      <div class="category-column-box js-nav js-nav-knowledge" data-body="knowledge" data-title="General knowledge">
        <h3>General knowledge</h3>
        <ul>
          <li>Responsive web development</li>
          <li>Object-oriented JavaScript &amp; PHP
          <li>Cross-browser compatibility</li>
          <li>Git version control</li>
        </ul>
      </div>
      <!--
      Nav - Miscellaneous
      -->
      <div class="category-column-box js-nav js-nav-misc" data-body="misc" data-title="Miscellaneous">
        <h3>Miscellaneous</h3>
        <ul>
          <li>Adobe Flash</li>
          <li>Adobe Photoshop</li>
          <li>Adobe Fireworks</li>
        </ul>
      </div>
    </div>
  </div>
</div>