<!--
Template - Dev Workflow
-->
<div class="row">
  <div class="col-md-12">
    <article class="content-canvas theme-border icon-workflow">
      <h2>Development Workflow</h2>
      <p class="large">Lorem ipsum.</p>

      <div class="l-content-rows">
        <div class="row">
          <div class="col-md-4">

            <h3>Tools</h3>
            <div class="category-column category-column-whitebg">
              <ul class="nav nav-tabs" role="tablist">
                <li class="category-column-box active">
                  <a href="#" role="tab" data-toggle="tab">Grunt</a>
                </li>
                <li class="category-column-box">
                  <a href="#" role="tab" data-toggle="tab">Bower</a>
                </li>
                <!-- <li class="category-column-box">
                  <a href="#" role="tab" data-toggle="tab">Vagrant</a>
                </li> -->
                <li class="category-column-box">
                  <a href="#" role="tab" data-toggle="tab">Yeoman</a>
                </li>
                <li class="category-column-box">
                  <a href="#" role="tab" data-toggle="tab">Sublime Text</a>
                </li>
                <li class="category-column-box">
                  <a href="#" role="tab" data-toggle="tab">Chrome DevTools</a>
                </li>
                <li class="category-column-box">
                  <a href="#" role="tab" data-toggle="tab">Charles</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">

          <h3>Organisation</h3>
          <p>
            Git / Gitflow / GitHub / BitBucket<br/>
            SourceTree<br/>
            Confluence<br/>
            JIRA
          </p>

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">

          <h3>Development</h3>
          <p>
            Sass / LESS<br/>
            SMACSS<br/>
            Handlebars<br/>
            Require.js
          </p>

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">

          <h3>Testing</h3>
          <p>
            QUnit, SinonJS<br/>
            PHPUnit<br/>
            BrowserStack<br/>
            GhostLab
          </p>

          </div>
        </div>
      </div>
    </article>
  </div>
</div>