<!--
Template - Dev Workflow
-->
<div class="row">
  <div class="col-md-12">
    <article class="content-canvas theme-border icon-workflow">
      <h2>Development Workflow</h2>
      
      <div class="l-spaced-rows">
        <div class="row">
          <div class="col-md-12">
            <p class="large">For the benefit of Development Managers and other Developers, below are some of the tools and applications that I use project-to-project where possible:</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">

            <div class="icon-grid">
              <div class="icon-grid-column">
                <div class="icon-grid-item js-select" data-tab="grunt">
                  <span class="title">Grunt</span>
                  <img class="icon" src="images/workflow/grunt.png" width="33" height="45" alt="Grunt"/>
                </div>
                <div class="icon-grid-item js-select" data-tab="bower">
                  <span class="title">Bower</span>
                  <img class="icon" src="images/workflow/bower.png" width="49" height="44" alt="Bower"/>
                </div>
                <div class="icon-grid-item js-select" data-tab="yeoman">
                  <span class="title">Yeoman</span>
                  <img class="icon" src="images/workflow/yeoman.png" width="39" height="43" alt="Yeoman"/>
                </div>
                <div class="icon-grid-item js-select" data-tab="sublime">
                  <span class="title">Sublime Text</span>
                  <img class="icon" src="images/workflow/sublime.png" width="50" height="45" alt="Sublime Text"/>
                </div>
              </div>
              <div class="icon-grid-column">
                <div class="icon-grid-item js-select" data-tab="devtools">
                  <span class="title">DevTools</span>
                  <img class="icon" src="images/workflow/chrome.png" width="43" height="44" alt="Chrome DevTools"/>
                </div>
                <div class="icon-grid-item js-select" data-tab="charles">
                  <span class="title">Charles</span>
                  <img class="icon" src="images/workflow/charles.png" width="44" height="45" alt="Charles"/>
                </div>
                <div class="icon-grid-item js-select" data-tab="git">
                  <span class="title">Git</span>
                  <img class="icon" src="images/workflow/git.png" width="44" height="45" alt="Git"/>
                </div>
                <div class="icon-grid-item js-select" data-tab="gitflow">
                  <span class="title">Gitflow</span>
                  <img class="icon" src="images/workflow/git.png" width="44" height="45" alt="Git"/>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="tab-content">
              <div class="tab-pane js-tab active" id="grunt">
                <div class="heading-description-image">
                  <div class="info-box">
                    <a href="http://gruntjs.com" target="_blank">
                      <img src="images/workflow/grunt-large.png" width="74" height="100" alt="Grunt"/>
                    </a>
                    <a class="link" href="http://gruntjs.com" target="_blank">www.gruntjs.com</a>
                  </div>
                  <h3>Grunt</h3>
                  <p class="description large">An automation tool that aids development, testing, and optimisation.</p>
                </div>
                <hr/>
                <p>Some of my favourite Grunt tasks:</p>
                <ul>
                  <li>Watch my code and inject changes into the browser on each target device at once <small><a href="https://github.com/shakyShane/grunt-browser-sync" target="_blank">grunt-browser-sync</a></small></li>
                  <li>Lint my JavaScript and enforce code standards as well as pre-empt errors <small><a href="https://github.com/gruntjs/grunt-contrib-jshint" target="_blank">grunt-contrib-jshint</a></small></li>
                  <li>Assess my CSS and insert browser specific prefixes, e.g. <em>-webkit-user-select</em> <small><a href="https://github.com/nDmitry/grunt-autoprefixer" target="_blank">grunt-autoprefixer</a></small></li>
                  <li>Prefix asset filenames with a unique hash for anti-caching purposes <small><a href="https://github.com/cbas/grunt-rev" target="_blank">grunt-rev</a></small></li>
                  <li>Automating minification and concatenation across the project <small><a href="https://github.com/gruntjs/grunt-contrib-uglify" target="_blank">grunt-contrib-uglify</a></small></li>
                  <li>Generating sprite sheets and CSS based on specified image files <small><a href="https://github.com/Ensighten/grunt-spritesmith" target="_blank">grunt-spritesmith</a></small></li>
                  <li>Compiling requirejs module driven applications into an optimised build <small><a href="https://github.com/asciidisco/grunt-requirejs" target="_blank">grunt-requirejs</a></small></li>
                </ul>
              </div>
              <div class="tab-pane js-tab" id="devtools">
                <h3>Chrome DevTools</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3">

            <div class="icon-grid">
              <div class="icon-grid-column">
                <div class="icon-grid-item js-select" data-tab="git">
                  <span class="title">Git</span>
                </div>
                <div class="icon-grid-item js-select" data-tab="gitflow">
                  <span class="title">Gitflow</span>
                </div>
                <div class="icon-grid-item js-select" data-tab="github">
                  <span class="title">GitHub</span>
                </div>
                <div class="icon-grid-item js-select" data-tab="bitbucket">
                  <span class="title">BitBucket</span>
                </div>
              </div>
              <div class="icon-grid-column">
                <div class="icon-grid-item js-select" data-tab="confluence">
                  <span class="title">Confluence</span>
                </div>
                <div class="icon-grid-item js-select" data-tab="jira">
                  <span class="title">JIRA</span>
                </div>
                <div class="icon-grid-item js-select" data-tab="sourcetree">
                  <span class="title">SourceTree</span>
                </div>
                <div class="icon-grid-item js-select" data-tab="lorem">
                  <span class="title">Lorem Ipsum</span>
                </div>
              </div>
            </div>
          
          </div>
        </div>

      </div>

    </article>
  </div>
</div>