<!--
Template - Dev Workflow
-->
<div class="row">
  <div class="col-md-12">
    <article class="content-canvas theme-border icon-workflow">
      <h2>Development Workflow</h2>
      <p class="large">Below is a collection of modern</p>

      <div class="row">
        <div class="col-md-3">

          <div class="icon-grid">
            <div class="icon-grid-column">
              <div class="icon-grid-item js-select" data-tab="grunt">
                <span class="title">Grunt</span>
                <img class="icon" src="images/workflow/grunt.png" width="46" height="50" alt="Grunt"/>
              </div>
              <div class="icon-grid-item js-select" data-tab="bower">
                <span class="title">Bower</span>
              </div>
              <div class="icon-grid-item js-select" data-tab="yeoman">
                <span class="title">Yeoman</span>
              </div>
              <div class="icon-grid-item js-select" data-tab="sublime">
                <span class="title">Sublime Text</span>
              </div>
            </div>
            <div class="icon-grid-column">
              <div class="icon-grid-item js-select" data-tab="devtools">
                <span class="title">Chrome DevTools</span>
              </div>
              <div class="icon-grid-item js-select" data-tab="charles">
                <span class="title">Charles</span>
              </div>
              <div class="icon-grid-item js-select" data-tab="git">
                <span class="title">Git</span>
              </div>
              <div class="icon-grid-item js-select" data-tab="gitflow">
                <span class="title">Gitflow</span>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <div class="tab-content">
            <div class="tab-pane js-tab" id="grunt">
              <h3>Grunt</h3>
            </div>
            <div class="tab-pane js-tab" id="devtools">
              <h3>Chrome DevTools</h3>
            </div>
          </div>
        </div>
        <div class="col-md-3">

          <div class="icon-grid">
            <div class="icon-grid-column">
              <div class="icon-grid-item js-select" data-tab="git">
                <span class="title">Git</span>
              </div>
              <div class="icon-grid-item js-select" data-tab="gitflow">
                <span class="title">Gitflow</span>
              </div>
              <div class="icon-grid-item js-select" data-tab="github">
                <span class="title">GitHub</span>
              </div>
              <div class="icon-grid-item js-select" data-tab="bitbucket">
                <span class="title">BitBucket</span>
              </div>
            </div>
            <div class="icon-grid-column">
              <div class="icon-grid-item js-select" data-tab="confluence">
                <span class="title">Confluence</span>
              </div>
              <div class="icon-grid-item js-select" data-tab="jira">
                <span class="title">JIRA</span>
              </div>
              <div class="icon-grid-item js-select" data-tab="sourcetree">
                <span class="title">SourceTree</span>
              </div>
              <div class="icon-grid-item js-select" data-tab="lorem">
                <span class="title">Lorem Ipsum</span>
              </div>
            </div>
          </div>
        
        </div>
      </div>

    </article>
  </div>
</div>